[2019-06-13 08:17] ruflin commented on #1638
Found this in the PHP docs:

[code]

But not sure i can make sense of it on why ANY does not work. Ideas?

[2019-06-13 15:49] ezimuel commented on #1626
@ruflin, @p365labs, @giovannialbero1992, @mmoreram I just released [elasticsearch-php 7.0.0](https://github.com/elastic/elasticsearch-php/releases/tag/v7.0.0).

[2019-06-14 07:09] ruflin commented on #1626
Great news @ezimuel This should get us closer to be able to release Elastica 7.0 too.

[2019-06-14 07:32] p365labs commented on #1626
@ruflin a PR is ready in order to test the new release :) PR #1639

[2019-06-14 16:53] renanbr opened #1640 "Allow to pass DSN to the Elastica\Client constructor"
Currently I have to handle config options as separated keys in each environment my application is deployed (local, ci, staging, prod...). Things become hard when an environment required an option the other don't...

It could be cool if  `Elastica\Client`'s constructor becomes able to parse a single string.

[code]

[code]

[2019-06-20 14:59] Segolene-Albouy opened #1641 "SetFields() method does not exist V6.1"
According to the [documentation](https://elastica.io/getting-started/search-documents.html) the method `SetFields` should exist for query object but it doesn't seem to be the case. Is there newer documentation?

[code]

[2019-06-21 13:44] ruflin commented on #1641
The more up-to-date documentation should be our API docs: https://elastica.io/api/latest/namespaces/Elastica.html Could you share the Elasticsearch query you are trying to build?

[2019-07-03 12:15] Sharptsa commented on #1641
The `fields` parameter was on older versions of Elasticsearch (<=2.4.0) and Elastica (<=3.x).

On recent versions, the parameter has been renamed `stored_fields` and is set by using the method `setStoredFields` in Elastica.

Elasticsearch documentation 2.4 : https://www.elastic.co/guide/en/elasticsearch/reference/2.4/search-request-fields.html
Elasticsearch documentation 6.8 : https://www.elastic.

[2019-07-04 15:48] killerwolf commented on #620
We should rely on PSR7/17/18

[2019-07-05 08:55] killerwolf opened #1644 "Reuse of guzzle client in Elastica 6.x"
Hello everyone,

When issuing a Search and and Msearch in the same script execution, the Guzzle client is reused for better performance. The problème is that the Content-Type of the second request is ignored, because the Content-Type is stored within the Guzzle Client

Here is the problème
https://github.com/ruflin/Elastica/blob/6.x/lib/Elastica/Transport/Guzzle.php#L159-L171

We should maybe back

[2019-07-05 14:25] Sharptsa opened #1645 "Implement Search After. With an iterator ?"
The Query object is missing a setter for the `search_after` param.

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-search-after.html

I would also like to discuss about adding an iterator to do deep scrolling with `search_after`, based on the model of the `Scroll.php`. Do you think it would be a good addition ?

[2019-07-09 21:34] arkmuay commented on #1394
What it was ?...

[2019-07-10 07:37] tomekit commented on #1394
In my case it was:

[2019-07-10 07:39] arkmuay commented on #1394
Ok thanks I think it's the same... thanks

[2019-07-16 14:31] tacman commented on #1640
Yes, this would be particular helpful on deployments like Heroku, which creates the DSN environment variable when the service is created, but configuring it requires manually breaking it apart into the individual components.

[2019-07-17 19:09] camohub commented on #746
I have the same problem. Look at this Stackoverflow question https://stackoverflow.com/questions/57079213/php-elastica-how-to-resolve-no-enabled-connection-error-in-long-cycle

[2019-08-06 05:29] p365labs commented on #1645
@Sharptsa any chances u could do open a PR on this?

[2019-08-06 09:48] Sharptsa commented on #1645
Yes sure, I will as soon as I have a moment

[2019-08-09 19:21] eostis opened #1649 "How to manage Elasticsearch 7.x?"
I tried to follow some threads on Elasticsearch 7.x, and noticed a recent commit for 7.1

But is there any documentation/hint/examples on that subject anywhere?

[2019-08-10 16:42] eostis commented on #1649
I installed the latest commit, and managed to create a 7.3 index.

But 6.5 indexes can no more be created, as the code automatically sends the parameter 'include_type_name' (not whitelisted):

/vendor/ruflin/elastica/lib/Elastica/Index.php:
   public function requestEndpoint(AbstractEndpoint $endpoint)
    {
        $cloned = clone $endpoint;

        $cloned->setIndex($this->getName());
        i

[2019-08-12 06:09] p365labs commented on #1649
If u use the 7.x branch or the master one, the ES supported version is 7. If u want to use or work with a older version have a look at our [version matrix](https://github.com/ruflin/Elastica#versions--dependencies)

[2019-08-12 06:29] ruflin commented on #1641
@Segolene-Albouy Does this solve your problem? If yes, lets close the issue.

[2019-08-12 06:30] ruflin commented on #620
I'm not too familiar with the new PSR standards but +1 on adopting them to standardise and make it easier for our users.

[2019-08-12 06:31] ruflin commented on #1644
@killerwolf Interested to open a backport PR with the change?

[2019-08-12 07:05] ruflin commented on #1640
Do you see a way how we could introduce this without making it a breaking change? In general, +1 on having such a feature.

[2019-08-13 17:17] #1641 closed

[2019-08-15 12:41] L3tum opened #1651 "Cache AWS CredentialProvider"
Hi,

I've used this library a tad bit on AWS and noticed that it requests the credential provider every time it makes a request.

[code]

One way to improve this would be by caching the credentialprovider, like this

[code]

Would you be willing to do something like this?

As background, we ran into some bottlenecks while load testing on AWS and noticed that the connection often times and the only

[2019-08-20 16:54] eostis commented on #1649
I did use the master branch indeed (I could not find a 7.x branch).

Does that mean Elastica will not be retro-compatible with versions prior to 7.x?

[2019-08-22 07:50] ruflin commented on #1649
We didn't create a 7.x branch yet but master is the one compatible with 7. Do be compatible with older versions, you need to download the 6.x releases.

[2019-08-22 08:00] eostis commented on #1649
Thanks.

[2019-08-22 08:00] #1649 closed

[2019-08-27 06:47] ruflin commented on #1651
Would this introduce any new dependency?

[2019-08-27 10:03] L3tum commented on #1651
I think it can work without extra dependencies and cache providers by using the aws-sdk memoize function [here](https://docs.aws.amazon.com/sdk-for-php/v3/developer-guide/guide_credentials_provider.html)(scroll down to the end of the page). Could even be done with an extra Transport like CachedAwsAuthV4 to make it opt-in.

Optionally there could be another Transport that accepts some kind of PSR/C

[2019-08-28 07:56] ruflin commented on #1651
Overall the plan SGTM. One thing I'm generally concerned about all the AWS magic: We can't test it the way we test all the other things. So if we change things, I don't know if it will work :-) I only know it works know, because users are using it :-D

[2019-08-28 09:06] L3tum commented on #1651
Yeah agreed, testing AWS stuff in general can be a PITA.

I would propose a separate Transport like `CachedAwsAuthV4` so it'd be opt-in and mark it as experimental.

We sadly don't have a testing environment for this right now but I'd be willing to test it as soon as we got it set up.

[2019-08-28 09:14] ruflin commented on #1651
Just throwing an idea out there: Would it be somehow possible that the AWS code could exist outside the Elastica repo so we could mark the full repo as experimental? And then with composer or similar the dependency could be pulled in? It's always tricky to have experimental code as nobody will read the code part that it is experimental, even if it is opt-in I guess.

[2019-08-28 09:56] L3tum commented on #1651
I'm not too knowledgable on the way php checks classes, but at least in [AbstractTransport](https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Transport/AbstractTransport.php#L123) a path is implied, though maybe that's just the namespace and would work if we'd use the same.

Aside from that it's a good idea and I'd be +1 on it

[2019-09-03 08:53] ruflin commented on #1651
Now it would be nice if we would find someone to tackle this. Based on git blame it seems big parts of the AWS code was done by @jeskew about 4 years ago. Perhaps he can chime in.

[2019-09-03 10:02] L3tum commented on #1651
If he's not available or doesn't want to I caaaan take a look at it since it's *theoretically* something my company is interested in.

Putting it into a separate library would mean a separate repo as well, right?

[2019-09-04 06:24] ruflin commented on #1651
Would be great if you could take a stab at it. Yes, it would mean separate repo.

[2019-09-11 16:48] Tobion commented on #482
All these problems have been fixed in #1069. and I've opened #1661 to remove the outdated code.

[2019-09-12 09:50] #482 closed, assigned to nobody

[2019-09-20 04:28] skylord123 opened #1663 "Support for search option track_total_hits"
This should be super easy to add support for. I was able to patch it locally by just changing a couple lines.

Here is the page on elasticsearch for this:
https://www.elastic.co/guide/en/elasticsearch/reference/7.0/search-request-track-total-hits.html

Thanks!

[2019-09-23 13:28] ruflin commented on #1663
Closing as https://github.com/ruflin/Elastica/pull/1664 was merged.

[2019-09-23 13:28] #1663 closed

[2019-09-23 17:35] alamirault commented on #1640
PR is now merge, I think @ruflin you can close issue.

[2019-09-23 17:36] alamirault commented on #1441
PR is now merge, I think @ruflin you can close issue.

[2019-09-24 08:44] #1640 closed

[2019-09-24 08:44] #1441 closed

[2019-09-25 10:47] hotrush commented on #1649
@ruflin do we need `include_type_name` for 7.x?

From docs:

[2019-09-25 11:37] ruflin commented on #1649
I think we do for users which still have some 6.x indices around.

[2019-09-25 11:48] hotrush commented on #1649
Then it must be optional i think, otherwise all other users will receive annoying warnings.

[2019-09-25 11:52] ruflin commented on #1649
Will https://github.com/ruflin/Elastica/pull/1654 solve this?

[2019-09-25 12:00] hotrush commented on #1649
I think yes, why not.
In my opinion type's stuff should be deprecated at all just because there are no more types in elasticsearch since v7. And all that related to types should be optional or deprected.

[2019-09-25 13:18] hotrush commented on #1649
Btw, i still don't understand how to create typeless index using your v7 library :)

[2019-09-26 07:21] ruflin commented on #1649
Agree on the optional and deprecated part. But the param is still around in 7.x: https://www.elastic.co/guide/en/elasticsearch/reference/master/removal-of-types.html#_schedule_for_removal_of_mapping_types

[2019-09-26 07:42] hotrush commented on #1649
Yes, it's still there, but it forces true value when true generates a deprecation warning. It should be ok if it will be optional, but don't think that is ok in current way.

[2019-09-26 07:43] ruflin commented on #1649
Agree. Are there more places which need changes like #1654  ?

[2019-09-26 07:57] hotrush commented on #1649
Unfortunately i didn't dive deep because i need to refactor tons of code from elasticsearch 1.3 to ~~7.x~~ 6.x and have no time.

Second thing that confused me that you still have Type class and functioanllity, it also must be deprecated and Index class should receive all it's functions like mapping, settings, adding documents, etc. Yes, you still can have some kind of types using type field or sm

[2019-10-03 20:32] L3tum commented on #1651
Hi, sorry it took a bit longer. I've set up a basic repo [here](https://github.com/L3tum/Elastica-CachedAwsTransport).

I'm not sure if it's already working like that since I don't have any possibility to check right now, though I'm most likely able to check in a week or two. Until then I'd like to add a generic AWSAuthV4 class accepting any CacheProvider as well.

It's not on packagist yet, as I'

[2019-10-03 21:15] jeskew commented on #1651
Sorry to chime in so late, but I think it would be easier to solve this by adding support for an `aws_credential_provider` parameter on the connection. I can try to put up a pull request later tonight

[2019-10-04 11:34] L3tum commented on #1651
Hi, thanks for the idea/PR. My primary use case with this is using it as part of the FOSElasticaBundle in a Symfony application, so I'm not too sure if they'd ever support this, and it's not just a plug-and-play in that case (e.g. with a separate transport, you just use that name in the configuration and everything still works even without an updated FOSElasticaBundle).

[2019-10-04 12:18] dpauli commented on #1649
@ruflin Is there any plan to release a 7.0.0 working release. Its uncomfortable to use the master-*version* to checkout.

[2019-10-04 14:52] jeskew commented on #1651
Wouldn't you then need to hardcode any caching configuration into the class name? The default `AwsAuthV4` transport is already performing in-memory caching (via a call to [`memoize`](https://github.com/aws/aws-sdk-php/blob/b2465a66f3510f547fbac4c1c3795e47b6c330fa/src/Credentials/CredentialProvider.php#L114)); beyond that you'd need to make transport classes with names like `Elastica\Transport\Cach

[2019-10-04 20:30] L3tum commented on #1651
Oh cool, I didn't know it already called memoize.

Then essentially that's my idea, to make a base class that accepts any cache provider and then specialized classes for some providers that might come up to then use the [cache function](https://github.com/aws/aws-sdk-php/blob/b2465a66f3510f547fbac4c1c3795e47b6c330fa/src/Credentials/CredentialProvider.php#L226) instead of "only" in-memory cache. I

[2019-10-04 21:06] jeskew commented on #1651
Credential providers are meant to be composable, so with the proposed configuration change the config could look like:

[code]

Honestly, I don't remember the rationale for not supporting a credential provider configuration parameter in the first place. I wrote a plugin for the official Elasticsearch PHP library at roughly the same time and opted to only support credential customization via [provi

[2019-10-05 11:42] L3tum commented on #1651
That's really cool, but I don't think that this functionality will be integrated (any time soon) into FOSElasticaBundle, particularly because it's not really usable with yaml configuration files. I'm +1 for your changes, obviously, since I use Elastica itself for some other projects. But my company likes the "first class support" that the bundle has with Symfony, so I need something that I can use

[2019-10-11 02:58] reedy commented on #1644
Backport was trivial to do, done in linked PR above

[2019-10-11 16:14] L3tum commented on #1651
@jeskew Ah sorry, I think I've derped out there. It's very much possible with what you did and I think it's perfectly inline with what they've done until now. So I'll take it up with the guys from there to implement it in some way.

Thanks again, took quite some work off my shoulders^^

[2019-10-11 20:10] camohub opened #1675 "Bulk insert if doc does not exists"
Am I right with this solution https://stackoverflow.com/questions/58337973/ruflin-elastica-bulk-insert-without-update?answertab=active#tab-top

[2019-10-16 08:57] ruflin commented on #1644
Closing as https://github.com/ruflin/Elastica/pull/1671 was merged.

[2019-10-16 08:57] #1644 closed

[2019-10-16 09:38] ruflin commented on #1649
@dpauli Yes, definitively. I hope I get to it rather sooner then later.

[2019-10-16 15:14] insekticid opened #1676 "Add support for indices_boost"
https://www.elastic.co/guide/en/elasticsearch/reference/6.0/search-request-index-boost.html

[code]

solution:
$query = Query::create('food');
$query->setParam('indices_boost', ['recipe' => '1.4']);

[2019-10-16 22:56] Turgon37 commented on #1638
Hello I've encountered the same issue with searchguard (another security plugin)
In fact the problem is related to plugin behaviour. In normal web, a restricted resource ask for credential using the 'www-authenticate: Basic realm="Restricted"' header. So, the browser understand it and prompt the user for name+password and send the request again with theses informations.

In my searchguard configur

[2019-10-17 10:33] leflings opened #1677 "Aggregation: Ability to add metadata"
Hi

First of all, thank you for a very nice library, which I've enjoyed using (with/through [FOSElasticaBundle](https://github.com/FriendsOfSymfony/FOSElasticaBundle))

ElasticSearch has the ability to add _[metadata](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/agg-metadata.html)_ to aggregations, a feature I've found to be wanting while making a faceted search solution.

Is it pos

[2019-10-17 11:31] ruflin commented on #1677
Just learned a new feature in ES, thanks! My guess would be that `setParam` could be  used on each aggregation to add it. I didn't try it out but as all Aggregations inherit `Params`, this should work: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Aggregation/AbstractAggregation.php#L9

Happy to get native support for it, interested to contribute 😇

[2019-10-18 03:14] leflings commented on #1677
I tried `setParam` but it unfortunately doesn't generate a valid aggregation.

The following code:
[code]

Generates the following query:
[code]

Which generates the following response:
[code]

The `meta` object needs to be output "one level higher" / at the same level as the aggregation type. See [Structuring Aggregations](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/search-aggrega

[2019-10-18 05:26] leflings commented on #1677
I've made a pull request (#1678) towards the `6.x` branch. If this is the wrong way around and you would  rather have a request towards the master branch, that can then be backported, say so. I guess my thinking was that this commit could be "forwardported" :)

_Disclaimer: I could not get the docker environment running properly for the tests to complete (neither when trying the same commit rebase

[2019-10-21 10:47] ruflin commented on #1676
@insekticid Interested to contribute it? ;-)

[2019-10-21 11:07] ruflin commented on #1677
@leflings Thank you! Yes, I would prefer to have it in master first and backport it from there if possible.

[2019-10-21 20:01] leflings commented on #1677
@ruflin Opened a new pull request (#1680) based on `master` and using existing `_rawParams`

[2019-10-22 07:06] ruflin commented on #1677
Great, thanks. Already merged. Do you want to open the backport PR from there?

[2019-10-22 09:33] thePanz commented on #1676
Please refer to the latest documentation: https://www.elastic.co/guide/en/elasticsearch/reference/master/search-request-body.html#request-body-search-index-boost :)

[2019-10-22 09:37] thePanz opened #1681 "Optimize the CI and docker settings"
Few ideas to improve the CI pipeline:
 * Looks like our CI is building docker images and not reusing any already available image.
 * we compile the PHP x-debug extension, while it is not used during the tests
 * running the php-cs-fixer could be done in travis-ci, no docker images are needed for that

[2019-10-22 15:22] daniloarca commented on #1598
I have the same error on aggregation. Trying to upgrade from 2.x to 5.x
If a put a value on size, I receive the following error:

("compile error [reason: all shards failed])

[2019-10-22 21:11] ruflin commented on #1681
Always on board with optimisations.

One thought I would like to share here on why things are potentially running the way they are running. In general I prefer to have just 1 setup on how to run tests. Running it locally or on CI should work the same. Things could be optimized on Travis, but it would mean we run it differently locally and on CI (if I don't have php-cs-fixer installed). Docker gura

[2019-10-24 11:49] lenada opened #1683 "Elastica\Client\updateDocument fails with ES 7.3"
When testing current master against Elasticsearch 7.3
`->updateDocument()` throws

`Elasticsearch\Common\Exceptions\UnexpectedValueException`

 "version" is not a valid parameter. Allowed parameters are "_source", "_source_excludes", "_source_includes", "error_trace", "filter_path", "human", "if_primary_term", "if_seq_no", "lang", "opaqueId", "parent", "pretty", "refresh", "retry_on_conflict", "ro

[2019-10-28 10:18] ruflin commented on #1683
@lenada Thanks for filing. There are definitively plans for a 7.x release but we are currently blocked a bit on https://github.com/ruflin/Elastica/pull/1666

Did you dig into more details by chance on what changed in 7.3 Elasticsearch that causes the above (like a changelog)?

[2019-10-28 11:15] lenada commented on #1683
It seems the version parameter was deprecated in ES 7.0.0
[Remove support for internal versioning for concurrency control](
https://www.elastic.co/guide/en/elasticsearch/reference/current/release-notes-7.0.0.html)
(See CRUD paragraph)

related issue: https://github.com/elastic/elasticsearch/pull/38254

[2019-10-28 14:56] philkra commented on #1683
I tested `->updateDocument()` with the branch `es-7-remove-type` from PR #1666 and reproduced the error.

[2019-10-30 21:50] panychek opened #1684 "The "tests" target fails in the custom directory"
Due to the hardcoded image name (`elastica_elastica`) in the Makefile, the following won't work:
[code]

[code]
Instead, the image named `custom-directory_elastica` is being created.

[2019-11-01 06:29] skylord123 opened #1689 "Add aggregation "missing" option"
Elastica is missing support for the `missing` option for Aggregations. Here is the documentation:
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-terms-aggregation.html#_missing_value_15

Should be pretty easy to add support for it.

Thanks!

[2019-11-02 20:59] alamirault commented on #1689
Do you want to make a PR ?

If not, I can add the support.

[2019-11-05 21:12] skylord123 commented on #1689
I'll see if I can get time to get this done. I'm pretty busy this week but can hopefully get to it next week.

[2019-11-07 13:57] ambrous opened #1690 "How to check if a document exists?"
Hi there,

is there a method to check if document exists?

I found similar methods for indecies and types, but it seems there isn't any one for documents.

If no, are you going to do that?

Thanks in advance!

[2019-11-07 19:24] ruflin commented on #1690
I think what you are looking for, is the exists query: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-exists-query.html Otherwise if you know the document it, you could use get and catch the exception: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Document.php#L83

[2019-11-08 22:30] ruflin commented on #1689
I'll let it to you @alamirault and @skylord123 to coordinate who gets to it first. Thanks for taking it.

[2019-11-12 09:27] deguif opened #1691 "Bump QueryBuilder version"
I see that the latest query builder version is `Version240` and the type filter was removed in it.
Shouldn't we instead bump it to a `Version700` or something like that?

[2019-11-14 07:57] netwons opened #1692 "create index"
how create index in elastic?

[2019-11-14 08:22] philkra commented on #1692
Please have a look at the [Storing and Indexing documents](https://elastica.io/getting-started/storing-and-indexing-documents.html) page, that should help you getting started.

[2019-11-14 08:29] #1692 closed

[2019-11-14 08:30] ruflin commented on #1691
@deguif That should work I think. Want to take care of it?

[2019-11-15 10:06] deguif commented on #1691
@ruflin it's done with many other things ;)
Do you think you will have time to review/merge soon?

[2019-11-15 12:49] netwons opened #1697 "send data from mysql to elastic"
How to transfer(save) data from mysql to elastic?

[2019-11-15 12:51] netwons opened #1698 "what is this?"
What is this Error?
`Error in one or more bulk request actions: index: / detail_model / _doc / 1 caused index [detail_model] blocked by: [FORBIDDEN / 12 / index read-only / allow delete (api)]; index: / detail_model / _doc / 2 caused index [detail_model] blocked by: [FORBIDDEN / 12 / index read-only / allow delete (api)]; index: / detail_model / _doc / 3 caused index [detail_model] blocked by: [FO

[2019-11-15 15:04] netwons opened #1699 "document"
The document is too dumb and weak.
Can you give an example?
help me

[2019-11-15 18:21] philkra commented on #1698
what version of elasticsearch are you using?

[2019-11-15 18:28] netwons commented on #1698
`name: "netwons-Lenovo-G50-70",
cluster_name: "elasticsearch",
cluster_uuid: "4SUqg3Z7QteNcHgH6_2ROQ",
version: {
number: "7.3.0",
build_flavor: "default",
build_type: "deb",
build_hash: "de777fa",
build_date: "2019-07-24T18:30:11.767338Z",
build_snapshot: false,
lucene_version: "8.1.0",
minimum_wire_compatibility_version: "6.8.0",
minimum_index_compatibility_version: "6.0.0-beta1"
},
tagline: "Yo

[2019-11-15 18:34] philkra commented on #1698
Please refer to this [forum post](https://discuss.elastic.co/t/forbidden-12-index-read-only-allow-delete-api/110282/5) to solve your problem. As it's not related to the Elastica lib.

[2019-11-15 18:37] netwons commented on #1698
I just got acquainted with the tire in Larval, what should I do to fix it

[2019-11-15 18:57] philkra commented on #1698
read the post in the forum for a solution --> https://discuss.elastic.co/t/forbidden-12-index-read-only-allow-delete-api/110282

[2019-11-15 19:02] netwons commented on #1698
How to write code it in laravel?

[2019-11-15 19:02] netwons commented on #1698
How to write code it in laravel?

[2019-11-15 20:34] philkra commented on #1698
forum post explains how to write the curl command

[2019-11-16 08:35] netwons commented on #1698
Now this eruption is gone
`The Response content must be a string or object implementing __toString(), "object" given.`

[2019-11-16 11:53] netwons commented on #1479
Can you explain more?

[2019-11-16 12:24] deguif opened #1701 "Bump PHP minimum version to 7.2"
As PHP 7.1 is going EOL very soon, should we bump its constraint in composer file to 7.2 for the upcoming version 7.0 of the library and adjust Travis configuration?

[2019-11-18 08:26] ruflin commented on #1701
@deguif SGTM. But I would still keep the 7.0 / 7.1 tests around so we know when we actually really going to break things.

[2019-11-18 08:52] ruflin commented on #1691
@deguif Thank you for all your contributions. Will try to go through all of them (some I already did).

[2019-11-18 08:58] ruflin commented on #1697
This sounds like a very generic question and not related to Elastica. For generic questions like this I would like to ask you to ask on stack overflow or other platforms. Closing this but please reopen if I missed something about this being specific to Elastica.

[2019-11-18 08:58] #1697 closed

[2019-11-18 09:02] ruflin commented on #1699
You can find a lot of example for all the objects and methods in the tests: https://github.com/ruflin/Elastica/tree/master/test/Elastica Also there is the full API documentation: https://elastica.io/api/latest/

Agree that we could need more documentation. Would be great if you could contribute to it. The repository for it can be found here: https://github.com/ruflin/Elastica.io

To get better hel

[2019-11-18 09:02] ruflin commented on #1699
Closing this issue as it is too generic, hope I gave some guidance with the above.

[2019-11-18 09:02] #1699 closed

[2019-11-18 10:44] philkra commented on #1701
I would suggest to rather make a strong cut to min `7.2` as php version or to stick around with `7.0`, as the new language constructs introduced in `7.1` and `7.2` are not compatible with `7.0`. Running tests with a `7.2` code will break in case in `7.0` and likely in `7.1`.

[2019-11-18 12:12] #1691 closed

[2019-11-19 10:44] ruflin commented on #1701
See my comment in https://github.com/ruflin/Elastica/pull/1703

[2019-11-19 12:55] #1701 closed

[2019-11-19 16:08] deguif opened #1710 "Tests broken since release of elastic/elasticsearch-php 7.4.0"
I investigated the issue and it seems some classes are now auto-generated, and their name was changed.

For example, `Elasticsearch\Endpoints\Ingest\Pipeline\Delete` was renamed to `Elasticsearch\Endpoints\Ingest\DeletePipeline`

[2019-11-19 16:11] deguif commented on #1710
@ruflin @thePanz a quick solution would be to update composer.json to avoid installing this version.

But I'm not sure what will be the best way to support 7.4 version and all 7.x versions.
Maybe we should create an issue on their repository.

[2019-11-19 16:40] deguif commented on #1710
https://github.com/ruflin/Elastica/pull/1711 should fix the tests, by marking the `elasticsearch` package as conflicting since version `7.4.0` in the `composer.json` file.

[2019-11-19 17:18] thePanz commented on #1710
A better solution would be to set the version range to something like `^7.0 || < 7.4.0`
So that we could work on the issue with more time. wdyt?

[2019-11-19 17:57] deguif commented on #1710
@thePanz I'm not sure the `||` will do what is expected here.
As `7.4.0` should match `^7.0`, but we should probably use `^7.0 < 7.4.0` as it would be an `and` in this case.
I was thinking the `conflict` was more appropriate, but it's up to you ;)

[2019-11-19 18:03] deguif commented on #1710
I confirm `^7.0 || <7.4.0` is not working while `^7.0 <7.4.0` is working as expected.

[2019-11-19 18:04] deguif commented on #1710
I also created an issue on the official `elastichsearch-php` repository, let's see what will come out.

[2019-11-20 08:39] ezimuel commented on #1710
I just commented about this issue [here](https://github.com/elastic/elasticsearch-php/issues/967).

[2019-11-20 12:21] ruflin commented on #1710
For having consitent testing, +1 on fixing the dependency version (already done). I would hope somewhere in the future, releases of the two libraries are even in more sync.

At the same time I'm kind of glad we found this now os testing with "latest" is not only bad. I suggest we make the change on our end before we ship 7.0 GA. As far as I understand it mainly changes some internal implementation

[2019-11-20 13:03] ezimuel commented on #1710
@ruflin exactly, I'm doing my best to avoid BC breaks but sometime it's quite hard to keep all previous inconsistency in place. I'm working on `elasticsearch-php 7.4.1` to reintroduce (some) old namespaces as class aliases.
Now that we have a code generation from the REST API specification we'll be more aligned with Elasticsearch version.

[2019-11-23 10:09] netwons opened #1713 "send data to elastic"
How to store information in elastic?

How to read information from elastic?

please by example

[2019-11-24 07:05] netwons commented on #1713
Nobody knows anything

[2019-11-24 07:07] netwons opened #1714 "What's wrong with this Error?"
What's wrong with this Error?
What should I do
Error in one or more bulk request actions: index: /detail_model/_doc/1 caused index [detail_model] blocked by: [FORBIDDEN/12/index read-only / allow delete (api)]; index: /detail_model/_doc/2 caused index [detail_model] blocked by: [FORBIDDEN/12/index read-only / allow delete (api)]; index: /detail_model/_doc/3 caused index [detail_model] blocked by:

[2019-11-25 12:47] ruflin commented on #1710
@ezimuel Don't worry, fully understand that sometimes breaking changes in minors are needed ;-) Do you think we should directly rely on 7.4.1 and it will make things less breaking on our end?

[2019-11-25 13:08] ezimuel commented on #1710
@ruflin Yes, I'm releasing `7.4.1` soon with all the unexpected BC breaks. In the mean time, can you test https://github.com/elastic/elasticsearch-php/pull/968 and let me know if there are BC breaks in Elastica?

I also tried to explain [here](https://github.com/elastic/elasticsearch-php/issues/967#issuecomment-558146095) the motivation behind the two potential BC breaks added intentionally in 7.4

[2019-11-25 13:41] ruflin commented on #1713
Have you tried the links I mentioned here? https://github.com/ruflin/Elastica/issues/1699 Please elaborate in more details what you tried and what didn't work.

Please also keep in mind, this is an open source project and you can't expect to get answers in a day on a weekend.

[2019-11-25 13:44] ruflin commented on #1714
I assume you have a storage or permission issue. Can you share the code that is causing this?

There is also quite a bit of info on this in some forum posts: https://www.google.com/search?ei=ndrbXYHjGuTD8gLpkbmwAQ&q=FORBIDDEN%2F12%2Findex+read-only&oq=ORBIDDEN%2F12%2Findex+read-only&gs_l=psy-ab.3...0.0..40014...0.0..0.0.0.......0......gws-wiz.n3TbeFog2E4&ved=0ahUKEwjBpbOkv4XmAhXkoVwKHelIDhYQ4dUDCA

[2019-11-25 14:19] deguif commented on #1710
I just tested the test suite with  elastic/elasticsearch-php#968 and there are 2 remaining errors related to class renaming. See issue on elastic/elasticsearch-php#967 for more details.

[2019-11-25 17:49] deguif commented on #1710
Everything should be fine with the release of `elastic/elasticsearch-php` 7.4.1
I created PR #1715 to exclude version 7.4.0 but let greater version be installed.

[2019-11-26 12:09] ezimuel commented on #1710
I just released [7.4.1](https://github.com/elastic/elasticsearch-php/releases/tag/v7.4.1) that solves the BC break related to the endpoint class naming and it solves also the `trigger_error()` issue https://github.com/babenkoivan/scout-elasticsearch-driver/issues/297 using the suppress error `@` operator.

[2019-11-26 13:05] deguif commented on #1710
Thanks @ezimuel

[2019-11-28 16:34] netwons opened #1716 "how can i AUTO_INCREMENT id ?"
How can I AUTO_INCREMENT id

[2019-11-30 09:20] deguif commented on #1710
I'm closing as all tests are now green.

[2019-11-30 09:20] #1710 closed

[2019-12-02 13:00] ruflin commented on #1716
Are you looking for the documents id's? This are automatically generated if left out, but not incremental values.

[2019-12-02 19:38] deguif opened #1721 "Publish a second beta"
What about publishing a second beta release?

[2019-12-03 11:02] neverfan opened #1722 "Links from elastica documention not working (moving on www.elastic.co)"
Example:
https://elastica.io/api/latest/classes/Elastica.Query.MatchPhrase.html

Right column with header "see also" has link "https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-match-query-phrase.html"
and reference on https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-match-query-phrase.html, but when click onto nothing happens.

![image](https://use

[2019-12-03 14:18] ruflin commented on #1721
Yes, or should we go GA?

[2019-12-03 15:51] deguif commented on #1721
I would start with a second beta release ;)

[2019-12-04 08:56] ruflin commented on #1722
Thanks for pointing this out, I can confirm it is not working. As this is all auto generated, I wonder if we should use a different tag in our code or if it is a phpdoc issue: https://github.com/ruflin/Elastica/blob/0d32a397887badcd8340eb5711dd1046e3e0d40c/lib/Elastica/Query/MatchPhrase.php#L11 @thePanz You might know more here?

[2019-12-04 09:16] thePanz commented on #1722
The `@see` phpdoc is correct IMHO. It supports both a class reference, or an URI https://docs.phpdoc.org/references/phpdoc/tags/see.html

Could it be an issue on the parser used to generate the docs?

[2019-12-04 09:21] ruflin commented on #1722
<img width="748" alt="Screenshot 2019-12-04 at 10 19 49" src="https://user-images.githubusercontent.com/244900/70129768-aa2db000-167f-11ea-831d-f6701576d084.png">

Does this span look a bit misplaced?

The command with which I build the docs can be found here: https://github.com/ruflin/Elastica/blob/master/Makefile#L77

[2019-12-04 11:24] thePanz commented on #1722
I'd say that the `<a href>` tag is quite "incomplete" too ;)

[2019-12-09 08:57] ruflin commented on #1722
Anyone familiar with phpdoc here? Might be a bug there or one that was fixed and we should just use a newer version in our image?

[2019-12-09 12:00] ruflin commented on #1721
SGTM. Let me try to find some time for it this week.

[2019-12-10 06:31] ruflin commented on #1721
Here we go: https://github.com/ruflin/Elastica/releases/tag/7.0.0-beta2

[2019-12-10 06:31] #1721 closed

[2019-12-10 10:16] deguif commented on #1721
Thanks @ruflin.
Is there a slack or something like this to discuss about some changes in the code?

[2019-12-10 11:54] ruflin commented on #1721
There is a Gitter channel but TBH I stopped really following it (lack of time). I strongly prefer the async communication whenever possible. Should we try to kick it off in a Github issue. If that doesn't work, happy to find out a chat way (I have a few in mind ;-) ).

[2019-12-11 14:39] EliuFlorez opened #1731 "Elastica with OpenDistro - Auth"
Hi Elasctica Team,
You know I would like to use Elastica with OpenDistro in which I require authentication with the user and the ssl layer in `--insecure`
example: `curl -XGET --insecure https: // localhost: 9200 -u admin: admin`
Is there any way to perform that authentication like this. Since for endpoint consumption the same authentication must be identified.

[2019-12-11 15:31] philkra commented on #1731
Hi @EliuFlorez ,
basic authentication is available in Elastica. You need to add the `username` and `password` in your configuration (ref: [ClientConfiguration.php#L35](https://github.com/ruflin/Elastica/blob/master/lib/Elastica/ClientConfiguration.php#L35)).

Can you please verify if this resolves your issue?

[2019-12-11 17:09] EliuFlorez commented on #1731
@philkra If I already had the username and password settings but I had to make some changes in Transport / HTTP.php since the scheme has to be HTTPS and cRUL `\ curl_setopt ($ conn, CURLOPT_SSL_VERIFYPEER, false);` So I achieve connection with OpenDistro

[2019-12-12 07:43] philkra commented on #1731
Alright, now I fully grasp the questions, sorry for the half baked answer. Can you, please post the snippet how you currently instantiate the client?

[2019-12-20 16:25] Ruslan05 opened #1737 "Suppression of 413 error code (payload size exceeded)"
Hello Elastica team !
I faced a problem that i\`m getting success response from requests which were failed due to exceeded size of payload (by default it`s 100 mb in Elasticsearch).

Here https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Bulk.php#L335 in $response we still can find `_status = 413` but in $bulkResponseSet there will be no information related to bad request and we can`t ha

[2019-12-26 15:04] Ruslan05 commented on #1737
Someone ? maybe @ruflin

[2019-12-27 21:50] EliuFlorez opened #1738 "Error Bulk Documents"
Hi guys, I have a problem updating or adding 200 to 200 limit documents. I am changing everything for the new version of ES. but I have this error:

`path:_bulk
method:POST
data:
{
  "update":{
    "_type":"listings",
    "_id":46772011
  }
}
{
  "doc":{
    "address":{
      "city": "DALLAS"
    }
  }
}`

at the time it is adding _type instead of _index
code:
`if ($ids = $module->getUpsertStash()

[2019-12-30 09:02] ruflin commented on #1738
@EliuFlorez Are you running on master? Could you share the full Elasticsearch error?

[2020-01-02 11:04] kevin-verschaeve opened #1739 "Calling "toArray" on array when using array query"
Hello,

I build a query via a raw php array, and when I request with :

[code]

I am getting this error :

[code]

The failing line is :

`if (isset($this->_params['post_filter']) && 0 === count(($this->_params['post_filter'])->toArray())) {`

Removing this line fix the issue (in this case).

I am not sure on how to fix this, and if this is really a bug or a misuse from me.

If this is a bug, I ca

[2020-01-06 11:32] ruflin commented on #1739
@kevin-verschaeve Which version of Elastica are you using? Are you on master? We did recently quite a few type changes, perhaps @thePanz can chime in here?

[2020-01-06 14:04] kevin-verschaeve commented on #1739
I am on `6.1.1`

[2020-01-07 15:56] EliuFlorez opened #1741 "Error to Create Index, Settings, Analysis"
Hi guys I have an error trying to create index with your settings and analysis.

Can indexes be created from Elastica or cannot and do I have to do it from console?
**JSON:**
`{
    "settings": {
        "index": {
            "number_of_shards": 2,
            "number_of_replicas": 1
        },
        "analysis": {
            "analyzer": {
                "categoryIdAnalyzer": {

[2020-01-09 08:09] ruflin commented on #1737
@Ruslan05 Could you share the full code you are using? What do you see in the Elasticsearch logs?

[2020-01-09 08:22] ruflin commented on #1739
@kevin-verschaeve This is Elastica or Elasticsearch version? Could you share both?

[2020-01-09 08:30] ruflin commented on #1741
You can create indices from Elastica. Could you share in detail what the part is you couldn't create?

[2020-01-09 08:33] Ruslan05 commented on #1737
@ruflin , i can`t share the code, but i believe this is not even necessary cause problem is in the elastica lib, as you can see from attached screenshot. Elasticsearch logs are also not available.

But i was getting this message `{"Message":"Request size exceeded 104857600 bytes"}` in `\Elastica\Transport\Http` in `exec(Request $request, array $params)` method.

This can be easily reproduced, just

[2020-01-09 09:07] kevin-verschaeve commented on #1739
Sorry, `elastica 6.1.1`, `elasticsearch 5.0.2`

[2020-01-13 13:39] ruflin commented on #1739
There is a mismatch between the compatible versions here but my guess is that this isn't the issue. @thePanz any ideas?

[2020-01-13 13:53] kevin-verschaeve commented on #1739
Everything works fine when I request this way (this is my current workaround actually):

[code]

For more informations, please be aware that I only run into this issue with the `post_filter` param. Everything else work as expected.

So, I really think the issue is into `Elastica\Query` at line 333

[2020-01-13 21:58] mostafaahamidmanon opened #1743 "Implementing Suggestion Mechanism"
Implementing Suggestion Mechanism

The documentation can be found here:
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters.html

I will implement it using Elastic Search Client for PHP

1. Format the Search Request

2. Send the Request to the Server

3. Format the Search Response

[2020-01-13 22:02] #1743 closed

[2020-01-13 22:02] mostafaahamidmanon commented on #1743
Sorry, already implemented :) Thanks

[2020-01-14 22:49] EliuFlorez opened #1744 "Suggesters 'Category Contexte' Not Exists"
Hi guys, the option to establish contexts in the suggestions does not exist the method as such. I have a complement that I had to add on my own if you need to inform me. regards

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters.html

[2020-01-16 08:50] ruflin commented on #1737
I wonder if the problem might be here: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Bulk/ResponseSet.php#L67 We overwrite isOk from the response which also check for the headers, but there we don't: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Response.php#L166

Any chance you could do a var dump and share it here of the responseSet object to see if we have any useful

[2020-01-16 09:01] ruflin commented on #1739
Any chance you could share a var dump of `$this->_params` before the line in question to see what we have in there?

[2020-01-16 09:04] #297 closed

[2020-01-16 09:07] #304 closed

[2020-01-16 09:29] ruflin commented on #1744
@EliuFlorez Would be great to get a contribution for it!

[2020-01-16 15:57] damienalexandre opened #1750 "Add support for Symfony HttpClient as Transport"
I created a new Abstract Transport to use the new [Symfony HttpClient](https://symfony.com/doc/current/components/http_client.html) component as HTTP client with Elastica.

https://github.com/jolicode/elastically/pull/15

I'm willing to contribute this back to Elastica but I'm not sure it's appropriate to add in the core, as it's not standalone (needs `symfony/http-client`) and does not provide ne

[2020-01-17 08:39] kevin-verschaeve commented on #1739
Of course, here is an example of a failing request:

[code]

[2020-01-17 14:19] EliuFlorez opened #1751 "Suggest you don't have to add fields source."
Currently, a completion suggest request like this:
[code]
returns all fields for each hit. I can't find a way to configure it so it just returns the fields I need. Seems like it may be faster if it didn't have to send everything back?

I tried adding:
[code]
But it gives me error.
**unexpected token [START_ARRAY] after [_source]**

I'm using elasticsearch 7.5

[2020-01-18 15:43] thePanz commented on #1750
I like this idea, and more to remove the whole Transport implementations.
I didn't know about official clients being implemented in the `elasticsearch-php` library, that could be nice to have here.

Another idea would be to rely on passing in a PSR-18 client. what do you think?

[2020-01-20 15:54] damienalexandre commented on #1750
Yes support for PSR-18 would be a better choice!

It would then add compatibility with all those clients: https://packagist.org/providers/psr/http-client-implementation (including Symfony/HttpClient).

[2020-01-20 17:23] thePanz commented on #1750
Do you think it would be a big effort to rely on a PSR-18 client? (or, on the httplug ecosystem?)

[2020-01-20 17:29] damienalexandre commented on #1750
You mean adding a PSR-18 enabled transport to Elastica?

I think it's simple, there is only the `\Elastica\Transport\AbstractTransport` to implement.

_(I can't do it right now so if someone have time, go for it, otherwise I add this to my todo!)_

[2020-01-20 17:36] thePanz commented on #1750
well, I mean "to remove the whole Transport implementations" :)
Thus requiring a PSR-18 client to be passed in when building the client.

This would be a breaking-change @ruflin , but would remove all the burden of maintaining all the transports we have at  the moment :)

[2020-01-21 07:15] ruflin commented on #1750
In general I like the idea. The part I'm concerned about is that it requires users to learn and know about PSR-18 before they can start using Elastica. Is there an option, that we would have a "default" fallback available that just works but still allow to "replace" it for expert users?

My long term thinking around Elastica is: Elastica is only a "method proxy" on top of php-elasticsearch, so all

[2020-01-21 08:53] ezimuel commented on #1750
@ruflin, @thePanz, @damienalexandre I'm planning to refactor `elasticsearch-php` using [HTTPlug](http://httplug.io/) to support PSR-7 and PSR-18 standards. This is scheduled for version 8.0.
If you want to discuss more I created this PR: https://github.com/elastic/elasticsearch-php/issues/990

[2020-01-29 11:26] #1391 closed

[2020-02-02 15:20] lenada commented on #1683
@ruflin @thePanz I recently tested `Release 7.0.0-beta.3` unfortunately ist seems the version parameter is still present there and errors with ES >= 7.0

[2020-02-10 13:17] hotrush commented on #1284
@ruflin hi, do you have any update on this? i think this feature is already available in the official client https://www.elastic.co/guide/en/elasticsearch/client/php-api/6.7.x/future_mode.html

[2020-02-10 13:28] hotrush commented on #1284
I think all that needed is to pass `'client' => ['future' => 'lazy']` somehow..

[2020-02-10 19:18] #1681 closed

[2020-02-10 19:25] ruflin commented on #1751
What should the original request to ES look like? Perhaps try `setRawParam`?

[2020-02-10 23:24] EliuFlorez commented on #1751
It was not my mistake, since in suggesters I cannot sort by a specific fields. but if I can assign a weight which I order by the category that has more records. :1st_place_medal:

[2020-02-10 23:24] #1751 closed

[2020-02-11 08:49] ruflin commented on #1683
@lenada Did you figure out by chance where in the code this is coming from?

[2020-02-11 12:39] thePanz commented on #1683
@lenada @philkra can you provide an example code where the exception is being thrown?

[2020-02-11 13:47] lenada commented on #1683
@ruflin @thePanz thank you for your time! When I comment https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Client.php#L365 no exception is thrown.
I wonder why this error does not occur on any travis builds?

[2020-02-11 14:54] ruflin commented on #1683
Makes me wonder if we have a test case for updateDocument :-)

[2020-02-11 19:50] armandojs commented on #1683
I can confirm this on my end as well. I'm using `"ruflin/elastica": "7.0.0-beta.3"`

Retrieving a document brings the 'version' parameter with it and saving the document back by running updateDocument produces the error.

I can work around this by removing the 'version' parameter from the params array though not sure if it's a good idea.  My Elasticsearch/Elastica knowledge is very superficial.

[2020-02-12 19:46] thePanz commented on #1609
Should we close this issue @EliuFlorez  @ruflin ?

[2020-02-12 19:47] thePanz commented on #1374
Can we close this issue? @ruflin
I guess this was open for v5.x (now unmaintained)

[2020-02-12 19:54] #1609 closed

[2020-02-13 12:22] #1374 closed

[2020-02-17 08:27] ruflin commented on #1284
No updates on our side so far. Also haven't played with yet but I think what @hotrush suggests above should probably work? Did you try it out?

[2020-02-17 08:35] hotrush commented on #1284
Nope :(

[2020-02-19 15:04] Ruslan05 commented on #1737
Sorry for the late response.

No, i cant't provide any further details as we solved the problem with 100mb payload and it's not reproducible for us anymore.

But you can find responseSet object opened in phpstorm in issue description. Anyway

[2020-02-24 15:56] ruflin commented on #1739
@kevin-verschaeve Sorry I dropped the ball on this one. I wonder if @thePanz has a cycle to check this?

[2020-03-03 10:02] BackEndTea opened #1763 "Warn users about unused configuration parameters"
We recently discovered part of our configuration wasn't being used by elastica. because we created it like so:

[code]

Here the transport was completely unused, but we were never aware of it.

So my feature request would be that the input is validated, and unused params are logged (or even better, an exception is thrown)

[2020-03-03 14:39] ruflin commented on #1763
I definitively like the idea. Any suggestion on what tooling we could use for it?

[2020-03-04 08:00] BackEndTea commented on #1763
I'm not sure about tooling. One option you could look into is using a configuration class that users can pass into the client. This would make sure it can only have valid properties.

If you wish to apply that to arrays [`array_diff_key`](https://www.php.net/manual/en/function.array-diff-key.php) could be an option, or if you wish to be a bit more fancy  the [symfony options resolver](https://symf

[2020-03-09 06:52] Chronoes opened #1764 "Terms aggregation with exact values in include"
After finally upgrading to Elasticsearch 7.x and Elastica 7.0.0-beta.3 I discovered that `Elastica\Aggregation\Terms::setInclude` no longer works due to type-hinting in #1549 . Looking at the docs, it makes sense but it ignores filtering by exact values [](https://www.elastic.co/guide/en/elasticsearch/reference/7.x/search-aggregations-bucket-terms-aggregation.html#_filtering_values_with_exact_valu

[2020-03-10 09:11] ruflin commented on #1764
@thePanz Could you take a look at this?
@Chronoes Can you share the code snippet you are using and fails?

[2020-03-10 11:27] thePanz commented on #1764
I agree with @Chronoes : the ES documentation allows, for the `includes` property:
- a string (as a regexp)
- an array of strings (for [exact matches](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-terms-aggregation.html#_filtering_values_with_exact_values_2))
- an object (for [partitions](https://www.elastic.co/guide/en/elasticsearch/reference/current/s

[2020-03-10 11:42] Chronoes commented on #1764
Sure, it's pretty straightforward.
[code]
For the time being, the workaround `$aggregation->setParam('include', ['foo', 'bar']);` works as well but it's not exactly in the spirit of this library.

[2020-03-11 16:57] thePanz commented on #1764
@Chronoes I implemented a fix in #1766 can you test if it works for you?
I choose to add specific methods to properly handle those cases

[2020-03-12 07:29] Chronoes commented on #1764
Yep, that works just fine. Thank you @thePanz

[2020-03-12 09:56] #1764 closed

[2020-03-12 09:57] thePanz commented on #1764
Thanks for testing @Chronoes ! Pr merged and issue closed :)

[2020-03-18 21:34] tacman commented on #1763
Symfony's OptionsResolver is perfect for this kind of thing.

[2020-03-23 07:36] ruflin commented on #1763
Anyone interested to take this on?

[2020-03-23 12:31] tacman commented on #1763
I'm happy to give it a try.  I'll need help on setting up the test, though.

[2020-03-23 15:45] ruflin commented on #1763
@tacman Great. Let us know what you need!

[2020-03-23 23:05] jakxnz opened #1769 "How to mock elasticsearch responses for unit tests"
# Problem

I want to get unit test coverage for my own logic that invokes Elastica. How do I mock responses from Elastica to test specific outcomes?

# One potential solution

Make a mock transport based on this package's `Elastica\Transport\Guzzle` transport, and take advantage of the Guzzle handler to mock responses.

**MockTransport.php**
[code]

Then you can use the mock transport when you set

[2020-03-25 06:46] ruflin commented on #1769
@jakxnz I must confess, this is not something I was thinking about before. Do you need anything from us or does the above work for you?

[2020-03-25 22:20] jakxnz commented on #1769
@ruflin, thanks for engaging in this! This suits our needs, but I am open to more effective solutions if anyone knows them

[2020-03-30 08:27] thePanz commented on #1769
@jakxnz : is your logic being part of ES requests? Like a new query type or endpoint?
If not, you could mock the ES response, instead of going down to mocking guzzle requests. (my 2 cents)

[2020-03-30 08:31] thePanz commented on #1739
I dropped the ball to @ruflin , the issue is more widespread than this case.
The problem is in how the queries can be created in the elastica library: both as objects, arrays or strings.

This is just one case where we pass an array, but in our code we expect to have an object.
Another case is the bulk-requests, where the data we send to ES is not an object, but an array (and we expect to have an

[2020-03-31 22:49] jakxnz commented on #1769
No, my logic uses all out-of-the-box types/endpoints. Mocking the ES response sounds like it could be quite clean, do you have an example of how you would do that?

[2020-04-21 20:32] EliuFlorez opened #1772 "Error or Bugs = Data too large"
Hello guys, I am presenting an error already with the system in production sometimes it throws the error other times it works well. Some qualitative idea would be the error and a solution.

#Error
app.CRITICAL: [parent] Data too large, data for [<http_request>] would be [1035672130/987.6mb], which is larger than the limit of [986061209/940.3mb], real usage: [1035671896/987.6mb], new bytes reserved

[2020-04-23 11:28] ruflin commented on #1772
Did not investigate but I would assume you hit of one of your php.ini configs? The other question is, why do you have requests that are almost 1GB? :-)

[2020-04-26 14:33] EliuFlorez commented on #1772
@ruflin Hi, I really don't know. What if I know that it gave me that error I have an index of more than 2GB because it is the information of all the localities, countries, states, city and an aggregation process is carried out to know how many publications exist in each country, state or city. . maybe the size of the query is my problem.

[2020-04-27 10:34] ruflin commented on #1772
Ah wait, this error is based on a query? And in your query you tried to fetch ALL the data at once?

[2020-04-30 09:00] vinzlj commented on #1737
Same problem here, anyone?

[2020-04-30 12:11] vinzlj commented on #1737
I'm wondering if there's a good reason for this:
[code]
I'm using the Bulk API and the response data & status code get erased by the method _processResponse.

Here's the Response I get from the Client:
[code]
And the `ResponseSet` I get from the `Bulk->send()->_processResponse()`:

[code]

We're losing all the `_transferInfo` data along with the `statusCode` which in my case is what I'd really nee

[2020-04-30 13:09] damienalexandre commented on #1772
This is an Elasticsearch related error, see https://www.elastic.co/guide/en/elasticsearch/reference/current/circuit-breaker.html for more informations.

There is nothing Elastica can do here I'm affraid.

[2020-04-30 15:06] vinzlj commented on #1737
Actually my fix (#1775) won't fix this other issue related to the `413` error code.

Let's say I'm doing:
[code]

This won't work:
[code]

Because the `ResponseSet->isOk()` will only break if one of the `BulkResponse` is not ok, which does not work when a `413` is raised (no `BulkResponse` here).

You'll have to do something like:
[code]

[2020-05-14 07:28] BackEndTea opened #1777 "Trailing slash in host causes issues"
When i use elastica, and configure my host to be `elastic.dev` everything is fine, but if i use `elastic.dev/` i'm unable to connect.

Maybe this normal for elastic, but it wasn't something i expected. My best guess would be that an `rtrim` on the host could fix this.

[2020-05-14 07:30] BackEndTea opened #1778 "`Client::getVersion()` gives a type error on badly configured host"
This is related to #1777.

When the host is inproperly configured on the client, calling `$client->getVersion()` will throw a type error as it returns null.

[2020-05-15 21:38] romainneutron opened #1779 "Version 6.x - Http Transport: Use forceMerge() fails because of HTTP request missing its content type"
The issue happens on Amazon Elasticsearch 6.8 with the latest version 6 of ruflin/Elastica

I'm using`foremerge()` to force-merge an index:
[code]

Unfortunately, this fails, here's the `var_dump` of `$result`:

[code]

When digging which headers are sent for this request, I realize the content-type is not set: https://github.com/ruflin/Elastica/blob/6.x/lib/Elastica/Transport/Http.php#L142

In th

[2020-05-15 22:51] romainneutron commented on #1779
Unfortunately I did not manage to reproduce my issue in the test suite

[2020-05-15 22:52] romainneutron commented on #1779
I've checked if this might be related to the forcemerge issue reported in https://github.com/ruflin/Elastica/pull/1686, but it's not

[2020-05-19 00:57] catalinbuletin commented on #1257
By looking at the source code i think that this might actually be intended.

The second parameter of of `Query\Match($field, $values)` even though is named `values` i think it actually refers to `params`.

    $matchQuery = new Query\Match($field [
          'query' => $searchTerm,
          'operator' => 'and',
          'boost' => 2
     ]);

The above will work and actually looks really nice.

[2020-05-19 20:50] ruflin commented on #1777
I remember some historical discussion around and there was a reason we did not trim. Unfortunately couldn't find it.

In general I'm in favor of no magic code but good errors. So I rather show an error the first time the config is not correct instead of fixing a potentially invalid config which might brake at a later stage.

[2020-05-19 20:51] ruflin commented on #1778
Is it a good error message you get here?

[2020-05-19 20:55] ruflin commented on #1779
Is this specific to AWS Elasticsearch or applies also to Elasticsearch from Elastic? If only AWS, I wonder who it is different?

[2020-05-20 17:57] stof opened #1781 "Roadmap for the 7.0 stable release"
Elasticsearch 7.0 has been released more than 1 year ago (and is now at version 7.7). The readme says that supporting it requires using Elastica 7.x, but there is no stable release yet. What is the roadmap to have such a stable release ? Do you have any estimate release date ? Or a list of blocker tickets ?

[2020-05-25 11:07] ruflin commented on #1257
@catalinbuletin Should we rename params?

[2020-05-25 11:15] ruflin commented on #1781
Unfortunately you are right and a 7.0 release is long overdue. We kept adding small fixes / cleanups to the release and we keep pushing betas, but I think it is time to go GA.

@thePanz WDYT, any blockers from your side?

[2020-05-25 12:24] thePanz commented on #1772
I agree with @damienalexandre , we had the same issue on our Production instances: the issue is related to the ES cluster configuration, not on the Elastica library.

[2020-05-25 12:24] #1772 closed

[2020-05-25 12:52] romainneutron commented on #1779
I was actually wrong, it was not happening because elasticsearch but because of the default HTTP "Content-Type" header sent by the cURL extension.

When a post request is issued with PHP curl, using the POST method, it may use a default "Content-Type" header that could value "application/x-www-form-urlencoded". However, elasticsearch does not accept such requests on this endpoint.

Forcing POST re

[2020-05-26 12:48] romainneutron commented on #1779
So, it appears that PHP cURL behavior is tied to the query string:

Here's elasticsearch error: `{"message":"When Content-Type:application/x-www-form-urlencoded, URL cannot include query-string parameters (after '?'): '/my_index/_forcemerge?max_num_segments=1'"}`

This is solved by forcing curl to use `Content-Type: application/json` header

[2020-05-28 13:50] ruflin commented on #1779
+1 on adding our default content type  if it is not added in your case: https://github.com/ruflin/Elastica/blob/98b2f9d6c72edf1bd9c7337576d303f644a6d82a/src/Request.php#L19 @romainneutron Could you open a PR with your change?

[2020-06-05 12:23] MaximGns commented on #1781
Any update on the stable release?

[2020-06-05 13:33] romainneutron commented on #1779
@ruflin Correct me if I'm wrong, but my pull-request https://github.com/ruflin/Elastica/pull/1780 does this. Since the `Request` always have a content-type, + my pull request, it ensures outgoing HTTP request always include the content-type (the one explicitely set or the default one)

[2020-06-10 11:55] ruflin commented on #1781
To finally get this moving, I opened https://github.com/ruflin/Elastica/pull/1784

[2020-06-21 10:16] juuuuuu commented on #949
Maybe this issue could be closed.

[2020-06-22 08:15] ruflin commented on #949
@juuuuuu Yep, closing. Thanks for the ping.

[2020-06-22 08:15] #949 closed

[2020-06-29 11:44] BackEndTea opened #1786 "self return type confuses static analysis tools"
The self return type does not mean a `$this` return type to static analysis tools.

When the following method in the `AbstractTermsAggregation`  class is called on the `Terms` class, SA tools will think an instance of the `AbstractTermsAggregation` is returned. Meaning that `setOrder` can not be called on it.
adding `@return $this` to all relevant methods should fix this.

[code]

[2020-07-02 13:07] Bagrat-Hakobyan opened #1787 "How add Bucket Sort"
How can I add **Bucket Sort**? Like in example below
[code]

[2020-07-03 08:59] ruflin commented on #1786
@BackEndTea Could you open a PR?

[2020-07-03 09:30] ruflin commented on #1787
Did not check the code in detail, but normally you can use `setParam` to add your own things if it is not natively supported by Elastica: https://github.com/ruflin/Elastica/blob/master/src/Param.php#L56

[2020-07-03 11:21] #1787 closed

[2020-07-07 22:58] EliuFlorez commented on #1772
The way I found to fix this problem is to increase the dynamic storage size to 4G. example: java -Xms1024m -Xmx4096m and modifying alike forms the elasticsearch jvm.options

[2020-07-17 03:48] takeshita-yoshiteru-lvgs opened #1788 "Error 403(forbidden) occurs when I use Index::addDocuments method for Amazon ES with IAM role security."
I guess there is a bug in Index::addDocuments() method.

I try to add documents via Index::addDocuments() method to Amazon Elasticsearch which has IAM security. So I use AwsAuthV4 for transporter.
But when I call Index::addDocuments, it always returns 403 error.
I can add document via Index::addDocument(), and can use other methods like Index.exists(), create().

My elastica version is 7.0.0.
This

[2020-07-29 19:38] HamoonDBA opened #1789 "Sending two requests for establishing a new connection with authentication"
We have an Elastic cluster that uses basic authentication.

Our PHP application uses Elastica to connect to the elastic server.

Today I found a strange problem in the application

It seems when we execute a query on elastic, Elastica first tries to establish a connection without credentials and when it got a credential error, It tries again to use the credentials.

We saw this Behavior on the acc

[2020-07-30 06:37] HamoonDBA commented on #1789
I have found the problem.
Look at this line:
https://github.com/ruflin/Elastica/blob/98b2f9d6c72edf1bd9c7337576d303f644a6d82a/src/Transport/Http.php#L107
There isn't a config to set the type of auth. So when you set CURLOPT_HTTPAUTH  to CURLAUTH_ANY, curl will send the first request to get the type of auth.

My colleague is going to fix the problem and send a pull request.
Thanks

[2020-08-19 13:15] elshobokshy commented on #1389
I did it this way :

`'field_name' => array('type' => 'text', 'fielddata'=>'true')`

[2020-08-31 12:59] kr0lik opened #1792 "Wrong total hist"
https://github.com/ruflin/Elastica/blob/9146c80736cde1cf38cda29eb191130c4536bf44/src/ResultSet.php#L149

In old versions hits.total returned as int, no object. I suggest adding a check like this:
[code]

[2020-08-31 13:28] ruflin commented on #1792
@kr0lik Which ES version are you using? If we don't have already, would be great to have a test for this to confirm.

[2020-08-31 13:37] kr0lik commented on #1792
Sorry, i was quickly create isse. Now i added some more information. My version 6.8.1. As I understood this parameter this parameter has been added to ease the transition to the new format and will be removed in the next major version (8.0).

[2020-08-31 15:52] kr0lik commented on #1792
I did not notice that there is a version under 6 es.

[2020-08-31 15:52] #1792 closed

[2020-09-09 13:14] BackEndTea opened #1793 "Parse error for Match class on php 8.0"
Match can no longer be used as a class name in php 8.0.

https://3v4l.org/IuL7p

[code]

[2020-09-10 09:09] ruflin commented on #1793
@BackEndTea Thanks for the heads up. I must confess I haven't started to think about PHP 8.0 yet. Seems like we will need to prefix the class name somehow.

Did you see other issue with Elastica an PHP 8.0?

[2020-09-11 06:07] BackEndTea commented on #1793
So far i haven't seen any issues, but i just started running the unit tests in CI.

What i've seen other projects do that use class names that are reserverd (like `String`). They add an underscore as a suffix:
`class String_`.

It would probably work to rename the class, and in the place of the `Match.php` file add a class alias. Though i'm not  sure if that breaks preloading.

[2020-09-11 08:28] laszlo-karpati commented on #523
I've the same issue.

[2020-09-12 12:19] deguif commented on #1793
@BackEndTea Just started to work on this. See #1794

[2020-09-15 11:05] ruflin commented on #523
@laszlo-karpati Any chance you could provide more details? Also which version you are using as the initial issue is more then 7 years old!

[2020-09-15 21:37] laszlo-karpati commented on #523
@ruflin I'm on the latest, 7.0.0 version.
This is a symfony based project. I have 4 million documents total, and I add 500 documents per loop during the population with $index->addDocuments($documents).

I have a memory leaking, with this constructor, and my popoulate process exists after ~2M documents, with out of memory error:
[code]

And It works well, without growing memory usage if I do not p

[2020-09-16 08:25] consolari commented on #1683
Reproduced this on elaticsearch 7.9.1 and elatica dev-master. Everything else seems to work fine. Any chance it can be prioritized up?

When uncommented 'version' in params in Client.php->updateDocument() it works.

[2020-09-16 14:40] ruflin commented on #1683
@consolari Any chance you could open a PR with this change against master? This should simplify the dicsussion and we will also see what tests this effects.

[2020-09-17 07:12] ruflin commented on #523
What is the logger you are using? What is your logging level?

I'm having four theories here:

* The logger you are using is having a memory leak somewhere
* There are so many logs produced that logging is lagging behind and because of this starts to take up more memory
* There is something wrong in the way Elastic implements the logger
* There is a memory leak in addDocuments. But I think this is

[2020-09-18 11:37] thomaspicquet opened #1797 ""version" is not a valid parameter"
I'm on version 7.0.0 or elastic, elasticsearch 7.9.0 and I'm having issues updating documents:
[code]

If I remove `version` from the options https://github.com/ruflin/Elastica/blob/master/src/Client.php#L280 it works fine.

[2020-09-28 11:04] deguif commented on #1793
Should be fixed by #1799

[2020-09-28 11:11] ruflin commented on #1793
Going to close this issue. Please reopen if this problem still exists on master.

[2020-09-28 11:11] #1793 closed

[2020-09-28 21:42] laszlo-karpati commented on #523
Hi!

I'm using the symfony's default Monlog logger (class Symfony\Bridge\Monolog\Logger).

action_level: critical

I have no memory leaking if I comment out the logger there.

[2020-09-29 09:40] ruflin commented on #523
What happens if you keep the logger in but make the second argument just []? Do you still have the memory leak?

If not, next step would be to comment out parts in the array where data is fetched and figure out, which part causes the memory leak to dig deeper.

[2020-10-02 16:27] janooosh opened #1802 "Uncaught Error: Class 'Psr\Log\NullLogger' not found"
Hi all,

i receive an Error regarding 'Psr\Log\NullLogger' not found (Uncaught Error: Class 'Psr\Log\NullLogger' not found in /www/dmdfashioncom_256/public/wp-content/plugins/mangopay/MangoPay/MangoPayApi.php:223).

I am using the sdk for my own WordPress plugin (thus, no composer - but i'd be up to use it, i just didn't know how to get started). It was working fine on our old hosting server (site

[2020-10-02 16:43] #1802 closed

[2020-10-07 13:19] mkosiedowski opened #1805 "Percentiles Bucket aggregation missing"
Hi! I noticed that PercentilesBucket aggregation is missing (https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-pipeline-percentiles-bucket-aggregation.html).

I will prepare a change in the code and post a pull request in a moment - I am creating that issue just for tracking purpose ;)

[2020-10-08 20:35] thomaspicquet commented on #1797
PR with the fix:
https://github.com/ruflin/Elastica/pull/1803

[2020-10-12 11:25] ruflin commented on #1805
@mkosiedowski Thank you!

[2020-10-16 15:31] ThibautSF opened #1809 "How to set pipeline foreach processor ?"
Hi,

I was able by reading the documentation (and get some other information from other issues) to understand how to implement a majority of pipeline processors.

ie create a pipeline which call ingest-attachment and thus delete the binary content
[code]

But now I would like to use the ["foreach" processor](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/foreach-processor.html) (which

[2020-10-19 13:03] ThibautSF opened #1810 "Impossible to create pipeline with multiple processors with same name"
## Edit 1

Last sample workaround in https://github.com/ruflin/Elastica/issues/1810#issuecomment-717393980

## Original
Hi,

Use
Elasticsearch 7.9.2
Elastica 7.0.0

I would like to create the following pipeline from PHP with Elastica :
[code]

Through manual curl query and some indexation test it works well, but when I want to do this by PHP all processors type which appears more that one time are

[2020-10-19 15:45] ThibautSF opened #1812 "Missing Pipeline processors"
Comparing declared classes in [Elastica\Processor](https://elastica.io/api/latest/namespaces/Elastica.Processor.html) against [Elasticsearch documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/ingest-processors.html), some processors seem never to have been implemented.

- [ ] [Bytes](https://www.elastic.co/guide/en/elasticsearch/reference/current/bytes-processor.html)
-

[2020-10-19 15:48] ThibautSF commented on #1812
Link to #1810 & #1809

[2020-10-20 11:29] ruflin commented on #1812
Thanks for starting to track this!

[2020-10-21 06:57] ruflin commented on #1809
@ThibautSF Thanks for the update to the issue. It seems you figured it out and there is #1812 as the follow up issue. Should we close this one or keep it open?

[2020-10-21 07:04] ruflin commented on #1810
Probably the best workaround would be to add full or at least have some support for this "natively" in Elastica?

[2020-10-21 07:04] #1809 closed

[2020-10-21 07:25] ThibautSF commented on #1810
I think it will need some enhancements of how processors are stored in Pipeline (maybe even params) and/or how Pipeline is serialized in order to be sent to Elasticsearch.

But I still don't understand enough that part of the code to be sure of how to do that.

[2020-10-21 10:05] Ciloe commented on #1612
@itkg-ppottie and @ruflin when this PR #1804 Will be merged ?

[2020-10-21 20:42] deguif opened #1824 "Aggregation/Query/Processor class namings standardisation"
Previously some class were required to be named with a suffix to avoid conflicting with some reserved keywords.
For examples these classes use different naming than others:
- `Elastica\Query\BoolQuery` instead of `Elastica\Query\Bool` previously
- `Elastica\Query\MatchQuery` instead of `Elastica\Query\Match` previously
- `Elastica\Aggregation\GlobalAggregation`
- `Elastica\Aggregation\ParentAggreg

[2020-10-22 09:42] ruflin commented on #1810
I saw you opened a PR, probably that will make the discussion easier.

[2020-10-22 13:57] #1612 closed

[2020-10-26 08:58] ruflin commented on #1824
I'm not a big fan of having the directory name repeated also in the class name itself. My hope initially was that this would be the exception, but it seems we have more and more use cases around it.

Is there any specific issue that triggered this or more generally to unify things?

[2020-10-27 16:25] dinamic opened #1846 "6.x branch DateRange aggregation does not support timezone parameter"
Hey guys 👋

Thanks for keeping an eye on and maintaining this library!

Could we add support for the timezone on the date range aggregation, please? Is it a matter of just adding a setter on the DateRange class?

Here's the official documentation:
- https://www.elastic.co/guide/en/elasticsearch/reference/6.8/search-aggregations-bucket-daterange-aggregation.html#time-zones

[2020-10-27 17:13] ThibautSF commented on #1810
So!

I found a much better workaround (might be an idea to follow)
[code]

Will produce the following pipeline (named 'mypipeline')
[code]

[2020-10-27 17:16] deguif commented on #1846
See #1847 thats targets master.
Can probably be backported to 6.x.

[2020-10-28 16:43] deguif commented on #1846
#1847 was merged into master.

[2020-10-28 16:43] #1846 closed

[2020-10-29 07:24] #1805 closed

[2020-10-29 07:24] #1797 closed

[2020-10-30 14:14] deguif commented on #1786
Closing as #1857 was merged.

[2020-10-30 14:14] #1786 closed

[2020-11-14 07:29] #1713 closed

[2020-11-23 17:31] deguif commented on #1689
See PR #1875 opened by @romainneutron

[2020-11-30 10:17] fabianaromagnoli commented on #1777
I experienced the opposite issue: when host is configured with trailing slash, everything works fine, while if the trailing slash is missing, I get a "Malformed URL" exception.

@ruflin What about trimmig and re-adding a slash, in order to be compliant with both host with and without trailing slash? Something like `$baseUri = rtrim($baseUri, '/') . '/';` in \Elastica\Transport\Http::exec

Sometime

[2020-11-30 15:24] ruflin commented on #1777
@fabianaromagnoli Possible, but sounds like even more magic :-)

In the Docker case, who sets these environment variables? Who can change it?

[2020-11-30 15:34] reedy opened #1879 "Backport MatchQuery into 6.x branch"
Related to #1799 and #1793

While it's not so important that the 6.x branch supports PHP 8.0 (at least for us, for other people it might be), it'd be useful if `MatchQuery` in some form or another is backported into the 6.x branch, allowing code that needs to support 6.x | 7.x is able to set a version constraint to bring in the newer version of 6.x (ie 6.2 onwards or similar), and have the `MatchQ

[2020-12-01 08:31] ruflin commented on #1879
++ on making the migration easier. I would prefer to have the change as lightweight as possible on the 6.x branch. I'm worried that we might break something by accident and then need to have more maintenance on the 6.x branch. So if the "extends" approach works this would be my preference, but happy to be convinced otherwise.

For the backports: I'm hopping we have very few / none of these to 6.x

[2020-12-01 13:30] reedy commented on #1879
I believe it should be enough. As long as it's in the same tree (so something like `class MatchQuery extends Match {}`), we all know PHP isn't overly strict on many things.

So that will allow people for migration to replace Match with MatchQuery (just needing to bump their 6.x requirement to effectively be >= the next 6.x release). Then when they switch to/allow 7 (and similarly, set >= the next

[2020-12-17 18:10] natewiebe13 commented on #1793
@ruflin what's left before a new tag is created that includes this fix?

[2020-12-18 09:39] deguif commented on #1793
@natewiebe13 we're waiting an official release of https://github.com/elastic/elasticsearch-php
That should be soon as PRs about PHP 8.0 support were merged recently there.

[2021-02-03 10:12] romainneutron opened #1896 "Release 7.1.0"
Hello,

A lot of features have been added in the master branch. What about releasing them in a stable version ?

[2021-02-03 11:16] deguif commented on #1896
See https://github.com/ruflin/Elastica/pull/1871
We're waiting a release on `https://github.com/elastic/elasticsearch-php` regarding official PHP 8.0 support

[2021-02-11 22:43] reedy commented on #1879
PR up... :)

[2021-02-11 22:45] reedy commented on #1879
If we can get a release after that PR is merged, that'd be appreciated!

https://github.com/ruflin/Elastica/compare/6.1.1...6.x

[2021-02-15 10:41] deguif commented on #1896
Released: https://github.com/ruflin/Elastica/releases/tag/7.1.0

[2021-02-15 10:41] #1896 closed

[2021-02-15 10:43] ruflin commented on #1896
@deguif THANK YOU!

[2021-02-15 19:26] deguif commented on #1879
It was merged.

[2021-02-15 19:26] #1879 closed

[2021-02-15 21:03] reedy commented on #1879
Thanks!

Should I file a seperate task about a new 6.x release? 6.1.2, presumably? https://github.com/ruflin/Elastica/compare/6.1.1...6.x

[2021-02-15 21:16] reedy commented on #1879
Oh, duh. Just saw #1901

👍

[2021-02-16 08:06] deguif commented on #1879
Version `6.1.2` was just released.

[2021-02-16 12:30] reedy opened #1903 "Re-enable CI on 6.x branch"
As noticed in https://github.com/ruflin/Elastica/pull/1902, it seems you can commit invalid PHP on the 6.x branch, and CI won't complain at all...

[2021-02-16 12:32] reedy commented on #1903
I'm guessing Travis was turned off because master moved to using github actions... But 6.x is still active/maintained, making the .travis.yml a no-op..

[2021-02-16 13:05] ruflin commented on #1903
Yes, I guess we should move 6.x also to Github action if we still maintain it and make releases on it. @deguif Could we do a minimal set of checks?

[2021-02-16 20:42] deguif commented on #1903
Yes probably, need some time to do that ;)

[2021-02-16 22:11] deguif commented on #1903
Travis CI was disabled automatically because free quota for OSS was exceeded, that's why project was migrated to GA.

[2021-03-03 06:45] insekticid opened #1906 "addOption is missing in Multi/Search.php"
usecase: ->addOption('filter_path', 'hits.hits._source')

patially done in https://github.com/ruflin/Elastica/pull/1292

[2021-03-07 18:31] reedy opened #1908 "ruflin/elastica 6.x is not compatible with elasticsearch/elasticsearch-php 6.8"
Downstream task: https://phabricator.wikimedia.org/T276320

6.x of ruflin/elastica as per https://github.com/ruflin/Elastica/blob/6.x/composer.json#L17 supports `"elasticsearch/elasticsearch": "^6.0"`

However, trying to use 6.x of ruflin/elastica with 6.8 of elasticsearch/elasticsearch causes errors due to https://github.com/ruflin/Elastica/blob/6.x/lib/Elastica/Index.php#L451

[code]

If we look

[2021-03-07 18:37] reedy commented on #1908
It looks to have disappeared in https://github.com/elastic/elasticsearch-php/pull/966 in master...

And in 2da5f9337a269113954a84fe8e79ea6843f0e7c3 in the 6.8 branch...

[2021-03-07 18:52] reedy commented on #1908
I note a (simple) potential fix is just to set a max version constraint for `elasticsearch/elasticsearch` (ie <= 6.8) in composer.json, update https://github.com/ruflin/Elastica#versions--dependencies in master/6.x, and then possibly tag a 6.x point release too.

I guess it depends what longer term support goals of ES 6.8 are... And how much (other) work might be needed to update things.

[2021-03-07 19:11] reedy commented on #1908
Looks like it might just be a missing alias

[2021-03-08 08:57] ruflin commented on #1908
Is this only related to the Alias part or is there more? Do you know what it was removed? In general I assume Elastica is compatible with 6.8 just the Alias part causes troubles?

Did not find the time to dig into this but would be good to understand why it was removed.

[2021-03-08 16:01] reedy commented on #1908
Yeah. From what I can see (and mentioned on https://github.com/elastic/elasticsearch-php/commit/2da5f9337a269113954a84fe8e79ea6843f0e7c3) it seems a few aliases went missing, I think that should be the only issue, but I can't swear to it.

I think it's accidental, based on @ezimuel's comments. I'm not sure how the aliases are generated, so whether it's an issue with whatever created them automatic

[2021-03-09 10:28] ezimuel commented on #1908
@ruflin I released `elasticsearch-php 6.8.0` including the support of PHP 8 and all the XPack endpoints. In order to accomplish this I used the new code generator used in `7.x` branch.

`elasticsarch-php` < `6.8` contained some endpoints that do not exist in Elasticsearch 6. Moreover, the naming were not aligned with the API specification.

To resolve these issues, I used an alias approach with `s

[2021-03-09 20:44] phroggar commented on #1908
`src/Elasticsearch/Namespaces/IndicesNamespace.php`

getAliases() is gone, which was unexpected/breaking for us.

It think this is an alias of getAlias() in 7 and was duplicate code in 6.x.

[2021-03-10 13:31] ruflin commented on #1908
@reedy I assume on our end we then wait on the new 6.8.1 release?

[2021-03-10 14:48] reedy commented on #1908
Pretty much. This task probably mostly serves as documentation purposes, and potentially saves duplicate reports.

Possibly the only resolution (or action) to be taken on this side is maybe some documentation (ie *maybe* a README entry to say not to use 6.8.0).

With the relatively loose semver constraints, people who ended up on 6.8 (accidentally or otherwise) should just need another `composer u

[2021-03-15 16:27] soltmar opened #1913 "Support PHP 8 in Elastica 6.x"
It would be nice to support PHP 8 in Elastica 6.x composer. Currently in composer json there is php ^7.0.
As there are still people on ES 6 but PHP 8 it would be good to be able to install Elastica 6 with PHP 8.

[2021-03-15 17:10] ezimuel commented on #1908
I just sent this PR to fix the issue https://github.com/elastic/elasticsearch-php/pull/1114.

[2021-03-16 07:42] ruflin commented on #1913
I remember there were some issues when we enabled PHP 8 for Elastica 7. @deguif might know more.

In general I like the idea of enabling it for Elastica 6 but I'm worried about all the additional changes that might be needed. Is there a way to enable it / let people overwrite the flag to make sure users know, it might not be fully supported?

[2021-03-16 17:32] deguif commented on #1908
@reedy Another solution is to add a conflict in composer.json for `6.8.0` version
That's done in #1918

[2021-03-16 17:52] deguif commented on #1913
That's also possible to disable check for PHP version by using the composer flag `--ignore-platform-reqs` in composer v1 or `--ignore-platform-req=php` in composer v2.

See https://php.watch/articles/composer-ignore-platform-req

[2021-03-16 21:03] reedy commented on #1908
I forgot about conflicts :)

[2021-03-17 10:01] deguif commented on #1903
Closing as #1918 was merged in `6.x` branch.

[2021-03-17 10:01] #1903 closed

[2021-03-17 10:02] deguif commented on #1908
Closing as conflict for `elasticsearch/elasticsearch` 6.8.0 was added in `6.x` branch.
A new release should be published very soon.

[2021-03-17 10:02] #1908 closed

[2021-03-22 12:28] reedy opened #1937 "Should docker folder be added to .gitattributes"
Noticed in https://github.com/ruflin/Elastica/releases/tag/6.1.4

Is there any reason to not add the docker folder to .gitattributes? I believe it exists mostly for CI purposes, and as such, we don't ship the tests folder, so we shouldn't need to ship the docker folder either...

[2021-03-22 12:31] reedy commented on #1913
I'd be curious if this works.

While I added the MatchQuery alias in 16f2ff72eff74f1349ee6d11beefa4c06f8e9094, with the heirarchy, it'll still use the Match class as part of it's extend, so PHP 8 isn't going to like the AFAIK.

We could flip it round, and just insert MatchQuery above Match as a loose wrapper instead, which in theory works, as you can then use MatchQuery, and not exercise the Match

[2021-03-22 13:27] deguif commented on #1937
@reedy you're right, it can probably be added in `.gitattributes`.

[2021-03-22 15:00] reedy commented on #1937
I'll do a PR for master and 6.x :)

[2021-03-22 15:07] deguif commented on #1937
Thanks @reedy

[2021-03-22 15:55] #1937 closed

[2021-03-22 21:55] ezimuel commented on #1908
I just released `elasticsearch-php 6.8.1`: https://github.com/elastic/elasticsearch-php/releases/tag/v6.8.1

[2021-03-22 22:00] deguif commented on #1908
Thank you @ezimuel
Let's see if CI will pick it on 6.x branch.

[2021-03-23 10:00] alvarofvr commented on #746
I have this issue today with a long worker with rabbitmq. If an "Operation timed out" error occur during an update to elastic (for unknown reasons), the instance of the client set connection to `enabled: false` and all after requests throws the error "No enable connection" until the worker is restarted. I think this is an issue because a functionality that revives the connection enable flag is imp

[2021-03-23 10:31] deguif opened #1943 "Use static code analysis"
I started a PR to use PHPStan to detect potential wrong code.
Many PRs I opened recently were related to this analysis.
This can be tracked here: https://github.com/deguif/Elastica/actions?query=branch%3Aphpstan+

Here's the current remaining errors:
[code]

[2021-03-24 04:53] deguif commented on #1750
For keeping track here, there's some progress on ongoing work in https://github.com/elastic/elastic-transport-php

[2021-03-24 07:49] ruflin commented on #1943
Do you plan to have it enabled as part of CI in the future? Are there false positives sometimes?

[2021-03-24 07:53] thePanz commented on #1750
Thank you for the heads-up @deguif !
Unfortunately they still include Guzzle (also as a requirement in composer.json)

[2021-03-24 10:35] deguif commented on #1943
Yes absolutely, having it enabled in the CI would be benefit IMO.

Yes, sometimes. But they can be skipped by `ignoredErrors` config or doc comments like (`@phpstan-ignore-line`, `@phpstan-ignore-next-line`). See https://phpstan.org/user-guide/ignoring-errors

[2021-03-24 10:43] ezimuel commented on #1750
@thePanz `Guzzle` is the default adapter. If you want to use a different `PSR-18` library you can specify as described [here](https://github.com/elastic/elastic-transport-php#use-a-custom-psr-18-clients).
I'm just curios, what's the issue with `Guzzle`?

[2021-03-24 11:14] thePanz commented on #1750
Hi @ezimuel , having Guzzle as a "requirement" library means that it will be installed in the system (even if not used).

This could lead to some issues if, as an example, the project already requires an old version of Guzzle or the project is not compatible with Guzzle 7.

The approach used by httplug is not relying on any actual implementation, see: https://docs.php-http.org/en/latest/httplug/li

[2021-03-24 11:45] ezimuel commented on #1750
@thePanz `Guzzle` is the most used HTTP library in PHP projects, that's the reason why I used it as default. You right, the library is installed in the system even if you are not using it (e.g. using an alternative `PSR-18` library), but I don't think we have space issue nowadays.

The benefit to have it as `require` for `elastic-transport-php` is double: a better UX perspective (everything is rea

[2021-03-24 12:04] #1429 closed

[2021-03-24 14:28] #1779 closed

[2021-04-07 13:47] SuRRoK opened #1952 "Setting optons to Search"
Trying to paginate results, set option FROM
`$this->search->addOption(Search::OPTION_FROM, $offset);`
Have an error
`request [///_search] contains unrecognized parameter: [from[0]] -> did you mean [from]?`
If change adding option method, all OK
`
    public function addOption(string $key, $value): self
    {
        $this->validateOption($key);

        $this->_options[$key] = $value;
//        $t

[2021-04-08 06:38] ruflin commented on #1952
@SuRRoK Any chance you could open a PR for this change? I'm wondering if any tests will fail on our end if we add this.

Would also be good to know what PHP, Elastica and Elasticsearch version you use.

[2021-04-21 23:35] panychek opened #1953 "X-Pack aggregations"
What's your view on including X-Pack-related stuff to Elastica?
For instance, I could provide a PR for the [Normalize pipeline aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-pipeline-normalize-aggregation.html), which I make use of. But due to the OSS Docker images, functional testing won't be possible in this case.

[2021-04-22 05:46] ruflin commented on #1953
@panychek ++ on adding x-pack related stuff. I think we should remove the `-oss` from the testing part: https://github.com/ruflin/Elastica/blob/master/docker/docker-compose.es.yml#L5 Let me open a PR

[2021-04-22 05:50] ruflin commented on #1953
I opened https://github.com/ruflin/Elastica/pull/1954

[2021-04-23 11:30] ruflin commented on #1953
Support for the basic version added. @panychek Do you plan to open a PR?

[2021-04-26 08:59] #1953 closed

[2021-04-30 12:17] laTruffe79 opened #1957 "Type: Error Message: Call to undefined method Elastica\Index::getType()"
Hello I read that ES 7.x is not handling types anymore so what is the way to with that ? I must update my code, have you an example please ?
Thanks.

[2021-04-30 12:20] ruflin commented on #1957
You likely have to update your code. But first it is important to understand what exactly changes: https://www.elastic.co/guide/en/elasticsearch/reference/7.x/removal-of-types.html For code examples, IndexTests and others are always a good place: https://github.com/ruflin/Elastica/blob/master/tests/IndexTest.php

[2021-04-30 12:42] laTruffe79 commented on #1957
OK, the joy of updates... ^_^

[2021-04-30 14:27] laTruffe79 commented on #1957
Ok it could help someone spending time here are the changes

[code]

[2021-05-26 17:45] StudioMaX opened #1962 "Current support status of OpenSearch"
Maybe you heard about a fork of ElasticSearch 7.10.2 called OpenSearch. It is still the same Amazon ElasticSearch Service, but under a different brand. They claim the API remains backward compatible.
Although it is still in beta, it is already gaining some popularity. But in this Elastica library there is no mention of OpenSearch's brand support status. I think this information would be useful for

[2021-05-26 17:49] ruflin commented on #1962
There are no plans for Elastica to support forks of Elasticsearch.

[2021-05-26 18:03] StudioMaX commented on #1962
Thanks. Is it possible to mention this in readme (or at least briefly that forks like OpenSearch are not supported)? So that no one has any questions, and not to search by repository instead to find out why something is not working with OpenSearch.

[2021-05-28 06:22] ruflin commented on #1962
Even though it would be pretty easy to add something like that to the README I'm torn on this. I rather focus on what is compatible as it is a finite list instead of what is not compatible. Elastica might work with the forks for some versions but break at some point when the breaking changes to the API are made. I don't know when that happens. One of the reasons not to support forks is to keep it

[2021-05-28 13:18] sergiuionescu opened #1963 "The Phrase suggester should support multiple direct_generators"
The current Phrase suggester(https://github.com/ruflin/Elastica/blob/master/src/Suggest/Phrase.php#L12) only supports one generator. Subsequently calling \Elastica\Suggest\Phrase::addCandidateGenerator always overwrites the previous generator value.

According to https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters.html#_direct_generators multiple generators can be use

[2021-05-31 06:48] ruflin commented on #1963
@sergiuionescu Interested to open a PR? 😇

[2021-05-31 09:09] sergiuionescu commented on #1963
@ruflin Please have a look at https://github.com/ruflin/Elastica/pull/1964 .
Please runt the github action tests, i haven't been able to spin up the integration env locally.

[2021-06-01 06:35] ruflin commented on #1963
Thanks! Test should always be run automatically.

[2021-06-01 09:08] deguif commented on #1963
@ruflin they are not run anymore automatically for new contributors.
I had to approve @sergiuionescu work for running the tests as github recently changed this behaviour to avoid abuses (crypto mining, ...).

[2021-06-01 09:10] deguif commented on #1963
See https://docs.github.com/en/actions/managing-workflow-runs/approving-workflow-runs-from-public-forks for more details

[2021-06-07 15:27] deguif commented on #1963
Closing as #1964 was merged and fixed that.

[2021-06-07 15:27] #1963 closed

[2021-06-30 18:51] jry25 commented on #1645
@Sharptsa HI, I also need this feature. I'd be happy to help. Did you start working on anything yet?
How can I help?

[2021-07-16 09:40] timonf commented on #1913
@ruflin `elasticsearch/elasticsearch:8.6.2` is out now - maybe you can now considering to support PHP 8 in `6.x` branch.

[2021-07-16 11:05] ruflin commented on #1913
Nice. Anyone interested to start a PR for this? I guess it also means we need to update our dependencies (I hop it is 6.8.2 and not 8.6.2 ;-) )

[2021-07-16 11:33] reedy commented on #1913
https://github.com/elastic/elasticsearch-php/releases/tag/v6.8.2

https://github.com/elastic/elasticsearch-php/blob/v6.8.2/composer.json#L16

https://github.com/elastic/elasticsearch-php/commit/4d9ffa184f6769a59da5d9212d9d30b51330a1fd technically marked the branch as supporting ^8.0...

[2021-07-16 11:41] reedy commented on #1913
phpunit will need swapping to version 8 which supports php `>=7.2"`.

Supporting 6.x and 8.x is probably going to be hard (I'd have to refresh my memory what fun we had with that), so we'd potentially lose testing on PHP 7.0 and 7.1, which may not be the end of the world, but is a form of regression...

[2021-07-16 12:12] kbond commented on #1913
You could utilize [Symfony's PHPUnit Bridge](https://symfony.com/doc/current/components/phpunit_bridge.html) which solves this problem.

[2021-07-16 17:40] reedy commented on #1913
I guess a bigger question is how long elasticsearch 6.x is going to be supported in various upstreams... And such, is it worth the effort (especially if it's a non trivial one)?

There's definitely some interest in it happening, but the question is whether it's a wider interest.

https://www.elastic.co/support/eol

It looks like this is basically dependant on the release of elasticsearch 8.0.

htt

[2021-08-16 20:06] Aassifh opened #1972 "cumulative_sum aggregation"
Does cumulative sum aggregation exists in this project ? thank you

[2021-08-17 08:59] ruflin commented on #1972
Here is the list of aggregations that we support at the moment: https://github.com/ruflin/Elastica/tree/master/src/Aggregation You can always use "raw requests" to send any query with the lib if needed. Interested to contribute the classes needed for cumulative sum aggregation?

[2021-09-08 14:41] timmi129 opened #1975 "problem with php 8 in 7.1.1 package version"
Package in version 7.1.1 supports php version 8.0 and uses elasticsearch/elasticsearch in version 7.1.1, but  elasticsearch/elasticsearch  supports php 8 version only from 7.11.0.

[2021-09-08 15:18] deguif commented on #1975
Can you run `composer update elasticsearch/elasticsearch`, that should upgrade to a more recent version of `elasticsearch/elasticsearch`.

[2021-09-09 07:28] timmi129 commented on #1975
I can't, package has hard restriction:
<img width="261" alt="Снимок экрана 2021-09-09 в 10 26 39" src="https://user-images.githubusercontent.com/39489931/132641949-505a23c8-4334-4cef-9a4c-932de78cd54f.png">

[2021-09-09 14:28] deguif commented on #1975
It's not hard restricted when using the caret operator (see: https://getcomposer.org/doc/articles/versions.md#caret-version-range-).
It means here that minimum version is `7.1.1` but it allows all other versions < `8.0` for `elasticsearch/elasticsearch`, which includes `7.14`.

If it was `~7.1.1` it would behave as you stated (see: https://getcomposer.org/doc/articles/versions.md#tilde-version-ran

[2021-09-16 15:46] reedy opened #1978 "More Match class PHP 8 fun (in 6.x)"
From our downstream issue - https://phabricator.wikimedia.org/T268861#7359008

Because of how I did `MatchQuery extends Match`, `Match` is still executed, meaning it does fail on PHP 8.0. And that's kinda fine, as I did it for forward compat purposes (so people could switch to `MatchQuery` earlier, and depending on their code, be able to support later 6.x and also 7.x).

As per https://github.com/

[2021-09-21 13:40] Hikariii commented on #1978
+1 for php8 support on the 6.x branch.

[2021-09-22 09:09] llupa commented on #1633
Late to the party but had the same issue. The thing is that `json_encode` can be used with any flag combination / bitmask value, and as far as PHP is concerned this is _valid_ JSON (within PHP).

I guess if Elastica accepts **only** _valid_ JSON then a validator / validation should take place before building the request to ES, and if that fails, throw an exception that this is an invalid JSON stri

[2021-09-22 15:00] reedy commented on #1978
Seems https://github.com/ruflin/Elastica/pull/1977 was created before I created this issue...

[2021-09-23 06:43] ruflin commented on #1978
I definitively support this. The important part for me is that we don't break existing installations but it seems with this approach this is possible.

[2021-09-23 06:44] reedy commented on #1978
My version in https://github.com/ruflin/Elastica/pull/1981 does that, AFAIK...

[2021-09-23 06:49] ruflin commented on #1633
It would be great to have a PR up for a potential change to this discuss this in more detail.

[2021-09-23 07:24] thePanz commented on #1975
@timmi129 I can not reproduce the issue you mentioned: I am using php 8.0.10

About the `^` operator:

[2021-09-23 08:34] deguif commented on #1975
@thePanz @timmi129 we can probably close this issue, WDYT?

[2021-09-23 12:12] thePanz commented on #1957
@laTruffe79 IMHO you should use the `$client->getIndex($name)->search($query)` construction.
It makes sure that the POST is used when running a search too ;-)

Closing this issue

[2021-09-23 12:12] #1957 closed

[2021-09-23 12:47] thePanz commented on #1975
Closing this issue, feel free to reopen in case the problem persists.

[2021-09-23 12:47] #1975 closed

[2021-09-30 22:58] #1978 closed

[2021-09-30 22:59] reedy commented on #1913
https://github.com/ruflin/Elastica/issues/1978 was merged.

Just need to work out what version number, merge https://github.com/ruflin/Elastica/pull/1986 and a release to be tagged!

[2021-10-14 16:32] #1962 closed

[2021-10-21 00:07] pthreat commented on #983
Try to use generators, this is ridiculous in 2021

[2021-11-01 08:53] ruflin opened #2011 "Branch of 7.x and start testing against Elasticsearch 8.0"
The first releases of Elasticsearch 8.0 (alpha / beta) are shipping. Because of this, Elastica should branch off the 7.x branch and start testing against 8.0 on master. This will also allow us to do some necessary cleanup in the code base. This issue is to track these changes.

[2021-11-10 16:39] fisico95 opened #2012 "Error on connect OpenDistro"
When i wan't to connect with opendistro, on docker, i have this error message

Exception during establishing a SSL connection: javax.net.ssl.SSLHandshakeException: Insufficient buffer remaining for AEAD cipher fragment (2). Needs to be more than tag size (16)

What can i do?

[2021-11-11 12:26] ruflin commented on #2012
Elastica does not support OpenDistro only Elasticsearch. Maybe the above is related to https://github.com/ruflin/Elastica/issues/1731 ?

[2021-11-15 09:18] deguif commented on #2011
Let's tackle this, here's what I propose to do :
- create 7.x branch
- bump `elasticsearch/elasticsearch` to `^8.0` on master
- bump minimum PHP version to `^8.0` on master
- remove deprecated code

[2021-11-16 08:47] ruflin commented on #2011
Mostly sounds good to me. About the PHP version, 7.4 is still supported for about a year. Should we directly jump to 8? What do we gain / loose?

Can you directly take care of the branching and the ES change, I assume we have time for the PHP decision.

[2021-11-17 08:12] mamchyts opened #2019 "Terms set query support"
Hi, did you have any plans for support next feature: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-terms-set-query.html

[2021-11-17 08:49] mamchyts commented on #2019
PS: At the current moment I use next workaround:
[code]

[2021-11-17 14:20] ruflin commented on #2019
Interested to contribute it? :-D

[2021-11-17 14:49] mamchyts commented on #2019
Hmm, maybe yes. I think in near future (1-3 weeks) I can do it

[2021-11-23 12:19] coreation commented on #2012
hey @ruflin this is not a feature request, but an honest open question, is there any move towards making support for OpenSearch, by you or any other contributors?

[2021-11-23 12:36] ruflin commented on #2012
@coreation Not really. The more the two projects diverge the harder it gets to support both. Supporting only Elasticsearch is already a lot of work and I prefer not to add more to my plate and the one of the community.

[2021-11-23 12:57] coreation commented on #2012
@ruflin  I completely understand and very much appreciate the work done so far. I was just nosing around for kNN-algorithms and saw OpenSearch was actively working on it but ElasticSearch itself wasn't (or at least not that I could find). Kudos to you, if I find an issue I can contribute on that we're missing in our usage I'll make sure to do so. I had the pleasure of already contributing a very s

[2021-12-02 06:14] rivaldowhd opened #2031 "the post_filter is unset in Query if Terms is used post_filter"
$query = new \Elastica\Query();

// set Terms as post_filter
$terms = new \Elastica\Query\Terms("key", ['term']);
$query->setPostFilter($terms);

// Query::toArray() will unset post_filter because count($terms) is 0 now, thus always ignoring the post_filter
$search->setQuery($query);
$search->search();

the _params should be set correctly in the construct
Terms:__construct()
{
    ...
    if ($ter

[2021-12-02 10:05] deguif commented on #2031
@rivaldowhd Thanks for sharing the issue with the terms query.
It should be fixed by #2032

[2021-12-02 14:46] #2031 closed

[2021-12-03 21:54] mamchyts commented on #2019
@ruflin  you can close this issue

[2021-12-03 22:02] #2019 closed

[2021-12-06 09:04] deguif commented on #1972
Closing as it was implemented in #1987 and merged.

[2021-12-06 09:04] #1972 closed

[2021-12-07 19:06] #1716 closed

[2021-12-07 19:06] #1698 closed

[2021-12-07 19:07] #1690 closed

[2021-12-07 19:09] deguif commented on #1676
It was implemented in #2018

[2021-12-07 19:09] #1676 closed

[2021-12-07 19:10] #1527 closed

[2021-12-07 20:22] #1677 closed

[2021-12-07 20:49] deguif commented on #1683
Closed as it was fixed in #1803

[2021-12-07 20:49] #1683 closed

[2021-12-07 20:50] #1675 closed

[2021-12-07 20:53] #1483 closed

[2021-12-07 20:54] #1314 closed

[2021-12-07 20:56] deguif commented on #1307
Closing as it was implemented in #1642

[2021-12-07 20:56] #1307 closed

[2021-12-07 20:57] #1289 closed

[2021-12-07 20:58] #1260 closed

[2021-12-07 21:06] deguif commented on #1075
Closing as it was implemented in #1203

[2021-12-07 21:06] #1075 closed

[2021-12-07 21:06] deguif commented on #1280
Closing as `type` is not anymore supported since ES 7.x

[2021-12-07 21:06] #1280 closed

[2021-12-07 21:07] #1053 closed

[2021-12-07 21:12] #340 closed

[2021-12-07 21:13] #364 closed

[2021-12-07 21:13] #428 closed

[2021-12-07 21:17] deguif commented on #537
Closing as it was implemented in #1320

[2021-12-07 21:17] #537 closed

[2021-12-07 21:20] #565 closed

[2021-12-07 21:20] #719 closed

[2021-12-07 21:21] #684 closed

[2021-12-07 21:23] #500 closed

[2021-12-07 21:23] #582 closed

[2021-12-07 21:25] #1248 closed

[2021-12-07 21:25] #1279 closed

[2021-12-07 21:30] deguif commented on #1739
Closing as it was fixed in #1950

[2021-12-07 21:30] #1739 closed

[2021-12-09 08:37] thePanz commented on #2011
I support @ruflin on the PHP side, 7.4 is still used a lot :)
Should we convert this issue into a "Conversation"? WDYT? (it's a new feature of GitHub)

[2021-12-09 09:30] deguif commented on #2011
Yes let's discuss this on a conversation ;)
There was this one already: https://github.com/ruflin/Elastica/discussions/1961

[2021-12-17 11:26] pheyse24 opened #2046 "deleteDocuments results in: Validation Failed"
We are using ES 7.15

Since we updated from Elastica v7.1.1 to v7.1.3 we are experiencing issues when trying to delete via `\Elastica\Client::deleteDocuments`.

The Documents we provide are gotten fresh from the index via `\Elastica\Index::getDocument`
Due to the changes in: #1973  the document now contains version Information, which was previously not included.

When deleting the documents via bu

[2021-12-17 14:02] ruflin commented on #2046
We likely need a patch for this, can't think of an easy workaround. @dsgrillo Could you chime in here as you provided the initial change?

Two paths forward I have in mind:

* Provide an option for getDocuments to not include the version info
* Wipe the version info in deleteDocuments.

Second approach seems preferrable as it is in the control of deleteDocuments to send correct requests. But it me

[2021-12-17 14:28] dsgrillo commented on #2046
The optimistic concurrency control [changed between on ES6.7](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/breaking-changes-6.7.html), where they've deprecated the `version` attributes in favor of `if_seq_no` and `if_primary_term`.

I think the second approach of "wiping the version info" is somehow better, as for what I've understood, it's already somewhat implemented (via whitelis

[2021-12-17 14:52] ruflin commented on #2046
@dsgrillo @pheyse24 Could one of you open a PR with a potential change?

[2021-12-19 13:21] #2046 closed

[2022-01-15 10:00] pidera opened #2049 "Internal versioning error when adding a document from one index to another"
When adding a document from one index to another index, the `version` and `version_type` options are still added, which causes a validation error.

[code]

In #1803 these options have been removed for the `updateDocument` method, but these are still added in `addDocument`.

I've created a separate repository to simulate the testcase:

Failing version: https://github.com/pidera/elastica-version-iss

[2022-01-26 19:44] #2049 closed

[2022-03-16 11:39] enricobono commented on #1450
For example here:
https://github.com/ruflin/Elastica/blob/master/src/Query/MatchNone.php
on the constructor we set `_params` to a `stdClass()`

[2022-03-18 15:11] ruflin commented on #1450
@enricobono Thanks for the specific example, this helps. Lets take the MatchNone as an example. The Elasticsearch query in the end must look as following:

[code]

If we don't set it to stdClass, it would look as following:

[code]

But this is not valid as match_none has to be an object and not an array. Likely the problem is, that it is not consistent. In some cases it must be an array, in other

[2022-03-18 16:38] enricobono commented on #1450
The thing is that when you type:

[code]

you get an error, because what `->setParam()`  does is:
[code]
so it tries to add a value to `$this->_params`  which is now a stdClass, so PHP fails with an error:

[2022-03-23 07:27] ruflin commented on #1450
@enricobono I understand the general issue but for MatchNone I wonder, what are the params you would be adding to `MatchNone`? Does MatchNone support any?

[2022-03-23 09:56] enricobono commented on #1450
`MatchNone` is similar to Match, but it negates the params. Something like:

- Match(a, b) -> means get all the records where a == b
- MatchNone(a, b) -> means get all the records where a != b

[2022-03-28 06:46] ruflin commented on #1450
I've tried to play around with the MatchNone query a bit and the only param I could add was `boost` to get a valid query. Also according to the docs its the opposite of MatchAll: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-match-all-query.html @enricobono Could you share an example query with MatchNone and params in JSON format that I can try out?

[2022-03-28 12:00] Fieldistor opened #2058 "if_seq_no & if_primary_term params are ignored"
In 7.1.0 `CHANGELOG.md`:
`* Added `if_seq_no` / `if_primary_term` to replace `version` for [optimistic concurrency control](https://www.elastic.co/guide/en/elasticsearch/reference/7.x/optimistic-concurrency-control.html) [#1803](https://github.com/ruflin/Elastica/pull/1803)`

But, even if you can set these params on Action Object - they are ignored.
Example of the source code, where exception shou

[2022-03-29 07:36] ruflin commented on #2058
@Fieldistor Interested to open a PR against the repo with the change? This should make discussions much easier.

[2022-03-29 10:16] coreation opened #2059 "(Question) ElasticSearch App support"
Hi everyone,

I was wondering if there was support in Elastica for ElasticSearch "Enterprise Search" endpoints.
I've recently been digging into their documentation and things look very much the same as if you would do regular ElasticSearch query, but I assume these endpoints are not supported in this library?

If so, does anyone have experience with other compatible libraries that wrap "Enterprise

[2022-03-29 15:19] #1737 closed

[2022-03-30 08:04] ruflin commented on #2059
Elastic Enterprise Search stores all its data in Elasticsearch. So if you want to query the data directly from Elasticsearch, things should just work. But there are also custom endpoints built with additional services AFAIK. These will likely have a custom API and are not supported by Elastica. And as you say, it would be quite an effort to support these.

Be aware, I have not used Enterprise Sear

[2022-03-30 08:13] coreation commented on #2059
Thanks the info @ruflin , that was what I expected, as always, great library and appreciate the effort of you and the community!

[2022-03-30 08:13] #2059 closed

[2022-04-26 15:12] ThibautSF opened #2063 ""no permissions for []" for queries against aliases API"
Hi,

I have an error that I didn't manage to understand (and might not be completely related to Elastica, or maybe I have an issue with a config somewhere...).

# Intro

I have the following ES environment :
- Amazon OpenSearch Service
- Elasticsearch 7.10.2
- t3.small.search with 3 nodes
- Access with HTTPS transport

For PHP :
- PHP 7.4
- Elastica 7.1.5
- I also use [jolicode/elastically](https:

[2022-04-27 12:25] ruflin commented on #2063
I remember AWS OpenSearch had some different auth mechanisms but as normal operations do work, not sure if this is related. It seems you don't get much about in the logs, I would look at the logs of Elasticsearch / OpenSearch to see if you see something there.

Side note: Elastica does not support and is not tested against OpenSearch but in 7.10 I would expect the APIs to still be mostly aligned.

[2022-04-27 14:54] ThibautSF commented on #2063
I will search how to activate logs then because looks like they aren't on by default on AWS.
But the strange things I found :
- only aliases API doesn't work in HTTP with Elastica; indice creation/deletion is ok, search is ok, indexation is almost ok (just have an issue with indexing more than 5 documents at once with bulk, 5 is ok but 6 is auto `429 Too Many Requests /_bulk`, looks like logs migh

[2022-04-28 07:14] ruflin commented on #2063
The bulk request issue is odd. I would have expected a different error if the bulk request is too large. Do you have lots of other traffic on this instance? As you said, ES logs should help you in this scenario too.

You also not above, the `elsadmin` is a super user so I don't see how you should get problems with aliases :-( Have you tried to just run Elasticsearch locally on your machine and run

[2022-04-28 13:42] ThibautSF commented on #2063
Still trying to obtain AWS logs, but it doesn't give anything yet.

Local run works fine (although I only have HTTP and no users...)

I tried queries with postman to `https://elsadmin:<pass>@<elasticdomain>:443/_aliases`

And if I use the "*" wildcard in the remove action it generates the "no permissions for []" error
![image](https://user-images.githubusercontent.com/9386581/165762918-fe306f09-94

[2022-04-29 08:27] ruflin commented on #2063
Glad you found a workaround:

I remember there was a bug in some of the 7.x releases in Elasticsearch. Would be interesting to know if it works with 7.17.

On the bulk request: Even though your instances are small and above 80% memory, I would still expect you can ingest more then 5 docs in a bulk. Are these especially large docs?

[2022-04-29 09:11] ThibautSF commented on #2063
Sadly AWS OpenSearch service is limited to 7.10, after that it's OpenSearch 1.2 (or manual cluster creation).
But I should be able to try older versions
![image](https://user-images.githubusercontent.com/9386581/165912484-3ac35cce-9d53-4f50-b882-98de3d856f53.png)

Those are not large docs, those are docs containing attachments files (pdf, images, excel, etc...).
Each bulk is created based on 2 met

[2022-04-29 09:30] ruflin commented on #2063
Agree these are not large documents but still different from just JSON payload. If you don't use the attachments, to larger bulk requests go through?

[2022-05-10 12:13] ThibautSF commented on #2063
Hi,

Took some time and fixes on my index requests script and made several tests + debugs.
And on each tests I reduced my upload max byte size parameter here is for 20MB
[code]

And if I reduce it to 15MB all requests work because :
- Flush 2 Is never sent (bulk is the minimum size of 1)
- Flush 3 is separated into 2 bulks

But I need to recheck how my requests are created. Because the "Flush 2" w

[2022-05-20 08:25] franmomu opened #2065 "Add `conflict` section in composer"
IMO there should be a `conflict` section in sync with `require-dev` (with `aws/aws-sdk-php` and `guzzlehttp/guzzle`):

https://github.com/ruflin/Elastica/blob/72a4598544e3f99b5dd8cacb05d009ee75c2a701/composer.json#L26-L31

So we only allow to installed tested versions.

[2022-05-20 14:58] ruflin commented on #2065
Can you provide an example (or PR) on how this would look?

[2022-05-25 20:12] pesseyjulien opened #2071 "Multi-terms aggs"
Hi,

Is multi-terms aggs supported or is planned to be ?

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-multi-terms-aggregation.html

Thanks,
Julien

[2022-05-31 07:23] ruflin commented on #2071
Multi terms is only supported at the moment by sending the raw queries, no classes for it exists. Interested to contribute it? Here you find quite a list of examples https://github.com/ruflin/Elastica/tree/master/src/Aggregation

[2022-06-14 07:57] jhuebner79 commented on #1777
Trailing dots in hostnames, very well a valid choice, also cause 403 from the remote end, when using signed requests towards AWS ElasticSearch domains.

Why is it a valid choice? To reduce DNS load in busy clusters as described here: https://medium.com/cloutive/production-ready-eks-coredns-configuration-6fea830606f8 - Solution 3

Should I create a separate issue? @ruflin

[2022-06-15 06:20] ruflin commented on #1777
@jhuebner79 What is your preferred solution here?

[2022-06-15 07:43] jhuebner79 commented on #1777
I'd be the happiest if Elastica stripped the trailing dot during building the signed request, hoping it'll fix the issue. We strongly suspect this to be the reason for the 403s we see when using the trailing dot in the hostname given to Elastica.

[2022-06-15 12:59] jhuebner79 commented on #1777
It would also be good to just have this confirmed. When the only thing we change in our setup is the trailing dot in the hostname, we receive "The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details.".

[2022-06-19 09:48] franmomu opened #2079 "Strict types in next major version?"
Analyzing the code with PHPStan level to 5, there are about 656 errors and most of them (~95%) are like this:

[code]

because in `tests` when creating `Document`, it is used an `int` like:

[code]
and `Document` constructor has `string` has parameter type:

https://github.com/ruflin/Elastica/blob/682b78d775a2147eda66e8d12e56aa4db3b85809/src/Document.php#L36-L43

So should we ignore those errors?

[2022-06-20 08:52] ruflin commented on #2079
I think the following should stay valid:

[code]

I know it is not strict but it is one of these nice convenience things about script languages. What we send in the end to Elasticsearch is a string. But my biggest concern is breaking all the users that might use it today and force them to change the code. Is this really worth it? What if we modify to allow `int`?

[2022-06-20 09:13] franmomu commented on #2079
yep, I agree with that.

Yeah, adding `int` is ok to me, I'll create a PR after reaching level 4 👍

[2022-06-20 18:13] jhuebner79 commented on #1777
@ruflin I think these are two separate issues with a similar approach for a solution, yes. That's why I asked if I maybe better open another issue for what I see in the work environment I'm in. Both cases (slash and dot) would be solved if Elastica at some point would strip (maybe we call it sanitize instead of magic? :)) a trailing character in a string (uri, hostname).

@ruflin I think the error

[2022-06-21 06:09] franmomu commented on #2079
yeah, there are some other inconsistencies, we'll see them

[2022-06-23 11:57] jhuebner79 commented on #1777
I think so, @ruflin - sounds quite good. But: in the case of request signing it seems not sanitising is always wrong.

Remember, currently we have three cases we're talking about:

- slash in URI (what @BackEndTea reported), probably good to have sanitising flag here, maybe he can tell us more
- trailing dot in hostname during connecting to ElasticSearch domain (DNS lookup): never sanitise, can an

[2022-06-24 07:30] ruflin commented on #1777
For the dots, any chance you could open a PR with the proposed change? I'm ok to skip the config in a first iteration, I agree we likely don't need it.

@BackEndTea Let me know if the config flag for your scenario would work? Maybe also a PR would help here for the setting?

[2022-06-24 09:15] BackEndTea commented on #1777
Oof its been a while since i made this issue. Currently i'm not using Elastica (or Elasticsearch for that matter) anymore.

[2022-06-24 09:29] jhuebner79 commented on #1777
@ruflin I have no idea if I'm able to do that, would be my first look into the code altogether, and I'm more of a ops person. But I'll try, maybe with the help of a colleague.

[2022-06-27 09:54] jhuebner79 commented on #1777
@ruflin we prepared a pull request #2090 - maybe you can have a look at that.

While we were at it I noticed that `FROM php:7.2-fpm-alpine` in `docker/php/Dockerfile` prevents `make docker-run-phpcs` as described in CONRIBUTING.md from working. I tested with 7.4, phive did work afterwards. That's a new issue, I suppose?

Thanks for your time and attention! :)

[2022-06-28 06:11] ruflin commented on #1777
Thanks for taking a stab at it @jhuebner79 ! Left a comment / question there.

The Dockerfile seems indeed to be an other issue. Happy to discuss further in a separate issue or PR ;-)

[2022-06-30 10:35] guldil opened #2095 "migrate form version 6.X to 7.X ?"
Hello

We currently use elastica bundle in a Symfony 4.4 application with an ElasticSEach 6.8 cluster.
We want to upgrade to ElasticSearch Cluster 7.X.

Do we have to be synchronous to migrate between the two major versions?

Is it possible to use a 7.X version of the Elastica bundle to an ElasticSearch 6.8?

Thanks

Guldil

[2022-07-01 09:43] kissifrot opened #2097 "[DateHistogram] `interval` field is deprecated"
Hello,

`interval` field is deprecated in [7.x](https://www.elastic.co/guide/en/elasticsearch/reference/7.14/search-aggregations-bucket-datehistogram-aggregation.html#calendar_and_fixed_intervals) (in favor of `fixed_interval)` and was deleted in 8.x version of ElasticsSearch, would it be possible to replace it?

[2022-07-11 13:41] thePanz commented on #2079
Should we close this issue as PR #2093 has been merged?

[2022-07-18 14:18] #2079 closed

[2022-07-19 14:28] franmomu opened #2101 "Mark classes as final"
Thinking about `8.0` I think we should mark as many classes as possible with `@final` to let the user know that they will become `final` in `8.0`. This will ease the maintenance (reducing the number of possible BC breaks) and we can always revert this if there are valid use cases.

[2022-07-23 11:23] thePanz commented on #2097
Fixed in d4849e2

[2022-07-23 11:23] #2097 closed

[2022-08-11 08:56] ruflin commented on #2095
Unfortunately the answer is it depends. In many cases, it will just work, but it depends a bit on what deprecated features you use in 6.x and if some specific features that got removed in 7.x you use. I recommend you to have a very detailed look at the breaking changes in https://github.com/ruflin/Elastica/blob/master/CHANGELOG.md for all the 7.x releases.

If you have a chance of a snapshot or st

[2022-08-11 11:59] ruflin commented on #2101
I'm torn on this proposal. I see the benefit around maintenance. At the same time it removes flexibility. Every time someone wants to extend a function / class we didn't expect to be extended for their own benefit, a new release is needed. Instead if we go with extendable by default, there is a risk that some changes on our end might break things for this users if we get more strict. We had recent

[2022-08-16 08:03] krasilnikovm opened #2114 "Get default values from index setting api"
### Problem:
I need to retrieve index settings like 'max_result_window' but in the response body default value is not returned, in order to fetch the default value need to add the include_default query param to /_setting request.

### Suggestion:
We can add the ability to set flag include_default(or by default set to true?) and change the behavior of \Elastica\Index\Settings::get method

1. search

[2022-08-16 08:04] krasilnikovm commented on #2114
What do think about this? is it will be useful for this lib?

[2022-08-16 09:13] krasilnikovm commented on #2114
I have prepared PR: https://github.com/ruflin/Elastica/pull/2115

[2022-08-25 07:39] rudak opened #2116 "the doc is more than outdated"
I discover elasticsearch and ruflin, it's great but it seems that the doc is far from being up to date, which really complicates things. Is it planned that someone modify a little the few examples proposed?

[code]
some of these classes are only mentioned in changelogs older than 10 years but are not available for use or deprecated so i think we should clean up a little bit. :)
that would be great

[2022-08-26 03:54] ruflin commented on #2116
Hi @rudak Unfortunately you are right and the docs have had very little attention over the past few years :-( I was debating with myself if it would maybe even better to take it down instead of having outdated docs. All the docs are here in this github repo: https://github.com/ruflin/elastica.io Any chance you are interested to do a quick cleanup with a PR so we can update at least the worst parts

[2022-08-27 12:03] guldil commented on #2095
Thanks @ruflin  we'll try this :)

[2022-08-29 06:51] rudak commented on #2116
Yes @ruflin , it's a possibility. I'll try to see what I can change when I'm more sure of what I'm doing. Little by little, we should be able to put it back together. see you soon

[2022-08-29 06:51] #2116 closed

[2022-08-29 08:13] ruflin commented on #2116
Great to hear @rudak Thanks!

[2022-10-17 17:56] benr77 opened #2122 "Parse error with T_PAAMAYIM_NEKUDOTAYIM"
I'm getting a parse error on what seems to be valid code.  (version 7.2)

The error is shown when I run composer-require-checker (see https://github.com/maglnet/ComposerRequireChecker/issues/357), but eval'ing the code also results in a parse error.

See https://3v4l.org/6UpX2

[code]

And the parse error is:

[code]

I'm running PHP 8.1 on linux.

Thanks

[2022-10-17 18:02] deguif commented on #2122
@benr77 you should not use `Match` class on PHP > 8.0 as `match` is become a reserved keywork. That's why `MatchQuery` was introduced. Use this one instead.

[2022-10-17 18:07] deguif commented on #2114
Closing as this merged.

[2022-10-17 18:07] #2114 closed

[2022-10-17 22:27] SvenRtbg commented on #2122
@deguif You mean this code? https://github.com/ruflin/Elastica/blob/7.2.0/src/Query/Match.php

[2022-10-18 00:51] deguif commented on #2122
I mean, use this one instead: https://github.com/ruflin/Elastica/blob/master/src/Query/MatchQuery.php
It's the same without the issue you're having as the class name is not reserved keyword.

[2022-10-18 02:48] benr77 commented on #2122
I understand to use `MatchQuery` instead of `Match` on PHP > 8.0.

The problem is that the code is being analysed by Composer Require Checker and this is causing a parse error.

I think if we just change `Match::class` to use the actual string `Elastica\Query\Match` it should be fine.

Is this an acceptable change?

[2022-10-18 04:43] deguif commented on #2122
You can try locally. But I think that will break with the class name too and we can't change the class name as it would break backward compatibility.

[2022-10-18 05:06] deguif commented on #2122
See this issue which is similar to yours https://github.com/maglnet/ComposerRequireChecker/issues/283
From what I understand there is no way to exclude some files/classes from analysis.
What's wrong with this tool is that it analyses every vendor files even if you're not using them in your project. Looking at the list of issues, there're quite some similar issues.

[2022-10-18 05:44] benr77 commented on #2122
Yes, I can see now. I will have to just run the tool with the `--ignore-parse-errors` option.

Thanks for your help!

[2022-10-18 05:44] #2122 closed

[2022-11-11 15:39] #1633 closed