[2017-02-14 11:39] ruflin commented on #1237
Lets continue in the following way:

* I will release 5.1.0 because it contains lots of cleanup which I think would be also nice to have for @ebernhardson
* I will create a branch 5.1-php55 from 5.1
* @ebernhardson Will open the needed PR's to make it compatible against this branch.
* If needed, I will tag 5.1.0-php55

This will break semversioning, but I hope people using 5.5 will anyways tag a s

[2017-02-14 12:28] ruflin commented on #1247
@iamfinky Which elasticsearch version are you using? Just want to make sure you use compatible versions.

[2017-02-15 10:02] ruflin commented on #1248
The problem is that currently there is not really pipeline support in Elastica and we should definitively add it.

As far as I can see, even though mapper attachment is deprecated, it should still work. At least it does in our tests: https://github.com/ruflin/Elastica/blob/4666078db27d2574171c9fe1bba5d7782b2ae7cf/test/lib/Elastica/Test/IndexTest.php#L215

[2017-02-16 12:05] ruflin commented on #1237
@ebernhardson The 5.1-php55 branch is available here: https://github.com/ruflin/elastica/tree/5.1-php55 Please open PR's to bring back PHP 5.5 against this one.

[2017-02-16 17:33] iamfinky commented on #1247
@ruflin So I'm using 2.3.1 - is this compatible with this version of Elastica?

Either way, it would be good to understand how these "filter contexts" are used.

[2017-02-17 07:17] ruflin commented on #1247
Yes, these version are compatible. What you can do is just create `Elastica/Query/BoolAnd()` and pass it to `setFilter` method.

[2017-02-17 14:37] #1184 closed

[2017-02-20 13:49] #457 closed

[2017-02-21 22:46] ebernhardson commented on #1237
Thanks for setting it up. I've put up a PR that alows the branch to operate against (only) php 5.5.

[2017-02-22 07:17] ruflin commented on #1237
@ebernhardson Thanks. I left some comments. I'm closing this thread as I think we managed to "fix" it.

[2017-02-22 07:17] #1237 closed

[2017-02-22 13:48] Tobion commented on #1247
Closing as the solution has been given.

[2017-02-22 13:48] #1247 closed

[2017-02-23 03:43] shiveshk opened #1256 "[range] query does not support [date] [index: story]"
Hello,

I'm tryning to use range filter in my query but I get this message :
[range] query does not support [date] [index: story] at C:\\xampp\\htdocs\\KonnecteZ\\vendor\\ruflin\\elastica\\lib\\Elastica\\Transport\\Http.php:170)"}

$qb = new \Elastica\QueryBuilder();
$query = new \Elastica\Query($qb->query()->range('systemCreatedAt', array('gt' => $fromDate)));
$query = new \Elastica\Query($qb->qu

[2017-02-24 12:19] aguvillalba opened #1257 "Bug: setting FieldParam in Match query after setting Field causes Illegal string offset 'boost'"
When you create a Match query like:
`$queryTemp = new Query\Match($field, $searchTerm);`
and later you want to set a boost for that field:
`$queryTemp->setFieldBoost($field, 2);`

You will get an "Illegal string offset 'boost'" because in the method Match::setFieldParam you have the following code:
[code]

So, the _params[$field] already exists, but is a string, not an array, so it's impossible to

[2017-02-27 11:19] ruflin commented on #1256
Which version of Elastica and Elasticsearch are you using? It seems more like you get an error from elasticsearch directly.

[2017-02-27 11:26] shiveshk commented on #1256
Sorry to bother you guys
problem is resolved, I was missing some basic think in writing query
You can close issue now.

On Mon, Feb 27, 2017 at 4:49 PM, Nicolas Ruflin <notifications@github.com>
wrote:

[2017-02-27 12:37] #1256 closed

[2017-03-02 17:18] ebernhardson opened #1260 "Tag a 5.1.0-php55 release"
It looks like packagist isn't picking up on the 5.1 php 5.5. branch, could we tag a 5.1.0-php55 release so packagist sees it?

[2017-03-02 19:17] z38 opened #1261 "Search::count() modifies query"
When calling `Elastica\Search::count($query)` with a `Elastica\Query`, the query gets modified. Specifically, the param `size` is set to zero.

Example:
[code]

I'm not sure whether this is the intended behavior, please feel free to close this issue in case it is expected to work like this.

[2017-03-03 16:12] ruflin commented on #1260
I pushed the `5.1.0-php55` tag here: https://github.com/ruflin/Elastica/tree/5.1.0-php55 I hope that works.

[2017-03-06 14:00] ruflin commented on #1261
I think the idea here was to set a default. Will it have any affect on your querey? Does it also reset if you set a size before?

[2017-03-06 21:33] z38 commented on #1261
As it's not documented, I didn't expect that the query gets modified and assumed it will be the same after counting. The param is set to `0` in every case.

I was trying to figure out if this should be fixed here or in FOSElasticaBundle (which is tracked in [#1215](https://github.com/FriendsOfSymfony/FOSElasticaBundle/issues/1215) now).

[2017-03-07 11:02] XWB commented on #1261
@z38 Everyone using Elastica could face this issue, not just `FOSElasticaBundle`.

[2017-03-07 11:02] XWB commented on #1261
https://github.com/ruflin/Elastica/pull/1264

[2017-03-09 09:36] Zyqsempai opened #1266 "Query "exists" in Latest not supported"
Hi there, i got this error "query exists in Latest not supported",  from here  https://github.com/ruflin/Elastica/blob/master/lib/Elastica/QueryBuilder/Facade.php#L55 ,but real cause lays here https://github.com/ruflin/Elastica/blob/master/lib/Elastica/QueryBuilder/Version/Version240.php#L15 few methods from Query are missing in $queries array.
We have few ways to solve this problem.
1)First and e

[2017-03-09 10:01] erichard commented on #944
Hello there, I'm using the official elasticsearch-php SDK but I lack elastica feature like fluent builder.
Are you still working on this ? What is missing to move on ?

[2017-03-11 16:50] ruflin commented on #1266
We should probably take a more general look at this problem as the query builder is kind of unmaintained. As Elastica and ES are now in sync again related to versions I'm not sure if it makes sense to keep the "Version" feature in place but only support the version it is for and remove all other methods. I remember @Tobion also had some thoughts about this.

If we need a quick solution, we should

[2017-03-11 16:52] ruflin commented on #944
@erichard That is the definitively still on the to do list. The main thing that is missing for the move is the time to do it :-) We had a few PR's in the past but they were never fully completed. So if someone else has time to put some brain power into how to do this best, that would be really helpful.

[2017-03-12 16:58] Tobion commented on #1266
I'd prefer to deprecate the QueryBuilder as it's intention to support many ES version within Elastica is not how Elastica is maintained at the moment.
Also a QueryBuilder is usually there to build a query with a fluent interface and with a shorter notation like in Doctrine. But the elastica queries already have a fluent interface themselves and there is nothing to shorten. So using the QueryBuilde

[2017-03-12 16:59] Tobion commented on #1159
Closing for the reasons given by @ruflin

[2017-03-12 16:59] #1159 closed

[2017-03-12 17:22] Tobion commented on #1098
Closing as this issue is not about Elastica.

[2017-03-12 17:22] #1098 closed

[2017-03-12 17:27] Tobion commented on #1187
Closing as the query builder does not set filters at all as pointed out by @p365labs

[2017-03-12 17:27] #1187 closed

[2017-03-12 17:44] Tobion commented on #1240
Closing as not related to Elastica. Otherwise please give reproducible steps.

[2017-03-12 17:44] #1240 closed

[2017-03-12 17:57] Tobion commented on #1087
Closing because this has been fixed with https://github.com/ruflin/Elastica/commit/9465a9111275df3d6dc31b1da63614d9edddddae#diff-224448d8b4c503195ecc00695250a1c4

[2017-03-12 17:57] #1087 closed

[2017-03-12 18:25] Tobion commented on #1001
Closing as the problem has been sorted out and the fusion of filters and queries is complete.

[2017-03-12 18:25] #1001 closed

[2017-03-12 18:45] Tobion commented on #883
Closing as this is fixed since https://github.com/ruflin/Elastica/commit/87b6c3a940d226d7ec65e99e16f027fb0f6aee88#diff-a969b7352ce43aa7d58ef68342c015c6

[2017-03-12 18:45] #883 closed

[2017-03-13 07:36] Zyqsempai commented on #1266
@ruflin I have an opposite position, i always use QueryBuilder, one of the main reason, is what @Tobion mentioned above, it's really cool to have same interfaces for DB and ES queries, and our current QB really have many common things with Doctrine QB and it's really safe for team and project to have such a simplicity, i can be sure that some one new for ES have an intuitive way to edit and create

[2017-03-13 11:04] Tobion commented on #1234
@chriskicker can you create a PR please?

[2017-03-13 11:05] Tobion commented on #1156
Closing. Please open a PR if you want to move forward with this.

[2017-03-13 11:05] #1156 closed

[2017-03-14 10:36] Zyqsempai commented on #1266
There are no response from you guys, so i will make simple PR with actions from step (1), that will "relieve tension" for some time.

[2017-03-14 19:42] Tobion commented on #1123
The headers are usually empty as long as you don't add custom ones. But normally it doesn't cause a problem.

@Antoniossss What CURL, PHP and OS version did the empty headers cause a problem with? Is this still relevant for you?

[2017-03-14 23:13] Antoniossss commented on #1123
As far as i recall we ended up half a year ago with php and modules update
so it is not relevant anymore. Thank you for your time and keep up the good
work!

14.03.2017 20:42 "Tobias Schultze" <notifications@github.com> napisał(a):

[2017-03-14 23:51] #1123 closed

[2017-03-14 23:55] Tobion commented on #991
Closing because the query exists now https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Query/Indices.php but is deprecated since ES 5 anyway.

[2017-03-14 23:55] #991 closed

[2017-03-15 00:30] Tobion commented on #1019
I think this can be closed as there is `getFullError` now.

[2017-03-15 01:08] Tobion commented on #776
Closing as a ScriptId class exists now.

[2017-03-15 01:08] #776 closed

[2017-03-15 10:46] cobak78 opened #1270 "Add Geo bounds aggregation feature"
First, thank for an awesome library.

Looking for new features to add on my api, I can't find the geo bound aggregation inside metric aggregations. As elasticsearch explains here. https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-geobounds-aggregation.html

It's something to be expected on the library roadmap?

Thanks

[2017-03-15 16:55] #1130 closed

[2017-03-15 16:58] ruflin commented on #1266
Looking at your examples above I agree that we should keep the query builder, but clean it up. We must make sure it is also tested to if we change things they don't break.

@Zyqsempai Will merge PR #1269 and looking forward to more contributions related to QB ;-)

[2017-03-15 17:24] #715 closed

[2017-03-15 21:59] #1046 closed

[2017-03-16 13:19] Tobion commented on #945
There are alot more ways to set the location. One of it is for example

[code]

which should be supported as well.

[2017-03-16 15:45] Tobion commented on #1266
The query builder example you gave

[code]

translates to without the query builder:

[code]

So instead of calling a method you just instantiate a class. It's even shorter. The query builder doesn't add any value.

[2017-03-16 20:43] Tobion commented on #1266
Having multiple choices without any difference is bad. Bad to maintain, bad to document, bad for consistency, bad for learning. You said yourself you don't know the other style, which shows exactly the problems.

[2017-03-16 21:11] Zyqsempai commented on #1266
Sorry, but who and why decided that query builder is a bad practice, for me it's a very good example of incapsulation in right way and in right place, don't forget that Doctrine keep it in that way, and you don't say that Ocramius is wrong here, for me your style are very primitive and not intuitive for new users, but i don't try to convince you, so and you just try to think a little bit different

[2017-03-16 23:30] JWZH opened #1274 "2.1.0 release does not have `test` folder."
I downloaded version [2.1.0](https://github.com/ruflin/Elastica/archive/2.1.0.tar.gz) and this is the directory structure:
[code]
There is not `test` folder in the root directory and this seems inconsistent with the `autoload` in  `composer.json`
[code]
Is is possible the `composer.json` be updated or the `test` folder be added ?

[2017-03-17 08:13] shandyDev commented on #1266
I agree with @Tobion that it is necessary to further maintenance & support on which need additional efforts. But @Zyqsempai also right - it is great, provide additional choose for developers. For example, code above with "new" (imagine that this is a class method) can not mocking normally and therefore hard testing because of hardcoded dependencies. And querybuilder methods can mock with return mo

[2017-03-17 08:40] ruflin commented on #1019
@Tobion My idea here was, that `getFullError` does potentially not only return an array, but an object which can be further inspected.

[2017-03-17 09:02] ruflin commented on #1270
Closing as https://github.com/ruflin/Elastica/pull/1271 was merged.

[2017-03-17 09:02] #1270 closed

[2017-03-17 09:29] Tobion commented on #1019
I see, but the errors are nested and the error response structure is not always the same. So it might be hard to find a common object for this.

[2017-03-17 09:31] Tobion commented on #1266
Why would you want to mock the query? You mock requests and responses, but never queries.

[2017-03-17 09:51] ruflin commented on #1019
I never dived into it to see if it is possible. Also not sure if there is a benefit ...

[2017-03-17 10:00] ruflin commented on #1266
Let's make sure we do not discuss in this thread about good or bad coding practices because that is something which each engineer has its own perspective on. There are quite a few users out there which use the query build which is great. They way I personally position the query builder is for people that know the json representation in ES of a query and want to quickly write it in php (kind of).

[2017-03-17 14:07] ruflin commented on #1274
This was solved in later versions by moving tests under `autoload-dev`: https://github.com/ruflin/Elastica/blob/2.3.1/composer.json#L33 2.1.0 is quite an old version. I would recommend you to update to a more recent 2.x version.

[2017-03-20 11:01] #1234 closed

[2017-03-21 08:26] ruflin commented on #944
We now have Elastica depending on the official client: https://github.com/ruflin/Elastica/pull/1275 It is only a first step to make the functionality available but this will now allow us to iterate on top of it.

[2017-03-21 09:43] #1261 closed

[2017-03-23 23:33] thaiphv commented on #1274
@ruflin, do later versions work with ES 1.5?

[2017-03-25 02:17] Tobion commented on #1274
Closing as this is expected. If you want to have the tests (to run unit tests in vendor library or whatever reason) you can install it with composer --prefer-source.

[2017-03-25 02:17] #1274 closed

[2017-03-25 02:18] Tobion commented on #1266
Closing as #1269 has been merged

[2017-03-25 02:18] #1266 closed

[2017-03-25 02:23] Tobion commented on #679
Closing as `Elastica\Query\Filtered` is not the right place to add sorting to.

[2017-03-25 02:23] #679 closed

[2017-03-25 02:34] Tobion commented on #664
Closing as wrapping queries in `\Elastica\Query` is currently the correct way to set the other params. We might think about merging \Elastica\Query and \Elastica\Search in a future major version so it feels less clumsy and nested.

[2017-03-25 02:34] #664 closed

[2017-03-25 17:32] daVinciCEB opened #1278 "Class Elastica\Client not found"
I'm trying to test the library to see if I can use it for my project. I just copied and pasted the code from the [Elastica Installation Page](http://elastica.io/getting-started/installation.html) to autoload the functions so that I could test it, but whenever I try to run my file it tells me that Elastica\Client class is not found.
I put in some echo's to try and find what is going wrong, and it l

[2017-03-27 08:36] ruflin commented on #1278
TBH I haven't checked the code on the Elastica for quite some time as nowadays most people use composer to install the dependency which does the magic for you. One thing I spotted above, is that you have `'/php_scripts/Elastica/'` but I think this should be `'/php_scripts/'`?

[2017-03-27 08:45] daVinciCEB commented on #1278
The reason I had `'/php_scripts/Elastica/'` is because it is supposed to point to the `lib` folder in your repository (so that the autoloader can then find the file paths and the classes correctly), and that is the path that points to it.

I actually was able to figure it out on my own, using composer and comparing the differences in the `git clone` installation and the composer installation. The

[2017-03-28 06:50] matak opened #1279 "how you can add aggregation of type sum_bucket? am i right that it is not possible?"
`
"sum_costs": {
      "sum_bucket": {
        "buckets_path": "per_month>per_month_costs"
      }
    }
`

[2017-03-28 14:12] ruflin commented on #1278
Got it. I kind of blindly assumed it fails because it cannot find the file. But it failed because of missing dependency. We definitively must update our docs. If you have time for a PR https://github.com/ruflin/elastica.io ... ;-)

Glad to hear you like the library.

I'm going to close the issue as I think it was resolved.

[2017-03-28 14:12] #1278 closed

[2017-03-28 23:19] daVinciCEB opened #1280 "Type->exists() not returning correct data"
I have a function that checks to see if a type exists in the index that I am creating. I have already created the type on my server, but when running `Type->exists()`, I am receiving false.

I checked the underlying code in the `exists()` function and tested it to see what the endpoint is returning, and it is returning a 404 not found, even though when I go to the type endpoint in the browser I ca

[2017-03-28 23:35] daVinciCEB commented on #1280
Side note, it looks like this is only happening on the `Type->exists()`, since I'm using `Index-exists()` and that seems to be fine.

[2017-03-29 06:55] ruflin commented on #1279
We currently don't have the `sum_bucket` aggregation as an object. You can always create a query / aggreation with a raw array object: http://elastica.io/example/raw-array-query.html

BTW: It is fairly easy to add a new aggregation. See https://github.com/ruflin/Elastica/tree/master/lib/Elastica/Aggregation for examples. Interested in opening a PR? :-)

[2017-03-29 07:10] matak commented on #1279
raw-array-query is fine, but it is not possible to combine it, if you build your query in functions, and query is quite complex you dont know exactly on which level you are, so it would helped me if i can insert raw array to the fluent structure if you understand?

PR? what does it mean?

[2017-03-29 08:42] ruflin commented on #1279
You should be able to add raw parts by using `setParams` or / and `setRawParams`, but I never tried to for this use case.

PR stands for Pull Request. You could fork the Elastica repository and open a Pull Request with this new feature.

[2017-03-29 10:14] matak commented on #1279
ok i will try PR, thanks

[2017-03-30 00:14] splitice commented on #746
We have hit this exact issue today :(

[2017-03-30 11:10] ruflin commented on #1280
Which version of Elastica and Elasticsearch are you using?

[2017-03-30 12:49] ruflin commented on #746
@splitice Could you share some more details. This issue is already more then 2 years old and quite a lot of changes happened since then. Which Elastica version are you using? Which ES version?

[2017-04-01 19:58] daVinciCEB commented on #1280
latest versions of both

[2017-04-02 17:39] veloper commented on #1055
Adding more info to what @Numkil said about setting default analyzers:

I found this SO question to be helpful: http://stackoverflow.com/questions/34894671/set-default-analyzer-of-index

[2017-04-03 09:05] vgaldikas commented on #1170
I would love to have a go at this. But I am new here. Any pointers where to begin? Maybe a link to pull request, that implements something similar to this, so I can analyze it?

[2017-04-03 19:56] ruflin commented on #1280
We have some tests for `exists()` here and they seem to be ok: https://github.com/ruflin/Elastica/blob/master/test/Elastica/TypeTest.php#L899 Can you be more precise which versions you are using. Latest changes on a daily base ;-)

[2017-04-03 20:04] ruflin commented on #1170
@vgaldikas There are already quite a few suggesters which can be found here: https://github.com/ruflin/Elastica/tree/master/lib/Elastica/Suggest Have a look at these and especially the Phrase one.

[2017-04-03 20:10] vgaldikas commented on #1170
The issue is not about suggester. I am aware of them, and I actually use it successfully. The issue is  about 'collate' functionality of Phrase suggester, I found a use case for it today at work, unfortunately Elastica does not provide API for it, and when I wrote the functionality as raw array, I got an exception saying it was not supported (I am not at work at the moment, so cannot provide the a

[2017-04-03 20:14] ruflin commented on #1170
I think what you need is to extend the Phrase suggester as you mentioned yourself: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Suggest/Phrase.php I haven't checked it in detail but it something like `setCollate($query AbstractQuery) { ... }` should get you started adding it to Elastica itself.

Curious to see what you tried and which errors you got.

[2017-04-03 20:40] vgaldikas commented on #1170
So at the moment my suggester works like so:
https://pastebin.com/WYbJEmAw

So the above works fine. Just one problem, is the suggestions contain phrases, which do not actually exist in the index. What I tried to do is:
https://pastebin.com/qhVxr83B

But as collate is not supported, I got the following exception:
Fatal error: Uncaught Elastica\Exception\ResponseException: suggester[phrase] doesn't

[2017-04-03 20:43] vgaldikas commented on #1170
Oh crap. I just realised something, now after reading my last comment. Had I not used array, but constructed the query, via Query object, it probably would of worked, right?

[2017-04-03 21:00] vgaldikas commented on #1170
https://pastebin.com/RFmyXqs9

it seems to be working like so.

Should there still be a way, to do it via something like, 'setCollate'?

[2017-04-04 14:52] ruflin commented on #1170
@vgaldikas I think it would definitively be nice to have something like `setCollate` to do this by passing a query to it. WDYT?

[2017-04-04 17:36] vgaldikas commented on #1170
@ruflin Yes I agree. Can I get a bit of guidance on how to develop. I forked and cloned your repository. I got the docker running. (https://pastebin.com/raw/zCrYzQcu). I can send request to elastic search, I can get into the shell via (make env-shell).

But now I am lost... how do I actually start editing and running the code? I suppose I should set up a test, and create a testing index, and make

[2017-04-04 21:56] daVinciCEB commented on #1280
Let me run some tests on it and see what it could be.

[2017-04-05 14:18] ruflin commented on #1170
I edit the code directly on my machine and then run `make test TEST=...`. See https://github.com/ruflin/Elastica/blob/master/Makefile#L67

You should first update the Phrase.php file and then add a test in the PhraseTest.php file. Best copy some code from existing functional tests.

[2017-04-05 21:20] vgaldikas commented on #1170
Whooray, I got it to work.

Please see the comment on this commit: 	1139b8f. I am not sure how to best go about one of the parts, see if you could point me in right direction, because I can't seem to find a way to create an inline query properly.

[2017-04-06 06:36] ruflin commented on #1170
@vgaldikas Could you open a PR? This makes it easier to review and comment.

I think you will need `AbstractQuery` instead of `Query` and then you can use `toArray()` on it. But easier to discuss on the PR when I see all changes together.

[2017-04-07 16:54] jimmykirk opened #1284 "Future Mode or something similar"
Does elastica currently have a feature similar to the official PHP client feature [future mode]?(https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/_future_mode.html#_future_mode)

[2017-04-08 19:12] rastafermo commented on #882
Sorry but I don't understand if this is solved or not. I have a similar problem and I can't find a solution. I've deployed a symfony project on heroku with an elasticsearch add-on up and running, but my symfony app could not resolve the host. Any hint?

[2017-04-10 15:24] matt360-biz opened #1285 "search term not searching in attachments_content field"
What should be the correct query to be able to search a term in in all fields, including document contents (attachments_content field)?

I was using this query, and it was able to search the term in titles of pages, content of pages and titles of documents. However it was not able to return results that had the search term in the contents of the documents. I thought using the '_all' would search a

[2017-04-13 10:53] ruflin commented on #1284
This is currently not supported in Elastica. The plan is that elastic will use php-elasticsearch on the transport layer, means as soon as this is the case this feature automatically is also available in Elastica.

[2017-04-13 10:58] ruflin commented on #882
What is the error you get? What is your config? Did you try add / remove `http://` etc?

[2017-04-13 11:17] mfn opened #1287 "Support for parent id query missing"
Docs: https://www.elastic.co/guide/en/elasticsearch/reference/5.3/query-dsl-parent-id-query.html

AFAICS there's nothing supporting this in Elastica.

E.g. `new ParentId(string $type, $id, bool $ignoreUnmapped = false)`

[2017-04-13 11:50] ruflin commented on #1285
For the _all it depends on your index mapping.

For the above you should probably set `minimum_should_match`: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-minimum-should-match.html Does it work if you use `must` for only the content?

[2017-04-17 13:19] ankahla opened #1288 "Query malformed when using addMust()"
Hi I am using `friendsofsymfony/elastica-bundle` witch use your bundle and I have errors since last week.
This is the error:

This is How I build my query
`$query->setQuery(
            $qb->query()->bool()->addMust([
                $qb->filter()->term(['type' => 'xx']),
            ])
        );`

To solve this problem I replaced `$qb->filter()->term(['type' => 'xx'])` by this `$qb->filter()->te

[2017-04-17 14:07] ankahla commented on #1288
It seems that I am using old version 2.2.1 by error

[2017-04-17 14:07] #1288 closed

[2017-04-18 14:21] ruflin commented on #1287
Yes, this query is currently missing. Interested to add is a contribution?

[2017-04-20 12:57] kdlug opened #1289 "Filter Query with Aggregation"
What is the best way to aggregate filtered query (perform an aggregation at the end of a search request, on filtered results) ? Since Elastica 5 Query class has only setPostFilter() method but in this case aggregations are performed before filtering.

[2017-04-21 16:44] radiocity opened #1290 "Compressor detection can only be called on some xcontent bytes or compressed xcontent bytes"
Getting exception `Error in one or more bulk request actions: index ... caused failed to parse` ,  reason `Compressor detection can only be called on some xcontent bytes or compressed xcontent bytes` with [ruflin/elastica:^5.2](https://github.com/ruflin/Elastica/commit/5244a6cfdf2caa48e710df1aba67de3081e94c92)
[code]

[2017-04-22 17:51] mhernik opened #1291 "Elastic response filtering"
Please add response filtering as described here
https://www.elastic.co/guide/en/elasticsearch/reference/current/common-options.html
I think it's only additional option in Serach class.

[2017-04-24 07:58] ruflin commented on #1289
You can always use `raw query` for that in Elastica: http://elastica.io/example/raw-array-query.html

But we should definitively add support for this on an "object" level in Elastica. Interested in opening a PR for it?

[2017-04-24 09:21] ruflin commented on #1290
* Which elasticsearch version are you using?
* What is the content of your `$row` variable?

[2017-04-24 19:26] ruflin commented on #1291
It should be possible to add `filter_path` to the valid options here: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Search.php#L280 This would allow to pass the `filter_path` through the `options` param in `search(..., ...)`. Interested to open a PR for it?

[2017-04-24 19:28] ruflin commented on #1291
@mhernik Awesome: https://github.com/ruflin/Elastica/pull/1292 Read the issue first before I saw the PR :-)

[2017-04-25 09:44] radiocity commented on #1290
Version is 5.3.0
Content during error:
[code]

[2017-04-25 12:53] radiocity commented on #1290
Oh.. Linux has same issue

[2017-04-25 14:13] radiocity commented on #1290
Raw request works fine...
[code]

[2017-04-26 10:29] radiocity commented on #1290
I`ve solved problem.
`$row` content should be:
[code]

[2017-04-26 13:01] ruflin commented on #1290
Glad you found a solution. Will close the issue. Please reopen if you think it is not closed.

[2017-04-26 13:01] #1290 closed

[2017-04-30 07:15] p365labs opened #1293 "Docker configuration update"
Update Docker to remove nginx from ruflin/ docker repository and use the official one from NGINX.
Update php7.1 target container from php:7.1-rc to php:7.1

[2017-04-30 18:03] nickygerritsen opened #1295 "[5.2] Index::setSettings broken?"
It seems that in 5.2+ `setSettings` on an `Index` is broken. It tries to set the settings on the whole cluster instead of only the index.

In 5.1 this still works.

If I take a short look at the code it seems `Elasticsearch\Endpoints\Cluster\Settings\Put` is the wrong class and we should use `Elasticsearch\Endpoints\Indices\Settings\Put` instead?

[2017-05-03 10:37] ruflin commented on #1295
@nickygerritsen Thanks for reporting. I think you are right. Could you open a PR with a bug fix?

@ewgRa FYI

[2017-05-03 21:31] ewgRa commented on #1295
@nickygerritsen I think you are right. Can you make pull request? It is trivial, and would be nice to cover this case by test.

[2017-05-04 05:33] nickygerritsen commented on #1295
On it!

[2017-05-04 08:14] Jan0707 commented on #1257
Just curios here, as I encountered the same issue. How did you solve it ?

[2017-05-05 13:02] #1295 closed

[2017-05-08 13:20] tastendruecker commented on #565
I just stumbled over this problem and would like to pick up the discussion again. I agree with rayward: As the result is the same, no exception should be thrown. My suggestion would be to remove the corresponding block.
@ruflin Would that be okay with you? Would you remove that code?

[2017-05-09 06:31] #1293 closed

[2017-05-09 09:37] ruflin commented on #565
I'm ok with changing it, but I would like to have still a way to identify if the doc was actually deleted or not. This could be through a bool or an int that is returned couting how many docs were deleted. Feel free to open a PR for further discussions.

[2017-05-09 16:20] matak commented on #882
remove http:// from the config is enough, this solves the problem, but the elastica library automatically add to the url address http at the begining, we can close this topic

maybe add this note to the documentation, that the url should be defined without http

[2017-05-10 14:10] Mikevandee opened #1300 "Close index"
Please use the _close endpoint for closing index.
https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-open-close.html

[2017-05-10 16:14] p365labs commented on #1300
@Mikevandee why are you thinking Elastica did not use that methods for opening and closing indices ?

Have a look here ***[Elastica\Index.php](https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Index.php#L360)***

[2017-05-11 08:51] Mikevandee commented on #1300
Sorry I had a miss match in elasticsearch version. And called _dissmis not _close.

[2017-05-11 08:51] #1300 closed

[2017-05-11 11:48] nomoa opened #1301 "Elastica should set the Content-Type header when sending json via Http"
Not setting `Content-Type` header in the request headers will now produce (elasticsearch 5.3) a deprecation warning in elastic logs.
I think that Elastica should set this header when sending json.
The deprecation warning is :
`[2017-05-11T13:40:27,556][WARN ][o.e.d.r.RestController   ] Content type detection for rest requests is deprecated. Specify the content type using the [Content-Type] header.

[2017-05-11 11:54] ruflin commented on #1301
@nomoa 200% agree. Could you open a PR for that?

[2017-05-12 06:16] #1301 closed

[2017-05-15 11:58] mtdavidson opened #1307 "Adjacency Matrix Aggregation"
I'm looking at doing a PR to add the [`Adjacency Matrix Aggregation`](https://www.elastic.co/guide/en/elasticsearch/reference/5.3/search-aggregations-bucket-adjacency-matrix-aggregation.html) introduced in 5.3. The library is currently targeted to do 5.2 so need to upgrade it to 5.3 before I can do this, happy to attempt a PR for this as well.

@ruflin Is there anything blocking upgrading the libr

[2017-05-16 06:43] ruflin commented on #1307
@mtdavidson Can't think of anything holding us back going to 5.3 or event 5.4. Perhaps you can do 2 PR's. One updating the docker images to 5.4 and an other one with the Matrix part. Like this we know in case things break with 5.4.

[2017-05-17 05:56] ivok opened #1310 "CrossIndex returns "cannot derive xcontent" if Bulk->getActions() is empty"
When trying to move documents from one index to other with CrossIndex objec, the Scroll makes a lot of chunks and the last one is always empty, with no results. Then on the Bulk object are added the actions but actualy there is no actions in Bulk and when it sends the request server returns "Cannot derive xcontent". I wrapped it with if statemend (if empty bulk->getActions) and it works. But cant

[2017-05-17 10:39] ruflin commented on #1310
Which elasticsearch version do you use? Which Elastica version? If you use version 5, I strongly recommend you to use the reindex api instead: https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html

You bring a good point, that now that we have reindex, this should be removed from Elastica.

[2017-05-17 11:14] ruflin opened #1311 "Deprecate and remove CrossIndex Feature"
Elasticsearch now supports reindex which makes the crossindex feature obsolote. The feature should be deprecated / removed and potential support for reindex on the elastica side should be added.

[2017-05-17 14:25] tastendruecker commented on #565
Isn't the returned $response object supposed to carry that information? (Please bare with me as I haven't much experience with Elastica. I just depend on using it within a project that had been designed before I entered the project team.)

[2017-05-18 08:22] ruflin commented on #565
@tastendruecker You are probably right. I'm not sure what the exact response will be. Can you open a PR? Then we can directly check it in the tests :-)

[2017-05-18 12:56] giovannialbero1992 commented on #1311
I'll do a PR on this in this days ! :)

[2017-05-19 11:55] xavividal commented on #472
Any news?

[2017-05-21 12:51] mzf opened #1314 "Composer fails, when updating to 5.2.0"
Cant update to 5.2 via composer
[code]

[2017-05-21 17:24] giovannialbero1992 commented on #1314
@mzf maybe you must add `--with-dependencies` like written into documentation [composer-update](https://getcomposer.org/doc/03-cli.md#update). Let me know :)

[2017-05-23 10:00] mzf commented on #1314
Thanks for advice! But it not helped me.
[code]

[2017-05-23 10:02] giovannialbero1992 commented on #1314
Which version of `ruflin/elastica` have you declared into composer json?

[2017-05-23 10:05] mzf commented on #1314
@giovannialbero1992 "ruflin/elastica": "5.*"

[2017-05-26 08:39] #1311 closed

[2017-05-29 13:23] alekitto opened #1316 "Missing support for span queries"
`span_*` queries are currently unimplemented in Elastica; this is evident looking into the QueryBuilder class which throw a `NotImplementedException` for every `span_` method.

Documentation on the span queries can be found here: https://www.elastic.co/guide/en/elasticsearch/reference/current/span-queries.html

[2017-06-01 00:07] ruflin commented on #1316
@alekitto Good point. Interested to do a contribution? :-D

[2017-06-01 15:14] p365labs commented on #1241
yep, @ruflin pr was https://github.com/ruflin/Elastica/pull/1243

[2017-06-01 15:59] alekitto commented on #1316
@ruflin I've submitted a WIP PR for this, i'll try to complete it during this weekend.

[2017-06-02 18:42] #1241 closed

[2017-06-02 18:42] ruflin commented on #1241
Thanks guys

[2017-06-07 07:20] mweibel opened #1322 "Reindex API allows more customizations than the Reindex class implements"
#1315 implemented the new reindex API but did so in a way that it's impossible to pass all possible options to the underlying API.
Just a few examples of what the API allows but the Elastica implementation doesn't:
- it allows to set query parameters (timeout, requests_per_second, wait_for_completion etc.)
- it allows to adjust the batch size by setting a size on the source
- it allows routing on

[2017-06-07 14:03] mfn commented on #1287
Fixed in https://github.com/ruflin/Elastica/pull/1308

Thanks 😄

[2017-06-07 14:03] #1287 closed

[2017-06-09 12:15] giovannialbero1992 commented on #1322
For the moment i've deprecated CrossIndex and implemented Reindex with same functionalities of CrossIndex (and little bit more). Sure we can implement in a next time more functionality.
if you want contribute with some PR you are welcome!

[2017-06-09 12:34] Nanocl opened #1326 "Problem mapping all parameters of a curl query to Elastica"
I've the following query:

{
    "query": {
        "bool": {
            "should": [
            {
                "match": {
                    "title": {
                        "type": "phrase_prefix",
                        "query": "{QUERY}",
                        "max_expansions": 50,
                        "operator":  "and",
                        "slop":  10,

[2017-06-12 09:59] ruflin commented on #1322
@mweibel Thanks for bring this up. I agree it's a bit bad that this will probably break BC. +1 on implementing it in a more "flexible way" and allowing `setParam` or `_setRawParam` to be used as for most other Elastica objects.

I'm ok with breaking this in a minor release as think the benefit will outweight the pain we will cause. But we will have to add a bold "remark" about it.

[2017-06-13 01:27] nbcp opened #1327 "Please add support for Script Based Sorting"
Please see [Script Based Sorting from Elastic](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-sort.html#_script_based_sorting) for reference.
I am using latest version but I'm having trouble how to get something similar below generated:
[code]

[2017-06-13 06:54] ruflin commented on #1326
Each query type should have the method `setParam(key, value)`. Could you try to use this?

[2017-06-14 12:58] ruflin commented on #1327
`Elastica/Query::setSort` should work for that. But you have to pass the full array to it. You could use some sub objects in your array for example for the line part I think. Haven't tried it.

[2017-06-16 05:09] helloakhilg opened #1328 "Not issue: I am looking to implement two functions."
Thanks for this plugin.
I am looking to implement two functions as:

1.  Sorting based on exact result
**Ex.** If somone search samsung s7 then i can get the result for both samsung & s7. I need to sort as samsung s7 should come first.

2. Search the nearest match or auto correct if spell mistake.

**Ex.** Lets say someone search **iphona** by mistake. So system can able to find iphone products

C

[2017-06-16 13:32] ruflin commented on #1328
I think you are looking for something like Fuzzy queries? https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-fuzzy-query.html If oyu know what queries your looking for in elasticsearch, using it in Elastica should be quite forward. Closing this as I think it's not Elastica related, but please feel free to open.

[2017-06-16 13:32] #1328 closed

[2017-06-25 11:43] Nanocl commented on #1326
That's not the best solution but it works and solves my problem. Thanks!

[2017-06-25 11:43] #1326 closed

[2017-06-27 04:59] Mbt21 opened #1329 "SetMinimunNumberShouldMatch ?"
I getting message this
Deprecated: Deprecated: Elastica\Query::setMinimumNumberShouldMatch() is deprecated and will be removed in further Elastica releases. Use Elastica\Query::setMinimumShouldMatch() instead. in/var/www/html/extensions/Elastica/vendor/ruflin/elastica/lib/Elastica/Query/BoolQuery.php on line 105

how to fixit?

[2017-06-27 08:35] ruflin commented on #1326
@Nanocl Happy to accept a PR to add support for SetSlop. Most of these functions are only nicer proxies for setParam(...).

[2017-06-27 08:43] ruflin commented on #1329
Not sure I can add anything to the above message? Did you switch the method? Or perhaps I miss the point?

[2017-06-27 11:31] Mbt21 commented on #1329
I don't know to fixed this problem, I already to instal on mediawiki see https://testwiki.wiki locate bug at searching page. What method do you mean?

[2017-06-27 12:11] ruflin commented on #1329
In the error you posted above it states:

So you should replace `setMinimumNumberShouldMatch` with `setMinimumShouldMatch`

[2017-06-27 12:30] Mbt21 commented on #1329
why you can't changed in this file so can't bug in other mediawiki Instalations?

[2017-06-28 20:33] PhilippeMenard commented on #1257
+1 I have the same problem.

[2017-06-29 12:36] Mbt21 commented on #1329
@ruflin where I can edit? I have some edit but error

[2017-06-29 12:40] Mbt21 commented on #1329
see this display bug https://testwiki.wiki/wiki/Special:Search/Elastic

[2017-06-29 15:14] ruflin commented on #1329
Ok, so you are using mediawiki. And mediawiki has Elastica as a dependency. It's up to mediawiki to switch to a newer dependency. The reason it is shown has to do with your `error_reporting` settings which you should adjust: http://php.net/manual/en/function.error-reporting.php Closing this as it is not an Elastica issue. But you can still continue the discussion if you have further questions.

[2017-06-29 15:14] #1329 closed

[2017-07-05 11:14] metamaker opened #1330 "no [query] registered for [numeric_range]"
ElasticSearch returns error "no [query] registered for [numeric_range]" when I execute

[code]

after building next query:

[code]

When I use `Query\Range` instead of `Query\NumericRange`, no error is being thrown.

Packages information:

[code]

[code]

[2017-07-05 16:23] mtdavidson commented on #1330
Pretty sure `numeric_range` was deprecated ages ago. Is there something that just using `range` is not accomplishing?

[2017-07-06 10:26] metamaker commented on #1330
Hi @mtdavidson,

NumericRange doesn't have any additional methods than Range (https://github.com/ruflin/Elastica/blob/1c49fd89e194eec5fdbd50c8d55e048278b2915d/lib/Elastica/Query/NumericRange.php)

[code]

*It is not marked as deprecated.* I expected that I could use it for numeric range query.

Likely not a big problem, but why to have this class in first place and confuse people?

[2017-07-06 12:55] mtdavidson commented on #1330
@metamaker Sorry should have been cleare I was saying I think its deprecated in elastic https://www.elastic.co/guide/en/elasticsearch/reference/0.90/query-dsl-numeric-range-filter.html might be its just not been updated / removed in the library.

[2017-07-06 14:09] ruflin commented on #1330
Yes, we should remove this from the lib. PR's are welcome ;-)

[2017-07-07 09:20] metamaker commented on #1330
Good, I will provide PR on evening.

[2017-07-07 19:10] metamaker commented on #1330
@ruflin, here is PR https://github.com/ruflin/Elastica/pull/1334

[2017-07-11 21:43] ryan-mchale opened #1335 "getErrorMessage logs "{$path} caused Array" to elasticsearch.log file"
I encountered this while debugging why some of my documents were not being indexed. When I checked the log/elasticsearch.log file, I found ~12000 of my documents had been logged with the following error:

[code]

This made debugging extremely difficult as the result of ``\Elastica\Bulk\Response::getError()`` is an array not a string. So I changed line 61 of ``\Elastica\Exception\Bulk\Response\Acti

[2017-07-13 09:57] ruflin commented on #1335
Which version of Elasitca are you using with which version of elasticsearch?

[2017-07-13 14:19] ryan-mchale commented on #1335
Elasticsearch version 2.0.

Elastica came with a Magento module for Elasticsearch made by [Bubble](https://www.bubbleshop.net/magento-elasticsearch.html#changelog). Looking through the actual Elastica files though I can't find a version number anywhere. The version of the Bubble module is 4.1.2.

[2017-07-13 14:37] metamaker commented on #1330
Solved by PR https://github.com/ruflin/Elastica/pull/1334

[2017-07-13 14:37] #1330 closed

[2017-07-14 13:06] ruflin commented on #1335
The reasons I'm asking is because this is a change which was made in ES. So if you use the wrong version of Elastica with elasticsearch, you will see the above error. I assume they are using an older version of Elastica.

[2017-07-31 03:31] #1316 closed

[2017-08-03 07:44] yashtodi94 opened #1342 "Javascript language plugin support deprecated in ES 5.0.0"
The elasticsearch javascript language plugin is deprecated. Should the `LANG_JS` constant be removed from 'library/Elastica/Script/AbstractScript.php' ?

Reference: https://www.elastic.co/guide/en/elasticsearch/plugins/current/lang-javascript.html

[2017-08-03 08:52] p365labs commented on #1342
yes the Javascript it's not the only scripting language deprecated in ES 5.x (groovy, etc); but these are deprecated and will be removed in the next major. The idea is to remove it in the 6.x release.

[2017-08-03 09:33] yashtodi94 commented on #1342
Oh ok. I suggested it because I struggled with it for an hour :)
This issue can be closed.

Just to satisfy my curiosity, whats the reason behind it being released in 6.x release? Is it to provide some kind of backward compatibility or something similar?

[2017-08-03 09:56] p365labs commented on #1342
Usually deprecating represent a warning to developers or users, that the functionality will be removed soon. It's a period of time the deprecated functionalities still work, which allow developers to migrate to the new one (in this specific example migrate to the *painless* scripting language). That's the reason why LANG_JS is still in the current Elastica Release.

you can find some references he

[2017-08-05 13:46] teodorpav commented on #1240
Hi, please explain how connect back to HTTP?

'I figure out how to set the PHP connection to Elasticsearch back to HTTP, I will try again.'

[2017-08-07 10:03] p365labs commented on #1342
@ruflin  this isssue can be closed

[2017-08-07 11:37] ruflin commented on #1342
@p365labs Thanks. As these were removed in 6.0 I think we should remove them from the code base as the next release of master is probably going to be 6.0. WDYT?

[2017-08-07 11:37] #1342 closed

[2017-08-07 11:41] p365labs commented on #1342
hi @ruflin, yes LGTM ! I'm would like to have a test environment to tests es5 indices against ES6.0 (cause 6.0 still mantain compatibility with ES 5.0 multiple type indices....). From the 7.0 the will drop support for this kind of indices. So at the momento I'm trying to update the tests environment to test it against 5.0 indices even with ES5 and ES6 and I would like to push it on the same branch

[2017-08-07 14:08] aguvillalba opened #1343 "Version 5.x compatible with ES 2.4.x?"
Hi,
Is Elastica v5.x compatible with ES 2.4.x? Because I'm trying to run Elastica 3.2.3 under PHP 7 but there some issues with it.

Thanks in advance.

[2017-08-07 14:58] p365labs commented on #1343
There are a lot of BC breaks on Elastica 5.x. In order to use it u should upgrade Elasticsearch 5.x.
Have a look [here](http://elastica.io/2016/11/09/release-5-dot-0-0-beta1/) you could also check the [official blog post](https://www.elastic.co/blog/elasticsearch-5-0-0-released)from elastic.co

[2017-08-08 07:52] pjarmalavicius opened #1344 "php 7 support"
Would it work with php 7?

[2017-08-08 07:56] #1344 closed

[2017-08-08 07:56] pjarmalavicius commented on #1344
My bad

[2017-08-08 19:03] ruflin commented on #1342
Curious to see what you are up to. The part I worry is that this could make our test suite quite a bit more complex. It would mean you have to create 5.x indices and then upgrade to 6.0.

[2017-08-08 20:43] p365labs commented on #1342
ur right! For the moment I'm just trying to understand which level of compatibility have 5.x indices with 6.x and +;

The idea for the moment is to execute tests on a ES5.0 cluster snapshotting that indices and restore on a 6.0-beta1 cluster and execute the tests again.

Maybe could be a good point for start an issue and prepare some tasks to reach 6.x release.

[2017-08-09 14:18] dabroek commented on #1248
Instead of calling `addDocuments` on the client directly, I've solved this by setting a request param on a `Bulk` request:

[code]

[2017-08-10 06:37] osnard commented on #1248
This sounds like a nice workaround. Thanks for sharing!

[2017-08-10 07:37] ruflin commented on #1342
In general 5.x indices are compatible to be migrated to 6.x but all indices created on 6.x will only support 6.x feature for example like no types. Agree to move this discussion to #1340 and create a separate github issue on what needs to be done.

[2017-08-10 16:08] p365labs opened #1345 "Upgrade to Elasticsearch 6.0"
This issue is to track the open tasks to make Elastica fully compatible with elasticsearch 6.0.
Elasticsearch introduces many [breaking changes](https://www.elastic.co/guide/en/elasticsearch/reference/master/breaking-changes-6.0.html) follow a list of things I discovered with 6.0.
I think we should start from here, I've tried to replicate the same issue we created for ES5 upgrade.
We should merge

[2017-08-11 09:13] ruflin commented on #1345
LGTM 👍

[2017-08-11 09:37] p365labs commented on #1345
great! so if we merge the #1340 then we can start creating PRs

[2017-08-11 10:31] ruflin commented on #1345
Done, see my comments there.

[2017-08-21 10:29] p365labs commented on #1345
@ruflin Hi, I will take this week to solve the 70% of tests skipping related to Type BC on Elasticsearch 6.0 (only 1 type per indices).  Just a note to take it in mind  (and maybe to add in the task list): the guys of elasticsearch/elasticsearch-php are updating their code in the dev-master in order to make it pass tests on ES 6.0. After their rework maybe something should be updated also in Elast

[2017-08-21 10:57] ruflin commented on #1345
@p365labs Thanks for all the work on this so far.

* We definitively have to update to the most recent version of elasticsearch-php as soon as the changes are in from @polyfractal I don't expect anything major to break on our side.
* We should also drop support for 5.x especially as we rely on the official client. I see Elastic in the future mainly as a high level client which is on top of the off

[2017-08-21 11:04] p365labs commented on #1345
@ruflin
- I'll make some tests with the new elasticsearch-php client
- I agree with you, in order to move in the same direction of the elasticaserch-php client we should drop support for php 5.x

[2017-08-21 13:52] polyfractal commented on #1345
Hey all :)

Sorry for the delay on the 6.0 release, ran into a few unexpected problems (both in ES-PHP and upstream in core).  I'm hoping to have the tests passing again today or tomorrow, followed quickly by a release so you all can start working on a tagged release instead of dev-master.

I don't expect any of it to impact Elastica, the changes have been mostly test cleanup and getting Travis to

[2017-08-22 07:17] ruflin commented on #1345
@p365labs Agree on working with `dev-master`. I was even thinking of making that default in the master branch. The only problem it will cause is that I will have to start with release branches. Nothing really bad but I like the lean release process I have now :-) In any case, that is a decision we can make later. Lets switch it to `dev-master`.

[2017-08-22 07:21] p365labs commented on #1345
@ruflin I agree with you I think for the moment we can use this flow. This is something we can start thinking after we have released a stable version for ES 6.0.

[2017-08-22 07:44] p365labs commented on #1345
@ruflin PR #1356 switch to dev-master and drop php5 support ready :)

[2017-08-22 12:00] yehosef opened #1357 "link to examples on elastica.io is incorrect"
points to https://github.com/ruflin/Elastica/tree/master/test/lib/Elastica/Test
which is a 404

[2017-08-22 15:45] polyfractal commented on #1345
Just FYI, I cut a 6.0 branch and tagged `v6.0.0-beta1` (https://github.com/elastic/elasticsearch-php/tree/v6.0.0-beta1) if you want to use that.  I don't really expect anything to change before `v6.0.0`, but figured a beta would be a good idea in case you turn up anything broken during the integration and before Elasticsearch 6.0 is GA. :)

At some point I have plans to default ES-PHP `dev-master`

[2017-08-22 16:01] p365labs commented on #1345
Thanks @polyfractal we already have a PR that switch to dev-master of es-php. We can also switch it to beta1 branch. Thanks a lot!

[2017-08-23 08:53] ruflin commented on #1357
Where did you find this link?

[2017-08-23 09:21] p365labs opened #1359 "Setting option in Search.php is ignored"
I create a test search to inspect a problem and setting a search with this option :

`$index->search($query, ['search_type' => 'dfs_query_then_fetch']);`
the query with curl set in verbose mode shows it correctly in the query string

`/elastica_elasticatestqueryboostingtestdeebfa/_search?search_type=dfs_query_then_fetch`

but ES logs shows this

`search_type[QUERY_THEN_FETCH]` instead of `search_t

[2017-08-23 10:17] yehosef commented on #1357
sorry for not including it.  From

http://elastica.io/examples/

I click on the link test suite of Elastica
<https://github.com/ruflin/Elastica/tree/master/test/lib/Elastica/Test> which
takes me to

https://github.com/ruflin/Elastica/tree/master/test/lib/Elastica/Test

when it seems it should take me to

https://github.com/ruflin/Elastica/tree/master/test/Elastica

Thanks again for the lib - it's

[2017-08-23 13:45] ruflin commented on #1359
Did you try to run the query manually against ES and check what the log output is?

[2017-08-23 13:47] ruflin commented on #1357
Ah, got it: The link has changed to: https://github.com/ruflin/Elastica/tree/master/test/Elastica

This is the file that would need fixing: https://github.com/ruflin/Elastica.io/blob/master/source/examples/index.markdown

[2017-08-23 14:15] p365labs commented on #1359
yes if I execute the query with a curl

[code]

enabling logs on ES returns
**search_type[DFS_QUERY_THEN_FETCH]**

executing a search in Elastica like this one

`$response = $this->_getTestIndex()->search($query, ['search_type' => 'dfs_query_then_fetch' ]);`

ES output log is

**search_type[QUERY_THEN_FETCH]**

and if I try to debug the HTTP Transport (enabling VERBOSE on CURL) the querystring is

[2017-08-24 07:54] ruflin commented on #1359
Thanks for all the details. Will let you know if I find time to also dig into this.

[2017-08-31 06:51] p365labs commented on #1345
we have now 37~ tests skipped, most of them are related to the change with JOIN FIELDS. I'll work this week on it :)

[2017-08-31 07:10] ruflin commented on #1345
That is great. Really appreciate all the work you put in this so far and the very high quality of your PR's. My main job is hitting merge :-)

[2017-08-31 17:53] p365labs commented on #1345
Thx @ruflin a lot of fun here :)

[2017-09-06 04:46] p365labs commented on #1345
I'm working at the moment on "Implement tests for ingest-attachment plugin" it will take a bit as now attachment are managed by Ingest Pipelines, which are not implemented in Elastica, so I need to implement it first and the attachment one.

[2017-09-06 09:26] matigda opened #1371 "Can't update document with upsert when it doesn't exist"
I've been looking for similar issue or test in library but couldn't find it.
I actually used code from here:
http://elastica.io/migration/0.90.2/upsert.html but mine looks like that:

      $script = new Script('ctx._source.sizes.addAll(['XL', 'S']);');
      $script->setUpsert([ 'sizes' => ['L'] ]);
      $script->setId(3);

      $this->type->updateDocument($script);

and I'm getting error from

[2017-09-07 19:32] ruflin commented on #1371
Which Elastica and Elasticsearch version are you using?

[2017-09-08 07:50] #1371 closed

[2017-09-08 07:51] matigda commented on #1371
I installed FOS with "composer require" and assumed that version 5.x will be downloaded automatically, but it's 4.x version. Thank you and sorry for the trouble ;-)

[2017-09-08 09:53] p365labs commented on #1345
@ruflin I added Pipeline and Processors as we need it in order to implement and test the ingest-attachment plugin.

[2017-09-13 09:53] ruflin commented on #1345
Looking at the still skipped tests it seems that most of them are related to using more then 1 type in the tests: https://travis-ci.org/ruflin/Elastica/jobs/274954547 Based on this my assumption is that the code base itself is fully compatible with ES 6.0 but our tests are not fully up-to-date.

[2017-09-13 10:40] p365labs commented on #1345
Yes that is true, but not completely :

the failing tests are related to two main problems :

- the new ingest-attachment plugin did not use an attachment field on an index but uses a Processor in a pipeline. So 4 tests in **IndexTest.class** should be removed and must implement the flow with the attachment processor, which now exists (that's why I did not implement a functional test on that proce

[2017-09-13 16:47] 1ed opened #1374 "BC breaks in minor releases"
If "This project adheres to Semantic Versioning." as it's said in the changelog, then it should not break BC in minor releases.

[2017-09-13 19:12] p365labs commented on #1374
Hi @1ed can u explain better what do u mean and of what bc in minor are you talking about ? Tnx a lot!

[2017-09-14 16:05] p365labs commented on #1345
Only join fields need to be implemented to make all tests pass.

[2017-09-18 12:31] kukulich opened #1377 "Bug with PHP 7.2"
`Warning: count(): Parameter must be an array or an object that implements Countable` in https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Query.php#L333

[2017-09-18 12:59] p365labs commented on #1377
can you show us the code that generate this error ?

[2017-09-19 13:25] kukulich commented on #1377
The bug is here: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Query.php#L425

`Elastica\Query\AbstractQuery` doesn't implement `Countable`.

[2017-09-20 09:46] p365labs commented on #1377
I confirm that @kukulich is right.
PHP 7.2 change a bit [count() function](https://github.com/php/php-src/blob/php-7.2.0RC2/UPGRADING) (search for Countable).

```count() now raises a warning when an invalid parameter is passed. Only arrays and objects implementing the Countable interface should be passed.```

I think could it be useful having a PR ready to be merged when PHP 7.2 will be released,

[2017-09-20 10:49] ruflin commented on #1377
@kukulich Thanks for reporting. Always good to have people testing early with future versions.

I'm ok with getting a fix in before GA is out as I assume it will not be a breaking change?

@p365labs Thanks for starting the work on this.

[2017-09-22 10:22] osavchenko opened #1379 "Bug in min_doc_count"
In [this lines of code](https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Aggregation/AbstractTermsAggregation.php#L16-L19) we can assign string value to `min_doc_count` and get elastic error. Should we convert value to int here?

[2017-09-22 10:55] p365labs commented on #1379
ok but phpdoc is clear *@param int $count*
as the code previously supported php 5.x this was the only way.
Anyway I think u got the point , but if we want to follow that path,
considering that we have now switched to php 7.0+, it would be really
interesting moving to strict type hinting.

I already discuss that in another
Pr or Issue with @ruflin. My suggestion is the same. Let's have a minimum ve

[2017-09-22 10:58] osavchenko commented on #1379
Yes, strict type it's the best way. I'll update my PR, thank you

[2017-09-29 16:40] bkvaiude opened #1381 "Simple scan and scroll example"
Hello,

I need a help to implement scroll functionality, but it seems [API doc](http://elastica.io/getting-started/search-documents.html) is out dated.

I have tried following approach with given code, it didn't workout

[code]

## My code

[code]

Can you please help with sample code?

[2017-09-29 20:08] bkvaiude commented on #1381
Got one [sample](https://github.com/ruflin/Elastica/blob/master/test/Elastica/ScrollTest.php).
Thanks for the test cases! :+1:

[2017-09-29 20:08] #1381 closed

[2017-10-03 20:05] ruflin commented on #1345
@p365labs With the last PR closed, it seems we can close this one?

[2017-10-03 20:16] p365labs commented on #1345
Hi the tests are fixed right now. Yes we can close this one, now we should wait for elasticsearch-php to release a stable version and check if everything works. What about linting and releasing a beta version of Elastica 6 ?

[2017-10-03 20:19] ruflin commented on #1345
@p365labs Was thinking the same. But I need to check with @polyfractal if he plans any prerelease like a beta1?

[2017-10-04 09:12] p365labs commented on #1345
@ruflin ok, we are already using a beta1 pre-release of elasticsearch-php client :)

```"elasticsearch/elasticsearch": "6.0.0-beta1"```

[2017-10-04 09:29] ruflin commented on #1345
Ah yeah, missed that. I suggest we do then a 6.0.0-beta1 release? Any other PR's we should urgently get in?

[2017-10-04 09:42] p365labs commented on #1345
completely agree !
The only pr pending for me valuable could be the one for php 7.2.. but it's still in WIP and more than this PHP 7.2 is planned to be released on November the 30rd; so I will release the beta1 first.
Eventually we will release a new beta. It is just to release a beta1 and having a version available.
What do u think @ruflin ?

[2017-10-04 09:45] ruflin commented on #1345
Agree. The 7.2 would be nice to have in but before or after beta1 does not really matter. Will try to find some time to push a beta1 release today/tomorrow.

[2017-10-06 12:59] ruflin commented on #1345
Closing this issue based on the above comments. Release is out: http://elastica.io/2017/10/05/release-6-dot-0-0-beta1/

[2017-10-07 05:54] #1345 closed

[2017-10-09 23:32] p365labs commented on #1374
not sure but I think we can close this.

[2017-10-09 23:53] #1357 closed

[2017-10-10 06:16] 1ed commented on #1374
From the changelog:

[code]
If this project adheres to Semantic Versioning these BC breaks should only happen in major releases. If not, then the users of this library are prevented to use permissive version constraints and are in danger of version lock (or at least it is very hard to support multiple versions).

[2017-10-10 08:31] ruflin commented on #1374
If we do BC breaks in Minors, there is normally a good reason for it. For example for #1334 this was deprecated since 0.90 in elasticsearch and removed in 5.0. As Elastica states it's only compatible with 5.0 it was more an oversight to have the function still in. So this only broke code if someone used Elastica with an unsupported version of Elasticsearch as with 5.x this would not work from the

[2017-10-10 21:51] merk commented on #1374
But why are you tying Elastica releases to ES versions? Theres no need for it? You'd simply have to publish your supported ES version range in README.md and when you decide to drop support for a specific ES version you can just bump a major.

You may have discussed this at some point recently and sorry if its already been debated to death :)

[2017-10-11 05:16] p365labs commented on #1374
In my opinion I prefer having Elastica tyed to Elasticsearch, as Elasticsearch-php client do, this way users should have less problem in terms of understanding compatibility. The only thing I would consider would be to apply hotfixes, security patches, etc, to old releases.

[2017-10-11 08:21] 1ed commented on #1374
I think, that is not a choice. There are rules, if we do not respect the rules we should not advertise to follow them, I think. I know it's easier on the library maintainer side, but it's a PITA on the consumer side. We can choose to not follow SemVer, but please do not advertise to adhere it if do not.

[2017-10-12 10:22] ruflin commented on #1374
@merk For Elastica tying the ES version. I went forth and back on this. Initially Elastica was tied to it, then I decoupled it with 3.0 but then brought it in line again for 5.0. Having it in sync with the ES version makes explaining which versions are compatible, tested against etc. much simpler and I'm trying to keep the project as lightweight as possible. Having it in sync made my life easier :

[2017-10-15 16:55] StefanGlaesser opened #1389 "How to avoid: "Fielddata is disabled on text fields by default. Set fielddata=true on [price] in order to load fielddata in memory by uninverting the inverted index." ??"
Hello,

I'm running elasticsearch 5.6.3 in an symfony 2.8.28 project, using "friendsofsymfony/elastica-bundle": "dev-master" which includes the ruflin/Elastica package in version 5.3.0

When I add any kind of aggregation to my query, I always get
"Fielddata is disabled on text fields by default. Set fielddata=true on [price] in order to load fielddata in memory by uninverting the inverted index."

[2017-10-15 17:11] p365labs commented on #1389
looks like you did not enabled fielddata :
have a look [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/fielddata.html#_fielddata_is_disabled_on_literal_text_literal_fields_by_default) hope this could help!

[2017-10-15 17:15] StefanGlaesser commented on #1389
That was not the problem as the price is an float and not a textfield. But I've got the issue: I've indexed my data all as string types and not the prices as floats. I've explicitly typecasted the records from the database like this:

    $price = (float)$rowDb['price'];

Then it worked :)

[2017-10-15 17:15] #1389 closed

[2017-10-16 10:34] burzum opened #1390 "/_count instead of /_search API call?"
How can I generate a query that uses the `_count` API instead of the `_search` API?

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-count.html

I couldn't figure out how to generate a call to `/_search/` using Elastica.

[2017-10-17 15:13] dkarlovi opened #1391 "Check that data passed to Document is an associative array, not just an array"
If you do

[code]

it's allowed by the library, but you'll get an exception `failed to parse` with a very cryptic reason:
[code]

Reason is, you're not sending JSON objects in bulk, you're sending JSON arrays (which ES doesn't like):
[code]

It's quite a stupid error on the developer's (mine) part, but it still was quite an undertaking to find it. Could easily check for this when setting `$data`.

[2017-10-18 10:56] StefanGla opened #1392 "Missing support for Field Collapsing?"
Hello,
I wonder if the elastica package already supports field collapsing?

https://www.elastic.co/guide/en/elasticsearch/reference/5.6/search-request-collapse.html#search-request-collapse

If not, how can I add these collapse-parameters to my query?

[2017-10-18 15:48] mathieuSal opened #1393 "no such index [index: ] when using scroll API"
I migrate from ES 2.4 to 5.6.4 and to Elastica 5.3.0. Since then when I'm trying to use a scroll request, I'm getting this stack error :

despite having an index :
  `Index {#5262
    -originalName: null
    -typeCache: []
    #_name: "data_variable"
    #_client: Client {#5267
      -indexCache: array:1 [
        "data_variable" => Index {#5262}
      ]
      -stopwatch: Stopwatch {#332
        -

[2017-10-18 20:48] p365labs commented on #1391
Which version of ES are you using ?
Anyway you're right. The exception returned by ES it's not completely clear. I created a small test in order to find the Exception, this is the full exception returned from ES with the test case you show:

[code]

I agree with you that *not_x_content_exception* it's a bit confusing, but *failed to parse* it's absolutely clear. The problem with the query is that

[2017-10-19 07:47] dkarlovi commented on #1391
5.6.3 Docker image.

I only partially agree here. Failed to parse - which part?

The problem got worse by the fact I tried to send the (faulty) document to be stored individually (so, no bulk). This gave me some weird errors about missing `Content-Type` (it seems Elastica doesn't send one) which caused me to go down the "debug transport" route and indeed, the `Content-Type` header is missing. This

[2017-10-19 07:47] ruflin commented on #1390
Is that what you are looking for? http://elastica.io/api/latest/classes/Elastica.Search.html#method_count

[2017-10-19 11:22] burzum commented on #1390
@ruflin yes and no. I haven't seen a single query using the API I've linked. While this methods is returning the count of the result set it is using the `_search` API and not `_count`? The reason I want to use `_count` is that `_count` seems to be more efficient than `_search` for just getting the count. And I really need just a count in this case.

[2017-10-19 11:30] p365labs commented on #1391
Ok now I have a more clear understand of your problem... and yes I agree with you that  "failed to parse" is a bit generic, but that is on the shoulder of Elasticsearch. I mean the error is coming from Elasticsearch, which returns it to Elasticsearch-php which Elastica get and return as a ReponseException (in your specific case Bulk\ResponseException).

[2017-10-19 11:42] p365labs commented on #1390
There is no difference ... some years ago the team at Elasticsearch discussed on **_count**
[here](https://github.com/elastic/elasticsearch/issues/13928) Which is, in fact, a **shortcut** of the _search API with size set to 0.

we could also implement _count into Elastica (as _count on REST API still exists) but as the guys of Elasticsearch leave that endpoint as it is a ***"comvenient simple suga

[2017-10-19 11:44] burzum commented on #1390
@p365labs thank you! I haven't seen that. Do you have any suggestion on how to deal with large result sets then? We've got an error message or warning when we had more than, I think it was 10k results. For now we increased the size but would prefer to have a better solution to get the count of a filtered query.

[2017-10-19 11:44] #1390 closed

[2017-10-19 11:50] dkarlovi commented on #1391
@p365labs you're suggesting this should be reported to Elasticsearch?

[2017-10-19 15:55] mathieuSal commented on #1393
$path = '/_search/scroll'; -> need to remove the first / :  $path = '_search/scroll';

[2017-10-19 15:55] #1393 closed

[2017-10-20 15:01] ruflin commented on #1392
@StefanGla You should be able to use `setRawQuery` to set the params: http://elastica.io/api/latest/classes/Elastica.Query.html#method_setRawQuery But it would be pretty nice to add support for it with functions.

[2017-10-23 15:31] insomniac20101 opened #1394 "Allowed memory size of xxx bytes exhausted Elastica"
Hi, plz help to solve problem
Allowed memory size of 134217728 bytes exhausted (tried to allocate 64 bytes) in /usr/share/nginx/html/vendor/ruflin/elastica/lib/Elastica/JSON.php on line 32
Thank you

[2017-10-26 21:07] ebernhardson opened #1396 "Response::isOk vs Response::hasError"
I understand this is pretty abitrary, but i find the difference between these two methods on Response objects to be rather error prone.

hasError: The function documentation says `True if the response has error.`. The implementation though is: True if the request returned a parsable json document and that document has an 'error' key. Notably $response->hasError() on a 5xx http response returns fal

[2017-10-27 12:09] p365labs commented on #1394
- Hi which version of Elastica r u using ?
- can u describe better what are u trying to do maybe showing us a piece of src code ?

[2017-10-27 14:49] insomniac20101 commented on #1394
hi, Elastic version 2.3.
We are using Amazon AWS EC2 instance as application server. Elastic also here. all worked fine more that 6-8 months . we didnt do any changes .. but last month we got 2-3 error as showned upper. Memory size problem.

EC2 - T2 medium

website : https://megamart.az
when we do restart of server it again works normally.

[2017-11-02 14:11] george-ionita opened #1397 "Missing support for BucketSelector aggregation?"
Shouldn't there be a "BucketSelector" class in /Elastica/Aggregation?

https://www.elastic.co/guide/en/elasticsearch/reference/5.5/search-aggregations-pipeline-bucket-selector-aggregation.html

Using Elastica 5.3, ElasticSearch 5.5.

[2017-11-02 18:27] p365labs commented on #1397
yes you're right :) it's missing. Maybe you could do implement it and create a PR ?

[2017-11-03 10:22] george-ionita commented on #1397
I needed it yesterday so I wrote it, will make a PR in a bit :)

[2017-11-03 14:21] Mohammadtrabelsi commented on #903
In any version this bug has fixed please ?

[2017-11-03 14:27] p365labs commented on #903
at the moment the strategy is the same : use Elastica\Query\BoolQuery and not Bool.

[2017-11-03 14:34] Mohammadtrabelsi commented on #903
Can you give me more detail
because the bug is in the vender folder and i c'ant change it:
[code]

[2017-11-03 14:38] p365labs commented on #903
you should use vendor/ruflin/elastica/lib/Elastica/Query/BoolQuery.php

I hope to have understood the problem.

[2017-11-03 14:40] Mohammadtrabelsi commented on #903
thanks a lot

[2017-11-05 22:46] ruflin commented on #1394
How much memory do you have allocated for PHP? Could it be that you have some large queries you send to ES? Queries that grew over time or that you have some large responses with lots of entries? Allocating more memory should be a short term fix but you should have a closer look from your above error message to see if there  is a stack trace with more details on which line in your code causes it.

[2017-11-06 00:39] ruflin commented on #1396
I agree this is not optimal. If I remember correctly the history is that somehow there was a change on the ES side that required us to introduce a second method to not break BC. Any suggestion on how we should fix it? As 6.0 GA is not out yet, we can still do breaking changes ;-)

[2017-11-06 15:39] Nanocl opened #1400 "Waiting for index fill"
I'm trying to test the Elasticsearch communication (ES 5.3) via PHPUnit.
I have the following setup:

protected function setUp() {
  parent::setUp();

  self::$indexName = strtolower(uniqid('PHPUnit_'));
  self::$searchClient = $this->getApplicationServiceLocator()->get('MyNamespace\ElasticSearchClient');
  self::$articleIdList = [
    'even' => [],
    'odd' => [],
  ];

  $searchIndex = new Inde

[2017-11-07 00:10] ebernhardson commented on #1396
I'm not 100% sure. The most obvious thing for me would be if one was implemented in terms of the other, so they both do the same thing.

Taking on the error check to the end of isOK() and making hasError() return !$this->isOK() would probably be the most direct.

Quasi related,  isOK() currently expects a returned value that contains a 'status' key to have that key contain an http status code, but

[2017-11-08 10:48] Nanocl commented on #1400
I also tried to replace flush by refresh but the problem still exists.

[2017-11-08 23:00] ruflin commented on #1400
Did you have a look at the existing Elastica test suite to compare on how it is handled there?

[2017-11-08 23:09] ruflin commented on #1396
I'm not sure if we can cover the different cases with one function. But perhaps we could improve the naming of the functions to make it more obvious what they do?

[2017-11-09 11:31] gbourgeat opened #1403 "Sub-Aggregation with filter"
Hi all !

I dont found how create :

[code]
Use exemple

[code]

Thks

[2017-11-09 13:42] gbourgeat commented on #1403
I fond the solution !

[code]

[2017-11-09 13:42] #1403 closed

[2017-11-10 09:46] p365labs opened #1404 "CrossIndex"
Hi All, following what I said on #1402 I notice that we still have CrossIndex class which is deprecated.

What about to remove it from master, and so to have it removed from next Elastica release ?

what people guess about it  ? @ruflin  ?

[2017-11-12 22:26] ruflin commented on #1404
+1 on removing it. I was at first hesitant to remove it as Reindex in ES did not support reindex from Remote. But now it does so this functionality is much better to be used from ES directly.

[2017-11-13 09:29] Koc opened #1405 "Allow specify routing per document"
For now we can specify routing only per `Action`.

When we want batch reindex documents with custom routing - we should create `Bulk`, create `Action` per each document and after this send this bulk. In fact - we have inlined methods `Index::updateDocuments()`, `Client::updateDocuments()`, `Bulk::addDocument()`.

It would be nice add `Document::setRouting()`.

[2017-11-13 14:55] p365labs opened #1406 "Docker & Docker compose version"
We have fixed versions of Docker and docker-compose on .travis.yml,
what happened is that it looks like TRAVIS updates their images frequently
using last Docker&Docker-compose.

What happened is that build fails as we do not have allowed ``` --allow-downgrades.```
option and so build broke.

I think we have 3 options in order to avoid builds failing due to travis images upgrades :
- enable ```--al

[2017-11-14 02:51] ruflin commented on #1405
@Koc Interested to open a PR with this addition?

[2017-11-14 07:25] Koc commented on #1405
Yes, of course, will do

[2017-11-14 12:05] Koc commented on #1405
I'm so sorry. This already implemented: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/AbstractUpdateAction.php#L236 (`Document` extends from this class),

[2017-11-14 12:05] #1405 closed

[2017-11-14 22:49] ruflin commented on #1406
I like option one as I prefer that CI runs today and in 2 months should be the same.

[2017-11-14 23:09] #1406 closed

[2017-11-14 23:27] #1404 closed

[2017-11-15 01:46] ruflin commented on #1405
@Koc I should known, sorry :-( Too many features :-D Thanks for the feedback on the issue.

[2017-11-15 11:34] p365labs commented on #1377
hi all! I think we can close this one as this PR #1378 solves the problem :)

[2017-11-15 11:36] p365labs commented on #1322
Hi @ruflin I think that now CrossIndex has been removed, the ReIndex class as @mweibel suggested should be fully in sync with ES 6.0 implementation, so it will be really useful implementing missing options.

[2017-11-16 04:13] #1377 closed

[2017-11-16 04:15] ruflin commented on #1322
@p365labs +1

[2017-11-19 08:50] gtavasoli opened #1413 "Bug in content-type header"
I upgraded Elasticsearch to version 6.0.0 and this error occurred for me.

I fixed it by add two line of code to exec method of Http class of Transport.

[code]

[2017-11-19 08:53] p365labs commented on #1413
Hi @gtavasoli can you show us the code which generate that error ?

[2017-11-19 08:56] gtavasoli commented on #1413
This is my code as a part of CakePHP project:

[code]

[2017-11-19 09:52] p365labs commented on #1413
@gtavasoli just to understand instead of building the path of the query to execute what happen if you try to use the Search Object ?

[code]

[2017-11-19 22:37] ruflin commented on #1413
@gtavasoli Which version of Elastica does CakePHP use?

[2017-11-20 06:56] gtavasoli commented on #1413
Last version (6.0.0)

[2017-11-20 10:06] Nanocl commented on #1400
Yes i already had a look at the existing test suite. But the problem is that I found only unit tests but no integration tests which make "real" calls to the elasticsearch server.

[2017-11-20 13:58] p365labs commented on #1413
It sounds a bit weird as this commit 3e3a1affd1b8097ed942ae2364c454ae6872e201 (12/05/2017) sets a default Content-Type.  which is ```Request::DEFAULT_CONTENT_TYPE```

I'll have a look a bit deeper into this 👍 . Anyway @gtavasoli have u tried the piece of code I've sent u a day ago ?

[2017-11-21 21:29] p365labs commented on #1400
inside test directory you'll find *unit* and *functional* tests. Our test suite uses Docker to execute functional tests against a real Elasticsearch cluster. I've had a look at your code and this will be the the correct code to make it work inside our test suite :

[code]

[2017-11-21 21:58] gtavasoli commented on #1413
Yes, it did not work!

[2017-11-22 12:42] kukulich opened #1416 "Deprecated field [inline] used, expected [source] instead"
Elasticsearch 5.6 sends warning "Deprecated field [inline] used, expected [source] instead" in response header "Warning".

It's caused by https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Script/Script.php#L58

And here is second place where `'source'` should be supported: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Script/AbstractScript.php#L66

[2017-11-22 21:10] #1413 closed

[2017-11-22 21:11] #1400 closed

[2017-11-22 21:14] p365labs commented on #1416
@kukulich yes it has been deprecated and ```inline``` will be removed in favour of source in ES 7.0. The reference could be found (here](https://github.com/elastic/elasticsearch/pull/25127).

[2017-12-12 07:14] mkosiedowski opened #1423 "\Elastica\Transport\Http uses deprecated each() function"
`\Elastica\Transport\Http` code uses `each()` function which is deprecated as of PHP 7.2. This results in flooding logs with `E_DEPRECATED` entries.

https://github.com/ruflin/Elastica/blob/23f2bf0c7cfdc15a219ada33bb17a4367b5ffddb/lib/Elastica/Transport/Http.php#L118

[2017-12-13 20:53] viilveer commented on #1423
Same problem is in MultiBuilder:
https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Multi/MultiBuilder.php

Maybe you can create a fix for this also. This should be last one according to github code search.

[2017-12-14 07:00] mkosiedowski commented on #1423
Sure, please see the new commit in the same PR

[2017-12-15 13:25] viilveer commented on #1423
Cool. Looks fine by me.

[2017-12-18 09:19] aiflu opened #1426 "Bug when create ResultSet with an empty Query in V6.0.0 ?"
Hello,
I don’t know if it’s a bug or not. When I wanted to create a ResultSet object with an empty Query object, I got php error :

    Severity: Parsing Error --> syntax error, unexpected '->' (T_OBJECT_OPERATOR) my_path/Elastica/Query.php 333

Here is my test code (environment: Elastica 6.0.0, php 7.1):

    $resultSetBuilder = new \Elastica\ResultSet\DefaultBuilder();
    $resultSet = $resultSe

[2017-12-19 10:21] #1423 closed

[2017-12-20 00:45] ruflin commented on #1426
I wonder why in your case `post_filter` is set at all? I would expect the if statement to end after the first comparison because it is not set. Are you doing anything with PostFilter?

[2017-12-20 08:53] aiflu commented on #1426
@ruflin Thank you at first. I wonder too.
It seems that the `post_filter`is set all the time. But I didn't use post_filter at all. As it's a filter after aggregation, so I don't need it in my project at all.
I've searched `post_filter` in all my code, I could only find it in `/Elastica/Query.php` and `/Elastica/Suggest/CandidateGenerator/DirectGenerator.php`. Both files are the lib files, and thei

[2017-12-20 10:24] aiflu commented on #1426
@ruflin I've figured out the problem. It's the php version. Is the lib 6.0.0 compatible with php5.6? I've tested locally the same code. With php7.x, all pass, but with php5.6, I've the error. I don't know why, but I'm sure it's the php version caused the error. So I'll update the Php to 7.x to avoid the problem.
Thanks a lot.

[2017-12-20 16:27] rafaelschmitt opened #1429 "Call to a member function toArray() on array"
When i run a query then i get this error `Call to a member function toArray() on array`

My Setup:
----
- symfony/symfony v3.3.8
- friendsofsymfony/elastica-bundle dev-master 96c79eb
- elasticsearch/elasticsearch v6.0.0
- ruflin/elastica 6.0.0
- Elastic-Server Version: 6.0.0

Error:
----
[code]

**Entry-point:** (use of FOSElasticaBundle)
[code]

**stack-trace:**
[code]

Problem
----

The problem

[2017-12-21 00:25] ruflin commented on #1426
Oh, I thought you are using 7.1 as you mentioned in your initial PR description.

We removed compatibility for 5.6 recently. Seems like we forgot to update the Website with this. Sorry about that.

@carusogabriel Interested to also take this one on? It's in the Elastica.io repo.

[2017-12-21 00:27] carusogabriel commented on #1426
@ruflin Gonna search and update the docs 📜

[2017-12-21 00:36] ruflin commented on #1426
That should help: https://github.com/ruflin/elastica.io

[2017-12-21 10:15] aiflu commented on #1426
@ruflin Thanks a lot. Sorry for the wrong php version in the initial PR description.
Thanks for the doc, I usually read the doc at http://elastica.io/, never thought there's a git where I can find the doc for the previous versions. I'll close this issue.

[2017-12-21 10:15] #1426 closed

[2017-12-21 10:27] ruflin commented on #1426
For the API you can even put the version you are interested in into the URL: http://elastica.io/api/5.0.0/

[2017-12-21 11:34] rafaelschmitt commented on #1429
Additional info: Actually we set our `post_filter` (like all other things) manually via rawQuery in a array-structure, e.g.:

[code]

So calling `toArray()` on `post_filter` will crash:

[code]

Maybe a check if it is already a array would fix this:

[code]

[2017-12-21 12:12] rafaelschmitt commented on #1429
We added a temporary workaround for this. But it would be nice, if you could continue to set the "post_filter" as a raw array, like all other filters.

[code]

[2017-12-27 02:23] ruflin commented on #1429
@rafaelschmitt Thanks for digging into this and provide all the details. I think I now fully understand why it happens but not 100% sure about the solution yet.

In Elastica in quite a few places we keep things as object until they they are converted to an array in the `toArray` functions.  That is also the case here with the `post_filter` as we set it here as an object: https://github.com/ruflin/

[2018-01-03 15:14] yvoloshin opened #1433 "Problem with exact search query with Elastica QueryBuilder"
Hello,

I'm having a problem with an Elastica QueryBuilder exact search in a Symfony app. The Elastica version is 2.1, which depends on Elasticsearch 1.5.2. I posted this question on stackoverflow, but haven't gotten any answers.
I'm searching an index where one of the fields is mapped as

    majors:
       type: string
       index : not_analyzed

This field is a student's major that can have on

[2018-01-04 08:17] greg0ire commented on #1374
This sounds wrong, and will be more and more wrong over time, as more and more libs use semver (it should go from 99.9% to 99.99% very quickly IMO). I think the best way to solve this issue would be to ask user to first install `elasticsearch/elasticsearch` and carefully read their compatibility matrix, and then ask them to let Composer pick the right elastica version by just typing `composer requ

[2018-01-08 15:47] rafaelschmitt commented on #1429
@ruflin Thx for your reply and happy new year! ;) Yes, it worked previously without `AbstractQuery` objects, if you use `setRawQuery` (like we do)

Setting a Query fully as raw array worked, also with `post_filter`, e.g.:
[code]

Now, it still works, but without `post_filter`, because of the new `toArray()` call on `post_filter` in `Query` class (so `$this->_params['post_filter']` is expected to b

[2018-01-08 16:55] lnarea opened #1434 "Client config to connect to http://elastic.co"
Hello, someone could help me, I try to connect to my elasticsearch instance in elastic cloud (http://elastic.co/) with the following code:

[code]

but I do not get any answer, however when I do it using curl in the server console I get this:

`$ curl --user myusername: mypassword -XGET https: //**************.us-east-1.aws.found.io: 9243`

return
[code]
What am I doing wrong?

[2018-01-09 01:26] ruflin commented on #1434
What is the error that Elastica returns if you send a query? Which Elastica version are you using? It seems you are using and 6.0.0-rc2 cluster (best update it to 6.1).

[2018-01-09 02:46] ruflin commented on #1433
Any chance you could paste the error as text? It's pretty hard to search in images :-(

Did you try to build the query for ES directly and see if it works? That would be great to see if there is an error with the Elastica query or in an issue with your query.

[2018-01-09 02:58] ruflin commented on #1374
I think there are 3 discussions here:

1. Should Elastica be tied to the Elasticsearch version and the elasticsearch-php client
2. If Elastica is tied to ES / ES-php, which versions is it tied to
3. Should Elastica fully confirm to Semver.

For 1. the answer for me is yes, at least for the major versions. For minor / bugfixes happy to have a deeper discussion on what the implications are.

For 3.

[2018-01-09 07:56] greg0ire commented on #1374
IMO, if you have a series of libs A → B → C, and C is a bindings lib for an external tool "D" that follows semver, only C should be affected and synced to D, but A and B should just leverage Composer to do version constraints resolving. Users of A and B should just have to read one compatibility matrix, in C's README, and that's all. If we are in version 6, and 7 comes out, and there is no BC-brea

[2018-01-09 09:22] curry684 commented on #1374
From my perspective and experience:

1. Yes, keeping majors together is good practice and clear to the end users. Also, as Semver implies upstream should release a new major when it breaks BC this is also the time when you can break BC here.
2. 1 on 1 for the majors. Minor and patch are irrelevant from Semver perspective.
3. Yes, but pragmatically. Given the case we discussed, if you forgot to rem

[2018-01-09 09:42] greg0ire commented on #1374
One point that I forgot to mention: not syncing will mean that you might end up with one version of this library being compatible with several versions of ES. This is desirable because it makes migrations easy: people can choose to upgrade ES and elasticsearch/elasticsearch, and be confident that their application will not break, because they do not use elasticsearch/elasticsearch *directly* in th

[2018-01-09 18:34] yvoloshin commented on #1433
Hi @ruflin,
Here is the error text:

SearchPhaseExecutionException[Failed to execute phase [query], all shards failed; shardFailures {[IEHwxwCSR4Cux6bxcgD6WQ][students][4]: SearchParseException[[students][4]: from[-1],size[-1]: Parse Failure [Failed to parse source [{"query":{"filtered":{"query":{"term":[]},"filter":{"bool":{"should":[{"term":{"majors":"Art History"}}]}}}}}]]]; nested: QueryParsin

[2018-01-10 00:36] silasrm opened #1435 "Error when update field mapped as boolean on Doctrine"
Please see https://github.com/FriendsOfSymfony/FOSElasticaBundle/issues/1382

[2018-01-10 19:53] yvoloshin commented on #1433
I converted the query into a raw query like this:
[code]
This gave me the same error message as quoted above. Looks like there is a problem with the query itself, and not with Elastica.

[2018-01-12 02:11] ruflin commented on #1433
I'm thinking this one is the problem: `[term] query malformed, no field`. The reason is the empty `'term' => array()), `. ES 1.x has been quite some time but it could be the difference between `{}` and `[]`. Do you even need the empty term there?

For the second one which "should" work. What does your doc in ES looki like?

[2018-01-12 02:47] ruflin commented on #1435
TBH I don't think I fully understand (yet) what is going and if this is a Doctrine or an Elastica issue. Could you share some details on why you thinks it's an Elastica issue?

[2018-01-12 03:44] ruflin commented on #1429
@rafaelschmitt To move forward, I suggest you open a PR with the "fix" as the above is kind of a breaking change on our side we didn't intend to do. We can afterwards still figure out a more generic way on how we deal with these things.

[2018-01-12 03:57] ruflin commented on #1374
There is definitively the chicken / egg problem about which you should update first, server or client. Unfortunately the past has shown each major had breaking changes which had do be fixed in Elastica to make it working. The nice part of Elastica that it has a proxy for most things in Elasticsearch is also the biggest problem, as every small breaking change in ES is a breaking change in Elastica.

[2018-01-12 06:55] curry684 commented on #1374
Cheers, thank you for the good and productive discussion!

[2018-01-15 23:06] silasrm commented on #1435
The message error is from ElasticSearch, see java style package name: org.elasticsearch.transport.netty4.ByteBufStreamInput@1d349bde.

Elastica is responsable for sent data/requests to ElasticSearch. Because of this, I think this error is in  process of the convertion from doctrine Entity to Elastica, and this is sent to ElasticSearch and cause this error. But, I don't how to debug this.

Or I'm f

[2018-01-17 10:07] stefpe opened #1441 "Please add the possibility to change the request method"
https://github.com/ruflin/Elastica/blob/02bf2fbb8ad6b679869af145eed89436a1c50229/lib/Elastica/Search.php#L466

Currently the request method is hardcoded and I need to change it to be able to use a proxy. My current workaround is the following:
[code]

But what I actually wanted to do would be something like this:
[code]

[2018-01-17 19:54] yvoloshin commented on #1433
I too was wondering about the empty term. When I remove it, the query looks like this:
[code]
This version returned no errors, but also no results.
I have not been able to find out how to get ES documents in Elastica. Could you tell me how to do that?
Thanks a lot for your help!

[2018-01-18 20:54] silvioq commented on #1435
I have the same error. I think the trouble is in bulk update, the parameter is "doc_as_upsert: 1" and must be "doc_as_upsert: true"

https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Bulk/Action.php#L208

I'm using Fos/FOSElasticaBundle too

[2018-01-18 20:57] silasrm commented on #1435
Great @silvioq

[2018-01-18 21:06] silvioq commented on #1435
I change that line for

[code]

... this works as expected!

[2018-01-18 21:55] ruflin commented on #1441
Can you share some details on why GET requests do not work with proxies? Because if that is the case, there are many other requests where this becomes an issue I would think.

[2018-01-21 23:27] ruflin commented on #1433
What I meant with ES documents is to use for example the Console in Kibana to build to the query in JSON or use curl to send the request. As soon as you have a working json, you can post it here and the "translation" to Elastica should be fairly straight forward.

[2018-01-26 11:58] stefpe commented on #1441
Because in the HTTP Transport, you are setting
`curl_setopt($conn, CURLOPT_POSTFIELDS, $content);`
For elasticsearch somehow a GET Request with filled post body works, but a proxy which doesnt read the POST Body on a GET Request, you run into issues.

[2018-01-28 05:03] ruflin commented on #1441
Thanks for the details. I'm ok with adding this option. Can you open a PR?

In case the proxy is under your control, I think the proxy should be configured accordingly. But I can see the issue in case the proxy is not under your control.

I wonder what the proxy is that does not support it?

[2018-02-01 08:06] shihgangliu opened #1446 "Please rename `min_word_len` to `min_word_length` on 5.3.0"
https://github.com/ruflin/Elastica/blob/5.x/lib/Elastica/Suggest/Term.php#L91-L94

I use `ruflin/elastica` on version `5.3.0`.
There is still deprecated parameter `min_word_len` at `lib/Elastica/Suggest/Term.php#93`.
I hope could fix it, thanks.

[2018-02-01 09:55] XWB commented on #1446
https://github.com/ruflin/Elastica/pull/1447

[2018-02-01 10:37] shihgangliu commented on #1446
@XWB thank you.

[2018-02-05 21:18] mpuig9406 opened #1449 "No mapping found for [materialPeriodistico.category] in order to sort on [index: app] [reason: all shards failed]"
Hi,i am problem whit mapping
how config # Elasticsearch in config.yml for fix this.

//////////Error///////////
in vendor\elastica\lib\Elastica\Transport\Http.php at line 181  -

            }
            if ($response->hasError()) {
                throw new ResponseException($request, $response);
            }
            if ($response->hasFailedShards()) {

[2018-02-06 01:58] ruflin commented on #1441
@stefpe I just stumbled over this one: https://github.com/elastic/elasticsearch/pull/28342 It seems the official high level client moved to POST, so I wonder if we should make this even the default?

[2018-02-06 20:22] JanCizmar opened #1450 "To array method in BoolQuery changes _params property to empty StdClass"
Hello,
I found a serious problem in Query\BoolQuery class.
If method toArray is called, then the _params property is changed to StdClass, but the rest of the code uses the _params propetry like array. So if you want to add some attribute after you call toArray, it dies on error: Cannot use object of type stdClass as array.

[code]

Please change this behaviour.

Thanks! :)

[2018-02-07 15:38] keithburgoyne opened #1451 "Can Elastica's composer.json list Elasticsearch ~6.0.0 as a dependency?"
`composer.json` sets the Elasticsearch dependency to `6.0.0` for the latest stable. I'm wondering if that could be updated to `~6.0.0`, similar to how the elasticsearch-php docs suggest. https://github.com/elastic/elasticsearch-php#installation-via-composer

[2018-02-08 10:28] stof opened #1453 "Support for pipeline when indexing documents"
Currently, the indexing methods in `Type`, `Index` and `Bulk` don't support the `pipeline` option.

AFAICT, the only way to trigger a pipeline when indexing is to instantiate the `Elasticsearch\Endpoints\Index` lower-level API myself, duplicating all the logic of `\Elastica\Type::addDocument`. Is there a better way ?

[2018-02-08 10:29] stof commented on #1453
Note that I'm using version 5.3 of the library (I'm not yet using ES 6)

[2018-02-08 12:45] mfn commented on #1451
I think I've a similar/the same issue. Scratch projects, simply tried to use elasticsearch and elastica, this is what I get.

Empty dir, empty `composer.json`:
[code]

Now trying to install it:
[code]
🤷‍♀️

I'm actually having this problem with 5.3, can't upgrade to 6.0 yet but now that I saw it has the same problem, I'm wondering if I'm doing something wrong?

[2018-02-08 21:29] ruflin commented on #1453
I haven't checked the code yet but I don't think there is a better way. But we should definitively have one (in 5.x and master). Want to take a stab at it?

[2018-02-08 23:36] ruflin commented on #1451
There is a "fix" for this here: https://github.com/ruflin/Elastica/pull/1432 And I remember there was also a PR for 5.x to change this. The main issue here is that I didn't cut a release yet for these changes :-( On my list ...

[2018-02-08 23:45] ruflin commented on #1450
Could you share some code snippets from your code? I wonder how / why you access _params directly? Or is this within Elastica?

[2018-02-09 08:42] stof commented on #1453
what is the process to contribute to both 5.x and master ? Should I open my PR against 5.x or master ?

[2018-02-09 09:34] ruflin commented on #1453
I suggest to open a PR against master and as soon as it's merged, cherry pick it into the 5.x branch and open a PR.

[2018-02-09 16:09] cfoehrdes opened #1456 "Not able to enable https for AwsAuthV4 transport"
We are trying to use the `AwsAuthV4` transport with ssl and are not able to pass the ssl option to it.

It seems that it is not possible because the `ssl` config param accessed in the `AwsAuthV4` class (see https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Transport/AwsAuthV4.php#L77) is never set.
The keys of the config array are limited to `bigintConversion`, `curl`, `headers` and `url

[2018-02-09 16:11] cfoehrdes commented on #1456
It could be an option to pass the ssl key to the config array or maybe we could also use getParam to fetch the ssl setting, as it is done with the access keys.

[2018-02-12 04:05] ruflin commented on #1456
@cfoehrdes Feel free to open a PR for further discussions. This should make it more obvious what the changes required would be.

[2018-02-12 08:03] spointecker opened #1458 "Snapshots not working since upgrade to v6"
Hi!

I am using the `Snapshot()` class with the `s3 repository plugin` to backup my indices within a Symfony Command. I am also using the FOSElasticaBundle v5 and Elasticsearch is running with version 5.3.0

Since the upgrade to version 6 I am getting the following error messages (depending on which parameters I remove from my settings array):
[code]
[code]
[code]

This is the current code of the

[2018-02-12 08:56] cfoehrdes commented on #1456
@ruflin The PR #1457 is pretty much what solves the problem

[2018-02-12 11:32] honzatrtik opened #1459 "How to create suggest query with source filtering?"
Hello!

I'd like to create query like this:
[code]

Im having troubles with setting `_source` parameter...
So far I have this -
[code]

Am I missing something?

[2018-02-15 22:40] ruflin commented on #1458
@spointecker Are you using Elastica 5 or 6? I probably will not make a difference here but probably worth checking.

Did you find the notes for the breaking changes mentioned in the log file?

[2018-02-15 22:43] ruflin commented on #1459
What are you exactly trying to set with the `_source -> param ... ` you have mentioned last? What do you get if you run `$suggest->toArray()` and print the output?

[2018-02-16 08:06] spointecker commented on #1458
Hi @ruflin
I am using Elastica 6.0.0

I did not find any further information according to this exception message. But what I found out is that it works if I just use CURL to create my snapshots (e.g. with `fs`).
So I guess the exception does not come from the elasticsearch server itself?

[2018-02-16 09:21] ruflin commented on #1456
Closing as https://github.com/ruflin/Elastica/pull/1457 was merged.

[2018-02-16 09:23] ruflin commented on #1458
Can you share the exact JSON you use to for the call? We should then compare this to the request that Elastica sends. It could be that some conversion that Elastica does it not correct.

[2018-02-16 09:56] spointecker commented on #1458
Sure.
Those commands work fine on my local and remote machine:
[code]
[code]

[2018-02-16 10:02] franmomu commented on #1423
Hi, should this be done in 5.x as well? I've just updated to php 7.2 with that branch.

[2018-02-16 20:30] dmitrijivanenko opened #1461 "Increase a coverage"
Hey, I would like to contribute to the project. Wanted to start from increasing the coverage, do you need a help with it, since now it is only 84%?

[2018-02-18 16:48] thiruvenkatam commented on #253
Hi everyone.

I installed Elastica using composer to my Laravel project folder. But i am facing "Class 'Elastica\Client' not found" error. I have followed the steps as per in the installation guide.
I need some help regarding this.

I will post controller code below.

<?php

namespace App\Http\Controllers;

use Illuminate\Http\Request;

use Elasticsearch\ClientBuilder;
use Elastica\Client as Elast

[2018-02-18 16:52] thiruvenkatam opened #1463 "Class 'Elastica\Client' not found Laravel"
hi everyone.

I installed Elastic using composer in my Laravel project folder. But i am facing "Class 'Elastica\Client' not found" this error.
I followed the steps as in guide. I need help regarding this.

I will paste my controller code below.

namespace App\Http\Controllers;

use Illuminate\Http\Request;

use Elasticsearch\ClientBuilder;
use Elastica\Client as ElasticaClient;

require_once 'C:\x

[2018-02-18 21:07] ruflin commented on #1343
Closing this issue as I think this is answered. Please reopen if this is not the case.

[2018-02-18 21:07] #1343 closed

[2018-02-18 21:25] ruflin commented on #1451
Closing as 6.0.1 is out with this fix.

[2018-02-18 21:25] #1451 closed

[2018-02-18 21:33] ruflin commented on #1461
@dmitrijivanenko I'm more then happy about contributions to the test suite. What I would focus on is not pure coverage number but making sure we add tests for code that is complex and has potential to break. The part that is especially valuable are the functional tests as they tell us when something in Elasticsearch changed and we need to fix it in Elastica.

[2018-02-18 21:44] ruflin commented on #1374
@curry684 @greg0ire @1ed Looking at https://github.com/ruflin/Elastica/pull/1422 I was wondering what your take on this one is? It removes some code which was already deprecated in 5.x but we forgot to remove it for 6.0. I think most of it will not even work anymore with Elasticsearch 6.0. If we merge this into master does that mean it we could not make any 6.x release with it anymore?

[2018-02-18 21:52] ruflin commented on #1463
Which version of Elastica are you using? How exactly did you use composer to install Elastica? Normally I assume this is somehow related to your autoloader.

[2018-02-18 21:53] ruflin commented on #253
@thiruvenkatam Please do not double post: https://github.com/ruflin/Elastica/issues/1463

[2018-02-18 21:56] dmitrijivanenko commented on #1461
@ruflin thank you, got it. I will look for such places.

[2018-02-18 22:32] greg0ire commented on #1374
If you think no one can use the removed feature and have something that works in 6.x, then there is no BC-break, so merging is fine, you can release in 6.x. But if you think there is some features that could be used and work, then yeah, merging that would mean you would have to release 7.x IMO (if you want to follow semver).

[2018-02-18 23:12] ruflin commented on #1423
@franmomu Haven't checked the 5.x branch, but if it's not there, it should also be added there. Can you open a PR?

[2018-02-20 05:25] thiruvenkatam commented on #1463
My version Elastica v.0.20.5. I included  "ruflin/elastica": "dev-master" in my composer.jason file. How do i fix this issue.

[2018-02-21 12:41] thiruvenkatam commented on #1463
[Composer\Downloader\TransportException]
The "https://packagist.org/p/ruflin/elastica%2408283f02f2b81eb806fd867fa59d
16df55d3a1ab2a14e60199875c2f1529cd9a.json" file could not be downloaded (HT
TP/1.1 404 Not Found)

https://packagist.org/p/ruflin/elastica%2408283f02f2b81eb806fd867fa59d
16df55d3a1ab2a14e60199875c2f1529cd9a.json

The required json file is not found in this wed address

[2018-02-23 05:57] ruflin commented on #1463
That seems to be a really old version of Elastica. What Elasticsearch version are you using? Can you try if installing a newer version of Elastica works?

[2018-02-23 05:59] thiruvenkatam commented on #1463
I am using elastic search 6.2...okay will try

On Feb 23, 2018 11:27, "Nicolas Ruflin" <notifications@github.com> wrote:

[2018-02-23 06:00] ruflin commented on #1463
If you use 6.2 you definitively have to install the most recent version.

[2018-02-23 06:02] thiruvenkatam commented on #1463
But installing via composer...will automatically install the latest one
right!?

On Feb 23, 2018 11:30, "Nicolas Ruflin" <notifications@github.com> wrote:

[2018-02-23 06:06] ruflin commented on #1463
Can you share the exact composer file you have?

[2018-02-23 06:10] ruflin commented on #1458
@spointecker Sorry for the late reply. One difference I spotted is that you have in the PHP code a `-` but use `_` for `s3_repository` in your curl command. Also it seems the settings you pass are not identical?

Here is BTW the code that makes the call happen.

[2018-02-23 06:32] #1453 closed

[2018-02-23 08:32] thiruvenkatam commented on #1463
{
    "name": "laravel/laravel",
    "description": "The Laravel Framework.",
    "keywords": ["framework", "laravel"],
    "license": "MIT",
    "type": "project",
    "require": {
        "php": ">=5.6.4",
        "consoletvs/charts": "^5.4",
        "cviebrock/laravel-elasticsearch": "2",
        "guzzlehttp/guzzle": "^6.3",
        "laravel/framework": "5.4.*",
        "laravel/tinker": "~1.0"

[2018-02-23 09:28] spointecker commented on #1458
The examples were completely different/independent :)

I will try to print the params before the request is sent.

[2018-02-23 11:40] spointecker commented on #1458
This is the printed value of `$data`:

[code]

And this the exception:
[code]

[2018-02-25 22:03] jdacjohn commented on #665
I inherited a site that I'm transferring from one domain to a new domain.  Total nightmare because I can't even access the server that the old site is hosted on.  Was basically given a tar.gz and told to "get to it."  The site is up and running but I get this error (Couldn't connect to host, Elasticsearch down?) when I try to search.

I have uninstalled and reinstalled from the dashboard, but I do

[2018-02-26 02:53] ruflin commented on #665
@jdacjohn TBH a bit confused by your details above. I don't remember a version 0.0.9 of Elasticsearch and how does Concrete5 come into play here? What version of Elastica are you using? Can you connect to Elasticsearch via curl?

[2018-02-26 02:55] ruflin commented on #1458
I just read through the issue again. Are you using Elastic 6.0.0 with Elasticsearch 5.3? Could you try if you see the error with Elasticearch 6.0?

[2018-02-26 03:52] ruflin commented on #1463
* What version of PHP do you use?
* Why do you stick to dev-master instead of a stable release?

[2018-02-26 05:25] thiruvenkatam commented on #1463
i have php version 7.0.26.
i used dev-master because i am unaware of the latest stable version.

On Mon, Feb 26, 2018 at 9:22 AM, Nicolas Ruflin <notifications@github.com>
wrote:

[2018-02-26 05:34] ruflin commented on #1463
Can you try to directly install 6.0.1? https://github.com/ruflin/Elastica/releases

[2018-02-26 05:53] thiruvenkatam commented on #1463
i have downloaded the tar file where to to unzip the contents in my laravel project and what corresponding change do i need to make in my controller

[2018-02-26 08:41] jdacjohn commented on #665
@ruflin  Thanks for replying.  I may be barking up the wrong tree as I'm not even sure what Elasticsearch is, as I'm quite confused as well.  The site is a Concrete5 site.  In the dashboard (when logged in as admin) when I go to 'Extend Concrete5' it shows "Elastic Search v.0.0.0 - Replaces default search index with elasticsearch' is installed.   This functionality resides in a folder named 'elast

[2018-02-26 08:48] jdacjohn commented on #665
If this is any help at all, here is the log output from the most recent search attempt:

[2018-02-25 23:43:46] elastica.ERROR: Elastica Request Failure {"exception":"[object] (Elastica\\Exception\\Connection\\HttpException(code: 0): Couldn't connect to host, Elasticsearch down? at /home/dialogoamerica/public_html/packages/elastic/vendor/ruflin/elastica/lib/Elastica/Transport/Http.php:180)","reques

[2018-02-26 16:57] spointecker commented on #1458
I am afraid I can´t upgrade that easy to version 6 due to the major changes. Do you think version 5.6 would be sufficient? I´ll try it if I manage to get some time for it.

[2018-02-27 00:15] ruflin commented on #1463
By installing I meant to set the appropriate config in your composer file. What I would recommend you is to remove first all the other dependencies to see if you get the right result and if it works then add the other dependencies.

[2018-02-27 00:55] ruflin commented on #1458
Problem is that Elastica 6.0 is not compatible with Elasticsearch 5.x. For 5.x try Elastica 5.x (5.3.1 is the most recent one).

[2018-02-27 03:42] ruflin commented on #665
As I don't know anything about Concrete5 lets try to get this out of the equation.

There is Elastica as a client and Elasticsearch where the data is stored / processed etc. The above you posted is an error that happens if the client can't connect to the server. So it seems from the client view the Elasticsearch host is not reachable.

Few questions which you should answer on your side:

* Where i

[2018-02-27 08:13] spointecker commented on #1458
Thanks for your patience!
I downgraded to Elastica 5.3.* and tried it again with the S3 repository plugin but still getting the exception:
[code]

I am using now:
* "friendsofsymfony/elastica-bundle": 5.0.*
* "ruflin/elastica": 5.3.*
* "elasticsearch/elasticsearch": 5.3.2

The S3 Repo Plugin is installed:
[code]

[2018-02-27 15:06] jdacjohn commented on #665
Thanks Nicolas, this helps.  The client appears to be 3.2.2 (from the CHANGELOG.md), and ElasticSearch v 5.3.

Here's a high-level of the composer project (I'm not including everything in here, like composer, guzzlehttp, etc.)

Elastic ->  Top level project folder (This is the project that was created to install ElasticSearch as a package in concrete5 and that's the last I'll say about Concrete5).

[2018-02-27 19:18] jdacjohn commented on #665
Update.  ElasticSearch is not running on the new machine - It's not even installed.  Everything I've been looking at is for the client.  So, ES not running means, yes it's down on localhost.  I installed ElasticSearch 5.3 (to match) site code on my local dev server, configured and fired it up.  I'm able to hit the ElasticSearch host, so now I've now graduated to this error when I try to perform a

[2018-02-27 22:27] mpuig9406 commented on #1449
Pliss see the adjunt file

2018-02-12 6:21 GMT+01:00 Nicolas Ruflin <notifications@github.com>:

#My .config yml
# Elasticsearch
fos_elastica:
    clients:
        default: { host: localhost, port: 9200 }
    indexes:
        app:
            types:
                material_periodistico:
                    properties:
                        title: ~
                        description: ~

[2018-02-28 19:31] IgorDePaula opened #1470 "Can't resolve host"
I readed aome issues and none resolve my problem: Can't resolve host

![selecao_197](https://user-images.githubusercontent.com/2833993/36808723-af66db2c-1ca4-11e8-8f62-6e6fd93eddde.png)

![els](https://user-images.githubusercontent.com/2833993/36808828-fe722e1a-1ca4-11e8-8f83-231e54b0d418.png)

[code]

[2018-03-02 01:58] ruflin commented on #1449
Let's start very simple:

* What are the versions you are using?
* What is it that you expect to happen?
* What happens?

The config you share above is from fos_elastica and not elastica. It would be great if you could focus on the part that you think does not work as expected in Elastica as I don't have much knowledge of fos_elastica

[2018-03-02 02:08] ruflin commented on #1470
Which version of Elastica are you using? Also the AWS version of Elasticsearch uses some special authentication in some cases. There is a special transport for that in Elastica: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Transport/AwsAuthV4.php But TBH never tested to tried it on my end.

[2018-03-02 09:13] andrey1s commented on #1470
try config
[code]
or
$config = [
'host' =>  env('ELASTICSEARCH_HOST', 'xxxxxxxxxxxxxx-txf2c57vaupiv7ij6haeusfgsdi.us-east-1.es.amazonaws.com'),
'port' => 443,
'transport' => 'Https'
];
[code]

[2018-03-02 14:29] IgorDePaula commented on #1470
@ruflin I used elastica 6.0,latest version, and aws elastic search 2.3 (which has type support yet).

@andrey1s I tried both configs, without success.

[2018-03-02 20:23] mpuig9406 commented on #1449
Plis ser the adjunto file

El 12 feb. 2018 00:21, "Nicolas Ruflin" <notifications@github.com> escribió:

[2018-03-02 20:23] mpuig9406 commented on #1449
See the adjunt file

El 27 feb. 2018 17:22, mpuig9406@gmail.com escribió:

Plis ser the adjunto file

El 12 feb. 2018 00:21, "Nicolas Ruflin" <notifications@github.com> escribió:

TBH not sure what you are trying to do and what the problem is. Can you
perhaps provide a bit more information what you are trying to do?

—
You are receiving this because you authored the thread.
Reply to this email dir

[2018-03-02 20:23] mpuig9406 commented on #1449
El 27 feb. 2018 17:22, mpuig9406@gmail.com escribió:

Plis ser the adjunto file

El 12 feb. 2018 00:21, "Nicolas Ruflin" <notifications@github.com> escribió:

TBH not sure what you are trying to do and what the problem is. Can you
perhaps provide a bit more information what you are trying to do?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on Git

[2018-03-03 14:23] IgorDePaula commented on #1470
@ruflin using AwsAuthV4 transport, I got this error?

"cURL error 6: Could not resolve host: https (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)"

[2018-03-03 14:24] IgorDePaula commented on #1470
@ruflin
cURL error 6: CURLE_COULDNT_RESOLVE_HOST (6)

Couldn't resolve host. The given remote host was not resolved.

[2018-03-04 04:44] ruflin commented on #1458
The part that does not make any sense to me at the moment is why the settings array looks to be correct (`settings.access_key`) but ES returns an error for `index.access_key` like something would go wrong during constructing / mapping the array. I'm pretty sure I currently miss something simple. Unfortunately don't have a setup ready at the moment to test this. Perhaps something goes wrong when cr

[2018-03-04 04:48] ruflin commented on #665
@jdacjohn Glad I was helpful.

[2018-03-06 05:57] ruflin commented on #1449
Not sure what I can do here to help as you keep sending the message (I think). See my questions above.

[2018-03-06 06:00] ruflin commented on #1470
Elastica 6.0 is not compatible with ES 2.3.

Having said that I would at least the host resolving to still work. I'm wondering if there is something happening in the middle here? Do you see anything in the ES logs?

[2018-03-06 12:36] IgorDePaula commented on #1470
No, I see nothing in ES logs. What version you recommend me?

[2018-03-09 12:13] akalongman commented on #1257
@ruflin this issue is still actual

[2018-03-09 12:14] akalongman commented on #1257
@aguvillalba why is this closed?

[2018-03-09 12:56] aguvillalba commented on #1257
Probably, because I found a work around

[2018-03-11 20:00] ruflin commented on #1470
I had to look up the versions: 3.2.3 should be compatible with ES 2.x (for sure 2.4).

[2018-03-12 01:11] IgorDePaula commented on #1470
Thanks, I will test tomorrow

2018-03-11 17:00 GMT-03:00 Nicolas Ruflin <notifications@github.com>:

[2018-03-13 19:06] IgorDePaula commented on #1470
I install the elastica version 3.2.3 and receive the same error yet. =/

[2018-03-14 07:56] ruflin commented on #1470
Let's ping @jeskew on this as he did the initial implementation. Perhaps he knows more?

@IgorDePaula Can you double check for typos?

[2018-03-15 12:50] IgorDePaula commented on #1470
@ruflin, sorry, I not understand.

2018-03-14 4:56 GMT-03:00 Nicolas Ruflin <notifications@github.com>:

[2018-03-16 13:15] ruflin commented on #1470
@IgorDePaula One of the last guesses I had is that there are some typos in the host config. Could you also try with and without a `/` at the end of the url?

[2018-03-16 13:26] p365labs commented on #1470
It looks like Elastica is not able to reach that Host:

[code]

maybe your terminal access is whitelisted instead the application do the curl from another IP
which is not allowed to access that IP ?

[2018-03-16 13:34] IgorDePaula commented on #1470
Yes, I"ll try both suggetions. Thanks.

2018-03-16 10:26 GMT-03:00 Federico Panini <notifications@github.com>:

[2018-03-16 13:36] p365labs commented on #1463
@thiruvenkatam update your composer with something like :

[code]

and then try to se if the problem is still there

[2018-03-19 01:24] fubuki opened #1473 "NullTransport missing the suggest body in the response"
When I use `NullTranport.php` to test suggest function on elasticsearch 5.6.6 with Elastica 5.3.1,  the `search` method will not return suggest body.

If there are no suggest results in elasticsearch, elasticsearch server will return
[code]

But `NullTranport.php` will return
[code]

[2018-03-20 23:43] qqqqb opened #1475 "setRefresh"
I found you are accepting Bool only on refresh at [lib/Elastica/AbstractUpdateAction.php #L328](https://github.com/ruflin/Elastica/blob/master/lib/Elastica/AbstractUpdateAction.php#L328)

While it should be
### Empty string or true
Refresh the relevant primary and replica shards (not the whole index) immediately after the operation occurs, so that the updated document appears in search results imm

[2018-03-21 06:12] thiruvenkatam commented on #1463
thanks for the help... but i still have the problem....
i changed the composer file and tried updating it.......i get  the below error

Loading composer repositories with package information
file_put_contents(C:/Users/thiru/AppData/Local/Composer/repo/https---packagist.o
rg/packages.json): failed to open stream: Permission denied
https://packagist.org could not be fully loaded, package information

[2018-03-21 07:36] ruflin commented on #1473
The `NullTransport` is only used for testing and responds with a hardcoded answer: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Transport/NullTransport.php#L26 We can definitively extend the NullTransport for more tests if needed. Feel free to open a PR.

[2018-03-21 15:13] ruflin commented on #1475
Definitively, we should support the above params. Do you want to open a PR with the change?

[2018-03-21 15:21] ruflin commented on #1463
Can you try a completely empty composer file with only Elastica inside to see if you get it working?

[2018-03-26 00:48] IgorDePaula commented on #1470
@ruflin I discovery the error, simple.

I invaded your lib, and depurated your code, which host the lib was got, I see https://https://, i.e., duplicated schema http(s). I removed the schema http from my host address config, and now it connect.

Thanks for your patience.

[2018-03-26 00:48] #1470 closed

[2018-04-05 06:55] cjost1988 opened #1478 "Support of multiple conditions for term aggregation order"
Hello,

I figured out that elasticsearch is allowing multiple conditions for term aggregation orders.
But as far as I understand `Aggregation\Terms::setOrder()` is not capable of this feature.

Are there any plans to support this?

Cheers,
Christian

[2018-04-05 09:04] dkarlovi opened #1479 "[DX] Add __toString to Query"
It would make debugging usage much easier if we could just echo the query object and have it return a query ready for using directly with Postman, say:

[code]

[2018-04-06 07:45] ruflin commented on #1478
You are right that there is not a named API function for this today but you can already make use of it by using `setParam` on your Terms object. All setOrder does is using setParam and setting one array:

https://github.com/ruflin/Elastica/blob/9e840a1b9bc051baef16473c66a0084fc87cf091/lib/Elastica/Aggregation/Terms.php#L21

On your end you can pass an array with your values:

[code]

I haven't tes

[2018-04-06 07:55] ruflin commented on #1479
Happy to add magical methods if it helps debugging and does not have side effects. Want to open a PR? I wonder if we should add this directly in the Param object so all other objects would inherit it.

[2018-04-06 08:07] dkarlovi commented on #1479
Sounds easy enough. :+1:

My usual workflow here was to have a custom query built by hand and trying to rebuild it using query builder or such. Param is OK too, but as you can't just paste it to a ES shell to verify it's valid, don't see the value other than easier visual inspection. But, that sounds valid too, now that I think about it.

You have much more experience, you decide.

[2018-04-06 08:36] cjost1988 commented on #1478
@ruflin Thank you for your quick response.

Yes, I already forked your repo and added these methods on my own :) I didn't wanted to call the `setParam`/`addParam` methods directly to keep the interface clean.

I'll add tests and will provide a PR when it's ready from my side.

[2018-04-06 08:46] cjost1988 commented on #1478
I'll add an additional method `setOrders` beside `setOrder` which takes an array of order definitions to not add a BC => could be merged without adding BC release.

This also guarantees no broken queries if a user will execute both `setOrder` and `setOrders` at the same time. Just overwriting his previous definition.
An `addOrder` beside the current `setOrder` method could potentially lead to wron

[2018-04-06 12:52] ruflin commented on #1479
I really like the idea to be able to paste it to the kibana dev tools. I remember we had in the past a logger that was writing almost that format.

The reason I suggest Param because having the raw object is not only useful for Query, but also for Search, Snapshot any many others I assume. But to make it useful for the Dev Tools, it needs to have a path too.

Let's start experimenting with Query/S

[2018-04-06 12:53] ruflin commented on #1478
SGTM. Looking forward to the PR.

Let's skip `addOrder` until we see a use case for it.

[2018-04-06 13:10] cjost1988 commented on #1478
This got resolved in: [#1480](https://github.com/ruflin/Elastica/pull/1480)

[2018-04-06 13:10] #1478 closed

[2018-04-06 16:37] akalongman commented on #944
Someone is working on this?

[2018-04-06 20:01] ewgRa commented on #944
Me not and I haven't any plans to work on it.

There was good step forward in this direction https://github.com/ruflin/Elastica/pull/1277 .

Next step will be harder and probably require big brake backward compatibility, but it can be a final step for this issue. I personally would be happy to see PR for next step :)

[2018-04-09 09:18] cjost1988 opened #1483 "Fix code in 5.x to fulfill guidelines"
Currently there are files in the `5.x` branch which do not fulfill linter requirements:

* \Elastica\Bulk\Action
* \Elastica\Test\BulkTest
* \Elastica\Test\BulkAction\UpdateDocumentTest

Here are the changes that should be changed: [Changes](https://gist.github.com/cjost1988/1a4d871b195bf7cb1da0639334ad8603)

If I've the time I'll create a PR at the weekend, if no one else wants to fix it.

[2018-04-10 09:44] elshobokshy opened #1485 "Date format ?"
So we can add a date format like this :
`'collection_date_added' => array('type' => 'date')`
But .. this forces me to give a YYYY-MM-DD format. I, tho, want to have a YYYY-MM-DD HH:MM:SS format, how to do this? Thanks!

[2018-04-10 11:04] ruflin commented on #1483
@cjost1988 A PR would be more then welcome 🎉

[2018-04-10 11:07] ruflin commented on #944
@akalongman As @ewgRa the foundation is there. Now the questions are which are the big next steps and how to get there in the least breaking way.

One thing I would really like to see is that long term the `Connection` and `Transport` package in Elastic compeltely disappear and it fully relies on the official client.

@akalongman If you have time to work on it and think more about it I'm more then

[2018-04-10 13:28] elshobokshy commented on #1485
I found out I just had to write it as this to find my right format :
`'collection_date_added' => array('type' => 'date', 'format' => 'yyyy-MM-dd HH:mm:ss')`

I'm leaving this here for reference.

[2018-04-10 13:28] #1485 closed

[2018-04-13 04:51] bkanber commented on #1463
It sounds like you are having problems with Composer on Windows. This doesn't seem like an Elastica problem to me. You should try confirming that the vendor directory contains the correct repositories, perhaps reinstall composer or clear its caches.

[2018-04-14 17:07] yangjingying1993 opened #1486 "curl:(6) Could not resolve host:elasticsearch"
I am trying to run some elastic commands through curl.

On command prompt, when i type: curl -XGET -H "charset=UTF-8" elasticsearch:9200/test/ddh/_search -d "{ """query""" : { """match""" : { """name""" : """邓第晖"""} } }"

But, the command gives me error: Could not resolve host: elasticsearch

[2018-04-16 06:40] ruflin commented on #1486
This seems to be a question related to elasticsearch not Elastica. Best use the discuss form for this: https://discuss.elastic.co/

[2018-04-16 06:40] #1486 closed

[2018-04-16 15:22] elshobokshy opened #1487 "$data['script'] is required"
Whenever I try to write $qb->filter()->script(...) I get the error mentioned in the title, what am I doing wrong?

[2018-04-17 07:12] ruflin commented on #1487
Could you share a bit more code and the full error message?

[2018-04-17 11:57] elshobokshy commented on #1487
Full error message :
`Fatal error: Uncaught exception 'Elastica\Exception\InvalidException' with message '$data['script'] is required' in /var/www/vendor/ruflin/elastica/lib/Elastica/Script.php:119 Stack trace: #0 /var/www/vendor/ruflin/elastica/lib/Elastica/Script.php(99): Elastica\Script::_createFromArray(Array) #1 /var/www/vendor/ruflin/elastica/lib/Elastica/Filter/Script.php(43): Elastica\Scri

[2018-04-23 08:42] ruflin commented on #1487
As this part of the code does not exist anymore in the most recent release, could you share which version of Elastica you are using?

[2018-04-23 14:34] elshobokshy commented on #1487
I'm using version 2.3 :) It's old I know. but I'm limited to my company's PHP version. Anyways it's okay I found another way to do it. I just wanted to point out a 'maybe bug' in an ancient version. Thanks anyways!

[2018-04-23 14:47] elshobokshy opened #1489 "Group by in Elastica?"
There's no Group By aggregation in Elastica, any idea how to do a group by otherwise ?

[2018-04-23 14:47] #1487 closed

[2018-04-24 06:57] ruflin commented on #1487
@elshobokshy Glad you found a workaround. Have not really investigated it as it's unlikely that we will have an other release for 2.3. Hopefully you can also upgrade in the near future ;-)

[2018-04-24 07:00] ruflin commented on #1489
If something is not directly supported by Elastica, you can always use raw queries: http://elastica.io/example/raw-array-query.html

In never versions (6.x) you can also use the underlying official client to create queries.

[2018-04-24 07:02] elshobokshy commented on #1489
Thanks!

[2018-04-24 07:05] ruflin commented on #1322
@daviscaics Great to hear you are interested in contributing. For the examples best have a look at the Query objects: https://github.com/ruflin/Elastica/tree/master/lib/Elastica/Query They all indirectly extend `Param`: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Param.php

[2018-04-24 11:31] daviscaics opened #1490 "Class for Elasticsearch Task Management API"
Elastica doesn't provide a class for Task Management API

As the minumum, the Class should provide
- getting the list of currently running tasks (GET _tasks)
- getting task by id (GET _tasks/node_id:task_id )
- providing a possibility to check if a task is completed

Future improvements should be easily possible, to include other features from Task Management API, e.g.
- specifying filters and opt

[2018-04-24 12:34] #1489 closed

[2018-04-25 08:56] elshobokshy opened #1491 "Post filter VS filtered query"
Okay so I have noticed that when I do **setFilter()**, it creates a **setParam('post_filter', $filter)**, which is outside the scope of the Query that contains only a **MatchAll()**. Now the problem is, when I try to add an aggregation, it doesn't take my filters into consideration as the aggs takes it's filters from the query and not the post_filter. This is frustrating. How can I manage to make

[2018-04-25 11:48] elshobokshy commented on #1289
I am looking to do the same thing .. Still not possible without raw queries? As raw queries will force me to re-writ all of my code.

[2018-04-25 11:49] elshobokshy commented on #1491
https://github.com/ruflin/Elastica/issues/1289

[2018-04-25 11:49] #1491 closed

[2018-04-25 12:49] aderuwe commented on #1456
@ruflin Seems to have been never closed. ;)

[2018-04-25 13:24] aderuwe opened #1492 "4xx and 5xx responses"
Hi,

In https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Transport/Guzzle.php#L59, exceptions for 4xx and 5xx are turned off. However, it seems their cases are not being handled anywhere else, resulting in seemingly valid responses that are not; especially when using AwsAuthV4.

Am I missing something? How could I turn that on?

[2018-04-25 13:48] aderuwe commented on #1492
I should of course examine the response ... Closing.

[2018-04-25 13:48] #1492 closed

[2018-04-25 14:00] ruflin commented on #1490
+1 on having support for the task API. Interested to contribute it?

Side note: Elastica can be used the access any API endpoint but just using raw queries or the underlying php-elasticsearch client, it's just not with nice objects.

[2018-04-25 15:50] ruflin commented on #1456
Ups, seems like I hit the wrong button. Thanks @aderuwe

[2018-04-25 15:50] #1456 closed

[2018-04-27 10:43] elshobokshy commented on #1403
How can you sort an aggregation in Elastica?

[2018-04-27 10:54] ruflin commented on #1289
I don't remember that someone opened a PR to add this feature, so it seems to be still not available.

@elshobokshy If the above works for you, you can just use `setParam` on your query object and don't have to use raw queries.

[2018-04-27 14:17] daviscaics commented on #1490
Yes, starting to work on that.
Thanks for the helpful side note!

[2018-04-27 14:28] ruflin commented on #1490
Great to hear. Feel free to open a PR early if you need some feedback.

[2018-05-11 00:59] spellord opened #1495 "Exception: No handler for type [string] declared on field [transaction]"
Hi dears,

I have this error when I try persist a entity in elastic 6

I run:
./bin/cake elastic_mapping Planillapagos

I get this error:

Exception: No handler for type [string] declared on field [transaction] in [/var/www/apps/hbc/vendor/ruflin/elastica/lib/Elastica/Transport/Http.php, line 174]
2018-05-11 00:36:48 Error: [Elastica\Exception\ResponseException] No handler for type [string] declar

[2018-05-11 01:50] spellord commented on #1495
The problem is with lorenzo plugin:
 /var/www/apps/hbc/vendor/lorenzo/audit-stash/src/Shell/ElasticMappingShell.php(113)

String type is deprecate I change to text but now I get this error
Exception: Could not convert [transaction.index] to boolean in [/var/www/apps/hbc/vendor/ruflin/elastica/lib/Elastica/Transport/Http.php, line 174]

[2018-05-11 02:30] spellord commented on #1495
values not_analyzed and analyzed are not long in used, instead you need use true or false values, I found other error but I see the problems is with the other plugin not with this

[2018-05-11 02:30] #1495 closed

[2018-05-16 15:43] mandavister opened #1496 "ES is getting rid of mapping types - how do I use elastica without them?"
"Mapping types will be completely removed in Elasticsearch 7.0.0"

https://www.elastic.co/guide/en/elasticsearch/reference/6.2/removal-of-types.html

How can I use Elastica today to be compatible with ES 7 ?

[2018-05-17 08:00] ruflin commented on #1496
The default type will be `_doc`. You should be fine when you use this as your type. Let me know if this does not work.

[2018-05-24 13:46] mmoreram commented on #1103
ping @ruflin - This endpoint is not implemented in this library, right?

[2018-05-25 11:20] Joozty commented on #1381
I think this should be corrected. Where is the code of [API doc](http://elastica.io/examples/)? I can fix it

[2018-05-25 12:33] ruflin commented on #1381
@Joozty Docs are in this repo: https://github.com/ruflin/elastica.io

[2018-05-25 13:05] #1416 closed

[2018-05-25 14:56] jmada commented on #1381
Where I can found a concrete example? :(

[2018-05-25 14:59] Joozty commented on #1381
@jmada It depends on which version do you use because in newest version `scanAndScroll method` was deprecated.

[2018-05-25 15:06] waaghals opened #1498 "Cannot set field for RandomScore"
From ElasticSearch 7 it is required to add a field parameter when a seed is set. This results in a deprecation warning for now.

Currently it is not possible to set the field parameter with `setRandomScore` on `Elastica\Query\FunctionScore`.

Creating the `random_score` manually seems to work:
[code]

[2018-05-25 16:12] jmada commented on #1381
@Joozty I'm using the '^5.3' versión with ES 6.0.1

[2018-05-28 09:42] ruflin commented on #1498
@waaghals Interested to open a PR for this?

[2018-05-30 08:46] mmoreram commented on #1103
@ruflin would be nice to close this Issue ;)

[2018-06-05 09:06] Vorta opened #1504 "Elastica\Aggregation\DateHistogram expects int as interval"
From Elastica\Aggregation\Histogram which DateHistogram extends
[code]
@param for $interval should be **string** for DateHistogram, not **int**.

Suggestion:
Change to `@param int|string    $interval`

[2018-06-06 11:55] ruflin commented on #1504
If I understand this correctly, it's mainly a documentation issue? Do you want to open a PR with the change?

[2018-06-08 08:37] tomekit commented on #1394
Experiencing same problem. What's weird it happens on `live`, but doesn't happen on testing environment built from live (same data).
I've got 8GB limit, which is already horribly wrong. When I do profile the code it uses less than 1GB.

This is the error:
`Environment: live, hostname: live-core5
Fatal Error (E_ERROR): Allowed memory size of 8589934592 bytes exhausted (tried to allocate 20480 bytes

[2018-06-12 07:29] ruflin commented on #1394
Which Elastica version are you using?

[2018-06-12 07:42] tomekit commented on #1394
Thanks for your response, I've update my answer, it wasn't the Elastica the issue finally.

[2018-06-15 11:40] oleg-andreyev opened #1505 "What versions of library is maintained and support?"
From README, it's unclear what versions are maintained and supported.
Against what lowest version PR could be submitted?

P.S.
Thanks to **all** contributors and @ruflin for their work and many hours spent for this library.

[2018-06-15 14:35] ruflin commented on #1505
Master is currently identical to 6.x so this is the most maintained version. But I recently published a version for the 5.x branch which especially the community still backport things. Does this answer your question?

[2018-06-15 18:44] oleg-andreyev commented on #1505
Q: So 2.x / 3.x (which are for ES 2.x) aren't maintained?

I think it would be great to reflect this information in README or CONTRIBUTING files, so that users would be aware that version of lib is maintained and PR could created against certain versions, what do you think?

[2018-06-18 07:31] ruflin commented on #1505
@oleg-andreyev Happy to accept a PR here. In general it can be said that it mostly follows EOL dates from Elasticsearch: https://www.elastic.co/support/eol Main difference is that new features or mostly added only to new release and the previous major is only touched when really needed.

For 2.x/3.x: There weren't any PR's in quite some time. Probably also because there is no 3.x branch :-)

[2018-06-18 08:13] oleg-andreyev commented on #1505
@ruflin I would be happy to create PR, will do it, but before just wanted to have clear understanding, thanks!

[2018-06-18 08:13] #1505 closed

[2018-06-18 08:27] ruflin commented on #1505
@oleg-andreyev Thanks. Probably the part that we should specify is what "maintained" means.

[2018-06-25 19:42] samdark opened #1508 "Throw exception on 403 response"
## What I do

In case you deny access in AWS policies, user would get 403 response with "User: anonymous is not authorized to perform" message.

## Expected

Exception containing a response code and a message.

## Actual

Elastica ignores the fact so I have to check each call to the library like the following:

[code]

[2018-07-02 12:42] ruflin commented on #1374
We have now one of these issue where the question is if it's a break or not. Would be great to get some comments on it: https://github.com/ruflin/Elastica/pull/1506/files

[2018-07-16 10:41] mssimi opened #1512 "Range Query"
Hey, I'm having problem with [Elastica\Query\Range](https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Query/Range.php).

I either don't understand how to use it correctly or it is bugged.

Example code:

[code]

It generates query like this:

[code]

But it causes error: "[range] query does not support [productCategory.category.left]"

After checking elastic search [docs](https://www.ela

[2018-07-17 07:17] ruflin commented on #1512
Can you try:

[code]

[2018-07-17 07:54] mssimi commented on #1512
Thx this works.

[2018-07-17 07:54] #1512 closed

[2018-07-19 07:08] ValMotta opened #1513 "Elastica\Client - port parameter must be mandatory"
Hi guys,

I'm using Elastica for connect with Monolog to ELK stack on AWS, without PORT parameter the connection remain "on air" without any error or messages.

I think that parameter must have a default value (normaly 80) for continue without problem, or a message that alert you about it.

[2018-07-20 08:00] ruflin commented on #1513
The default port for Elasticsearch is 9200 and is also what is used as a default if not set.

I assume if you make a request with an invalid port you get an exception?

[2018-07-20 08:45] ValMotta commented on #1513
Hi Ruflin,

Try create a Client like this with a real endpoint

[code]

The process ignore the timeout and remain on air indefinitely.

[2018-07-20 13:29] Destroy666x opened #1514 "Aggregation include should expect string arrays and partitions"
As the title says - https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Aggregation/AbstractTermsAggregation.php#L29 isn't really compliant with https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-terms-aggregation.html#_filtering_values_with_exact_values and https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-te

[2018-07-23 09:04] ruflin commented on #1514
@Destroy666x Glad to hear it works and only docs are out of sync. Want to open a PR to fix it?

[2018-07-23 15:14] Destroy666x commented on #1514
Accordingly named setters for specific subparameters would be more intuitive too. Unfortunately I won't have much time in the nearest future.

[2018-07-23 15:57] Destroy666x opened #1515 "Classes similar to Result for suggest/aggregation"
I think it would be nice to have more OOP ways to access fields of results of suggest/aggregation queries.

[2018-07-25 14:02] ruflin commented on #1513
What is if you connect to a random address that does not exist. Do you get an exception?

[2018-07-31 09:32] CaroleBonfre opened #1516 "[application/x-www-form-urlencoded] is not supported"
When using the raw Json query to add documents in my Elastic index, I always have the same error :  Content-Type header [application/x-www-form-urlencoded] is not supported

Here is my code :
[code]

Nothing so complicated, with simple jsonData :

[code]

And my client :
[code]

Any idea about what is wrong here ?...

[2018-07-31 13:57] CaroleBonfre commented on #1516
I use version 2.3.1 of Elastica for project purpose

[2018-08-02 08:54] ruflin commented on #1516
Which version of Elasticsearch do you use?

[2018-08-02 08:58] CaroleBonfre commented on #1516
I solved the problem, it seems the error message was not the good one, but now it works fine.

A use ElasticSearch 6.3.0 and a add this while creating my client :
`"headers" => array("Content-Type" => "application/json")`

I found that there was a problem with my mapping, so I am not sure of what resolved the problem but now everything works :)

[2018-08-02 09:15] #1516 closed

[2018-08-21 11:28] hotrush opened #1517 "Could not connect elasticsearch inside docker network"
My client config looks like this:
[code]

When trying to send a request receiving exception - Elastica\Exception\ResponseException in /var/www/vendor/ruflin/elastica/lib/Elastica/Transport/Http.php:181

Trying to get error message with `$e->getResponse()->getErrorMessage()` - but it is empty.

I can connect elasticsearch with curl cli and with simple php curl script, but can not connect with this

[2018-08-21 13:34] xfoldvar commented on #1450
Hey.
We are not accessing _params directly. We are just adding params to a query through method addParam($key, $value) (packages/ruflin/elastica/lib/Elastica/Param.php:137). But this fails when we params are empty.

Exception:
Cannot use object of type stdClass as array
Snippet:

`/** @var $query \Elastica\Query\BoolQuery */`
`$query = $this->elasticSearch->getQuery()->getQuery();`
`$query->addPar

[2018-08-21 19:38] hotrush commented on #1517
My bad, not all discovered in cluster and no master assigned

[2018-08-21 19:38] #1517 closed

[2018-08-24 07:40] ruflin commented on #1450
I tried to figure out what this check for the empty _params is there and the creation of the stdClass. Here is is: https://github.com/ruflin/Elastica/issues/817

@xfoldvar Not sure I can follow your code above. So you get the error when you run `addParam`? Assuming `$query` is a BoolQuery object and toArray is not run yet, I would expect this to work?

[2018-08-27 09:36] xfoldvar commented on #1450
@ruflin Exactly, the exception is thrown while addParam(key,val) method is called on BoolQuery instance. The property _params is set to stdClass and addParam(key,val) is accessing _params as array.

[2018-08-28 09:02] ruflin commented on #1450
I still don't understand why _params should be stdClass before `toArray` is called. In the above you seem to use a framework around Elastica. Does the `getQuery()` in there run `toArray()`?

[2018-09-04 13:11] pashaBolshov opened #1518 "Added support to parent_id query in QueryBuilder"
Hello

ParentId query was added in May. But it was not added in Query Builder.
Please, could you add parent_id query in Query Builder?

`$qb->query()->parent_id($type, $id, $ignoreUnmapped);`

Thanks,
Pasha

[2018-09-05 12:38] ruflin commented on #1518
@pashaBolshov Do you want to open a Pull request?

[2018-09-05 13:04] pashaBolshov commented on #1518
@ruflin No, I don't.  I have never done it.

Please, could you fix?

Thanks,
Pasha

[2018-09-06 08:47] ruflin commented on #1518
Don't think I get to it in the next days. Perhaps someone else wants to pick it up?

[2018-09-18 14:18] maximenko opened #1520 "Update a tag in the 2.x branch."
Hello. Can we update a tag version in the 2.x branch? Now newest version is the 2.3.1, but the 2.x branch is behind the 2.3.1 tag who resolve problem with php 7.2.

Thanks.

[2018-09-18 19:00] kubk commented on #1446
It looks like the issue is fixed and can be closed.

[2018-09-20 02:50] shihgangliu commented on #1446
Sorry I forgot, thanks help.

[2018-09-20 02:50] #1446 closed

[2018-09-25 12:10] ruflin commented on #1520
There are currently two commits difference: https://github.com/ruflin/Elastica/compare/2.3.1...2.x

I'm actually a bit concerned about the first one not the PHP 7.2 one as I never really tested it and it could have some unwanted side effects. The reason of the 2.x branch was at the time it was created not to do release on it but have still a branch for people to do contributions if needed.

With t

[2018-09-25 12:53] zaqqq13 opened #1521 "Problem with setSize"
Please, help me. When i don't set size in query i have 10 records in result but i want to take all records in response. What i'm doing wrong?

[2018-09-25 12:58] zaqqq13 commented on #1521
I'm doing something like there:
`
if ($size = $criteria->getSize()) {
            $query->setSize($size);
        }
`

[2018-09-25 14:00] maximenko commented on #1520
I use the 1.6.2 version of the Elasticsearch. And in this time for me important upgrade the version for Elastica. In the near future I can't upgrade the Elasticsearch version.

[2018-09-27 07:18] #1498 closed

[2018-09-28 11:20] #1521 closed, assigned to nobody

[2018-09-28 12:28] maximenko commented on #1520
Sorry, but I can't do it. Because I use https://github.com/FriendsOfSymfony/FOSElasticaBundle/tree/3.2.x and it use ^2.1

I will be happy if you understand me! :)
Thanks.

[2018-10-01 08:34] ruflin commented on #1520
An alternativ we could do is creating a second 2.x branch, get the commit for PHP 7 in this branch and tag a release on top of it. Like this we would not have the risk of the other PR. Would you be interested to take on this work?

[2018-10-03 08:16] maximenko commented on #1520
What I should do?

[2018-10-11 15:07] jandom commented on #1508
@samdark completely agreed!

Now, in case of a typo in AWS credentials, 403 are silently ignored and that's just not a great "feature"

The code below is fair enough...
[code]

...because a few lines later, response is re-packaged and create a new Response object

[code]

However, that's really limited because Response hasError assumes that the response comes from ES cluster. If AWS credentials ar

[2018-10-11 15:15] jandom commented on #1508
This is the commit that introduced the problem

https://github.com/ruflin/Elastica/commit/47e6d70af7c72df8cc6ecba1c5bcf2a4eb210946#diff-77a5691dc6944986e3f43e8d562514d3

4xx and 5xx are not crashing to be handled later, except for some of them that are not, because hasErrors assumes $response['error'] is the source of truth

[2018-10-16 09:12] ruflin commented on #1520
@maximenko Did not forget you here. We need to create a separate branch, cherry pick the commit and make a release based on it. I just realised writing this that I must do it because of access rights. Will try to get it done next week.

[2018-10-16 09:20] ruflin commented on #1508
Any suggestions on how to fix it?

[2018-10-16 09:55] jandom commented on #1508
Setup the docker container via the makefile and had like 3 ideas, all ugly. So will get back with something more "kosher" in the next few days. Thanks for getting back!

[2018-10-17 08:57] thePanz opened #1526 "Release latest changes from 5.x"
Could you tag-release the latest changes from the 5.x branch?

[2018-10-18 07:46] ruflin commented on #1526
Will try to get some releases done next week 🤞

[2018-10-18 09:37] thePanz commented on #1526
Great! Thanks!

[2018-10-19 08:11] gontrocolo commented on #1397
Hey @george-ionita , its been a year since you wrote that. Any update on this?
Thanks :)

[2018-10-19 09:04] piwii opened #1527 "Create a new realease 3.2.4"
Hello,

I use the version 3.2.3 but i have a bug.
This bug is already fixed in master but not in 3.x

Please, can you make a release 3.2.4 with this commit : 663d7bd7256a0de59e1c6f85c0bd2713f2832bd6

Thanks you very much.

[2018-10-21 20:38] camohub opened #1528 "Scroll with Elasticsearch 2"
Hi, please can you help me with the scroll call to Elasticsearch 2 via Elastica library. I have question on Stackoverflow but nobody answered the question and I really dont know what is wrong https://stackoverflow.com/questions/52915863/elasticsearch-2-php-scroll-flow-issue
Thank you.

EDIT: I think the problem is in connection strategy file. But dont know what.

[2018-10-22 19:37] #1528 closed

[2018-10-23 13:35] Destroy666x commented on #1508
Annoying issue that lost me a bunch of time. Also when attempting AWS connection, but this time a 400 for HTTP/HTTPS incompatibility was ignored because I didn't realize `transport: https` was needed. No error in the console whatsoever and progress bars went on quite slowly, so we assumed that ES is failing for some reason. Looking forward to a fix, if I find any time I might

[2018-10-24 12:32] jandom commented on #1508
@Destroy666x agreed, this is not a great behaviour at present.

Spent a some time last night how it all fits together
- this is actually a feature not a bug
- the Client class from ruflin/Elastica gobbles up all the exceptions into transportInfo
- there is even a test for this

Thus, it is instead down to downstream client to implement an error check. in this case FOSElasticaBundle extends the bas

[2018-10-25 09:10] thePanz commented on #1527
Do you mean the `5.x` branch?

[2018-10-29 09:28] jandom commented on #1508
This is now resolved by two PRs
- https://github.com/ruflin/Elastica/pull/1529
- https://github.com/FriendsOfSymfony/FOSElasticaBundle/pull/1465

[2018-10-30 13:31] ruflin commented on #1526
@thePanz Just looked into the diff. If I get this right for 5.3.3 only phpdoc changed, no code changes?

[2018-10-31 08:43] thePanz commented on #1526
Yes @ruflin , it's only a change in the php docblock :)

[2018-11-02 12:38] ruflin commented on #1526
Not sure if that is really worth a release? :-)

[2018-11-02 13:28] thePanz commented on #1526
Well, people working on projects using phpstan will be quite happy about it ;)

[2018-11-15 15:33] camohub commented on #1381
Hi, I need to use Elastica 5.3 with ES2 and call the scroll api. scanAndScroll is gone and I try to do it via request() call like:
    ````$elastic->getIndex( 'event' )->request( '_search?scroll=7s&amp;search_type=scan', 'POST', ['size' => 1000, 'sort' => '_doc'] )->getData();````
in the next round I call requset() this way:
````$elastic->request( '_search/scroll', 'POST', ['scroll' => '7s', 'scro

[2018-11-19 08:14] ruflin commented on #1504
Resolved in https://github.com/ruflin/Elastica/pull/1534

[2018-11-19 08:15] #1504 closed

[2018-11-19 10:32] p365labs commented on #1479
This idea is really interesting, from a development *pov* is really usefull having such method that allow to test directly the query inside ES.

[2018-11-21 10:23] elshobokshy opened #1536 "Check if elasticsearch is adding documents"
I have a page that gets from an API source elasticsearch results. I want to be able, when I re-run the elasticsearch mapping, to show them a "This mapping is currently being rewritten" message or something similar.

I know in Elastica the only way to access such information is through the client class. http://elastica.io/api/latest/classes/Elastica.Client.html

[code]
But I can't find a way to get

[2018-11-21 22:40] p365labs commented on #1536
What about using the getStats() at Index Level ?
maybe something like

[code]

or maybe have a look at all stats
[code]
are the stats returned what u want ?
Have a look at all documentations on [Indices Stats](https://www.elastic.co/guide/en/elasticsearch/reference/6.4/indices-stats.html)

Another interesting endpoint is [Indices Recovery](https://www.elastic.co/guide/en/elasticsearch/reference/6.

[2018-11-23 07:46] imanilchaudhari opened #1538 "Call to undefined method Elastica\Query::setFilter()"
Hi, I have upgraded Elastica from unknown to 6.0 and now am facing the issue of undefined method `Query::setFilter()`. I am using php7.2 on ubuntu 18.04.

[code]

error
`Call to undefined method Elastica\Query::setFilter() `

[2018-11-23 17:49] p365labs commented on #1538
yep the setFilter is not in Query anymore.
I suggest you to have a look at tests

for example:
```Elastica\Test\Query\QueryString```

[2018-11-23 17:49] #1538 closed

[2018-11-27 09:44] #1536 closed

[2018-11-27 09:44] p365labs commented on #1518
@pashaBolshov done :)

[2018-11-27 09:44] #1518 closed

[2018-11-28 12:49] #1508 closed

[2018-11-28 17:06] ShytN1k opened #1541 "Suggestions on multiple types/fields return results only for the last suggestion"
Hello!
I've used your lib not for a long, but it helped me a lot. Thank you!
I have a question about suggestions on multiple types/fields.
I tried to get request with curl.
[code]
and I got expected result with results for the both completions:
[code]
So now I try to do something similar to this in my code:
[code]
But I get only reasons for the last provided suggestion. Dump of the result:
[code]

[2018-11-29 09:23] p365labs commented on #1541
hi @ShytN1k
I confirm this is a bug. There's a bad implementation on Suggest side :)
if you want open up a PR you're welcome!

[2018-11-30 08:43] p365labs commented on #1541
Hi all!
I've had a look at the ``Completion Suggester`` and this is not a bug. It's the expected behaviour. Completion Suggester extends ```Elastica\Suggest\AbstractSuggest```
which constructor is

[code]

As you can see the first parameter is $name. Giving the same name as in your (@ShytN1k )
invalidate the first (it's an associative array where the name is the key of the array).
I've created a n

[2018-11-30 10:19] ShytN1k commented on #1541
@p365labs thank you for responses. Now I understand the behavior better and will try it soon.
PS I tried various methods and combinations so `setText` was in the latest try. But any way thank you for this proposal too.

[2018-11-30 12:55] #1496 closed

[2018-12-01 07:18] #1463 closed

[2018-12-02 05:09] angelxmoreno opened #1544 "Authentication"
Given the following config:
[code]

This yields:
[code]

What am I doing wrong? How do I get an instance of the actual request being used?

[2018-12-03 09:03] ShytN1k commented on #1541
@p365labs  Thanks again for description, everything works correctly now.

[2018-12-05 05:57] p365labs commented on #1513
I created a couple of tests #1546  to verify connection problems or timeouts not respected, I was not able to reproduce it. Maybe there's something more than Elastica that create this problem.

[2018-12-06 12:48] ruflin commented on #1520
@maximenko Better late then never? So there is now a tag `2.3.2`: Can you check if it is what you needed?

[2018-12-06 12:51] ruflin commented on #1526
@thePanz I pushed a tag 5.3.3: https://github.com/ruflin/Elastica/tree/5.3.3 I didn't use the release thingy on Github for it. Is that enough?

[2018-12-06 15:34] #1513 closed

[2018-12-07 10:45] thePanz commented on #1526
Thanks @ruflin, it should be enough :)

[2018-12-07 10:45] #1526 closed

[2018-12-09 22:15] massimilianobraglia opened #1548 "PHP 7 Typehintings Tracker"
In this issue I will update the work in progress.

Namespaces:
- [x] `Elastica\Aggregation` (https://github.com/ruflin/Elastica/pull/1549)
- [x] `Elastica\Bulk` (https://github.com/ruflin/Elastica/pull/1550)
- [x] `Elastica\Cluster` (https://github.com/ruflin/Elastica/pull/1551)
- [x] `Elastica\Connection` (https://github.com/ruflin/Elastica/pull/1560)
- [x] `Elastica\Exception` (https://github.co

[2018-12-11 07:55] jmsche commented on #1520
@ruflin Thanks for tagging it :) Works great for me.

[2018-12-11 08:49] #1520 closed

[2018-12-11 13:44] maltehuebner commented on #1397
I added the `BucketSelector` aggregation in #1554.

[2018-12-12 04:07] #1394 closed

[2018-12-12 04:11] #1433 closed

[2018-12-12 04:11] #1461 closed

[2018-12-12 04:13] p365labs commented on #1379
@osavchenko #1548

[2018-12-12 13:06] osavchenko commented on #1548
May I help with this feature?

[2018-12-12 16:11] p365labs commented on #1548
@massimilianobraglia maybe you and @osavchenko could split the work in two and divide the effort ?
what do u think ?

[2018-12-12 18:22] massimilianobraglia commented on #1548
That's a good idea @p365labs! Thank you, @osavchenko

I was processing `Connection` namespace, so you can start with the others uncheck

[2018-12-13 06:54] SerikK opened #1556 "Bool query support pagination?"
How to add pagination in boolquery, I use querybuilder.
Elasticsearch  version 6.5

[2018-12-13 08:02] osavchenko commented on #1548
@massimilianobraglia I'll start from the end of the list and we will meet each other in the middle ;)

[2018-12-13 08:48] SerikK commented on #1556
Just added boolquery in \Elastica\Query

[2018-12-13 08:48] #1556 closed

[2018-12-13 09:01] massimilianobraglia commented on #1548
 @osavchenko fine for me! 😄

[2018-12-14 06:34] bdlabs opened #1559 "Not compatible with the php 5.3.3 version"
https://github.com/ruflin/Elastica/blob/51faf4fd6c3e80c121dc30776d8f3f6e56ea7a8f/lib/Elastica/Query.php#L404

This is not compatible with the php 5.3.3 version

if (isset($this->_params['post_filter']) && 0 === count(($this->_params['post_filter'])->toArray())) {
            unset($this->_params['post_filter']);
}

request.CRITICAL: Symfony\Component\Debug\Exception\FatalErrorException: Parse Erro

[2018-12-14 14:39] jmsche commented on #1559
PR'd in #1561. Sorry for the miss, too much used to PHP 7+ :)

[2018-12-14 16:41] osavchenko commented on #1379
Related to Global Typehint Change

[2018-12-14 16:41] #1379 closed

[2018-12-16 14:32] osavchenko commented on #1548
Should we use `strict_types`?

[2018-12-17 08:41] massimilianobraglia commented on #1548
From my POV using `strict_types` is necessary. The only problem is that declaring strict types on every file will cause a huge BC, and that is not something a library wants to 😄

@ruflin and @p365labs my proposal about strict types is to release those in the next major release. What do think about it?

[2018-12-17 12:03] ruflin commented on #1548
Agree that we should only introduce it in a next major. After all these PR's went in we should probably branch of 6.x and then we can start with strict_type. What do you expect will be the impact on our users. Is this something already commonly used? Is PHP planning to enable something like this by default?

[2018-12-17 12:52] mgallego opened #1570 "3.2.* branch to create a pull request"
Hi,

I've a bug with the 3.2.3 release and PHP 7.2.

I'm working in a solution but I don't find a right branch to make a pull request. Could you create a new branch for 3.2.* releases, please?

Thanks.

[2018-12-17 13:51] ruflin commented on #1570
@mgallego I just created a 3.x branch which should help here.

[2018-12-17 13:55] mgallego commented on #1570
Thank you!

[2018-12-17 13:55] #1570 closed

[2018-12-17 16:35] massimilianobraglia commented on #1548
No, I don't think that PHP is planning to introduce this by default. They didn't do it as of 7.3.
Anyway, that `declare` can be set as a rule of PHP-CS-Fixer, so don't worry about setting it manually.

Strict types are already in use by some Symfony bundles, Doctrine's libraries and so on

[2018-12-18 08:15] ruflin commented on #1548
Thanks for the details. Mainly asking to better understand for which and how many of the Elastica users this could become a challenge.

[2018-12-19 16:06] killerwolf commented on #1559
I'am facing the same issue
I upgraded from 2.3.1 to 2.3.2 (because i am still using ES 1.7 with PHP5.6)

`Uncaught PHP Exception Symfony\Component\Debug\Exception\FatalErrorException: "Parse Error: syntax error, unexpected '->' (T_OBJECT_OPERATOR)" at /var/www/application/vendor/ruflin/elastica/lib/Elastica/Query.php line 404`

[2018-12-19 16:16] jmsche commented on #1559
@killerwolf Can you check if the patch proposed in #1572 fixes the issue? Thanks

[2018-12-19 17:56] p365labs commented on #1548
@ruflin  @massimilianobraglia sorry I missed the last message, I agree on the idea of ```having strict_types``` on the next major

[2018-12-20 08:13] p365labs opened #1580 "Create 6.x branch and leave master for 7.x"
The idea behind this issue is tracking the activities in order to get these 2 things done :

- create a 6.x branch ~~and merge all stuff for 6.x branch~~
- leave on master all new implementations for 7.x
- merge Pr's on master ~~commit, for 7.x and 6.x, in master and in 6.x branch~~

I think we should have this task to be done :

- [x] update README.md in order to specify 6.x branch has been creat

[2018-12-20 08:41] osavchenko commented on #1548
I'm not sure, probably - not

[2018-12-20 08:44] camohub commented on #1301
I have this problem with older version of Elastica but now Elasticsearch 6 throws an error Content-Type header [application/x-www-form-urlencoded] is not supported
I need to find out how to set headers for request. Can somebody show me the way how to do it?

[2018-12-20 10:56] Destroy666x opened #1581 "DisMax with array of queries is broken"
If you pass an array, which the function seemingly supports based on the exception/condition but not the function name, you get a `query malformed, must start with start_object` error. Moving the logic to separate `addQueries` function would be more logical

[2018-12-20 14:04] p365labs commented on #1581
hi @Destroy666x
- which version of Elastica r u using and which of Elasticsearch ?
- can you give us some example in order to have reproduce the same error ?

[2018-12-20 17:16] Destroy666x commented on #1581
Latest, 6.3.x. But it'll happen with any ES version.

The example is that this https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Query/DisMax.php#L18 and this https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Query/DisMax.php#L27 line suggest that the parameter can be an array of objects extending `AbstractQuery`, but when you pass an array you simply get the mentioned error.

[2018-12-20 17:37] p365labs commented on #1581
@Destroy666x got it, can u show me a simple array which raises the error ?

[2018-12-21 08:17] ruflin commented on #1580
I wonder when we should do the branch, now or after all the type hinting cleanups?

[2018-12-21 08:19] p365labs commented on #1580
yep ur right.
I've created the branch but it's better doing it after merging type_hinting PRs.
I'll remove it.

[2018-12-21 09:49] massimilianobraglia commented on #1548
@ruflin it was just an idea:
- new PR with fixer rule that introduce the `declare(strict_type);` statement
- run the linter
- execute test
- from time to time rebasing it from master and run again test to check that the strict_typeness won't broke things
- when the major comes then we can merge it

[2018-12-21 12:39] ruflin commented on #1548
Got it. Probably good as a one time thing to check. I was kind of hoping we could enable it somehow / somewhere to for the test runs.

[2018-12-23 05:38] p365labs commented on #1581
@Destroy666x #1584 PR with test proving the array works well. Probably you have tested it with a wrong array.

[2018-12-23 05:46] #1397 closed

[2019-01-09 09:36] camohub opened #1589 "ElasticaStrategy"
I have two versions of Elasticsearch on server (E2 and E6). I need to handle this situation but I cant find any documentation about ElasticaStrategy settings. Is there any or not?
Thank you.

[2019-01-10 07:41] ruflin commented on #1589
Each Elastica version only supports a specific major of Elasticsearch. So for the above use case you would need two Elastica versions.

I wonder in general how you run these versions in parallel. Is the same app connecting to both?

[2019-01-10 08:15] camohub commented on #1589
Now I have only one Elastica which uses ElasticaStrategy class to handle this two versions on Elasticsearch.  Here is the code
[code]
When new Elastica/Client is created this ElasticaStrategy is included in $config array under the key connectionStrategy => ElasticaStrategy. And it works.

[2019-01-11 12:09] ruflin commented on #1589
This is an interesting workaround as it's not really what Connection/Strategy was created for. So did the above solve your problem fully?

[2019-01-11 15:12] camohub commented on #1589
Yes it works. It is used few years. I am not the author of the solution but find it in one of the project I am working on.

[2019-01-11 15:59] romaricdrigon commented on #1559
I also had this issue, with PHP 5.6 Elastica 2.3.2 does not work - 2.3.1 max.
I will have a look at the patch later.

[2019-01-11 16:06] romaricdrigon commented on #1559
The fix in #1572 solves the issue  🎉

[2019-01-11 17:47] p365labs commented on #1559
#1572 has been merged closing.

[2019-01-11 17:47] #1559 closed

[2019-01-14 07:33] ruflin commented on #1589
:-) To answer your initial question: All the docs around ElasticStrategy are the ones in the source code.

[2019-01-15 09:00] massimilianobraglia commented on #1548
@ruflin and @p365labs sorry about the delay in completing this one. It's a period very full :(

Maybe can you start reviewing what's been done?

Meanwhile I'm trying to complete the last point.

[2019-01-15 13:52] Destroy666x commented on #1581
@p365labs Yes, you're right I had some confusion between BoolQuery and this since I used both next to eachother. My bad.

[2019-01-16 12:34] ruflin commented on #1548
@massimilianobraglia Sorry for the delay on reviews here on my end. I was kind of waiting on our decision on the defaults (good excuse ? :-) ). I like your most recent proposal.

[2019-01-16 13:14] massimilianobraglia commented on #1548
No problem about the delay 😄 I know that feeling!

[2019-01-18 08:41] p365labs commented on #1548
Hi @ruflin yep! I totally agree it's a good compromise.

[2019-01-18 10:00] massimilianobraglia commented on #1548
Ok then, I'll update my PRs ASAP 😄

[2019-01-18 10:44] osavchenko commented on #1548
Guys, I have changed my work and little bit busy last days, so, I remember about PR's and will update them soon

[2019-01-25 10:19] p365labs commented on #1580
@ruflin as per this discussion I updated this issue in order to keep track of what is needed for merging "TypeHinting" Pr's.

Shell I start with this plan ?

[2019-01-25 15:15] EliuFlorez opened #1597 "Migration 2.8 to 5.3 Help!"
Hello! I'm new to elasticSearch and I'm migrating "elastic" from 2.8 to 5.3.3 if I'm having a hard time switching filtered (), filter () to a filter query. if you have a migration tutorial it would be fantastic if not a little help thanks.

`$qB = new QueryBuilder();

$query = $qB->query()->match_all();

$filter = $qB->filter()->bool()
	->addMust($qB->filter()->type('article'))
	->addMust($qB->fil

[2019-01-25 21:07] EliuFlorez opened #1598 "Error Aggregation Script"
Hello! I have an error to implement a script to 'Terms' which throws error in the size.

![agrs-script](https://user-images.githubusercontent.com/784787/51772887-0c05ac80-20a2-11e9-8aec-9d02ca1fb747.png)
![agrs-error](https://user-images.githubusercontent.com/784787/51772895-10ca6080-20a2-11e9-85ca-6dec668a0a90.png)

[2019-01-28 08:34] ruflin commented on #1580
@p365labs Sounds good to me. Doing all the type hinting PR's into master instead of 6.x has also the advantage of being on the safe side. We can always backport if it becomes an issue.

[2019-01-29 09:02] mgallego opened #1601 "New release 3.2.4"
Could you create a new release 3.2.4 from 3.x branch? Is for to be able to use the latest changes through composer/packagist.

This new release will be compatible with PHP 7.2 #1571

Thank you.

[2019-01-29 09:54] thePanz commented on #1601
I am also worried about that line, most of all: if the `_params['post_flter']` is not an object, the call to `->toArray()` will break.
Are we running the same code on 5.x?

[2019-01-29 09:59] ruflin commented on #1601
I'm not sure if we made this change in 2.x or 5.x. Someone has time to check? :-)

[2019-01-29 18:23] EliuFlorez commented on #1601
Help please! https://github.com/ruflin/Elastica/issues/1597

I'm new to elastic search and I do not know how to migrate this part to version 5.x

[2019-01-30 07:59] ruflin commented on #1601
@EliuFlorez Please do not post on unrelated issues.

[2019-01-30 08:00] ruflin commented on #1597
There is no version 2.8? For example queries best have a look at the Elastica testsuite.

[2019-02-01 15:58] mediaparttech commented on #1601
I agree with @mgallego request, it will be great !

[2019-02-05 17:46] camohub opened #1604 "Error: Class 'Psr\Log\NullLogger' not found"
Hi there, I have a project without Composer. So I downloaded a new version of Elastica and according [documentation](https://elastica.io/getting-started/installation.html#section-include) I made a loader file which looks like
[code]
It seems it works. But when application try to run Elastica/Client __construct() it throws me an error: **Class 'Psr\Log\NullLogger' not found in C:\wamp64\www\indexAp

[2019-02-05 18:22] p365labs commented on #1604
Hi actually I discourage the use of Elastica and in general this kind of libraries without composer, anyway, if you want to try it without the use of composer first you should consider libraries **required** by composer

[code]

[2019-02-05 18:37] camohub commented on #1604
Ah yes I understand. I will try it. Thanks.

[2019-02-06 10:19] ruflin commented on #1601
I found the code in the 2.3.3 tag: https://github.com/ruflin/Elastica/blob/2.3.3/lib/Elastica/Query.php#L404 I think we should be fine with a release then. @thePanz WDYT?

[2019-02-06 10:20] ruflin commented on #1597
I think we need a bit more background here. What is the Exact version of Elastica you are using and want to use and the same for Elasticsearch. Do you already have a plan on the Elasticsearch migration? In any case have a look at https://www.elastic.co/guide/en/elasticsearch/reference/5.2/setup-upgrade.html

[2019-02-06 18:43] EliuFlorez commented on #1597
@ruflin
if the version of elasticSearch is vs2.3.4 and the elastic version is 3.2.3 which I want to migrate to elasticSearch 5.x and elastic 5.x

Like the filter script migration: $ elasticFilter = $ qB-> filter () -> script ($ script); they are questions that I would like to help me since I am a newbie with elasticSearch

[2019-02-07 07:21] p365labs commented on #1580
@ruflin what about merging #1599 before branching 6.x ?

[2019-02-07 07:36] ruflin commented on #1580
Done

[2019-02-07 10:42] ruflin commented on #1597
Basically everything has become a query, so you need to convert you filters to queries. See here for some bool examples: https://github.com/ruflin/Elastica/blob/master/test/Elastica/Query/BoolQueryTest.php

[2019-02-07 10:59] p365labs commented on #1580
@ruflin & @massimilianobraglia let's rock & roll :)
- branch 6.x has been created
- I'm going to merge PR's for typehinting

[2019-02-07 11:03] p365labs commented on #1580
@massimilianobraglia

1. are there specific PR's I have to start with or not?
2. there are still PR's which are not passing tests can u check it?
- #1549
- #1551

[2019-02-07 15:13] massimilianobraglia commented on #1580
1. no, I kept those very closed to their scope in order to have the merge process simple. Obviously I'm available to fix what breaks if something goes wrong :)
2. I'll check them ASAP!

[2019-02-08 09:15] massimilianobraglia commented on #1580
@p365labs I have checked the PRs. I have rebased again the aggregation PR to see if something changes. Otherwise I'll have to go deeper to see what's wrong. My other PRs should be ok now!

[2019-02-08 12:46] p365labs commented on #1580
@ruflin & @massimilianobraglia @osavchenko Hi, more than half of the PR's has been merged :

- some just need to be rebased (I can do it if u don't mind)
- one (#1562 ) need to review my comments
- other two (#1564 #1582 ) have conflics

can u please give them a look ?

[2019-02-08 12:48] osavchenko commented on #1580
@p365labs will fix conflicts and comments. I don't mind if you rebase other. Thank you!

[2019-02-08 15:12] massimilianobraglia commented on #1580
@p365labs my last PR should be ok now!

[2019-02-09 19:38] p365labs commented on #1548
@massimilianobraglia & @osavchenko  well done!!! Thank you very much. It has been an impressive work!

[2019-02-09 19:38] #1548 closed

[2019-02-09 19:44] massimilianobraglia commented on #1548
Thank you, @p365labs! Now that all PRs are merged I'll work on the Elastica base namespace!

[2019-02-09 19:45] p365labs commented on #1580
@massimilianobraglia & @osavchenko Thank you very much for the impressive work!

[2019-02-09 19:49] #1580 closed

[2019-02-09 20:07] osavchenko commented on #1548
Thank you all! It was an interesting experience and I'm glad to work with you ;)

[2019-02-10 21:29] p365labs commented on #1604
@camohub did u solved?

[2019-02-10 22:49] camohub commented on #1604
Yes it works. But its really messy....

[2019-02-11 05:33] p365labs commented on #1604
if there's something we can help about ur implementation feel free to ask otherwise I think we could close this issue. what do u think @camohub ?

[2019-02-11 09:29] camohub commented on #1604
Yes of course. Thank you.

[2019-02-11 09:29] #1604 closed

[2019-02-11 12:53] ruflin commented on #1580
Thanks everyone involved here to make this happen.

[2019-02-11 13:00] p365labs commented on #1598
@EliuFlorez can you please explain better the use case ?

- Elastica version
- Elasticsearch version
- your error output
- the stack trace?

[2019-02-12 23:22] EliuFlorez opened #1609 "Discussion on Migration 2.x to 5.x"
#Inglesh
What differences or improvements can I get to migrate ElasticSearch 2.x to 5.x. Since I need to optimize my queries with more than 1 million records. It will be that my documents or query is wrong or due to the ElasticSearch version.

#Spainsh
Que diferencias o mejoras puedo obtener a migra ElasticSearch 2.x a 5.x. Ya que requiero optimizar mis consultas con mas de 1 millon de registros.

[2019-02-13 11:14] ruflin commented on #1609
I assume this is related to https://github.com/ruflin/Elastica/issues/1597 If it is about optimisations in Elasticsearch you better ask in https://discuss.elastic.co/c/elasticsearch

[2019-02-19 09:32] Seb33300 commented on #1597
I have a similar issue, I have to migrate an application from an old version of elastica to a recent one and `Filter\Type` does not exist anymore.

I read all he content of [this issue](https://github.com/ruflin/Elastica/issues/1001) but it didn't really helped me. (I never worked with elastica before)

[code]

[2019-02-21 19:57] EliuFlorez opened #1610 "Query DSL Missing"
Hi guys. You know in the version 3.x of Elastica had Filter / Script but now in the version of ElasticSearch Everything that was before a Filter is now a Query, and according to the documentation of ElasticSearch 6.x Query / Script is still available in its version of the same form GeoBoundingBox, types, exists.

https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-type-query.

[2019-02-22 13:06] NathanBaulch opened #1611 "Guzzle transport cannot connect to a second ES instance"
The static `_guzzleClientConnection` field in the `Guzzle` transport class prevents my application from creating two Elastica clients that both use Guzzle/AwsAuth4 transport but point to different ES hosts. The host of the first connection is captured in this field and used in all subsequent Elastica clients, even if they're trying to connect to a completely different ES instance. This is not a pr

[2019-02-25 08:58] thePanz commented on #1601
@ruflin fine for me!

[2019-02-26 08:35] elshobokshy commented on #1536
Could you please add a small example on how to use this new class to get my desired result?

[2019-02-26 11:06] p365labs commented on #1536
@elshobokshy if u have a look into the PR merged #1537 u can view the test which uses the getRecovery() method. For the informations it returns please refer to the [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/6.4/indices-recovery.html)

[2019-03-01 19:36] EliuFlorez opened #1612 "Composite aggregationEdit will be added?"
A multi-bucket aggregation that creates composite buckets from different sources.

Unlike the other multi-bucket aggregation the composite aggregation can be used to paginate all buckets from a multi-level aggregation efficiently.

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-composite-aggregation.html

[2019-03-04 13:07] ruflin commented on #1601
@thePanz Interested to do this release? 😇

[2019-03-04 13:29] ruflin commented on #1612
@EliuFlorez Would be great to have it. Interested to open a PR? :-)

[2019-03-04 13:40] ruflin commented on #1610
As these seem to stay around in the long term, I think it would be good to add these.

[2019-03-04 13:42] ruflin commented on #1611
I think we should make it as similar as possible to what we have in Http, so this would be option 1?

Not sure if make sense to share the connection to different nodes TBH.

[2019-03-04 20:51] EliuFlorez commented on #1612
@ruflin
Clear to present a PR. But I am still very new in ElasticSearch and I would like to clarify the differences between version 2.x to 6.x of elasticSearch.

Since in the project that I am working the 'indix' was the database of each domain. and the type were the tables with all their properties. but now in version 6 multiple type are not allowed in the same index.

Do I have to create every i

[2019-03-04 22:37] EliuFlorez commented on #1610
@ruflin  The PR of type, script, geo I arrange them is simple the changes.

[2019-03-04 23:05] EliuFlorez opened #1613 "Query\Ids support values of type: START_OBJECT"
Query\Ids support values of type: START_OBJECT

The errors appear when trying to scroll the Query Scroll.

If the Scroll object is required, it will confirm.

![error-scroll](https://user-images.githubusercontent.com/784787/53768742-8e963e80-3e8e-11e9-9203-b5003eecf363.png)

[2019-03-05 02:41] NathanBaulch commented on #1611
I'd be happy to send a pull request for either option #1 or option #2.
For #2 I can easily apply the same base URI keyed array pattern to `Http` too, so connections aren't shared across hosts for either transport. Let me know.

[2019-03-05 08:06] ruflin commented on #1601
I just tagged the release: https://github.com/ruflin/Elastica/releases/tag/3.2.4

@mgallego Could you confirm that it is what you expected? Going to close this issue.

[2019-03-05 08:06] #1601 closed

[2019-03-05 08:56] ruflin commented on #1612
As usual, the answer is it depends :-)

In most cases when you were using multiple types before, you should switch to multiple indices. The assumption here is that each table you have the data format is pretty different. If the data structure is 95% identical across your tables, it could be worth just using one index and have a field for filtering.

Does this help?

[2019-03-05 09:12] ruflin commented on #1610
Great. Could you open one PR for each to have them separate?

[2019-03-05 11:25] thePanz commented on #1601
Sorry @ruflin , I just read your message :) Thanks for taking care of it!

[2019-03-05 15:28] SosthenG opened #1614 "Missing parent aggregation"
Version 6.6 introduced the [ParentAggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-parent-aggregation.html) which is missing in Elastica.

I worked on it on my own fork because I needed it.

Before I can open a PR I have one question: is there a good way to handle the class name? "Parent" is a reserved word so I named the class "ParentAggregat

[2019-03-05 15:51] Aassifh opened #1615 "No setInnerHits function in HasParent Query class"
Issue : i can't set the inner hits using your class Query\HasParent class, im forced to write the query as an array ?

Is it  gonna be added soon ?

Thanks

[2019-03-05 17:11] EliuFlorez commented on #1612
@ruflin Thanks that helps my doubt to establish multiple index for each tables or in the case that the data are almost the same an indelificative type of index. Thank you! I keep working on the changes. : D

[2019-03-06 07:26] ruflin commented on #1613
What version of Elastica and Elasticsearch is this? Do you have by chance the JSON that is sent to Elasticsearch?

[2019-03-06 07:36] ruflin commented on #1611
For now I would start with mirroring what we have in Http as it seems to work well so far. We can still do a follow up then to improve both at the same time if needed.

[2019-03-06 10:37] ruflin commented on #1614
It's always a tricky one with the reserved names. Could you open your PR with what you have right now so we can discuss it directly in the code. At least for me, that would make it easier.

[2019-03-06 10:38] ruflin commented on #1615
@Aassifh Interested to open a PR for it? :-D

[2019-03-06 11:07] SosthenG commented on #1614
Ok, done https://github.com/ruflin/Elastica/pull/1616

[2019-03-06 16:02] EliuFlorez commented on #1613
It's my mistake. Hahaha

[2019-03-06 16:02] #1613 closed

[2019-03-08 15:21] EliuFlorez opened #1617 "Terms aggregation split by whitespace"
I have a bunch of elastic search documents that contain information about jobs ads. I'm trying to aggregate the  `**title**`  field to extract the number of "experience" instances from the job posting. e.g. Junior, Senior, Lead, etc. Instead what I'm getting are buckets that match the title as a whole instead of the each word it the title field. e.g. "Junior Java Developer", "Senior .NET Analyst",

[2019-03-10 00:50] NathanBaulch commented on #1611
I've sent a PR for each approach for your consideration.

[2019-03-12 14:21] NathanBaulch commented on #1508
What about those of us who are using AWS Elasticsearch without `FOSElasticaBundle`? Do we need to wrap the Elastica client just so we can make sure no transport errors have occurred?

In my particular case I'm using AWS v4 auth and my server's date drifted 5 minutes into the future. I started getting weird errors from Elastica because the response from AWS doesn't contain an `error` field (so `Res

[2019-03-13 07:54] ruflin commented on #1508
@NathanBaulch What would the changes to Elastica be to support this?

[2019-03-13 08:21] ruflin commented on #1617
This seems to be an Elasticsearch specific question. I would suggest to post this one here: https://discuss.elastic.co/c/elasticsearch As soon as you know how to build the query in Elasticsearch it should be pretty simple to convert it to Elastica code.

[2019-03-13 08:24] ruflin commented on #1611
What a luxury to be able to pick between two PR's ❤️ What is your preferred approach?

Short term I'm slightly in favour of https://github.com/ruflin/Elastica/pull/1618 as it only changes Guzzle. WDYT?

[2019-03-13 17:45] ebernhardson commented on #1508
Following the principle of least surprise, I would expect `Response::hasError`  to return true for anything other than a successful response.

[2019-03-13 19:55] EliuFlorez commented on #1617
@ruflin post https://discuss.elastic.co/t/terms-aggregation-split-by-whitespace/171522

[2019-03-13 23:48] NathanBaulch commented on #1508
I agree, though it looks like there's already an open discussion on this in #1396.

One exception to this (which bit me yesterday) are the `404` responses from the `HEAD` requests made by various `exists` functions (Type, Index, IndexTemplate).

I don't know what the best long term solution is, but for now I've sub-classed `Client` in my application.
[code]

[2019-03-14 00:53] NathanBaulch commented on #1611
From what I've read it's safe to use a single curl resource/handle for multiple hosts without leaking context, and AFAIK the Guzzle client is immutable and uses curl under the hood, so #1618 should be fine.

[2019-03-15 07:56] ruflin commented on #1617
👍 Will close this issue for now.

[2019-03-15 07:56] #1617 closed

[2019-03-15 08:00] ruflin commented on #1508
As we started to do breaking changes in Elastica for 7.0 we can also tackled this with potential breaking changes. Should we move the discussion to https://github.com/ruflin/Elastica/issues/1396 ?

[2019-03-15 08:02] ruflin commented on #1611
Closing #1618 was merged. Thanks a lot for the contribution(s) @NathanBaulch

[2019-03-15 08:02] #1611 closed

[2019-03-22 15:20] Dave13h commented on #1601
Hi @ruflin,

Sorry for bringing this thread back up...

Thanks for doing the 3.2.4 release, we are still in the process of migrating to a newer version but we need PHP7.2 support in the mean time.

We can't seem to pull this new version in through composer, it doesn't seem to be listed on https://packagist.org/packages/ruflin/elastica

Is it possible to make that available through composer too?

C

[2019-03-23 08:17] thePanz commented on #1601
@ruflin is the composer integration disabled for this version?

[2019-03-25 07:39] ruflin commented on #1601
@thePanz TBH don't even know how I could enable / disable this. Any hints?

[2019-03-25 16:39] thePanz commented on #1601
@ruflin what do you see when you go to https://packagist.org/packages/ruflin/elastica ? any warnings?
You add me to the "release maintainers", so I can help with that if you want :)

[2019-03-27 07:29] ruflin commented on #1601
I did click "Update" and it seems it shows up there now.

@thePanz Where can I add you as release maintainer? Didn't find this option on Packagist.

[2019-03-27 08:11] thePanz commented on #1601
@ruflin there should be a "+" icon next to your avatar in project page (right sidebar) under the "maintainers" label :)

[2019-03-27 08:13] ruflin commented on #1601
@thePanz There it is, I was searching in the settings :-) I added `thePanz` but it has an other favicon. Hope that is you.

[2019-03-27 11:00] thePanz commented on #1601
@ruflin yep, it's me :D

[2019-04-02 13:57] #1614 closed

[2019-04-09 07:31] giovannialbero1992 opened #1626 "Is there a roadmap to be compliant with ES7?"
Hi @ruflin, do you have a roadmap to share with community to develop new feature or remove deprecated feature in ES6 ?

[2019-04-09 13:24] elshobokshy opened #1627 "Set max_result_window"
I have the error :

[code]

But when I set `index.max_result_window: 10000` in the yml file it doesn't like me using that format. Any idea why?

Another question, knowing that I can't do `getSize(0)` anymore to get all results, what should I do? As if I don't specify the size I get the default 10. I want all results.

[2019-04-09 16:41] mmoreram commented on #1627
@elshobokshy what this message is telling to you is that, if you want to access to the element number 10001, your window must be higher than 10001. In this case, you are trying to access the element number 1000000 inside a pagination (from + size), so you should change the window with a larger number.

Said that, this problem is related to Elasticsearch, not to this library. Plese, look for suppor

[2019-04-09 16:41] mmoreram commented on #1626
@ruflin and if you have, can you share it so some of you can help?

[2019-04-10 05:00] p365labs commented on #1626
@giovannialbero1992 & @mmoreram there's a branch on which i'm working on.
which has been developed to be merged on master. as 6.x as its own branch,
master will be for the 7.x release.
I'm working on it and in a couple of day will be possible to merge it.

[2019-04-10 07:09] elshobokshy commented on #1627
@mmoreram I want to know where in elastica should I set that index value, how is not this related to Elastica? :-) And about the `getSize(0)`, it was working before I migrate in 2.X, so I'm looking to know how can I have the same functionality in getting all results in the latest version. Thanks!

[2019-04-10 09:55] ruflin commented on #1626
Good time for this discussion as 7.0.0-rc2 is already out: https://www.elastic.co/blog/elastic-stack-7-0-0-rc2-released

@p365labs Let's use this thread to also ask help from others on the migration part. I think after we get the branch in, we will still need to do some cleanup / adjustements?

[2019-04-10 09:57] mmoreram commented on #1626
@ruflin Count on @apisearch_io tests cases to test a lot of features. As soon as I can, I will create the adapter for ES7 and will test. Will send you all some feedback as soon as I have it.

[2019-04-10 13:49] elshobokshy opened #1629 "Does Elastica support partitions?"
As the title says, can I filter aggregations using partitions?

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-terms-aggregation.html#_filtering_values_with_partitions

[2019-04-10 13:59] #1627 closed

[2019-04-15 11:32] ruflin commented on #1626
@mmoreram Great to hear. Now that 7.0 is out we should probably push this a bit more.

[2019-04-15 11:34] ruflin commented on #1629
You should be able to use `setParams` on the Terms aggregation for this: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Aggregation/Terms.php But I haven't tested it. Would be great to also have a native mapping for it in Elastica.

[2019-04-15 13:30] mmoreram commented on #1626
@ruflin yes. As soon as my two childs (Apisearch and my son XD) give me some time, I will try to help you a little bit!

Nice work!

[2019-04-23 16:57] p365labs commented on #1626
@ruflin @giovannialbero1992 and @mmoreram
[PR for ES7](https://github.com/ruflin/Elastica/pull/1563) is ready: tests and BC breaks has been updated. Now the build is green (BEWARE that this is a WIP).
I've tried to understand if it could be possible to make tests pass without updating elasticsearch-php
but it's not possible.

In order to maintain our tests and update codes we need ```include_type_

[2019-04-24 09:42] ruflin commented on #1626
@p365labs Thanks for all the work on this.

I would definitively prefer not to depend on a fork of elasticsearch-php. @p365labs Can you perhaps open a PR with your fix against elasticsearch-php? Let's also bring @ezimuel into the conversation here to see what his take is on how we should move forward.

[2019-04-24 09:54] ezimuel commented on #1626
Hi @ruflin and all, I'm working to fix the integration tests for ES 6.x versions on `elasticsearch-php`. I released `6.5.0` with some fixes and still working to solve ES 6.6 and ES 6.7. When done (hopefully this week) I'll focus on 7.0.0 release. I expect to release it next week.

As a new maintainer, I spent some time to understand the code base and I'm planning to do some refactor soon. I'm tryi

[2019-04-24 16:46] p365labs commented on #1626
```I would definitively prefer not to depend on a fork of elasticsearch-php.```
@ruflin totally agree :) That was the only way to test the new elastica code;

Of course that is a wip but it would probably allow us to make a quick release after @ezimuel will release the new elasticsearch-php. I've already opened a PR against ES-php https://github.com/elastic/elasticsearch-php/pull/868 which has bee

[2019-04-25 09:56] mmoreram commented on #1626
@p365labs testing.
I will publish all things I see.

[2019-04-25 14:23] ruflin commented on #1626
@p365labs This is great.

@ezimuel Can you ping here as soon as master is working with 7.0? We don't need a 7.0 release for starting to merge PR into Elastica master.

[2019-04-29 15:24] p365labs commented on #1626
@ruflin good news, I've updated my branch composer.json and now it's pointing again to elasticsearch-php official repo. Have a look at the [PR#1563](https://github.com/ruflin/Elastica/pull/1563).

Today a new commit on that repo has been merged and is for [version 6.7](https://github.com/elastic/elasticsearch-php/releases/tag/v6.7.0).
(Thank u @ezimuel !)
In this version there is what actually we

[2019-04-29 15:29] ezimuel commented on #1626
@ruflin, @p365labs and all, I just released [elastic/elasticsearch-php v.6.7.0](https://github.com/elastic/elasticsearch-php/releases/tag/v6.7.0). Let me know if this works for you.

I'm working on 7.0.0 right now, let me know if you have something to suggest or look into, thanks again for your support!

[2019-04-30 12:50] ruflin commented on #1626
@p365labs I see you currently depend on dev-master which is I think a good thing. So far I didn't as Elastica had a very simple branching model to keep simple. Moving forward I wander if we should change that. Meaning that we have a 7.x branch from day one and do backports. At the same time this creates more work and not sure if it is needed.

I'm good with moving forward with the PR and switch ba

[2019-05-10 13:18] janvt opened #1633 "Pretty printed JSON causes bulk operations to fail."
The [Elasticsearch bulk operation docs](https://www.elastic.co/guide/en/elasticsearch/reference/6.7/docs-bulk.html) state: `Because this format uses literal \n's as delimiters, please be sure that the JSON actions and sources are not pretty printed.`

It is possible to create a bulk operation with pretty printed JSON, which then causes the following error: `Malformed action/metadata line [3], expe

[2019-05-10 13:54] ruflin commented on #1633
Interesting issue, thanks for bringing this up. The part I worry here is that we basically add code to Elastic and potentially make it slower for something that is caused by something external. I wonder if there would be a way to have a better error message to tell users what it is and what they need to change.

[2019-05-10 14:00] janvt commented on #1633
Yeah, we discussed that at length as well. One way to look at it, this would done right after a `json_encode` (and, most likely, a whole bunch of massively expensive JMS OO code), the impact is pretty small in comparison.

Another downside, it is a bit "magical", however, there really is never a case where a `\n` character is valid in a document payload of a bulk operation.

A string search to det

[2019-05-13 08:10] ruflin commented on #1633
I like the exception part as it would force the developer to fix his application. The question that then is raised: Is this actually a bug or a use case we should support? Should we support it with an additional flag? The problem is that the flag would not work because switching from dev to non dev mode no modifications to the app should be needed.

For the perfomance impact: Not sure if it would

[2019-05-16 21:43] chamarts commented on #665
huh, I have same issue where in it works in my laptop (windows) connecting to ES remote in AWS. But when the client sits on aws box it doesn't work. Its same issue with elasticsearch-php client as well. I wonder whats the issue with php. kibana on same machine connects fine to same ES instance.

this is driving me crazy

[2019-05-16 22:06] chamarts commented on #665
huh... I need to set this in linux

sudo setsebool -P httpd_can_network_connect true

[2019-05-27 01:01] pySilver opened #1634 "Float data type is lost in during json conversion at Action->toString()"
Hi!

Given variable equals `(float) 1` \Elastica\Bulk\Action::toString converts it to JSON as `1` which obviously causes issues with Elasticsearch when mapping is set to double for the field.

Shouldn't we use `JSON_PRESERVE_ZERO_FRACTION` by default?

See: https://php.net/manual/en/json.constants.php

[code]

vs

[code]

[2019-05-27 13:00] pySilver commented on #1634
Typical issue: `field mapping cannot be changed from type [float] to [long]` appears when floats are not correctly converted to json.

[2019-05-28 21:27] #1634 closed

[2019-05-28 23:05] pySilver opened #1636 "MoreLikeThis->setLike() should support list of documents"
Hi,

First of all there is a wrong signature of a function:

https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Query/MoreLikeThis.php#L33

[code]
`$like` obviously cannot be instance of `MoreLikeThis` it should be `string|Document|Document[]`

Secondary, according to https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-mlt-query.html list of documents inside `like` a

[2019-06-03 07:15] ruflin commented on #1636
Thanks for all the details. Could you open a PR for the docs fix?

We should also fix the `toArray` parsing (if possible).

[2019-06-04 07:23] p365labs commented on #1626
@giovannialbero1992 @mmoreram as elasticsearch-php release for ES7 is still pending we decided to merge #1563 which uses elasticsearch-php ```dev-master```. When it will be released we will update composer.json. For now elastica dev-master is working with ES7.

[2019-06-04 07:23] #1626 closed

[2019-06-12 13:40] malcomhamelin opened #1638 "CURLAUTH_ANY doesn't work with ElasticSearch Xpack Authentication"
https://github.com/ruflin/Elastica/blob/f070d3bc9f9836648efd120a6164f85c6831da4b/lib/Elastica/Transport/Http.php#L108

I tracked an error while trying to setup Elastica and FOSElastica with my ElasticSearch 6.8.0 which is protected by Xpack Authentication.

It doesn't work with CURLAUTH_ANY but does with CURLAUTH_BASIC

[2019-06-12 13:45] p365labs commented on #1638
hi @malcomhamelin can u report the error u got?

[2019-06-12 13:49] malcomhamelin commented on #1638
I opened earlier a stackoverflow subject [here](https://stackoverflow.com/questions/56562911/foselastica-dont-recognize-my-elasticsearch-username-and-password) earlier today.

It wasn't taking into account at all my username and my password (wether it was setup in the config file under fos_elastica or written directly into Http.php of Elastica), it was saying :

[code]

But now I changed ANY to BA