[2015-07-27 08:03] ruflin commented on #896
An alternative suggestion. Percolate has two steps:

* Register the query
* Match documents

It could make sense to separate the two. The query is stored as document on top of an index. So it makes sense to haven index for the "Percolator" object. The percolate function itself is the same as a query or search.

For me the Search object should be the single point of access for all "searchs" in the

[2015-07-27 08:11] ruflin commented on #894
I would not "switch" but also support it. The way I understand multi curl is that it allows to add multiple requests which are then handled asynchronously. This means multiple single "requests" could be sent even to different hosts and waiting for the responses would be done by curl_multi. This would bring an improvement in speed as multiple queries at once could be fired off. What kind of magic c

[2015-07-28 07:40] ruflin opened #900 "Create test setup to prepare Elastica for Elasticasearch 2.0"
Create a test setup that makes it possible to run Elastica tests with Elasticsearch 2.0 to prepare everything for the release. There are quite a few BC changes.

[2015-07-29 05:49] im-denisenko commented on #900
@ruflin We have to compile 2.0 from source or there build is already available?

[2015-07-29 11:11] ruflin commented on #900
There is no build available yet, but I hope that the first beta will be out very soon. I suggest to start as soon as the first build is available on the docker registry: https://registry.hub.docker.com/_/elasticsearch/ Alternatively we could create a docker build ourself.

[2015-07-30 15:38] nicolassing commented on #410
Hello @ruflin, you're work on it or I can work on a pull request ?

thx !

[2015-07-30 15:56] ruflin commented on #410
@nicolassing Please open a pull request. Thx.

[2015-07-30 15:58] nicolassing commented on #410
Ok I'll try to work on it this week end :)

[2015-07-30 15:59] ruflin commented on #410
:+1:

[2015-08-03 07:08] oncesk opened #903 "php7 support, now have fatal Compile Error: Cannot use 'Bool' as class name as it is reserved"
Hi when i am using elastica with php7 i have fatal error, Compile Error: Cannot use 'Bool' as class name as it is reserved

[2015-08-03 08:37] im-denisenko commented on #903
@oncesk Hello. This is already fixed, and classes that incompatible with php7 were deprecated in https://github.com/ruflin/Elastica/issues/825. Use `Elastica\Filter\BoolFilter` and `Elastica\Query\BoolQuery` instead.

[2015-08-03 08:37] #903 closed

[2015-08-03 08:56] oncesk commented on #903
thanks, i already use it =)

[2015-08-04 11:33] mkoula opened #904 "creation_date in parameter in Elastica\Index\Settings"
Elasticsearch is having the parameter 'creation_date' in index settings, which I am not able to retrieve  form Elastica\Index\Settings Object.

[2015-08-05 14:13] ruflin commented on #904
We should add this as a function to the object. Can you open a pull request?

Until it is added, you should be able to use the Settings::get() function to retrieve the full data array and get the creation_date from it.

[2015-08-05 14:19] mkoula commented on #904
Ok. I'll do it :-)

[2015-08-05 14:20] ruflin commented on #904
:+1:

[2015-08-05 16:51] trueinviso opened #906 "No search results"
The query generated by the plugin always returns no results for a search. The SQL statement generated by the query:

`SELECT SQL_CALC_FOUND_ROWS wp_posts.* FROM wp_posts WHERE 1=1 AND wp_posts.ID IN (0) AND wp_posts.post_type IN (\'post\', \'page\', \'attachment\', \'events\', \'testimonies\', \'leadership\') AND (wp_posts.post_status = \'publish\' OR wp_posts.post_author = 1 AND wp_posts.post_sta

[2015-08-05 17:29] ruflin commented on #906
@trueinviso What is the plugin you are talking about? Elastica is the client for elasticsearch and doesn't generate SQL queries.

[2015-08-05 17:38] trueinviso commented on #906
whoops sorry, I meant to post this in Fantastic elastic search, it uses elastica.

[2015-08-05 17:38] #906 closed

[2015-08-05 18:34] ruflin commented on #906
Just adding the link to the repo in case someone is looking for it: https://github.com/parisholley/wordpress-fantastic-elasticsearch

In case there is an Elastica issue, let me know.

[2015-08-11 06:51] joshuataylor commented on #812
Inner hits are awesome, as they allow you to query a docset and get back the relevant children easily.

May not be the best example, but an example would be...

Let's say I have a simple document called 'product', with nested documents called 'variations', which might have fields such as 'size', 'color', 'price', etc, you could use inner_hits to get just certain color/sizes. It's excellent.

[2015-08-11 09:20] jippi opened #913 "Missing Context for suggester"
As per https://www.elastic.co/blog/elasticsearch-1-2-adding-context-suggestions it should be possible for a `Elastica\Suggest` or a `Elastica\Suggest\Completion` to include a context - I may be blind, but I can't find the code anywhere for attaching this to either

[2015-08-11 09:25] jippi commented on #913
Never mind, it can be set using `setParam` - very low level, don't know if it make sense to expose it as a method at some point :)

[2015-08-12 00:34] joshuataylor opened #915 "How to send {}?"
So I'm using arrays until inner_hits is supported (and making sure it actually fits our requirements), and I need to pass something like:

[code]

Into a query -> filtered -> filter.

However passing [] passes [] into ElasticSearch/GET , how do I change this to pass {} ?

[2015-08-12 01:17] joshuataylor commented on #915
use:
[code]
:)

[2015-08-12 01:17] #915 closed

[2015-08-12 10:54] ruflin commented on #812
Does anyone have some time to open a pull request with the feature?

[2015-08-12 10:56] joshuataylor commented on #812
@ruflin I will have a look over the weekend, as this is a killer feature for me personally and would love for this to be in (due to time restraints we resorted to nasty arrays :-1: ), so to help contribute back I'll look into it.

[2015-08-12 10:57] ruflin commented on #913
@jippi Glad you found it :-) I assume this is a feature that will be used more in the future. Perhaps it still make sense to add a proxy function?

[2015-08-12 11:02] ruflin commented on #812
:+1:

[2015-08-12 11:36] ruflin commented on #915
:+1:

[2015-08-12 21:17] ewgRa commented on #783
Mostly finished https://github.com/ewgRa/Elastica/tree/no-to-array-at-setters

There is some places left, where toArray used, will be check it soon

[2015-08-13 06:15] jippi commented on #913
I think it makes very good sense to add a proxy function for it :)

I tried to get for context in the src/ and came up empty - so assumed it wouldn't be possible - by chance I found the param methods :)

[2015-08-13 11:13] ruflin commented on #913
@jippi I reopened the issue. Do you have some time to open a pull request with it?

[2015-08-13 11:25] ruflin commented on #783
Looks promising. I like that most of the ->toArray() disappear. Make sure to use the $this->_convertArrayable() as it is a protected function. It's quite some time I have seen a recursive function :+1:

During the brief review I got the felling that the following appeared multiple times (or similar functions):

[code]

Perhaps this could also be packaged in a function in case it is "really" the sa

[2015-08-13 20:11] ewgRa commented on #783
PR - #916

If you have better idea how to make it more beautiful - let me know. I think about this code and haven't better idea how to rewrite it. Problem is that before there is no store objects in params, in many places there was $this->setParams($object->toArray()).

Now we need store objects in params and at toArray this adds one extra key, that must be collapsed (in some cases with additional

[2015-08-14 18:32] im-denisenko commented on #896
Agreed.

But why? Request to `_search` endpoint and request to `_percolate` endpoint may be similar in some particular points, but they differs so much, i don't sure they could be merged into one class. Maximum that we can do here is to move part of `Elastica\Search` class into traits and reuse them in `Elastica\Percolate`, am I miss something?

[2015-08-16 15:34] ruflin commented on #783
I would suggest we merge it first and then see if we can find a better solution later.

[2015-08-16 15:43] ruflin commented on #896
The two functions we are talking about are `matchDoc` and `matchExistingDoc`. The use a completely different path but don't have any "real" complexity. I see it more from a conceptual point where I would look for these too functions. I would probably search for matchDoc in the Search object.

Probably the better option is to go with the Percolate object you suggested above and then either use a pr

[2015-08-16 21:14] ewgRa commented on #783
PR for this ticket merged.

[2015-08-16 21:14] #783 closed

[2015-08-16 21:24] ruflin commented on #783
Thanks

[2015-08-16 23:42] joshuataylor opened #918 "Ensure PHP7 Compatibility"
PHP7 is now in beta, with final release coming November 12th.

Let's fix some issues that are happening as a cause of this.
- [x] Add PHP7 to travis testing
- [x] Fatal error: Cannot use Elastica\Filter\Bool as Bool because 'Bool' is a special class name

[2015-08-17 05:24] im-denisenko commented on #918
@joshuataylor Hello. This is already fixed in #825.

[2015-08-18 15:36] im-denisenko commented on #918
Closed. Reopen please, if we actually miss something.

[2015-08-18 15:36] #918 closed

[2015-08-20 08:21] d-claassen commented on #776
Any progress on using the script_id of a script stored in the /_script index?

[2015-08-20 09:32] ruflin commented on #776
@nicolassing recently refactored Script and implemented FileScript: https://github.com/ruflin/Elastica/pull/902 I assume implementing on top of AbstractScript the _script id index should be possible. Instead of the scriptFile, the script id would be passed to the constructor. Can one of you two have a look at this? It would be nice to have it in Elastica.

[2015-08-23 11:34] nicolassing commented on #776
@ruflin I've made a PR #920

[2015-08-31 08:04] yvann commented on #900
A first beta just arrived for your informations :) https://github.com/elastic/elasticsearch/releases

[2015-08-31 08:10] ruflin commented on #900
:+1: We should get a build with it ASAP. Does anyone have time?

[2015-08-31 10:24] sandermarechal opened #921 "Support for Guzzle 6?"
Will support be added for Guzzle 6.x which uses PSR-7?

[2015-08-31 10:43] ruflin commented on #921
There were quite a few discussions on PSR-7 in this pull request here: https://github.com/ruflin/Elastica/pull/845

It is probably time to revise this again. I'm not fully up-to-date about PSR-7. Perhaps have a look at the discussion and let us know what your thoughts are.

[2015-09-01 05:24] im-denisenko commented on #900
@ruflin I'll look here at this evening.

[2015-09-01 16:28] janselr opened #923 "Unable to connect multiple hosts"
Hi ruflin,

I'm facing one little problem trying to make Elastica to recognize different instances of elasticsearch running on different host but same port,  below what I'm trying to do.

[code]

How can I get elastica listening on different transports nodes or the same thing elasticsearch instances  ?

[2015-09-02 06:56] im-denisenko commented on #923
Hello.

You should use `connections` key of config array to specify multiple servers.
In common, it looks like this:
[code]

Specifically for your case:
[code]

[2015-09-02 07:03] im-denisenko commented on #923
Btw.
[code]
This line will change cluster name, using [update settings api](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-update-settings.html).
I guess that cluster name should be specified only once (in your snippet it happens on every request).

[2015-09-02 14:36] jxrodr commented on #923
Thanx @im-denisenko

I've made a little change you state, but I'm still getting the error **Couldn't connect to host, Elasticsearch down?**

I'm using this setup

[code]

[2015-09-02 14:47] ruflin commented on #923
Did you check if the hosts are reachable for example through curl?

[2015-09-02 14:47] frangeris commented on #923
In facing the same issue, test you code @im-denisenko and still getting **Couldn't connect to host, Elasticsearch down?**

So I tried using [official library](https://github.com/elastic/elasticsearch-php) to see if could be something wrong with my ES conf, and test this code...

[code]
This works, so... where is the issue?

[2015-09-02 14:53] ruflin commented on #923
Just some assumptions / ideas:
* I'm not sure if the ClientBuilder actually tests the connection or only prepares everything. Did you also try to make some requests?
* Second is that perhaps Elastica complains already when the first host is down. I have to check this.

@frangeris Are you able to "curl" all three hosts from the machine the client runs?

[2015-09-02 15:09] frangeris commented on #923
@ruflin yep

GET request to my `<ip>:9200` and 200 is the response....

[code]

[2015-09-02 17:36] ruflin commented on #923
@frangeris I assume that is the case for all 3? Which version of Elastica are you using?

[2015-09-03 21:07] bartclarkson opened #925 "deleteByQuery() "approved" alternative example (?)"
So basically I'm deleting what can be a tremendous amount of tracking data when a user deletes an account.  It seems to me that deleteByQuery is something the core developers want to get rid of, but are finding removal to be problematic.  The main site (https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-delete-by-query.html) indicates one should pursue a scroll & scan approach.

[2015-09-04 06:45] ruflin commented on #925
@bartclarkson This looks good. What I would probably add:
* Directly use ScanAndScroll Implementation: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/ScanAndScroll.php
* The $documents[] part could be made more lightweight in case you only want to delete docs from one type by using $type->deleteDocuments. Also the $doc->getData() can be left out I think. Like this we would have very l

[2015-09-04 13:59] bartclarkson commented on #925
Inasmuch as deleteByQuery seems to be in a non-favored status, it probably would be good to formalize another approach and associated test.

Oddly enough, I never interact with the Search object directly, as it is abstracted/injected by FOSElasticaBundle handlers.  So for my immediate purposes, I have simply taken your excellent suggestion to pass an empty array rather than getData().

Nevertheles

[2015-09-04 14:32] ruflin commented on #925
@bartclarkson Ok I see, we could even at it as a function of Elastica. Good idea. We could replace the deleteByQuery function with the above code. As deleteByQuery is removed in 2.0 anyways, we could directly do that. @im-denisenko What do you think as you are currently working on 2.0?

[2015-09-07 05:30] im-denisenko commented on #925
@bartclarkson @ruflin As far as I know, ES developers keep deleteByQuery because "if we will delete it, every client library will have to implement this functionality on their own". And instead of deletion they just changed used algorithm (internally it uses scan_and_scroll in 2.0). At least this was actual in June when I read their discussion on github. But I'm not sure, I need to recheck this.

[2015-09-07 06:22] ruflin commented on #925
I check with the devs what the current status is.

[2015-09-07 06:24] ruflin commented on #925
It's going to be a Plugin: https://www.elastic.co/guide/en/elasticsearch/plugins/2.0/plugins-delete-by-query.html

[2015-09-07 08:40] MrHash commented on #925
May i suggest that Elastica could benefit from a 'Manager' of sorts where processes like these can be provided. This library provides some useful tools already https://github.com/darklow/ff-elastica-manager

[2015-09-10 06:30] ruflin commented on #925
@MrHash Thanks for pointing to the project, I wasn't aware of it. So far the goal of Elastica was to "only" provide base functionality, additional things went into Util. The question I would like to open is if we should integrate something like that to make elastica more powerful or if it is better to keep it separate.

My general approach is most of the time to have smaller modules which can also

[2015-09-12 13:47] bartclarkson commented on #925
@ruflin, for what it's worth, I think the scope of the Elastica project is sized correctly.  It stands in the gap in making Elastic Server extremely convenient for PHP developers.   Providing a bug-free PHP corollary to all posted Elastic API is plenty of responsibility.  This particular thread is right at the edge of "core api" and "implementation decision".

Personally, as a Symfony2 guy, I'm a

[2015-09-13 16:58] ruflin commented on #925
@bartclarkson I agree with your statement. One topic that pops up frequently is that people even confuse Elastica with projects using Elastic. It could be helpful to more obviously linke these projects in the README or on Elastica.io. So if someone is looking for more then a client he finds these options also starting from Elastica.

About the plugins: There are already quite a few plugins support

[2015-09-16 06:07] ruflin opened #931 "Current Travis Builds don't return errors"
The current travis builds are always green even when there are errors. The reason is that in `make phpunit` all commands are prefixed with - which skips the errors. A solution must be found here.

[2015-09-16 16:05] giorrrgio opened #933 "Term filter and diacritics"
I have a field with multiple mapping:
[code]
and I need to filter on its original value with an exact match. Everything is okay until I have a value with diacritics:
[code]
This is my query:
[code]
This is the result query:
[code]
As you can see the diacritics are escaped, but this way the query won't match anything in the database. If I run the same query via CURL without the escaped diacritics I

[2015-09-16 19:39] ewgRa opened #936 "Split Filters aggregation"
In elasticsearch we can't mix anonymous and named filters in one query

Such queries is not possible:
[code]

Answer buckets always will be or all anonymous, or all named.

My suggestion is to split Filters on NamedFilters and AnonymousFilters and deprecate Filters.

Now code allow add named and anonymous filters simultaneously, that give unexpected results.

Any comments?

[2015-09-16 19:46] ewgRa commented on #933
I think problem not in Elastica.

How you convert array to json?

try echo(json_encode($elasticaQuery->toArray(), JSON_UNESCAPED_UNICODE));

[2015-09-16 19:49] ewgRa commented on #933
Check JSON.php and #559

[2015-09-17 00:06] im-denisenko commented on #931
@ruflin I suggest to just drop "-" in all commands, if you can't remember why you added this.

[2015-09-17 01:29] im-denisenko commented on #933
@giorrrgio Please specify php version and used transport.

[2015-09-17 01:37] im-denisenko commented on #936
@ewgRa If array key will be quoted will it be a valid filter name?

[2015-09-17 06:17] ruflin commented on #931
@im-denisenko Sounds good. I'm quite sure because I wanted that all build run also if one fails. Perhaps there is an other solution to have this result without using -.

[2015-09-17 06:18] ruflin commented on #936
@ewgRa In case elasticsearch does not allow the mix, I suggest we also prevent it in Elastica and give the user an exception.

[2015-09-17 06:53] ewgRa commented on #936
@im-denisenko

Yes, it is valid:

[code]
In buckets there will be "0" key. I already add this case to tests in #935.
If you use arrays with keys - you must use string as key. If this is not an associative array - it will be anonymous buckets.

Just fyi: "e'räro\"rs" also valid, becomes in results "e'räro"rs"

@ruflin but in exists class? you don't want to split it to be close to Elasticsearch?

[2015-09-17 06:54] ewgRa commented on #936
@ruflin but in exists class? you don't want to split it to be close to Elasticsearch?

[2015-09-17 07:59] giorrrgio commented on #933
@ewgRa I'm not doing array to json conversions, at least not directly. The query I reported was obtained from the Symfony profiler with FOSElasticaBundle.

@im-denisenko I'm using Elastica Http transport and PHP 5.6.4

If you need other details or a test case to reproduce the issue let me know!

[2015-09-17 08:20] ewgRa commented on #933
It is not about Elastica. it is about how FOSElasticaBundle show such queries:

https://github.com/FriendsOfSymfony/FOSElasticaBundle/blob/master/Resources/views/Collector/elastica.html.twig#L54

[code]

Better I think to create issue in FOSElasticaBundle

[2015-09-17 08:27] giorrrgio commented on #933
@ewgRa the point is: the query is not giving me expected results, and it's not related to the way the query itself is encoded and displayed by the FOSEB collector or the Symfony profiler.

[2015-09-17 08:34] ewgRa commented on #933
It is related.

Because Elastica actually run query without escaping unicode. As you say:  "If I run the same query via CURL without the escaped diacritics I get my results.". It is what Elastica do, runs it without escaping.

Than you go to profiler and profiler show you query with escaped unicode, but this is not what Elastica actually query to ES. If profiler will show you unescaped query, resu

[2015-09-17 08:41] giorrrgio commented on #933
@ewgRa

My issue is that Elastica is not giving me the expected results. Let's remove the Profiler and the Collector from the equation, they are not relevant.
I run a Term query with valid utf-8 diacritics inside it and I don't get the results I expect, if I run the same query with curl, I get my results. I will try to five a test case asap.

[2015-09-17 13:06] ruflin commented on #936
@ewgRa No I would not split the class, but throw an error before elasticsearch has to do it. This is more convenience for the person that implements it. Instead of getting a response exception and having to figure out what is going on, it is already thrown before the request is sent and is very specific.

[2015-09-17 13:12] ruflin commented on #933
@ewgRa @giorrrgio I think the simplest to debug and check the problem is to add here a small integration test: https://github.com/ruflin/Elastica/blob/master/test/lib/Elastica/Test/Query/TermTest.php Like this we also see then directly what the issue is and know when its fixed. @giorrrgio Would you be able to open a pull request with this integration test?

[2015-09-17 14:21] giorrrgio commented on #933
@ruflin after deeper investigations I guess my problem is somewhere else in the chain, here's the test:
https://github.com/giorrrgio/Elastica/blob/diacritics-test/test/lib/Elastica/Test/Query/TermTest.php#L31
Making a PR right now

[2015-09-17 14:39] ruflin commented on #933
@giorrrgio See my comment on the pull request as this is more a unit test.

[2015-09-17 22:14] ewgRa commented on #936
PR for prevent mixing keys - #939

[2015-09-17 22:14] #936 closed

[2015-09-21 10:11] michaelfeinbier commented on #900
@ruflin What exactly has to be done? The current state of this library does not work with 2.0beta2 and I like to help. Do we need a 2.0beta2 docker-container?

[2015-09-21 11:12] ruflin commented on #900
@michaelfeinbier Good to hear. @im-denisenko is currently working on this branch here to implement the necessary changes: https://github.com/ruflin/Elastica/tree/elasticsearch-2.0 As you seen in the build (or you don't see it because it is green but actually isn't) a lot of things are broken in 2.0: https://travis-ci.org/ruflin/Elastica/builds/80773741

Yes we need a 2.0beta2 container and we need

[2015-09-21 11:58] oldskool commented on #717
Experienced the same issue today when trying to sort on a field that can have a null value. Adding the missing key with the `PHP_INT_MAX - 1` solved this problem, although @yellow1912's solution seems cleaner, since that doesn't require any "vendor-side patching".

@ruflin Any idea if and when that solution will be merged/tagged as a release?

[2015-09-22 07:03] ruflin commented on #717
@oldskool Unfortunately so far there is no pull request open for this change. In case we get a pull request it will directly go into the next release. Feel free to open one with the code provided by @yellow1912.

[2015-09-22 07:31] oldskool commented on #717
@ruflin Done, https://github.com/ruflin/Elastica/pull/941

[2015-09-22 08:02] ruflin commented on #717
@oldskool Cool, thanks. See my comments.

[2015-09-23 10:09] giorrrgio commented on #933
@ruflin I am sorry, Elastica here was not the issue, at all. The issue was with pagination, I had a bug the set a fixed offset that I didn't notice and it was always 10 (so that very particular search had only 1 result and with an offset of 10 produced 0 results). Sorry again and thanks for the patience!

[2015-09-23 14:31] ruflin commented on #933
@giorrrgio No problem, glad you found the problem. I still merged the pull request as it is always good to have an additional test inside.

[2015-09-23 14:31] #933 closed

[2015-09-24 11:30] markeilander opened #942 "extended_bounds in Elastica\Aggregation\DateHistogram"
Is it possible to implement the extende_bounds paramers as descriped in https://www.elastic.co/guide/en/elasticsearch/guide/current/_returning_empty_buckets.html

[2015-09-24 15:32] ruflin commented on #942
@markeilander It should be quite easy to add it to: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Aggregation/DateHistogram.php Feel free to open a pull request.

As long as there is no proxy function, you can use it by calling setParam and passing the arguments directly.

[2015-09-28 09:52] markeilander commented on #942
Done..

[2015-09-30 14:42] ruflin commented on #942
@markeilander I think there went something wrong in your changes. See my comment in the pull request.

[2015-09-30 21:25] ruflin commented on #789
Implemented.

[2015-09-30 21:25] #789 closed

[2015-09-30 21:30] ruflin opened #944 "Implement elasticsearch-php as foundation of Elastica"
Elastica is a high level elasticsearch client, elasticsearch-php is a low level elasticsearch client. What both have in common are the low level implementations of connector, transport etc. Instead of trying both clients up to date with the newest improvements on these levels I suggest to take the elasticsearch-php client as the foundation of Elastica for the connection part to elasticsearch. This

[2015-10-01 07:35] Nikerabbit commented on #763
FWIW, we have just forced uses to upgrade by dropping support for old version.

[2015-10-04 09:40] liilo opened #945 "GeoBoundingBox filter does not allow top_right and bottom_left coordinates"
Hi,

Elasticsearch allows to create bounds filter with top_right and bottom_left coordinates (it's very usefull when linked with Google maps JS API!).
But the current GeoBoundingBox filter only accept top_left and bottom_right coordinates.

The $coordinates parameter could contains something like:

array(
    'top_right' => array(
        'lat' => $ne_lat,
        'lon' => $ne_lng
    ),
    'bott

[2015-10-05 06:51] ruflin commented on #945
@liilo You can do this already now by using the setParam method directly (see https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Filter/GeoBoundingBox.php#L42). I agree we should have an option to also pass top_right and bottom_left. Should we introduce a function setRawCoordinates? I would like to keep the change backward compatible if possible.

[2015-10-05 07:45] ruflin commented on #763
@Nikerabbit Thanks for the update. I will close the issue in this case. Let me know in case it should be reopened.

[2015-10-05 07:45] #763 closed

[2015-10-06 15:22] ruflin commented on #900
I now moved the CI build on travis to docker-compose which allowed me to remove ansible and vagrant files. The builds for ES2.0 look promising.

[2015-10-06 15:44] ruflin opened #946 "Migrate to Elasticsearch 2.0"
Elasticsearch 2.0 bring several BC breaks. Adaptions must be made. Here is a checklist of open issues:

* [x] Status API was removed:
  * https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-status.html
  * https://www.elastic.co/guide/en/elasticsearch/reference/2.0/indices-status.html
* [x] Thrift support was removed
* [x] Facets were replaced by aggregations and removed -> Fac

[2015-10-06 15:45] ruflin commented on #900
To track the changes I opened an issue here: https://github.com/ruflin/Elastica/issues/946

[2015-10-07 17:18] joshuaspence opened #948 "Support IAM credentials"
I would like to use Amazon's Elasticsearch with IAM roles configured to allow access to the cluster. According to http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-gsg-upload-data.html:

[2015-10-07 18:02] ruflin commented on #948
As a reference: http://docs.aws.amazon.com/AmazonS3/latest/dev/RESTAuthentication.html

[2015-10-08 07:06] ruflin opened #949 "Simplify usage of credentials with elasticsearch"
Currently to use credentials with elasticsearch, the following is needed:

[code]

This should be simplified through introducing username and password params in connections.

[2015-10-12 10:33] #942 closed

[2015-10-14 20:15] jeskew commented on #948
The AWS SDK for PHP also exposes a class that can sign an arbitrary PSR-7 request (as detailed [here](https://github.com/aws/aws-sdk-php/issues/671#issuecomment-120666137)). @ruflin, would you be open to a PR that added an integration for this behavior if it meant adding a dependency on the SDK?

[2015-10-14 20:19] jeskew commented on #921
This would certainly make #948 easier. Is this something that's already being worked on or would you be open to a PR?

[2015-10-14 21:15] ruflin commented on #921
@jeskew Definitively open for a PR.

[2015-10-15 21:41] ruflin commented on #639
Implemented through https://github.com/ruflin/Elastica/pull/953/files

[2015-10-15 21:41] #639 closed

[2015-10-15 22:06] ruflin commented on #948
As discussed on Gitter: Lets do the Guzzle 6 implementation first and lets check what is needed on top.

[2015-10-15 22:17] dwenaus commented on #639
:D

[2015-10-16 07:41] xkidro commented on #944
+1 for this, I currently use the elasticsearch-php sdk but found that I need to implement high level functions myself :(

[2015-10-16 16:21] ruflin commented on #944
@xkidro Good to hear. First I was thinking about introducing this with the es 2.0, but there are still quite a few open changes, so perhaps I will even prioritise this one higher. If you have some to help with this migration, that would be cool.

[2015-10-18 04:04] yellow1912 commented on #946
thank you. I'm closely following your progress here as well.

[2015-10-18 11:01] yehosef opened #960 "get result as document"
I would like to query for some documents, make changes to them, and then save them again.  Normally when getting a single doc by primary key, I get an elastica\document and make the changes via that.

I would also like to use this approach when retrieving a Elastica\ResultSet or Result.  I would like to either retrieve this as a Document or convert it to one (eg, including the version info).  Is t

[2015-10-19 06:48] ruflin commented on #960
Currently this is not directly supported by Elastica. It was requested several times in the past but nobody implemented it so far. It shouldn't be too hard to implement it on top of ResultSet or Result. It would required to create document objects based on the retrieved values.

[2015-10-19 09:09] yehosef commented on #960
ok - .. you can leave open for a little and I'll see if I can do it.  I
have a working implementation.  The issue is that probably it needs to
ensure that the fields are not specified or else it will give partial
documents and saving them would not give the desired results.

On Mon, Oct 19, 2015 at 9:48 AM, Nicolas Ruflin <notifications@github.com>
wrote:

[2015-10-19 11:00] ruflin commented on #960
:+1: Let me know if you need some help.

[2015-10-19 12:51] yehosef commented on #960
Thanks!  I'm building an ORM like structure using Elastica - this is the part in my constructor where I handle Elastic\Result

     elseif ($data instanceof Elastica\Result)
        {
            /** @var Elastica\Result $data */

            $doc = new Elastica\Document($data->getId(), $data->getData());

            $version = $data->getVersion();
            $version && $doc->setVersion($versio

[2015-10-20 06:06] ruflin commented on #960
* As far as I know, version is only returned if version is set to true in the request. So you need to build in a check
* DocAsUpsert means the values in the document are used to "partially" update a document. Assuming you get "all" data as a response, you don't need this. There are some additional cases with script, but I think this would complicate the code too much (keep it simple and cover 80%

[2015-10-20 07:06] yehosef commented on #960
Thanks for the comments.

I don't set a version in the doc, will it do a check?  If not, if the version isn't set in the request then the doc will not have it and it'll save fine anyway.
About the inline if - I find the style easier to read, but I know others don't so I'll change.

You say

This should be if the `$data->getFields()` is set, no?  If I specified the fields in the request, then I can

[2015-10-20 07:51] savdeep opened #964 "_timestamp enable support in mapping"
I was trying to find out  use timestamp with intial index mapping which generally is done by put request to elasticsearch as "_timestamp" : { "enabled" : true , "store" : "yes"}

Is there any way to do this in elastica?

[2015-10-20 08:11] ruflin commented on #960
* About inline and not: You are right, this is very subject. Main reason is that so far it is never used (as far as I know) in the library.
* For every _hit in results you have index and type. See also here: https://www.elastic.co/guide/en/elasticsearch/reference/1.7/_the_search_api.html
* I was thinking of `ResultSet->getDocuments()` and/or `Result->getDocument()`. The outcome would be the same,

[2015-10-20 08:15] ruflin commented on #964
For the Mapping, there is currently not proxy function for _timestamp. But using Mapping->setParam you can set all params by just passing an array to it: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Type/Mapping.php

For a later reference I put here also the es docs link: https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-timestamp-field.html

It would be nice t

[2015-10-27 22:27] CrAzE124 commented on #944
+1 definitely, I haven't been on this repo for a while, and was just wondering whether this was possible. How can I help on this?

[2015-10-28 07:14] ruflin commented on #944
@CrAzE124 My plan to implement this was as following, but because of 2.0 I didn't have the time yet to try it out.

* Elastica\Client should extend php-elasticsearch::Client
* At first, the only method that uses php-elasticsearch::Client is Elastica\Client::request(...).

The above would mean, php-elasticsearch has to be added to the composer file and the request method has to be adjusted so that

[2015-10-29 14:56] Lumbendil commented on #946
Going to follow this issue aswell :) Btw, you have _Thrift support was removed_ dupplicated.

[2015-10-29 15:16] ruflin commented on #946
@Lumbendil Thanks. That is what you get using the Union merge :-)

[2015-10-29 15:27] Lumbendil commented on #946
Yay, this got updated.

Is there any simple issue which could be tackled by someone who hasn't delved to much on the library, to contribute a bit?

[2015-10-29 16:23] ruflin commented on #946
@Lumbendil Good question. Probably the easiest to start is get a clone from the elasticsearch-2.0 branch locally, install docker and docker-compose and run `make tests`. This will output quite a few failing tests. Pick one that you think is easy to fix.

Take for example the Fuzzy queries which are failing: https://travis-ci.org/ruflin/Elastica/jobs/87636268 Haven't looked into it by I assume the

[2015-10-29 16:48] Lumbendil commented on #946
I already have docker-compose (Thanks for providing a test env with the lib!) I'll try to tackle some of them if I can get time for it :D

[2015-11-03 20:50] JunniH opened #970 "Wrong parameters for Exception"
I was running Elastica just fine on a hosting with Elasticsearch 1.4.2, but running versions 2.0.0 now on a VPS and getting the following error while creating an index:

Fatal error: Wrong parameters for Exception([string $exception [, long $code [, Exception $previous = NULL]]]) in /gifthings/lib/vendor/Elastica/Exception/ResponseException.php on line 34

Correct to assume that this will be resol

[2015-11-03 22:12] Lumbendil commented on #970
You're right, there are some major changes, the bug you mentioned has been solved in the 2.0 branch as far as I know, but it isn't yet complete.

[2015-11-04 03:10] eit commented on #970
Exactly, the master branch is not ready yet for elasticsearch 2.0 version. I think we should wait for 2.0 branch be complete.

[2015-11-04 07:58] ruflin commented on #970
@JunniH There are quite a lot of changes in 2.0, now exception format is only one. Waiting for 2.0 branch to be merged is a good idea. Help to get it in faster is always welcome.

[2015-11-04 08:34] JunniH commented on #970
Thanks for the answers!

[2015-11-04 09:26] oldskool commented on #931
Phpunit should continue running on errors (or failed tests) and complete it's build as long as you don't pass the `--stop-on-error` (or `--stop-on-failure`) flag.

[2015-11-04 10:41] ruflin commented on #931
@oldskool PHPunit keeps running, but as we run phpunit multiple time the Makefile stops executing commands after the first error.

[2015-11-04 16:42] ruflin commented on #946
Small update here: I now went through all the "broken" tests. The small ones I fixed directly, all the others I marked as skipped and tryed to add some details. Now it should be easier for everyone to pick a test and try to figure out what is broken: https://travis-ci.org/ruflin/Elastica/jobs/89254674

It would be nice if someone could tackle the delete by query issues. I will look into Status and

[2015-11-06 13:20] marguse opened #971 "PHP 7 broken"
As PHP 7 has reserved keyword "bool" but elastica has class "Bool" and it breaks. Any plan to add php 7 support?

Reserved keywords:
http://php.net/manual/en/reserved.other-reserved-words.php

Thanks.

[2015-11-06 15:04] ruflin commented on #971
@marguse This issue is already fixed. As you can see here, under PHP 7 you must use BoolQuery: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Query/Bool.php#L7 Same for all other conflicting classes.

Closing this issue. Please reopen if this is still an issue.

[2015-11-06 15:04] #971 closed

[2015-11-07 20:16] #717 closed

[2015-11-09 14:54] lakhman opened #974 ""Error: Wrong parameters for Exception(..)" - while using Elastica with FosElastica"
Hi,

I'm having the same issue as described here in this stackoverflow question (after upgrading elasticsearch from 1.7.3 => 2.0):

[code]

http://stackoverflow.com/questions/33229423/error-in-responseexeption-while-populating-foselasticabundle-symfony2

I was using elasticsearch 1.7.3 with foselasticabundle, but after upgrading elasticsearch to 2.0, and running `console fos:elastica:populate --no

[2015-11-09 15:01] ruflin commented on #974
There are still some open issue with 2.0 For more details see here: https://github.com/ruflin/Elastica/issues/946 Help to get the last issues fixes is always welcome.

[2015-11-09 15:06] ruflin commented on #974
@Lakhman Thanks for linking the issue. I also commented there.

[2015-11-09 15:07] Lakhman commented on #974
Thanks!

[2015-11-10 23:57] ewgRa commented on #946
I look to deleteByQuery. It will be removed in ES 2.0, they suggest use ScrollAndScan and than perform bulk delete by document ids.

Use this advice as is in Elastica will cause CPU performance problems, because instead of one query, we will have read documents (create objects) and then send delete requests.

They implement it as plugin https://github.com/elastic/elasticsearch/blob/master/docs/plu

[2015-11-11 11:48] ruflin commented on #946
@ewgRa Agree. We should install the plugin as part of the setup and have a good exception in case it is no installed. Should also be part of the code docs.

I'm actually not sure if something like attachment is used and an the plugin is not installed. Do we get a reasonable exception?

@ewgRa Are you going to proceed here?

[2015-11-11 12:31] ewgRa commented on #946
@ruflin I install docker image, but seems there is no any plugin installed, many tests is skipped, because no plugin. But I need to check.

Yes, yesterday I start looking to deleteByQuery issue. Tomorrow will continue on it, maybe today if I will have time. If it is not urgency, let me dig it more.

About exceptions this is also question, because I don't check how ES answer when this plugin is not

[2015-11-11 12:40] ruflin commented on #946
@ewgRa Let me have a brief look if I can get the plugin to install. Perhaps faster as I did it before.

[2015-11-13 22:33] ewgRa commented on #946
Seems deleteByQuery have a bug: https://github.com/elastic/elasticsearch/issues/14758

Will wait confirmation or explanations.

[2015-11-14 20:52] ruflin commented on #946
Ok, thanks.

[2015-11-15 14:34] ewgRa commented on #946
PR #977 that adds check plugin exists for deleteByQuery. As I see from Image for example, there is no messages like "Image plugin not installed" when developer try query something related to Image plugin. That means that (Test|Index)::deleteByQuery also not required changes.
Fail test I think will be fixed when bug in elasticsearch will be confirmed or explained.

[2015-11-15 14:54] ewgRa commented on #974
This must be fixed by https://github.com/ruflin/Elastica/commit/41a7a2075837320bc9bd3bca4150e05a1ec9a115

Also commit has typo that will be fixed by #978

[2015-11-20 07:29] dbhattacharjee opened #983 "Memory exhaustion issue"
Hi,

In our application we have more than 7K records and we are pulling all of them to be exported via CSV/HTML format. Elastic search server is returning the data as expected but when it comes to JSON decode then it is throwing out of memory error.

``
[2015-11-20 07:17:17] emergency.EMERGENCY: Allowed memory size of 134217728 bytes exhausted (tried to allocate 72 bytes) {"type":1,"file":"/var/ww

[2015-11-20 07:32] ruflin commented on #983
@dbhattacharjee I would recommend to increase the memory size you assigned to PHP. As you send large batchs of documents it seems like 134MB is quite small. Any chance to change this in the php.ini?

[2015-11-20 07:37] dbhattacharjee commented on #983
@ruflin : By increasing memory limit this can be hidden at present. But we have 7K records in development/stag instance and will have much much more in production.
I think it is not a core issue of this bundle rather json_decode() function. Is is possible to divide the input into smaller chunks before sending to json_decode() function or make internal sub-calls to ES to get response in batches and

[2015-11-20 07:43] ruflin commented on #983
Not sure what you mean by subcalls, but perhaps scan and scroll could help? https://www.elastic.co/guide/en/elasticsearch/guide/current/scan-scroll.html

Can you elaborate on what exactly the issue is with making multiple calls to es?

[2015-11-20 07:48] dbhattacharjee commented on #983
With multiple calls to ES, say for each 1K record, we need to change our existing code as well as have to store results from those call and combine them in our code.
In short, we do not want to make changes in our code. Is there scope of resolution from this bundle ?

[2015-11-20 07:50] ewgRa commented on #983
@dbhattacharjee There is a possibility that even raw response from Elasticsearch not fit your memory limit. What you will do in this case?

[2015-11-20 07:58] dbhattacharjee commented on #983
@ewgRa That is what I am asking here. This bundle and FosElastica bundles are very cleverly written, well tested and I can not outperform them by writing my own logic.

Is it possible, if hits is more than  a large number (say 1K), then instead of parsing whole response at one shot, it performs scan and scroll or some other technique so that this memory error does not come.
Frankly, I am not exper

[2015-11-20 08:02] dbhattacharjee commented on #983
Also, scan-scroll is saying to disable sorting (?). we can't do that either as customer need to view results in sorted order as chosen by them in the UI.

[2015-11-20 08:17] ewgRa commented on #983
I fear that your wishes more at application level and in any case you will need change application for this.

Even if there is will be stream processing of response, or transparent batch processing, there is no guaranty that it fit your memory limit. Ok, it will be parsed to array somehow, but array also will be big for your memory limit and we return to beginning of this story.

[2015-11-20 09:29] ruflin commented on #983
@dbhattacharjee I would highly recommend to make some changes at the application level. Elastica does not provide any magic around splitting up requests etc. It mainly maps the elasticsearch API. I assume json_decode puts all data into memory for decoding. Based on the assumption that your data is going to grow over time, you will hit the memory limit again and again.

For the sorting: The bigger

[2015-11-20 10:33] dbhattacharjee commented on #983
@ruflin Yes that is my guess too that we might encounter this problem time and again.
Here is the background :
We are storing records in ES. Now customer wants to have a list how many records are inserted into the application for last X days. In the application UI, we are showing records with pagination control.
Now, they want to export this list as HTML as well as CSV format. For this use case, w

[2015-11-20 12:40] ruflin commented on #983
The question here is probably why they need the data in a csv file? Is it so they can go through the data themself in excel for visualisations? Here perhaps using [Kibana](https://www.elastic.co/products/kibana) on top of elasticsearch could help and give the customer direct access.

An alternative for the csv export could be to use [Logstas](https://www.elastic.co/products/logstash) csv plugin in

[2015-11-20 14:27] Lumbendil commented on #983
Dipanjan if you're showing them the paginated data, exporting as CSV that
paginated data is pretty easy. You need to go through each of the pages,
and for each page write the records to a temp file. By using a temp file
and only processing a page worth of records at a time, you won't hit the
memory limit.

This same approach (writing to temp file) can also be used for html, by
writing first the he

[2015-11-20 16:07] Floyd25 commented on #946
elastic/elasticsearch#14758 was closed 4 days ago. They said it wasn't a bug

[2015-11-20 18:54] ewgRa commented on #946
@Floyd25 thanks for watching progress. Actually it is already done https://github.com/ruflin/Elastica/pull/979 , actually it was problem in test.

[2015-11-21 09:02] analogmultimedia opened #984 "Amazon Elasticsearch"
Is it possiple to Connect to an Amazon Elasticsearch with Elastica? When i use the "AWS Account access policy". How can I set the header?

[2015-11-21 09:51] #984 closed

[2015-11-23 05:16] dbhattacharjee commented on #983
@Lumbendil Thanks for the hint. We are trying to implement this way now.

[2015-11-23 07:29] ruflin commented on #984
@fritzdacat Did you find a solution?

[2015-11-23 08:04] mablae commented on #984
Maybe this could be wrapped into some kind of Auth Layer since also Basic Auth is now possible?

[2015-11-23 08:41] ruflin commented on #984
@mablae Best is to directly have the conversation here: https://github.com/ruflin/Elastica/issues/948

[2015-11-24 14:57] Nihaux opened #991 "Can't find Indices query"
Hasn't it been implemented or am I missing something ?
https://www.elastic.co/guide/en/elasticsearch/reference/1.6/query-dsl-indices-query.html

[2015-11-24 23:39] jdc18 opened #992 "Does elastica requires symphony?"
I run composer and I go this  symfony  depencies

  - Installing guzzlehttp/guzzle (6.1.1)
  - Installing symfony/filesystem (v2.7.7)
  - Installing symfony/config (v2.7.7)
  - Installing symfony/dependency-injection (v2.7.7)
  - Installing symfony/finder (v2.7.7)
  - Installing symfony/translation (v2.7.7)
  - Installing symfony/yaml (v2.7.7)
symfony/process (v2.7.6 => v2.7.7)
  - Installing symf

[2015-11-25 01:55] mablae commented on #992
No, there is a dedicated bundle to integrate this standalone lib into a Symfony2 Project: https://github.com/FriendsOfSymfony/FOSElasticaBundle

Whatever you did, (I asume you ran `composer update`) has nothing to do with the deps of this package. For better unterstanding, how things work take a look at the composer.json of this Project:

[code]

As you can see, the only dependecy is PSR/Log

[2015-11-25 08:16] ruflin commented on #991
@Nihaux The indicies query is not implemented yet. You can always use not implemented queries by adding your raw array (see here for more details): http://elastica.io/example/raw-array-query.html

Or the other method is opening a PR with the query inside. Have a look on how the existing queries are implemented.

[2015-11-25 16:07] #992 closed

[2015-11-25 16:11] jdc18 opened #993 "Elasticsearch 2.0"
Are there any issues with Elastica and Elasticsearch 2.0, I did some tests and it seems to work fine with ES 2.0.  On the docs it says that it supports up to ES 1.7 and I know there are some major changes on from 1.7 to 2.0.
I can see that there is a branch for 2.0, is that branch stable enought?

Thanks

[2015-11-25 17:09] Lumbendil commented on #993
There is work being done, some queries might work due to them keeping the same syntax from 1 to the other.

You can check the state on #968

[2015-11-25 19:51] ruflin commented on #993
@jdc18 18 out of about 900 tests still fail. Here are all listed: https://travis-ci.org/ruflin/Elastica/jobs/92800144#L1668. Most of the queries should work as expected by now. I would not recommend the branch for production as it is a development branch but running it with elasticsearch 2.0 and reporting problems (or success) is also of big help. Otherwise the fastest way to get it releaed and ou

[2015-11-26 10:17] ruflin commented on #993
@jdc18 After a fixing spree yesterday night, only two are left. As soon as we get these fixed, I plan to do a beta1 release.

[2015-11-26 15:33] jdc18 commented on #993
@ruflin great work, I did a pull yesterday and I was checking your code nice work

[2015-11-27 06:50] ruflin commented on #993
Closing this issue as Elastica 3.0.0-beta1 is now out: http://elastica.io/2015/11/26/release-3-dot-0-0-beta1/

[2015-11-27 06:50] #993 closed

[2015-11-27 11:24] Lumbendil commented on #946
@ruflin out of curiosity, other than verifying there haven't been introduced new bugs, is there anything else which should happen to go from beta to 3.0?

[2015-11-27 11:56] ruflin commented on #946
@Lumbendil Not from my point of view. But I want that at least some people test it to see if everything works as expected. I would probably give it 1-2 weeks. Your thoughts?

[2015-11-27 12:18] Lumbendil commented on #946
Just asking because I have a dependency to it inside a repo which is the one I depend on my projects, so I have to write twice the code, and I wanted to get an estimate on how long I'll have to depend on "3.0.0@dev" :)

In the case of a library such as this I'd be more inclined to go 3.0.0 and release bug fixes as they come, since people shouldn't depend on "*" and if they do and see `composer upd

[2015-11-27 12:30] Floyd25 commented on #946
Sorry, to ask on this issue page, but: 3.00 would be compatible with elastic search 2.0? We're about to start a new project and would love to use es 2.0 from the start. any hints you could give me if 3.x would be stable enough?

[2015-11-27 12:33] ruflin commented on #946
@Floyd25 Yes, Elastica 3.0.0 is compatible with elasticsearch 2.0. I highly recommend to directly start with 2.0. For your question on stability: It was released yesterday. Also check the comment above from @Lumbendil :-)

[2015-11-27 12:33] Lumbendil commented on #946
@Floyd25 it's Elastica 3.0 (and I believe 3.x) is written for ElasticSearch 2.x, so it is compatible. As far as stability of 3.0 goes, it was tagged just yesterday, but since ES 1.0 to 2.0 had more deprecations than BC breaks, it should be pretty stable.

Can't assure there won't be bugs.

PS: Ninja'd

[2015-11-27 12:34] ruflin commented on #946
@Lumbendil There are too many "shouldn't" and "might" in the sentence. I basically agree with you but I'm always surprise how many actually directly use master for their apps :-)

[2015-11-27 12:35] Lumbendil commented on #946
@ruflin if they use master, they are already using 3.0, so what's the danger on that case? Also, pretty common when people abuse "*" is the "minimum-stability" "dev", so those are using 3.0 already aswell.

[2015-11-27 12:37] ruflin commented on #946
@Lumbendil Lets give it at least a few days for my own sanity :-) Happy to then jump to 3.0.0 directly. The good news, no new issues popped up since yesterday.

[2015-11-27 12:40] Lumbendil commented on #946
:+1: will stick to `~3.0.0@dev` for the time being. As a side note, I read you have no problem on BC breaks on minors (3.0 to 3.1), don't you usually keep compatibility with the previous method signature / keep the previous method pointing to the new method though?

Asking so I can just do `~3.0` and "forget about it" instead of `~3.0.0` :)

[2015-11-27 12:45] ruflin commented on #946
@Lumbendil I do that whenever possible, in case just the method change. Make sure you don't use any deprecated methods as these I'm willing to remove in Minor versions. It was a bad habit to keep them around for too long in recent release and was a bit of an issue recently.

In case there are some heavy BC breaks, I make sure I let people now. @ewgRa is our champion here in making things easy for

[2015-11-27 12:46] Lumbendil commented on #946
@ruflin as long as methods are deprecated beforehand, I'll go with `~3.0` :smile:

[2015-12-02 16:33] ruflin commented on #946
Closing this issue as Elastica 3.0.0-beta1 was released

[2015-12-02 16:33] #946 closed

[2015-12-04 17:10] kukulich opened #1000 "Missing filter support for BoolQuery"
See https://www.elastic.co/guide/en/elasticsearch/reference/2.0/query-dsl-bool-query.html

Filtered query is deprecated since 2.0.0-beta1, see https://www.elastic.co/guide/en/elasticsearch/reference/2.0/query-dsl-filtered-query.html

[2015-12-04 17:20] kukulich opened #1001 "Elastica\Filter\Nested should be returned back"
It's not possible to filter nested objects without `Elastica\Filter\Nested`.

Eg. `Elastica\Query\Filtered::setFilter()` requires `\Elastica\Filter\AbstractFilter` so it's not possible to use `Elastica\Query\Nested`.

[2015-12-05 08:10] kukulich commented on #1001
There's also an option to move all filters to `Elastica\Query` and change `Elastica\Query\Filtered::setFilter()` to accept `Elastica\Query\AbstractQuery`

[2015-12-05 21:19] ruflin commented on #1000
@kukulich Thanks for bringing this up. We should add setFilter in our BoolQuery and mark Filtered Query as deprected. Any chance you could open a PR with that?

[2015-12-05 21:56] ruflin commented on #1001
@kukulich Good point. Would it be sufficient to just make setFilter accept also AbstractQuery? What do you mean by "move all filters" to Elastica\Query? Removing filters completely?

[2015-12-05 21:59] ruflin commented on #1001
@kukulich Side note here: I think the points you are bringing up are the last major changes which are not properly done yet in Elastica 3.0.0. So I'm glad you got this discussion started.

[2015-12-05 23:24] kukulich commented on #1001
All filters are deprecated in favour of queries so this may be done:

1. Add missing queries (formerly filters), eg. `ExistsQuery`, `MissingQuery`, `GeoDistanceQuery`, `ScriptQuery` etc.
2. Remove filters completely or in favour of easier migration mark them only deprecated
3. Make `setFilter()` accept only `AbstractQuery` or in favour of easier migration make it accept both `AbstractQuery` and `A

[2015-12-05 23:31] kukulich commented on #1000
It's difficult for me because I work on Windows7 and don't have any experiences with docker yet.

[2015-12-07 10:42] ruflin commented on #1001
@kukulich That looks like the cleanest way to go. Mentioning @ewgRa here as he probably also has an opinion here.

A shortcut I was thinking of (in case we don't find the time to do the full change) could be to make AbstractFilter extend AbstractQuery and make setFilter() accept only AbstractQuery.

[2015-12-07 10:44] ruflin commented on #1000
No docker experience shouldn't be the issue as it should "just" work but I see the problem that you can't use the Makefile.

At the same time, you can also run tests without the hole docker setup, but need to have elasticsearch running locally. Have a look at this lines: https://github.com/ruflin/Elastica/blob/master/Makefile#L50

[2015-12-07 11:18] ewgRa commented on #1001
Looks interesting, but I can't define how right it will be, especially without code cases, so feel free to ignore my 2 cents.

1. https://www.elastic.co/guide/en/elasticsearch/reference/2.0/query-dsl-geo-distance-query.html - seems it is still filter. So, in Elastica call it "Query" seems not so right way. It is still query and filter.

2. I'm always for provide good BC layer.

3. It depends on "1

[2015-12-07 11:22] kukulich commented on #1000
Ok, I will try to prepare PR :)

[2015-12-07 11:37] kukulich commented on #1001
I think it would be good to follow Elasticsearch naming and there are only queries now, see eg. https://www.elastic.co/guide/en/elasticsearch/reference/2.0/query-dsl-geo-distance-filter.html

[2015-12-07 11:46] ewgRa commented on #1001
@kukulich I agree with main idea follow Elasticsearch naming, lets look to documentation for now: https://www.elastic.co/guide/en/elasticsearch/reference/2.0/query-dsl-geo-distance-query.html

"Filters documents that"
"can be executed with a geo_distance filter:"
"The following are options allowed on the filter:"

It is all about filter.

Documentation just show how to perform geo distance queries

[2015-12-07 11:50] kukulich commented on #1001
@ewgRa So you suggest to have both `GeoDistanceQuery` and `GeoDistanceFilter` in Elastica?

[2015-12-07 11:52] ruflin commented on #1000
Cool, thanks.

[2015-12-07 11:57] ewgRa commented on #1001
@kukulich

For me it looks like GeoDistanceQuery = Query + GeoDistanceFilter.

Can you give example in code how you see it?

for me it looks like this:
[code]

If for example Bool also support setFilter, I can do something like this:
[code]

[2015-12-07 12:00] ewgRa commented on #1001
I suggest have only GeoDistanceFilter.

Have GeoDistanceQuery - it will be kind of synthetic sugar. Elasticsearch allow to filter by geodistance any queries.

[2015-12-07 12:11] kukulich commented on #1001
I understand your arguments however I think that `$query->setFilter(new GeoDistanceQuery);` would better follow Elasticsearch naming so it would be easier to find it in documentation.

[2015-12-07 12:16] ruflin commented on #1001
Which one has less "features"? Query or Filter? The reason I ask is to decide which one should extend which one. It seems like every filter can also be used as a query but a query could have additional features?

[2015-12-07 12:26] ewgRa commented on #1001
@kukulich Sure. Can you show code how you see it?

Something like this?
[code]

I'm not sure (is this possible on ES side, maybe it is not a working case, haven't time to check), but how it will be handle than such ES queries?
[code]

When query have several filters?

[2015-12-07 12:31] ewgRa commented on #1001
@ruflin As from this https://www.elastic.co/guide/en/elasticsearch/reference/current/query-filter-context.html than Query extends from Filter.

[2015-12-07 12:47] ruflin commented on #1001
@ewgRa That means we should probably also do that in our code.

I would have to check if the setCached methods we have in here are still supported: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Filter/AbstractFilter.php

[2015-12-07 20:46] ewgRa commented on #1001
@ruflin @kukulich

So, I read docs carefully.
Seems ES 2.0 now have Queries only, but also it introduce Query context and Filter context. Query can be performed in both contexts, also as a just standalone.

"The behaviour of a query clause depends on whether it is used in query context or in filter context".

As from this https://www.elastic.co/blog/better-query-execution-coming-elasticsearch-2-0

[2015-12-07 20:49] ewgRa commented on #1001
@kukulich +1 for what you suggest.

+2 for good BC layer

[2015-12-07 20:49] ewgRa commented on #1001
-1 for I was not right :)

[2015-12-07 20:54] ewgRa commented on #1001
But in another hand this "boost" that still make no sense for filter context, but can be used in query context.

[2015-12-08 08:04] kukulich commented on #1001
@ewgRa I'm glad wed we found agreement :)

[2015-12-08 12:36] ruflin commented on #1001
@ewgRa @kukulich +1 on the suggestion. Now we "only" need a PR :-)

[2015-12-08 21:53] theDisco opened #1003 "json_decode() and integer overflow strike back"
I have just installed version 3.0.0-beta1 after reading #717 and #941 in hope to get the integer overflow problem in json_decode() sorted out. After some debugging I have found following problems:

1) In some of the older releases of php5-json Debian package `JSON_BIGINT_AS_STRING` is not implemented throwing a warning `[Warning] json_decode(): option JSON_BIGINT_AS_STRING not implemented`. Below

[2015-12-08 21:57] ruflin commented on #1003
@theDisco Which PHP version are you using?

[2015-12-08 22:04] theDisco commented on #1003
[code]

[2015-12-08 22:07] ruflin commented on #1003
@theDisco Very interesting. I found some more information here which could be related: http://stackoverflow.com/questions/19520487/json-bigint-as-string-removed-in-php-5-5

[2015-12-08 22:09] theDisco commented on #1003
@ruflin haha, that is one of the links I have provided in my initial comment :) Nevertheless it doesn't explain why 2) is failing and why 3) is implemented as it is?

[2015-12-08 22:14] ruflin commented on #1003
@theDisco Sorry, missed that one. Currently busy with something else but will have a closer look later. Perhaps it makes sense to add @oldskool to the conversation?

[2015-12-09 07:26] ruflin commented on #1003
@theDisco Here a more detailed answer:

1) We initially thought it is only depending on the PHP version. But as you proofed above it isn't. The php-jwt implementation looks promising. At the same time this error only appears, if you enable JSON_BIGINT_AS_STRING right? So if you enable it, I assume they know quite well what they are doing and should use the appropriate versions of php and plugins.

[2015-12-09 10:34] oldskool commented on #1003
Interesting find, thanks for reporting this @theDisco.

1) We could add an additional check before calling `JSON_BIGINT_AS_STRING` to see if it's actually available. Like:

[code]

1) (continued) Of course this is just a workaround for the message and doesn't really solve the problem at hand. Maybe we can play with the jwt implementation to see if that could work for this case as well.

2) It's se

[2015-12-09 11:55] ruflin commented on #1003
The main reason I don't like the suggestion for 1) above is that the user doesn't get what he configured. Elastica as a library should make sure not to do magic and the the developer gets what he configured. If he doesn't he should get an exception.

For 2) Thanks @oldskool for bringing that about. I remember I strongly suggested this change to have the default behaviour. What I'm asking myself no

[2015-12-09 12:54] theDisco commented on #1003
@ruflin

1) I like the combined approach of checking, if JSON_BIGINT_AS_STRING was configured and is defined and if not throwing an exception. Will include that in my PR.

2) I understand that false is the default value, but then we should cast to array, because the rest of the code does not know how to deal with \stdClass. I will prepare a PR for that and we can discuss it there.

3) I didn't exp

[2015-12-09 12:59] ruflin commented on #1003
About 3, I think the confusing part is that the current implementation uses the transport(connection) object to set the variable for response object. This works but is ugly as it has to be set multiple times and is confusing as we see. The problem is: What is the better solution? I'm quite oposed to set global variables. So the question is how do we get it best from the client to the response obje

[2015-12-09 13:27] theDisco commented on #1003
I don't think it is that bad, because the client acts as a factory and uses configuration to set up the underlying ecosystem. Transport should be primitive and only responsible for transferring the data between two endpoints. The response creation can be moved to the request object and request object can be composed of serializers which take care of json transformation. This way you would complete

[2015-12-09 14:32] ruflin commented on #1003
@theDisco You are correct, especially with your last statement. Going with #944 will move the problem one layer up. I'm sure @polyfractal likes that :-D

[2015-12-09 16:36] polyfractal commented on #1003
Urgh.  Json encoding is the bane of my existence in PHP.  This issue came up at es-php recently too:  https://github.com/elastic/elasticsearch-php/pull/334

:'(

I'm not really sure the best way forward.  As mentioned here, `JSON_BIGINT_AS_STRING` is not supported uniformly across versions and platforms.  There are native-PHP solutions but they look *very* fragile (lots of regex) and probably slow

[2015-12-09 16:56] theDisco commented on #1003
I think detection, if BigInt is supported or not is a good thing. The goal of libraries like elastica or es-php is to hide the details of low or even high level implementations and let the user concentrate on the use case. I like the simplicity of just instantiating `Elastica\Client` and using it without providing and connection details. To be honest, if I wouldn't hit this bug, I would probably n

[2015-12-09 18:30] polyfractal commented on #1003
Regarding versions, ES-PHP 2.0 is explicitly PHP 5.4+, so that will be fine.  I'm trying to move people off ES-PHP 1.x as soon as possible :)

I'll mull over the options and work something out.  I agree this is a less than ideal situation for the end-user, who doesn't really care about how numbers are encoded at all.

And I agree this should probably be handled at the ES-PHP level, not Elastica :)

[2015-12-09 19:07] ruflin commented on #1003
@polyfractal Yep, fun problem. Until yesterday I thought JSON_BIGINT_AS_STRING  is "solved" by going with PHP 5.4 but @theDisco proofed me wrong :-(

[2015-12-09 21:16] theDisco commented on #1003
PR is ready, when can I expect it to become available through composer?

[2015-12-09 21:31] ruflin commented on #1003
@theDisco Just commented on it. What are you referencing to in composer? Master?

[2015-12-09 21:35] theDisco commented on #1003
@ruflin Sorry, let me clarify, when will you create a tag I will be able to configure in composer.json? I haven't found any information on how you deal with versioning...

[2015-12-09 21:40] ruflin commented on #1003
@theDisco There is no predefined schedule. The main issue / pr I would like to get in before tagging 3.0.0 is this one: https://github.com/ruflin/Elastica/issues/1001 Unfortunately there is no PR yet.

[2015-12-09 21:45] theDisco commented on #1003
@ruflin I was rather thinking about 3.0.0-beta2 :)

[2015-12-09 21:46] ruflin commented on #1001
@kukulich @ewgRa Does anyone of you have a chance to work on this?

[2015-12-09 21:46] ruflin commented on #1003
The other thing I'm thinking about is actually going with 3.0.0 to bring the adoption to discover more bugs. I think currently lots of user stick with the old version.

[2015-12-09 22:11] theDisco commented on #1003
@ruflin This works out really well for me, but you need to think about people, who are still using facets instead of aggregations. They will have to invest some time to refactor their code. You are completely right though, people should be encouraged to upgrade to newer versions.

[2015-12-09 22:15] ewgRa commented on #1001
@kukulich do you want take it?

[2015-12-10 08:33] ruflin commented on #1003
@theDisco Unfortunately it is much worse then people just using Facets. It's also about the PHP version and some people use even older ES versions like 0.90.0 ...

I'm closing this issue as the PR was merged. Thanks again also for bringing up all the points and take the time to discuss it.

[2015-12-10 08:33] #1003 closed

[2015-12-10 12:04] kukulich commented on #1001
I don't know if I have time to do it this year :( Maybe in January

[2015-12-10 12:09] ewgRa commented on #1001
Same for me, but maybe I can take it earlier. I think @ruflin would be glad to have it much earlier than January, so, who first will have time - just left notice here to avoid doing same work.

[2015-12-10 12:09] ruflin commented on #1001
:+1:

[2015-12-10 12:10] kukulich commented on #1001
:+1:

[2015-12-10 12:38] theDisco commented on #1003
Thanks for taking your time and merging it so quick!

[2015-12-11 22:01] kukulich commented on #1000
https://github.com/ruflin/Elastica/pull/1006

[2015-12-12 09:06] kukulich commented on #1001
@ruflin Could you please revert these commits https://github.com/ruflin/Elastica/commit/12cecd3dfe265a4202c10c06754088999829bafa https://github.com/ruflin/Elastica/commit/15c2fd193d7cfc8331c55359e17a28c2dabd7074 ? After that I can try to port our application at work to current Elastica master and test it with real data. Thanks.

[2015-12-13 20:25] ruflin commented on #1001
Can you just readd the changes?

[2015-12-14 12:49] kukulich commented on #1001
@ruflin I'm sorry, I don't understand what you mean.

[2015-12-14 13:36] ruflin commented on #1001
@kukulich You asked about reverting the commits. Instead of reverting them I suggest you just take the changes that were removed and readd them. Like this no changes of existing commits have to be made and you are not blocked by me.

[2015-12-14 13:38] #931 closed

[2015-12-14 13:46] kukulich commented on #1001
@ruflin Thanks, I understand it now. I thought the "readd" is typo of "read" :)

[2015-12-15 15:43] awdng commented on #1001
+1 for this. I just started porting our Application to ES2.0 and ran into this issue. In our application we have a collection of filters that all get added to a BoolFilter which then gets added to a FilteredQuery. Previously in one case we were adding a NestedFilter that contained a BoolAnd Filter that included a bunch of other filters and this NestedFilter get added to the main BoolFilter. This w

[2015-12-15 18:36] ruflin commented on #1001
@awdng I still hope 3.0 :-)

[2015-12-15 21:57] hakman opened #1010 "Use POST to send bulk requests"
A RESTful design uses PUT for updates and POST for create. Elastica uses the bulk API to create new documents:
https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Bulk.php#L356

Would it be OK to change the way Elastica sends bulk requests from PUT to POST?
Elasticsearch docs also mention POST as the method for sending bulk requests, though the spec allows both:
http://www.elastic.co/guide

[2015-12-15 22:44] damienalexandre commented on #1010
Good point. No reason to use PUT here, but elasticsearch handle them [exactly the same](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/rest/action/bulk/RestBulkAction.java).

The official PHP client is also [using POST](https://github.com/elastic/elasticsearch-php/blob/master/src/Elasticsearch/Endpoints/Bulk.php#L80).

[2015-12-16 07:32] ewgRa commented on #1010
I think you right and it must be synced and POST more right in this case, so +1 for POST.

@hakman Did you face with real problem when PUT used? Or there is no something behind?

[2015-12-16 09:38] hakman commented on #1010
We have a product that works as a proxy for Elasticsearch to accept and parse logs.
I am writing some examples for that using various languages and libs. One of them is Monolog and had trouble shipping logs with it, because of this issue.

We are also modifying our proxy, but thought this might help others in the future.

[2015-12-16 13:39] otisg commented on #1010
+1 for supporting POST

[2015-12-18 06:54] ruflin commented on #1010
I remember there was a reason we used PUT, but I think it was related to one of the deprecated transports. So +1 on this change.

[2015-12-19 00:10] mfn opened #1012 "\Elastica\Aggregation\TopHits::setSource() : wrong signature"
It's the same issue as https://github.com/ruflin/Elastica/issues/818 ; `_source` can be set to false in the ES API, but not with this client.

The [TopHits](https://www.elastic.co/guide/en/elasticsearch/reference/master/search-aggregations-metrics-top-hits-aggregation.html) documentation doesn't mention it explicitly but refers to [Soure Filtering documentat](https://www.elastic.co/guide/en/elasti

[2015-12-19 21:15] ewgRa commented on #1012
Do you want to contribute? :)

[2015-12-20 06:56] mfn commented on #1012
Sorry don't plan at the moment, too busy!

[2015-12-20 21:34] kukulich commented on #1000
Solved by https://github.com/ruflin/Elastica/pull/1006.

[2015-12-20 21:34] #1000 closed

[2015-12-20 23:17] lakhman commented on #974
How can I test this with FOSElastica? I wanted to use FOSElastica with Elasticsearch 2.0 (to test this upgrade to 2.0).
I tried forking FOSElastica and updating the elastica version constraint to 3.0.0-beta1, but this didn't work.

How can I use FOSElastica with these new changes from ruflin/elastica?

[2015-12-25 16:39] redayoub commented on #974
Hi, I'm having the same error. Any help please ?

Thanks

[2015-12-25 23:58] AliHichem commented on #974
@redayoub this is already fixed , you should make your composer.json use "dev-master" to get the fix.

[2015-12-27 08:09] ruflin commented on #970
Closing this as 3.0.0-beta1 was released.

[2015-12-27 08:09] #970 closed

[2015-12-28 13:38] rdohms opened #1014 "Library is not PHP 7.0 ready."
One of the main reasons for this is the `Bool` class which is now a reserved name.

Is there intent to make this compatible? I may be able to toss some developers at it, if its in the interest of the library.

[2015-12-28 14:08] ewgRa commented on #1014
Bool is deprecated now, you can use BoolQuery or BoolFilter if you have PHP7.

Bool will be removed in next releases.

[2015-12-28 14:15] ruflin commented on #1014
@rdohms Just saw also your issue here. Let us know in case we missed something here.

[2015-12-31 05:22] zoglun commented on #1014
Notice that the master branch with Bool fix only support MW 1.27 &1.27+. Is there anyway for Elastica on MW1.26 with PHP7?

I tried 1.27.0-wmf.9 on my server and it does not work well.

[2015-12-31 07:52] ruflin commented on #1014
@zoglun Sorry to ask, but what is MW?

[2015-12-31 08:04] ruflin commented on #1012
@mfn Thanks for the reporting. I opened https://github.com/ruflin/Elastica/pull/1015 to fix it. Side note here: It is always possible to pass a bool other other params by using setParam directly instead of setSource.

[2015-12-31 08:09] ruflin commented on #1014
Closing this issue. Please reopen if there is still an issue.

[2015-12-31 08:09] #1014 closed

[2015-12-31 08:09] ruflin commented on #1010
Closing as https://github.com/ruflin/Elastica/pull/1011 was merged.

[2015-12-31 08:09] #1010 closed

[2015-12-31 08:11] ruflin commented on #1001
@kukulich Any updates here?

[2015-12-31 08:12] #1012 closed

[2015-12-31 08:13] ruflin commented on #960
@yehosef Any updates here?

[2015-12-31 08:14] ruflin commented on #923
Closing as no updates were provided. Please reopen in case the issue still exists.

[2015-12-31 08:14] #923 closed

[2015-12-31 08:15] ruflin commented on #835
I started to answer some answers on SO and we use gitter. Closing as I think a larger changes is not feasible.

[2015-12-31 08:15] #835 closed

[2015-12-31 08:16] ruflin commented on #900
3.0.0-beat1 was released with es 2.0 support

[2015-12-31 08:16] #900 closed

[2015-12-31 08:17] ruflin commented on #894
This would get obsolete with https://github.com/ruflin/Elastica/issues/944

[2015-12-31 08:17] ruflin commented on #832
Closing as https://github.com/ruflin/Elastica/pull/848 was merged.

[2015-12-31 08:17] #832 closed

[2015-12-31 08:19] ruflin commented on #874
Closing as no updates. Please reopen if needed.

[2015-12-31 08:19] #874 closed

[2015-12-31 08:20] ruflin commented on #812
Closing this one even though some points are still open. By now we support 2.0 and we implement the open features above when requested. Please reopen if you disagree.

[2015-12-31 08:20] #812 closed

[2015-12-31 08:22] ruflin commented on #810
@merk Sorry that I never replied on this one. I think a good place for this would probably be Util functions or something similar in Elastica, so we don't mix "core" elasticsearch functionality with functionality on top. Did work on this progress?

[2015-12-31 08:24] ruflin commented on #811
@merk Any updates here?

[2015-12-31 08:24] ruflin commented on #880
Was removed in 3.0.0-beta1

[2015-12-31 08:24] #880 closed

[2015-12-31 08:26] ruflin commented on #860
Closing as no updates provided. Please reopen when needed.

[2015-12-31 08:26] #860 closed

[2015-12-31 08:27] ruflin commented on #882
Closing as no updated provided. Please reopen if needed.

[2015-12-31 08:27] #882 closed

[2015-12-31 08:28] ruflin commented on #892
Closing as no updates provided. Please reopen if needed.

[2015-12-31 08:28] #892 closed

[2015-12-31 08:30] ruflin commented on #800
Closing as unclear if further steps are needed.

[2015-12-31 08:30] #800 closed

[2015-12-31 08:33] ruflin commented on #720
Closing as I think this issue was resolved. Please reopen if needed.

[2015-12-31 08:33] #720 closed

[2015-12-31 08:34] ruflin commented on #38
Closing as a very old issue and so far was not requested again and PR was provided. Please reopen if needed.

[2015-12-31 08:34] #38 closed

[2015-12-31 08:36] ruflin commented on #331
Caching was refactored with elasticsearch 2.0. Closing as does not seem to be a required feature.

[2015-12-31 08:36] #331 closed

[2015-12-31 08:36] ruflin commented on #367
Closing as no updated provided.

[2015-12-31 08:36] #367 closed

[2015-12-31 08:37] ruflin commented on #377
Closing as no updated provided.

[2015-12-31 08:37] #377 closed

[2015-12-31 08:38] ruflin commented on #584
Closing as no updates were provided. Please reopen if this is still an issue.

[2015-12-31 08:38] #584 closed

[2015-12-31 08:39] ruflin commented on #620
@milan I know, quite old. But are you still interested to push some changes here?

[2015-12-31 08:39] ruflin commented on #651
Closing as no updates were provided. Please reopen if needed.

[2015-12-31 08:39] #651 closed

[2015-12-31 08:40] ruflin commented on #654
Closing as no updates provided Please reopen if needed.

[2015-12-31 08:40] #654 closed

[2015-12-31 08:41] ruflin commented on #662
Closing as I don't see it as an issue.

[2015-12-31 08:41] #662 closed

[2015-12-31 08:42] ruflin commented on #673
@im-denisenko As far as I know, this suggested change was never pushed?

[2015-12-31 08:43] ruflin commented on #673
Closing this issue as the "core" issue was address. For the suggestion of @im-denisenko please open a new issue or directly a PR.

[2015-12-31 08:43] #673 closed

[2015-12-31 08:44] ruflin commented on #685
Closing as no updates provided. Please reopen if needed.

[2015-12-31 08:44] #685 closed

[2015-12-31 08:45] ruflin commented on #706
Closing as no updates provided. Please reopen if needed.

[2015-12-31 08:45] #706 closed

[2015-12-31 08:47] ruflin commented on #964
Closing as https://github.com/ruflin/Elastica/pull/965 was merged.

[2015-12-31 08:47] #964 closed

[2015-12-31 08:48] ruflin commented on #974
Please be aware that one more potential is pushed here: https://github.com/ruflin/Elastica/pull/1016 Closing this issue as fix was already merged. Please reopen if needed.

[2015-12-31 08:48] #974 closed

[2015-12-31 09:39] redayoub commented on #974
Thanks @AliHichem

[2015-12-31 12:08] yehosef commented on #960
sorry - I haven't worked on this any more.  I think the approach with the `ResultSet->getDocuments()` and/or `Result->getDocument()` is great.

[2015-12-31 12:55] reedy commented on #1014
MW = MediaWiki

So MW needs to make sure we're only using the BoolQuery/BoolFilter classes, and bump to the next release when it's available for PHP 7 support

I presume you mean version 3.0.0? Any idea of a release timescale?

[2015-12-31 13:07] ruflin commented on #1014
Already version prior to 3.0.0 are compatible with PHP 7 and the classes above exist. The only thing you have to do is to make sure to replace all Bool classes with the appropriate new classes in MediaWiki. As far as I remember there are a few classes more which are not compatible and deprecated but have a correspondig class. So no need to wait for 3.0.0

[2015-12-31 13:13] reedy commented on #1014
It seems only one extension is using the Bool classes, so I've proposed fixes for those in https://gerrit.wikimedia.org/r/261766

@zoglun Are you running the translate extension on your MW install?

[2015-12-31 13:15] ruflin commented on #1014
@reedy :+1:

[2015-12-31 16:05] zoglun commented on #1014
Oh, sorry for my ambiguous. I am asking for https://www.mediawiki.org/wiki/Extension:Elastica PHP7 support problem. I confused this Elastica with the Extension:Elastica from Mediawiki.

Again, sorry for taking your time, and happy new year!

[2015-12-31 16:09] ruflin commented on #1014
@zoglun no problem ;-) Happy new year

[2015-12-31 16:48] reedy commented on #1014
https://github.com/wikimedia/mediawiki-extensions-Elastica is just a minimal wrapper around this repo

https://phabricator.wikimedia.org/T122686 is our task for fixing it up for anyone that ends up here looking for an answer :)

WMF is still on ElasticSearch 1.7.1, so made a request go get that bumped upto 1.7.4... Which allows us to use a newer version of Elastica

Bumping upto version 2 of ES is

[2015-12-31 22:05] merk commented on #810
I agree that this should be separate from the core Mapping features already implemented in Elastica, but I'm not sure on the best approach here, I dont like the annotation or virtual property approach anymore since indexes/types dont behave the same way.

The only thing I've come up with since I posted this was that there should be a directory specified that contains mapping json files that can be

[2016-01-01 00:16] zoglun commented on #1014
@reedy I didn't find any "existing" class error on Mediawiki wmf 1.27 Ver caused by this Elastica (master branch).

The wmf Ver mediawiki sometimes behave Weird under PHP7. So we set up 3 more HHVM servers for new year trafics and would not try PHP 7 within half year until Mediawiki 1.27 release.

[2016-01-01 06:14] reedy commented on #1014
We don't claim any PHP7 support, but we are working towards it. Remember, we're currently still supporting PHP 5.3.3 Anyway, it's offtopic over here, so we should move it to the phab task you filed.

We need specific errors to be able to attempt to fix it :)

[2016-01-01 15:24] kukulich commented on #1001
Unfortunately I have no time for this now. Maybe in the end of January.

[2016-01-02 22:07] ruflin commented on #1001
@kukulich Thanks for the heads up. @ewgRa Do you have any time to work on this earlier?

I'm not sure if I should push 3.0.0 without this ...

[2016-01-03 09:43] ewgRa commented on #1001
I think I will have time on this week and make PR

[2016-01-03 12:10] yehosef opened #1018 "filtered query should not throw error"
In Elastica\Query\Filtered it throws an error - "Use BoolQuery instead".

This is still supported as of elasticsearch 2.1 and I assume will be until at least version 3.  This should not throw an exception.

As they say in the blog post https://www.elastic.co/blog/better-query-execution-coming-elasticsearch-2-0

This is a relatively simple remapping on their part.  I don't think Elastica needs to b

[2016-01-03 12:51] yehosef commented on #1018
nevermind - I realize this is due to my error settings and depreciated warnings.  move along!

[2016-01-03 12:51] #1018 closed

[2016-01-03 12:52] ruflin commented on #1018
@yehosef I just had a look at this PR and I don't think we throw an exception, only error. Could this be your error handling?

[2016-01-03 12:52] ruflin commented on #1018
@yehosef Ah, just saw your comment a bit too late :+1:

[2016-01-03 12:54] ruflin commented on #1001
@ewgRa Very nice. I was thinking to do the 3.0.0 release today without the change and release 3.1.0 as soon as we have it. I think it is good to get more people on 3.0.0 in case there are some more bugs. Would that be ok for you?

[2016-01-03 13:00] ewgRa commented on #1001
Yes, for me totally ok.

[2016-01-03 14:06] kukulich commented on #1001
I think you can release 3.0.0 if you revert the commits where you have removed Filter\Nested.

[2016-01-04 12:24] ruflin opened #1019 "Improve error handling of elasticsearch errors"
Elasticsearch 2.0 provides a full error object. This must be mapped in a better way.

In Elastica it is still possible to get the Error as a string. This should be improved, tested and cleaned up.

This line is currently more a hack: https://github.com/ruflin/Elastica/commit/99d7cd147c469e20e0c8e550c431712edda4dd19#diff-b364251d02e70310f3c6e443372397d3R104

[2016-01-04 12:32] ruflin commented on #960
@yehosef Do you have any plans to continue work on it?

[2016-01-04 12:55] ruflin commented on #1001
@kukulich I readded the files and tests, but somehow the tests fail. See https://github.com/ruflin/Elastica/pull/1020/files#diff-80be7592e890c5e74f56b6a643b4c98eR94 for example. Do you know why?

[2016-01-04 18:55] ewgRa commented on #1001
I start work on this issue.

[2016-01-04 18:56] ruflin commented on #983
I'm closing this issue as there were no updates recently. Please reopen if needed.

[2016-01-04 18:56] #983 closed

[2016-01-04 18:58] ruflin commented on #948
@jeskew Any updates here?

[2016-01-04 19:02] ruflin commented on #925
As an update here: Elastica 3.0.0 still supports deleteByQuery with the same implementation but requires the plugin now.

I'm not sure what we should do about the docs updates. In case some has a solution or a suggestion, please directly open an issue or PR for it. I will close this issue as it was initially related to deleteByQuery. Please reopen if needed.

[2016-01-04 19:02] #925 closed

[2016-01-04 19:02] ruflin commented on #904
@mkoula Any update here?

[2016-01-05 02:37] jeskew commented on #948
@ruflin I sent a pull request bumping the Guzzle dependency to v6 (#1023), which should aid in getting this out the door.

[2016-01-05 14:07] remibaar opened #1025 "Empty post_filter results in json array in stead of object"
If something empty is set to the post_filter (e.g. empty Bool Filter), the post_field is added to the request body as an empty array.
[code]
Results in:
[code]

But has to be:
[code]

[2016-01-05 14:28] lynx-ripe opened #1026 "Suggested deprecation of the Filtered query doesn't work with Graylog servers"
We use the Elastica\Query\Filtered to query Graylog servers. The upgrade to the recent ruflin/elastica version (2015-12-13 20:27:31 -> 2015-12-19 20:49:34) causes the following deprecation warning:

    Use BoolQuery instead. Filtered query is deprecated since ES 2.0.0-beta1 and this class will be removed in further Elastica releases.

However the suggested migration to BoolQuery (https://www.elas

[2016-01-05 21:46] ruflin commented on #1025
Seems like a `array` instead of `stdin` object issue. Could you open a PR to fix this?

[2016-01-05 21:49] ruflin commented on #1026
I assume Graylog is using an elasticsearch version previous to 2.0. All version of Elastica prior to 3.0 are compatible with elasticsearch 1.*

[2016-01-06 00:43] pangminfu opened #1027 "elastica version 3.0 can support elasticsearch below 2.0?"
Hi,

is it posible to use elastica v3.0 on elastic search below 2.0? which elastica version is stable to use on production?

[2016-01-06 07:05] ruflin commented on #1027
For elasticsearch below 2.0 Elastica 2.3.1 should be used. Elasticsearch 2.0 has many BC breaks, so has Elastica to accommodate for it. For elasticsearch >= 2.0 Elastica 3.0.1 must be used.

[2016-01-06 07:05] #1027 closed

[2016-01-06 07:05] ruflin commented on #1027
Closing this as I think the question was answered. Please reopen if needed.

[2016-01-08 22:18] ahungry opened #1029 "Should 3.0.1 get more than a bugfix bump? it upped the ES server dependency"
First off, thanks for the great project.  However, I noticed that release 3.0.1 doesn't seem to work with an install of 2.0.0 ElasticSearch server (which is what 3.0.0 specifies as the dependency).

Then, 3.0.1 ups the requirement to 2.1.1, which is not a backwards compatible change - shouldn't it have went up to 4.0.0?

[2016-01-10 19:26] ruflin commented on #1029
@ahungry The elasticsearch version mentioned in the release is the one it was tested with. As there were no major changes from 3.0.1 to 3.0.0 I would be surprised if it doesn't work anymore with elasticsearch 2.0. Can you provide some more details on what is not working anymore?

[2016-01-11 14:58] ahungry commented on #1029
It may have been an unrelated issue, please disregard, I believe you're correct

[2016-01-11 14:58] #1029 closed

[2016-01-11 23:46] ewgRa commented on #1001
PR for deprecated filters #1031

[2016-01-12 14:49] designermonkey opened #1032 "Snake Case vs Camel Case"
I'm really confused as to why the QueryBuilder uses a snake case format, when all of the Filters and Queries use a camel case format?

Should these not be the same?

(using v2.3.1)

[2016-01-12 16:05] ruflin commented on #1032
I remember there was a good reason for that but not sure which one it was. Best to answer is probably @webdevsHub

[2016-01-13 12:14] intech commented on #960
A good idea. I'm thinking about the same and found this issue. Are needed methods ResultSet->getDocuments() and Result->getDocument()

[2016-01-13 14:50] webdevsHub commented on #1032
QueryBuilder uses snake case because Elasticsearch query names (like `{ "match_all": {} }`) use snake case too. So QueryBuilder acts like you are writing Elasticsearch JSON with autocomplete.

[2016-01-13 15:27] ruflin commented on #1032
Thanks @webdevsHub for jumping in here. Makes sense. @designermonkey Closing this issue as I think the question was answered. In case the intention of the issue was to actually change the current implementation, please reopen for discussion.

[2016-01-13 15:27] #1032 closed

[2016-01-13 16:07] designermonkey commented on #1032
Yeah no problem. Thanks for the input guys; It just took me by surprise that's all.

[2016-01-14 13:29] christiancannata opened #1034 "minimum_should_match query"
Hi,
How can I do a "minimum_should_match" query with Elastica?
This is a query that I am going to do, but I've more problem to compose it with Elastica classes:

[code]

[2016-01-14 15:05] schmeiserd opened #1035 ""Bool" is a reserved word as of PHP 7"
Elastica\Filter\Bool & Elastica\Query\Bool should be renamed for PHP 7 compatibility (see https://secure.php.net/manual/en/reserved.other-reserved-words.php).
(Even if I'm not sure if reserved words are case-sensitive at least symfony shows a deprecation warning for these classes...)

[2016-01-14 15:53] Lumbendil commented on #1035
They are already deprecated and classes have been introduced to replace them.

https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Filter/BoolFilter.php
https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Query/BoolQuery.php

[2016-01-14 15:55] ruflin commented on #1035
See also https://github.com/ruflin/Elastica/issues/1014 and https://github.com/ruflin/Elastica/issues/918 Closing this issue as I think it is resolved. Please reopen if it is a different issue.

[2016-01-14 15:55] #1035 closed

[2016-01-14 22:26] ruflin commented on #1034
@christiancannata Can you post what you have so far or which part exactly is not working?

[2016-01-14 22:31] christiancannata commented on #1034
Unfortunately I don't know how make this query with elastica classes, I can make only simple match or multi match query, I don't understand how can add minimum should match filter with cross fields

[2016-01-14 22:45] ruflin commented on #1034
For the multimatch queries, best have a look at the tests here as examples: https://github.com/ruflin/Elastica/blob/master/test/lib/Elastica/Test/Query/MultiMatchTest.php

For the Bool Queries you can find examples here: https://github.com/ruflin/Elastica/blob/master/test/lib/Elastica/Test/Query/BoolQueryTest.php

Then it should be possible to combine it. In case some fields are missing, use setPa

[2016-01-15 23:34] reedy opened #1036 "Are Elastica versions tied to specific ES versions?"
https://github.com/ruflin/Elastica/tree/2.2.1 needs 1.7.1
https://github.com/ruflin/Elastica/tree/2.3.1 needs 1.7.3

Is it only those versions? Or are "newer" point releases ok?

i.e What version would I need to use with ES 1.7.4?

[2016-01-17 18:18] ruflin commented on #1036
All 1.7 versions and even previous versions should not be a problem with 2.3.*. The version that is stated as compatible is the one that was tested. In general as long as there are no major changes on the elasticsearch side, Elastica releases are compatible with previous and later release. Best for 1.7.4 is definitively 2.3.1

[2016-01-17 18:18] #1036 closed

[2016-01-17 18:27] #960 closed

[2016-01-17 20:59] reedy commented on #1036
Perfect, cheers! :)

[2016-01-19 14:18] schmeiserd commented on #1035
I see, my bad! :)
Are there any plans for the next stable release yet?

[2016-01-19 14:56] ruflin commented on #1035
3.1 is planned soonish with the most recent changes. Anything you need urgently since 3.0.1?

[2016-01-19 15:16] schmeiserd commented on #1035
No urgencies, thanks for your information! :)

[2016-01-21 00:38] cameronmurphy commented on #1019
Could you please also fix ActionException::getErrorMessage()?
`$message = "$opType: $path caused $error";`
When $error is an array, the message becomes something like 'update: /customer/customer/26210548 caused Array'

[2016-01-21 08:35] ruflin commented on #1019
@cameronmurphy Could you provide a PR for this fix?

[2016-01-22 11:54] lynx-ripe commented on #1026
Sorry, it doesn't work for us - at least with the "dev-master" branch:

1) we update the composer lock, it updates ruflin/elastica c000d5d => a8b0b6b;
2) our code stops working due to the following deprecation error in the Elastica\Query\Filtered:
    Use BoolQuery instead. Filtered query is deprecated since ES 2.0.0-beta1 and this class will be removed in further Elastica releases.
3) we switch t

[2016-01-22 12:38] ewgRa commented on #1026
@lynx-ripe can you show code?

can you show your ES version?

[2016-01-22 12:43] ewgRa commented on #1026
I think your ES version < 2, so, in 1.7 there is no filter in bool query - https://www.elastic.co/guide/en/elasticsearch/reference/1.7/query-dsl-bool-query.html

This is why you have problem. You try use Elastica that compatible with ES >= 2 on ES < 2

[2016-01-22 15:22] lynx-ripe commented on #1026
ruflin says that "All version of Elastica prior to 3.0 are compatible with elasticsearch 1.*". But our experiments show that the master branch is not compatible with ES < 2 anymore. Which branch should we use to stay compatible with ES < 2?

[2016-01-22 15:28] ewgRa commented on #1026
Master branch have latest changes, so latest tags created from master branch. Elastica tags 2.x compatible with ES 1.x

You can check in readme file of tag which one version Elastica it support.

[2016-01-24 18:51] ruflin commented on #1026
@lynx-ripe As @ewgRa pointed out, the master branch is the most recent version. In general I do not recommend to work based on master as it changes on a daily base. I'm closing this is issue as I think it is answered by the comment from @ewgRa above. Please reopen if this is not the case.

[2016-01-24 18:51] #1026 closed

[2016-01-29 21:39] kukulich commented on #1001
I tested actual master and it works perfectly.

[2016-01-30 20:16] ruflin commented on #1001
@kukulich Good to hear. Thanks.

[2016-02-01 14:34] hpatoio commented on #123
@nickdunn how did you solved this ? Do you have an example to share  ?

[2016-02-08 09:38] dario86 opened #1042 "Fatal error for geo_distance latitude up to 999"
Hello, i'm trying this query

[code]
I get this error

[code]

If i print `$response` in `_construct`, i get this reason message:
```'illegal latitude value [1000.0] for [geo_distance]'```

[2016-02-08 09:46] ewgRa commented on #1042
Is it your case? https://github.com/FriendsOfSymfony/FOSElasticaBundle/issues/1000

[2016-02-08 09:58] dario86 commented on #1042
Yeah

[2016-02-08 10:01] ewgRa commented on #1042
@dario86 Can you close this issue and join to issue at FOSElasticaBundle?

[2016-02-08 10:02] dario86 commented on #1042
Ok, i paste my error there

[2016-02-08 10:03] #1042 closed

[2016-02-08 13:32] greg0ire opened #1043 "Add sanity checks for aggregations"
I'm new to elastic search, and I'm playing with aggregations at the moment. The first bug that hits me quite hard is when trying to use `Cardinality` : I get a big error message telling me my query is invalid. When I realized that the name of the aggregation and the field are different things, I understand my error and use `setField`, but keep wondering why not simply have such a constructor for `

[2016-02-08 14:08] ewgRa commented on #1043
@greg0ire It can be done like in toArray here https://github.com/ruflin/Elastica/blob/f124e598228a6b8a6c249fde6afc07ea7eb1a771/lib/Elastica/Query/Terms.php

Can you create pull request for this?

[2016-02-08 14:22] greg0ire commented on #1043
Sure! Does it make sense to also check that only one of the parameters are set?

[2016-02-08 14:28] greg0ire commented on #1043
The doc:

So no, it does not make sense, apparently :)

[2016-02-08 22:03] itailulu opened #1045 "API Docs: auto focus tree to current class/method"
When browsing through the documentation, it would be awesome if the left tree will be expanded by default, ideally focused on the last clicked element.

[2016-02-08 23:01] #1043 closed

[2016-02-09 07:01] ruflin commented on #1045
The api docs are based on the phpdoc templates in a fully automate way based on the standard config. Do you know how this can be done with these templates?

[2016-02-10 16:33] olchick opened #1046 "URL cannot include query-string parameters"
I'm trying to use the new Amazon Elasticsearch service however, I'm getting the following error when trying to use update document:

`When Content-Type:application/x-www-form-urlencoded, URL cannot include query-string parameters (after '?'): '/users/user/1/_update?version=2&retry_on_conflict=0'`

Also I found this post about [Amazon Elasticsearch Service Limits](http://docs.aws.amazon.com/elastic

[2016-02-11 08:30] ruflin commented on #1046
Passing this params per query is default in elasticsarch as far as I know: https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-update.html#_parameters_3 Does Amazon have any recommendations what to do in these cases? This seems more to be an issue with the implementation of elasticsearch in AWS then Elastica.

The improvement that could be made probably on the Elastica side is try

[2016-02-29 16:18] sebesvn opened #1050 "MLT "like" value"
Hey all,

Wondering if this from the Elasticsearch doc:

[code]

is yet implemented?
The bit I am struggling with is the "doc" section of the "like".

My code is as follow:

[code]

But it looks like the query is not generated properly. Here is what I get when I var_dump() Request::toString():

`string(398) "{"path":"myIndexName\/myTypeName\/_search","method":"GET","data":{"query":{"more_like_this

[2016-03-01 09:52] ruflin commented on #1050
For comparison I copy here the JSON that is part of the request you posted above:

[code]

[2016-03-01 09:56] ruflin commented on #1050
In your code above you post an empty document to `setLike(...)`. Can you instead put there a document with the content inside that you use under `->setData(...)`?

[2016-03-01 12:36] sebesvn commented on #1050
I'm not sure I'm following you.
In `setLike(...)` I post a Document object on which I call `setData(...)` which, if I understand correctly, is supposed to populate the document. So in the end `setLike(...)` receives a non-empty document populated with my values.
Thanks for the help on this.

[2016-03-01 14:41] ruflin commented on #1050
@sebesvn Sorry, I missed one bracket in your code above. Now everything makes more sense :-) I was confused as you could set all this also directly with params in the constructor of Document() http://elastica.io/api/classes/Elastica.Document.html#method___construct

So what your trying should be supported and working. An example test can be found here: https://github.com/ruflin/Elastica/blob/maste

[2016-03-01 14:53] sebesvn commented on #1050
@ruflin No worries :)

There is the output of `print_r($moreLikesThis->toArray())` right after I create it:
[code]

So the `like` section is generated since the `_index` and `_type` are here but the `doc` section inside of it is missing.
Indeed that document is not received from ES but provided directly as an input, might that be the problem? It should work though.

[2016-03-01 14:59] ruflin commented on #1050
I think the problem could be that there is no id. The toArray() function checks for an id: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Query/MoreLikeThis.php#L220 Can you add an id to your document and see if it works? TBH not 100% sure why we are checking for the _id.

[2016-03-01 15:01] sebesvn commented on #1050
Going to try to add a "fake" id to see if it changes anything, but in the meantime I've updated my previous post.
Basically: `_id` (which is empty here) should be removed and replaced by `doc`, since I am not comparing a document received from ES but provided directly as an input.

[2016-03-01 15:10] sebesvn commented on #1050
I'm afraid that was not it, here is the output now:
[code]
So the `_id` is populated but still no `doc` section. And I'm not sure it would work even if the `doc` section was here since ES would try to fetch a document from the index if `_id` is here.

We really should have 2 scenarios:
MLT on a document already in the index: provide only `_id` in the `like`
MLT on a document provided as an input (

[2016-03-01 15:30] sebesvn commented on #1050
By the way is I print_r() the Document object only here is what I get:
[code]
I think that MLT on a document provided as an input is actually not implemented.

`MoreLikeThis::toArray()` could look something like this:
[code]

[2016-03-02 07:22] ruflin commented on #1050
@sebesvn It seems like you are right and MLT currently only works with existing ES objects :-( The code provided by you above looks good to me. Could you open a PR with this change and perhaps also add small test? I would probably add a comment line in the code above to explain what the two cases are.

[2016-03-02 08:44] sebesvn commented on #1050
Hi @ruflin

#1051

[2016-03-02 15:02] ruflin commented on #1050
@sebesvn Thanks. See comment.

[2016-03-03 10:24] pangminfu opened #1052 "Query by array of id result return doesn't sort according to the array of id passed in"
Hi,

I'm using elastica 3.0, I had an issue of the sorting order when query by array of id and the result return is not the same order as the array of id passed in

[2016-03-03 11:53] ruflin commented on #1052
Can you provide some code and examples?

[2016-03-03 11:56] ruflin commented on #1050
Closing this one as #1051 got merged.

[2016-03-03 11:56] #1050 closed

[2016-03-04 04:31] merk commented on #944
@ruflin I've been hitting issues with FOSEB which aren't worth fixing and prompt me to start over. Where are you at with this change? Is it still on the radar?

I dont really want to start from scratch on a dependency of Elastica if Elastica is going to move to become a value add on top of the official client, I'd prefer to support both from the get go.

[2016-03-04 06:58] ruflin commented on #944
@merk This is definitively still on the radar. Unfortunately it seems like @CrAzE124 and @ewgRa both didn't find the time yet to progress on this one. Let me see if I find a way to push this change in faster.

Interesting to hear about FOSEB. Is it something that changed in Elastica or on the elasticsearch side? Would be interesting to hear more.

[2016-03-04 11:33] merk commented on #944
The biggest pain point right now is the hard BC breaks from 2.x to 3.x of Elastica - given you move your required ES version with each release, we cant maintain support for ES1.7 (or any other release version) without maintaining multiple branches - coupled with a low test coverage and removal of features in Elastica 3 its unlikely or very hard to support both in one code branch.

Fundamentally, I

[2016-03-04 11:35] merk commented on #944
And I think the biggest pain point moving forward is managing index and transformation metadata. There is no generic method for defining this information, and the way we're handling it now is fragile and prone to breakage. I still havent been able to work out a decent enough solution. https://github.com/ruflin/Elastica/issues/810

[2016-03-07 06:32] pangminfu commented on #1052
this is my query
        `$query = new Query();

        $query->setSize(count($articleIDs));

        $qb = new \Elastica\Query\Ids();

        foreach ($articleIDs as $articleID) {
            $qb->addId($articleID);
        }
        $query->setQuery($qb);`

[2016-03-07 07:33] ruflin commented on #944
@merk It would be great if we could discuss the above points in an audio / video chat to go into more details. Let me know if you would be interested in having this direct conversation. I just sent you an email with my email :-) In case someone else would like to join the conversation, drop a message here.

[2016-03-07 08:11] ruflin commented on #1052
I think you got the answer here: http://stackoverflow.com/questions/35769643/elasticsearch-query-by-array-of-id-result-returned-is-not-sorted-by-the-array-of  Please don't double post and for questions please use the elastica google group, not the Github issues: https://groups.google.com/forum/#!forum/elastica-php-client

[2016-03-07 08:11] #1052 closed

[2016-03-07 08:36] ewgRa commented on #944
I haven't time for this right now, but still interested. Probably at the and of March I will have time for try this.

@merk why you want to support all versions at one package? What you want to avoid?

[2016-03-07 09:08] ruflin commented on #944
@ewgRa In case we have a chat, I will for sure put a summary / conclusion here.

[2016-03-07 09:36] merk commented on #944
@ruflin Sounds good. I've got a few things to finish off over the next day but will ping you when I get a chance to free up some time.

@ewgRa Not all versions, I'm just against BC breaks for the sake of breaks (and version incompatibilities) and want to see Elastica become easier to integrate.

[2016-03-07 09:44] ruflin commented on #944
@merk :+1:

[2016-03-07 23:36] merk opened #1053 "Meeting / Discussion about direction"
In #944 @ruflin invited anyone available to take part in a discussion about progressing the library. I have a few minutes spare and wanted to note down a few talking points.

I see any basic implementation of Elastica into an application as generally requiring up to 3 different things for search:
1. Being able to manage index metadata and creation or modification to indexes as the application chan

[2016-03-09 09:39] ruflin commented on #1053
I think that is a good high level summary. There is an additional part which is about providing access to elasticsearch stats and changing elasticsearch configuration. But these are less common use cases.

[2016-03-09 14:43] lukevers commented on #948
Hey guys,

I'm also very interested in this as well. Has anyone started working on this anywhere, or has there only been talk about it?

[2016-03-10 11:28] ruflin commented on #948
@jeskew did some cleanup and improvements to get the foundation for this. But not sure if anyone continued the actual implementation. @jeskew ?

[2016-03-10 13:34] IgorDePaula opened #1054 "Improvement: add lucene syntax"
The elasticsearch permit the use of lucene syntax, but I tried and fails.

[2016-03-10 21:26] ruflin commented on #1054
By lucene syntax you mean using it in query_string? Can you provide some examples that didn't work?

[2016-03-11 10:29] twisted1919 opened #1055 "How do you set index_analyzer and search_analyzer ?"
Hi guys,

The example given at http://elastica.io/getting-started/storing-and-indexing-documents.html:
[code]
Doesn't work anymore, if i try it i get:
[code]

Any hints on this? I have been stuck with an ancient version of this library and elastic search and now i finally got the chance to upgrade and things break :)

[2016-03-11 12:07] IgorDePaula commented on #1054
I tried with multimach because I need search in many fileds. By lucene syntax I mean "+field:value -field:value". I see this in a book about elasticsearch.

[2016-03-11 13:39] kersten commented on #1055
This one is also not working:

```$mapping->setParam( '_boost', array( 'name' => '_boost', 'null_value' => 1.0 ) );```

[2016-03-11 14:52] ruflin commented on #1054
Can you try if that works in QueryString queries? It could be an escaping problem on the Elastica side. Please also provide a code example. That makes it easiest to reproduce and test.

[2016-03-11 14:55] IgorDePaula commented on #1054
Ok, I will try and the response I post here.

2016-03-11 11:52 GMT-03:00 Nicolas Ruflin <notifications@github.com>:

[2016-03-11 15:04] ruflin commented on #1055
I remember there were some changes to analyzer in elasticsearch but I would the example still expect to work. What did the creation of the index return?

@twisted1919 Can you share the full code?
@kersten What is the error message you get?

Didn't have time yet to test the example myself.

[2016-03-11 15:09] twisted1919 commented on #1055
@ruflin - here's my current code:
[code]
Everything works now. If i uncomment the `setParam` calls, then i get the error above.
Let me know if you need anything from me.

[2016-03-13 12:17] IgorDePaula opened #1059 "Incompatible with PHP7"
I tried with PHP7, and received this error above. I tried update the lib, but without success.

```Fatal error: Uncaught Error: Call to undefined function Elastica\Transport\curl_init() in /var/www/html/uploadelastica/vendor/ruflin/elastica/lib/Elastica/Transport/Http.php:208 Stack trace: #0 /var/www/html/uploadelastica/vendor/ruflin/elastica/lib/Elastica/Transport/Http.php(50): Elastica\Transport

[2016-03-14 07:06] kersten commented on #1055
@ruflin this is my error:

```Root mapping definition has unsupported parameters:  [_boost : {name=_boost, null_value=1}]```

[2016-03-14 07:24] ruflin commented on #1059
This looks more like your php7 installation doesn't have curl installed.

[2016-03-14 12:52] IgorDePaula commented on #1059
I was careful to install this library, but still did not work.

2016-03-14 4:24 GMT-03:00 Nicolas Ruflin <notifications@github.com>:

[2016-03-14 12:53] IgorDePaula commented on #1059
You noticed that he is complaining that curl_init function is part of the
namespace Elastica when curl_init is part of the global namespace?

2016-03-14 9:52 GMT-03:00 principe.borodin@gmail.com <
principe.borodin@gmail.com>:

[2016-03-15 08:03] ruflin commented on #1059
How did you install Elastica? Composer? What does your autoloader look like?

[2016-03-15 09:02] IgorDePaula commented on #1059
Yes, installation by composer. And I used your autoload, of composer.
Em 15/03/2016 05:03, "Nicolas Ruflin" <notifications@github.com> escreveu:

[2016-03-15 09:28] ewgRa commented on #1059
try to run "php -i | grep curl" at your installation server. You must have something "php -i | grep curl
/etc/php5/cli/conf.d/20-curl.ini,
curl
" in answer.

It is definitely not installed php curl extension on server.

[2016-03-15 11:58] IgorDePaula commented on #1059
Yes, my system has the 20-curl.ini file.

2016-03-15 6:28 GMT-03:00 Evgeniy Sokolov <notifications@github.com>:

[2016-03-15 12:00] ewgRa commented on #1059
@IgorDePaula You can have it, but it can be disabled, or not used for php-fpm for example. You need to be sure that it is enabled.

[2016-03-17 08:20] ruflin commented on #1055
@kersten I digged into the issue for the _boost field and mapping, and the answer is quite simple: It is not supported anymore in 2.x: https://www.elastic.co/guide/en/elasticsearch/reference/2.x/mapping-boost-field.html We need to remove that from the docs.

[2016-03-17 09:48] ruflin commented on #1055
@twisted1919 Since elasticsearch 2.x it is not possible anymore to set default analyzer per type, only per index: https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-analyzers.html So also this example is unfortunately out of date :-(

[2016-03-17 17:55] devfubar commented on #948
A rough ETA would be great so I can know how much effort to put into a work around or migrate from the bundle if its not going to be supported

[2016-03-18 06:39] #948 closed

[2016-03-18 06:40] ruflin commented on #948
Implemented in https://github.com/ruflin/Elastica/pull/1056 This will be part of the next release.

[2016-03-19 11:54] IgorDePaula commented on #1059
[code]

[2016-03-19 16:22] IgorDePaula commented on #1059
Sorry, anything do it works.

[2016-03-19 16:22] #1059 closed

[2016-03-19 16:28] IgorDePaula commented on #1054
Ok, with querystring it works. Thanks.

[2016-03-19 16:28] #1054 closed

[2016-03-21 07:52] ruflin commented on #1059
@IgorDePaula In case some else finds this issue, perhaps you can post what the problem on your side was in the end and how you resolved it?

[2016-03-23 21:01] IgorDePaula opened #1064 "Document not found"
I have this documents:

![es](https://cloud.githubusercontent.com/assets/2833993/14000686/1de177c6-f121-11e5-8c13-b74bb5645ea5.png)

and to delete the document, I received this message:

![404](https://cloud.githubusercontent.com/assets/2833993/14000706/310fc58c-f121-11e5-92ff-59bbc3c4e3ee.png)

[2016-03-23 21:02] IgorDePaula commented on #1064
Ok, index and type wrong, sorry for this.

[2016-03-23 21:02] IgorDePaula commented on #1064
No, index and type are correct.

[2016-03-23 21:03] IgorDePaula commented on #1064
Sorry a time again, yes index and type wrong..

[2016-03-23 21:03] #1064 closed

[2016-03-24 08:49] merk commented on #1053
Sorry @ruflin, I've been flat out and havent had an opportunity to organise time for a discussion.

Do you have any time over the next few days?

[2016-03-24 09:12] ruflin commented on #1053
@merk We can try, but the next few days are a little bit unpredictable on my side as a new family member will join us ;-)

[2016-03-24 09:13] merk commented on #1053
Congrats! Lets leave it a while then. I've got a bit of spare time and I'm trying to work out how to tackle point 1.

[2016-03-24 09:45] merk opened #1067 "Transformation Implementations"
In previous discussions in #1017 it is clear that the preferred method is to keep each implementation in its own repository.

Who should own these repositories? Should there be a few default transformers implemented like doctrine (ORM and ODM) and Propel?

I don't have a preference. FOSElasticaBundle will need to implement Doctrine ORM, MongoDB ODM, CouchDB ODM and a few others which can hopefully

[2016-03-24 09:54] ewgRa commented on #1053
@ruflin Congrats :)

[2016-03-25 01:18] merk opened #1068 "Elasticsearch is not running or is not healthy."
I am trying to set up the docker environment on OSX 10.11 with docker toolbox.

The Makefile run target fails with the following message:

[code]

It is beyond my knowledge to debug further - It doesnt look like i can gain entry to the docker image ruflin/elastica without going through the entry point to debug why ES isnt starting?

[2016-03-25 16:00] ruflin commented on #1068
Just run it again. Sometime the waiting period is too low ... I should increase it.

[2016-03-26 00:34] merk commented on #1068
Doesnt seem to help, running it half a dozen times or waiting a few minutes between runs still results in the same error.

[2016-03-26 04:14] merk commented on #1068
It appears that the run target is not correct to get up and running: no matter how many times it runs it appears to me like the entrypoint script will fail. Could it be that the run target does not set up the appropriate containers required to run the tests? The documentation in CONTRIBUTING might need updating in that case.

Running the individual steps in the 'tests' target results in the test c

[2016-03-26 04:14] #1068 closed

[2016-03-27 18:10] ruflin commented on #1067
I think having it under FOS is a good option if possible as it is also close to where it is used initially. If other frameworks pick it up for use we can think about a different solution at a later stage.

I don't know who the owners of FOS are and what the requirements are to get a repo inside, but it would be nice if we have strong contributors, that we could also give them write access to the r

[2016-03-27 19:12] ruflin commented on #1068
Can you try to run `make tests` ?

[2016-03-28 03:25] merk commented on #1068
`make tests` or the individual steps in that target bring everything up, but the documentation in CONTRIBUTING.md talks about `make run` which doesnt work.

[2016-03-28 07:59] ruflin commented on #1068
Ok, I think I need to update the docs here :-(

[2016-03-28 20:21] IgorDePaula opened #1071 "Exception not clear"
I received this exception:

[code]
"manual" is a term that I used for search

this is my code:

[code]

In this case I'm using zend framework 2 with a factory to elastica client.

[2016-03-28 21:13] IgorDePaula commented on #1071
[code]

I has this mapping, when I change all for string, this exception get out.

[2016-03-28 21:13] #1071 closed

[2016-04-02 08:22] #913 closed

[2016-04-04 11:34] anandnalya opened #1072 "Type->deleteByQuery throws fatal error."
Similar to #1049, Type->deleteByQuery also throws `Call to a member function toArray() on a non-object` since $query->getQuery() returns array.

[2016-04-04 16:47] christiancannata opened #1074 "Range Filter not work in DateHistogram aggregation"
Hi Guys,
I want to filter my datehistogram result with a date range filter but I don't know why what is wrong, the post filter doesn't work and the results are the same with or without post filter. Here is the code:

`  // set up the aggregation
        $dateAggregation = new \Elastica\Aggregation\DateHistogram('dateHistogram', 'created_at_timestamp', Input::get("groupBy","day"));

        $dateAg

[2016-04-05 18:58] #1072 closed

[2016-04-13 15:34] adumas37 opened #1075 "Add "track_scores" option for Query"
As described in [the documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-sort.html#_track_scores), a `track_scores` params can be passed to force the scoring computation.

The work to do is similar to the one done in #736.

[2016-04-13 16:25] aguvillalba opened #1076 "Allow initialize connections from client object"
Thank you for your library! I have found the following issue:

Right now, if you create a client object with empty parameters like:
[code]
Then it is imposible to initialize the connections of the client because the method Client::_initConnections is protected.

You allow to set config values but you only initializes the connections of the client in the constructor of the class. You should allow t

[2016-04-14 06:45] ewgRa commented on #1076
good point.

Actually *Config methods I think mostly used for setup some configuration parameters that used in updateDocument and others.

You can do what you want by getConnections - setConnections. It will be work, but it is looks not so good.

Best way I think to have connectionConfig (maybe move it to ConnectionPool, or something like this) and just config, or even not to save connection confi

[2016-04-14 07:08] aguvillalba commented on #1076
Hi ewgRa,

Thank you for your reply!

I think using "setConnections" is not a good idea, because it would mean that I have to create the $connection object in my code and then inject it into the $client object, and this implies that my code would have to deal with the creation of connections which it should not be my duty. My code should know nothing about client's connections to the ES server and

[2016-04-14 08:07] aguvillalba commented on #1076
There is a new pull-request (#1077) for this issue.

[2016-04-16 07:16] aeytom opened #1078 "php Notice in \Elastica\Index::getAliases()"
If es index has no alias a php notice occurs (missing array index)

Line 437: `$data = $responseData[$this->getName()];`

Es 2.3.1
Elastica 3.1.1

[2016-04-20 19:36] natelenart commented on #1078
+1

Came to report this issue, but saw it's already here.

[2016-04-20 21:03] NadaBen opened #1079 "Wrong parameters for Exception"
Hello,
after install ElasticSearch with "conjecto / nemrod": "@dev", and when i try to execute nemrod:execute:populate --index=PhotoResource : it shows me this error

`

[2016-04-21 06:43] ewgRa commented on #1078
I think it is not about "If es index has no alias", it is about - "if there is no index with this name in ES".

Question is what to do in this case. Throw something like MissingIndexException, or just return empty array. Like this index haven't aliases.

[2016-04-21 07:39] ruflin commented on #1078
@aeytom Does this happen if you use an Alias name to create the index object and then use getAliases()?

[2016-04-21 08:12] gbprod commented on #1078
+1
Only happens if php `error_reporting` setting is set to `-1`
@ruflin I can create a pull request with a fix if you want

[2016-04-21 11:31] ruflin commented on #1079
This more looks like an error related to the FOSElastica bundle: https://github.com/FriendsOfSymfony/FOSElasticaBundle Could it be that you use an Elastica version incompatible with FOSElastica? Closing this as I don't think it is related to Elastica itself.

[2016-04-21 11:31] #1079 closed

[2016-04-21 11:45] #1078 closed

[2016-04-21 11:45] ruflin commented on #1078
Fixed in https://github.com/ruflin/Elastica/pull/1080

[2016-04-21 13:39] GuiminZHOU commented on #1079
had same problem when I try to update ElasticaSearch from 1.7.4 to 2.2,
the problem is:
there is no version FosElasticaBundle for ElasticaSearch 2,
for the moment, FosElasticaBundle requires Elastica ~2.1, which is required ElasticaSearch 1.7.2
maybe just check ElasticaSearch version

ps: on github, Elastica Tag 2.3.1 requires 1.7.2, but on packagist, v2.3.1 requires 2.2.1, would be some mistake h

[2016-04-21 14:14] ruflin commented on #1079
@GuiminZHOU Do you know from where packagist takes this info? Where did you see this info?

[2016-04-21 14:18] GuiminZHOU commented on #1079
https://packagist.org/packages/ruflin/elastica#2.3.1, at the bottom of the page, there is a table for dependancies, it seems that it's always the same

[2016-04-21 14:39] ruflin commented on #1079
@GuiminZHOU Yep, doesn't seem like I can't do much about it. It takes the README from master independent on which version you click.

[2016-04-21 16:24] GuiminZHOU commented on #1079
@ruflin , so normally, for ElasticaSearch 2, it returns a different response error array?
I have seen that for Elastica ~2.1, we use the function $response->getError() directly, while for Elastica ~3.0, we use the function $response->getErrorMessage() instead, add a json_encode() on $response->getError() if it's an array,
but for Elastica ~2.1, we can do the same thing, to make sure $response->get

[2016-04-24 18:25] ruflin commented on #1079
There are several BC breaks between ES 1.x and 2.x. The response error structure is just one major change. So finding a work around for the error will not solve your problem that the two versions are still not compatible with each other.

[2016-04-25 06:46] ruflin commented on #1076
Closing as https://github.com/ruflin/Elastica/pull/1077 was merged.

[2016-04-25 06:46] #1076 closed

[2016-04-28 08:24] merk opened #1082 "Where to put some Client methods"
As part of #1070 I've noticed there are still more methods that dont belong in the Client, notably:

- updateDocuments
- updateDocument
-- _populateDocumentFieldsFromResponse
- addDocuments
- deleteDocuments
- deleteIds
- bulk

They're all from the same family of method calls, all operating on or creating a Bulk instance.

Should these methods just move to Bulk or should we have a Helper or Util c

[2016-04-28 12:47] mojzis opened #1083 "No way to query _suggest"
According [to the docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters-completion.html), one should send suggestion queries to the _suggest endpoint. This seems impossible with the current implementation of Search->search() and getPath(), most probably due to this change: https://github.com/ruflin/Elastica/commit/bbcc90d69d047f00b8db929f115600f68f9d2a65#diff-e37d

[2016-05-04 07:19] ruflin commented on #1082
Some these methods are just "proxy" methods, means the actual implementation is not in the Client itself (example addDocuments). I think these methods are here more for convenience and for historical reason. What seems to be important to me is removing the logic from the Client (not necessarly the method itself). updateDocument for example has logic in the client which should not be here.

Not sur

[2016-05-04 07:21] ruflin commented on #1083
@mojzis Agree. Can you open a PR with the change?

[2016-05-04 22:44] merk commented on #1082
These methods share the same 'the client doesn't need to know about it' just like the ResultSetBuilder, in my opinion. I guess shortcut helper methods are good for DX, but $client->getDocumentManipulator()->addDocuments() leaves a cleaner easier to understand and grok at a glance.

I personally like the idea of separating the different concerns we talked about in #1053 into different classes, whic

[2016-05-05 15:00] Antoniossss opened #1087 "No search type for [scroll]"
I wanted to use scroll api to fetch some large ammount of data and hit this error.
`No search type for [scroll]`. I have found ou, that removing single line (commented one below)
\Elastica\Scroll#next()

[code]

Fixes this issue. However i dont know what is the impact of removing this line to the rest of the system.

[2016-05-07 10:31] redayoub opened #1088 "[range] query does not support ["fieldname"] [index: "indexname"]"
Hello,

I'm tryning to use range filter in my query but I get this message :

`
[range] query does not support [price_amount] [index: elane]
`

[code]

When I perform the same query using a rest request it works :

[code]

FYI, I'm using FOSElasticaBundle. Any help please ?

[2016-05-09 01:28] cameronmurphy commented on #1019
@ruflin https://github.com/ruflin/Elastica/pull/1089

[2016-05-10 13:00] ruflin commented on #1082
Agree on the above. It will always be possible to add "shortcut/proxy" methods in case it gets too complicated.

For updateDocuments: Not sure it makes sense to move it to bulk / updateDocuments as it is a different request. When I look at the updateDocument code it looks like it consists of three parts:
* Creating the request object
* The request itself
* Processing the result

Perhaps it makes s

[2016-05-10 13:07] ruflin commented on #1087
@Antoniossss Which Elastica version and which Elasticsearch version are you using?

[2016-05-10 13:08] ruflin commented on #1088
Which Elastica version and which Elasticsearch version are you using?

[2016-05-10 14:50] redayoub commented on #1088
I'm using elasticsearch 2.3.2 and  "friendsofsymfony/elastica-bundle": "dev-master#6206199", "ruflin/elastica": "3.1.1 as 2.99.0".

[2016-05-11 15:20] vzeman opened #1092 "Check if index exists should check also response from server"
In file Index.php is not enough to check just http response code 200 in method exists()

e.g. if user use port 80 where is running Apache on place of elasticsearch, this function returns true even if the response is from Apache and not from Elasticsearch index

[2016-05-12 06:09] ruflin commented on #1088
Lets ignore the FOS bundle for the moment, as it looks like it doesn't play any role in the above code (correct me if I'm wrong). Side note: As far as I remember there are some issues with FOS and ES 2.0. Could have changed in the meantime.

Could you provide the following output here adding it after the lines above:

[code]

It would be good to see how the structure generated by Elastica is diffe

[2016-05-12 06:49] ruflin commented on #1092
I'm not sure if I see this as an issue. It should not be the responsibility of the client to verify that he talks to the correct service. If an other service has the same API as elasticsearch and the same responses, I would not see a problem that Elastica also works with this service. Also in case a proxy is used in front of elasticsearch, it should not matter for Elastica itself. My question woul

[2016-05-12 06:57] vzeman commented on #1092
As workaround I request status and check if are set at least some parameters elastic returns in response. To check just http response code is not enough, because it doesn't guarantee the index really exist ... name of function should copy the functionality - right now it is just ping to server and it just checks if host:port is alive - as I understood the function name, it should check if index ex

[2016-05-12 07:42] redayoub commented on #1088
Same structure:

[code]

[2016-05-12 13:15] ruflin commented on #1092
It actually checks if the index url exists. Translated to a bash script:

[code]

So if the index does not exist, it returns false. Or that is what it should at least.

[2016-05-12 13:18] ruflin commented on #1088
There is a different in the price_amount. The from / to stuff is needed. Can you try:

Replace
[code]

with
[code]

[2016-05-12 13:47] redayoub commented on #1088
It's working, but with:

`
$range->addField('price_amount', ["from" => $minPrice, "to" => $maxPrice]);
`

Thanks a lot.

[2016-05-12 14:48] ruflin commented on #1088
Good to hear. Will close the issue.

[2016-05-12 14:48] #1088 closed

[2016-05-13 09:18] Antoniossss commented on #1087
@ruflin It is under the hood of CakePHP's ES plugin
cakephp/elastic-search                1.0.x-dev 7a983d6
and the plugin has following dependencies:
requires
cakephp/cakephp ~3.2
ruflin/elastica ~3.1

[2016-05-15 05:01] merk commented on #1053
With #1017 merged, I've pushed a bare bones test of what it might look like to implement Doctrine result processing that gives you access to the original doctrine objects in search results.

I expect this repository to also handle guessing of type properties based on doctrine metadata to help with #810, when we know what #810 might look like.

[2016-05-17 07:14] ruflin commented on #1087
And which elasticsearch version are you using?

[2016-05-17 09:32] Antoniossss commented on #1087
2.3.1

[2016-05-17 17:04] ruflin commented on #1053
@merk That is quite nice and compact.

[2016-05-17 17:08] ruflin commented on #1087
Hm, my first idea was that it is because of a new / old elasticsearch version, but not sure about this. Can you share a little bit more of your code?

[2016-05-17 21:17] Antoniossss commented on #1087
[code]

[2016-05-20 06:44] ruflin commented on #1087
@Antoniossss I didn't have the time yet to look into this in detail. You could do me a big favor if you could create an integration test in our test suite with this and open a PR. Like this we directly see if it is related to an elasticsearch version or something else.

[2016-05-20 09:30] Antoniossss commented on #1087
@ruflin no rush with that, I am using modified sources for that.

Sure, ill try to find some time to write test for that case.

[2016-05-20 14:28] r-leitao opened #1095 "erreur 404 DOC"
You have a problem in URL : http://elastica.io/api/classes/Elastica.Transport.AwsAuthV4.html

Can we have an example for use Elastica with a connection ElasticSearch AWS Please.

[2016-05-20 14:31] ruflin commented on #1095
I recently split up the API docs by version. The url for the latest one is: http://elastica.io/api/latest/classes/Elastica.Transport.AwsAuthV4.html

From where did you get the above version?

[2016-05-23 07:25] r-leitao commented on #1095
It's ok.
Thank you for your prompt response

[2016-05-23 07:25] #1095 closed

[2016-05-25 11:45] olehismaylov opened #1098 "How to return only specific fields from entity using fos_elastica"
Here is my finder
$finder = $this->container->get('fos_elastica.finder.index.type');
$result = $finder->find('string_to_find');
My entity consists of 20 properties and elastic has only 3 fields.
in $result I will have all 20 properties. How  I can have only these 3 properties which I do search on.
Generally I would like to know how I can handle properties  which will be in result variable?

here i

[2016-05-26 08:13] ruflin commented on #1098
@olehismaylov This looks more like an issue related to FOSElastica?

[2016-05-26 13:14] ibasaw opened #1102 "[nested] failed to find nested object under path [variants] [index: msb_dev]"
hi,

ruflin 3.2 + foselasticabundle dev-master + sylius 0.18 + ES 2.0

Don't have this error on sylius 0.17

    fos_elastica:
    clients:
        default: { host: %service_elastic_host%, port: %service_elastic_port%, logger: true }
    indexes:
        sylius:
            index_name: msb_%kernel.environment%
            client: default
            finder: ~
            settings:

[2016-05-27 10:32] minhtri271089 opened #1103 "how i can use _update_by_query"
how i can using _update_by_query. i try using \Elastica\Script\Script but it faled

[2016-06-02 12:49] ruflin commented on #1103
Can you share some more details on the exact code you were using and what you tried?

[2016-06-05 21:50] quadrim opened #1109 "MapperParsingException[Root mapping definition has unsupported parameters: [_boost : {name=boost, null_value=1.0}]]"
I am getting

 error in elasticsearch log while doing

 which returns empty list.

My Django verison: _1.6.5_ , Django-Haystack verison: 2.4.1

Complete stacktrace of the error is:

[2016-06-05 21:39:59,604][DEBUG][action.admin.indices.mapping.put] [MY.ELASTIC.SEARCH.IP] failed to put mappings on indices [[current_location]], type [modelresult]
MapperParsingException[Root mapping definition has un

[2016-06-05 21:53] #1109 closed

[2016-06-05 21:53] quadrim commented on #1109
Created the issue in wrong repository. Sorry Folks! :)

[2016-06-06 08:05] Numkil commented on #1055
Hey @ruflin. Since those mapping parameters are not supported anymore what is the current way of using your analyzers then? Naming them "default" and "default_search"?

[2016-06-07 16:15] mrzard commented on #1074
Hi, take a look at this: https://www.elastic.co/guide/en/elasticsearch/guide/current/_post_filter.html

Basically, `postFilter` only applies to the query results, but not to the aggregations. You should use a filtered query instead https://www.elastic.co/guide/en/elasticsearch/guide/current/_filtering_queries.html

[2016-06-09 13:54] ruflin commented on #1102
As these config files are not supported by Elastica I assume the above problem is not related to Elastica. Please open the issue in the relate project. Also provide there some more information if possible

[2016-06-09 13:54] #1102 closed

[2016-06-09 13:57] ruflin commented on #1055
@Numkil As far as I understand your comment, with the above changes it is working as expected?

[2016-06-13 04:40] qiaofei32 commented on #665
stop iptables
disable Selinux
then try again

[2016-06-14 15:54] ruflin commented on #1055
@Numkil As a next step, do you suggest to "only" update the guide or additional changes?

[2016-06-15 07:40] Numkil commented on #1055
I'll make a PR in the weekend for the documentation page "Storing-and-indexing-documents". I'm pretty sure most people will be helped by this small change.

Some sort of analysis interface in the code would be cool but I don't know how much extra value it would add to the code. Something so you could do something like this maybe? This way you could enforce good practices and maybe hide some of the

[2016-06-15 17:19] rparsi commented on #1001
@ruflin This is related to an error in the test code (master branch).
Line 202 in Query/BoolQueryTest has `$boolQuery->addFilter($termFilter);`
which throws an error as the BoolQuery class does not have method `addFilter` (inherited or otherwise).
I'm trying to construct a simple 'bool' query with 1 'match' and 1 'term' filter.
Should I follow the code in BoolFilterTest instead?

[2016-06-16 08:19] ruflin commented on #1055
I definitively it would not hurt to extend the Mapping with an Analysis object to make the handling easier. I haven't check in detail yet what the best way would be but it is definitively worth investigating.

Looking forward to the docs PR. Thanks.

[2016-06-16 08:45] ruflin commented on #1001
@rparsi I don't hope there is an error in the tests because currently the tests are green :-) Which version of Elastica are you using?

[2016-06-16 14:51] rparsi commented on #1001
@ruflin I'm using FOSElasticaBundle which is using elastic v2.1
I was reading the tests/docs for the master branch.  Hence my confusion.
My apologies.

[2016-06-16 15:55] eit opened #1116 "Is any plan to update for elasticsearch 2.3.3"
just wondering do you have any plan about 2.3.3?

[2016-06-16 19:12] ruflin commented on #1116
Currently not. There is a 2.3 branch in case someone wants to backport stuff to 2.3 but so far all "promised" contributions didn't happen. Any specific thing you are looking for?

[2016-06-16 19:25] ruflin commented on #1001
That is 3.2.1 today: https://github.com/ruflin/Elastica/releases

[2016-06-17 11:29] nirajan-panthee opened #1117 "Elastic Search Server Down"
I am getting

`[2016-06-17 07:15:12] request.CRITICAL: Uncaught PHP Exception Elastica\Exception\Connection\HttpException: "Couldn't connect to host, Elasticsearch down?" at /var/www/project/vendor/ruflin/elastica/lib/Elastica/Transport/Http.php line 167 {"exception":"[object] (Elastica\\Exception\\Connection\\HttpException(code: 0): Couldn't connect to host, Elasticsearch down? at /var/www/projec

[2016-06-20 09:03] ruflin commented on #1117
I'm not expert on the FOS Elastic bundle and what the populate command does, but the above error looks like either the host is not configured correctly or elasticsearch cannot be reached. What have you put inside the configuration as host?

[2016-06-20 11:31] nirajan-panthee commented on #1117
I have setup new server, and now its working on that, thank you for your help.

[2016-06-20 11:31] #1117 closed

[2016-06-23 13:59] Antoniossss commented on #1087
@ruflin
As far as I can say there is no such search type (maybe not anymore)
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-search-type.html

SearchAPi requires only scroll_id to be provided and scroll=TTL nothing more.
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-scroll.html

I had some troubles with test env so I did not add test

[2016-06-23 14:00] Antoniossss commented on #1116
@eit works for me with ES2.3.3

[2016-06-23 16:05] eit commented on #1116
Exactly, I have upgraded 2.3.3 already. It works. Thank you guys.

[2016-06-23 16:05] #1116 closed

[2016-06-24 07:32] ruflin commented on #1087
We should definitively do some refactoring here as count and scan are deprecated and completely removed in 5.0. Did you push a PR with the changes?

[2016-06-24 07:32] ruflin commented on #1087
BTW: What was the issue with the test env?

[2016-06-24 07:33] ruflin commented on #1116
@eit Rereading the post I realised you referred to elasticsearch and not Elastica. So all should be working with the most recent Elastica release. Great to hear it works.

[2016-06-24 09:04] Antoniossss commented on #1087
@ruflin No, as I didnt know is this really the fix here or just my luck ;) It is not tested on v5 anyway.

As for test environement I had some troubles with working docker container (Windows :P) So nothing Elastica specific.

[2016-06-24 09:08] Antoniossss opened #1123 "Setting empty headers inc curl_setopt causes Internal Server Error 500"
I just ran into such problem. This must be related to specific php/curl installation as Elastica works fine on my local dev env but causes err 500 on production.

I have found out that in `Elastica\Transport\Http` the line 152  `curl_setopt($conn, CURLOPT_HTTPHEADER, $headers);` causes the crash while `$headers` is empty.
`
        if(!empty($headers)){
            curl_setopt($conn, CURLOPT_HTTPH

[2016-06-25 17:18] ReenExe opened #1130 "Question: Potential bug Param::addParam($key, $value);"
https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Param.php#L142

[code]

Maybe need;

[code]

[2016-06-27 19:38] ruflin commented on #1123
The part I'm not sure I understand to 100% is why headers can be empty. Which version of Elastica are you using? As in master line 152 seems to be a different line.

[2016-06-28 10:24] ruflin commented on #1087
Oh, Windows :-) Feel free to open a PR without tests so someone else can potentially add them.

[2016-06-30 08:02] EliyahuFisherman commented on #1103
Where can i find how  to strucutre an update by query with a scripted field
https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-update-by-query.html

[2016-07-05 22:01] gibrown opened #1137 "Add support for terminate_after query option"
terminate_after is missing from the validation list in Search.php. Maybe elsewhere.

See: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html#_parameters_5

[2016-07-06 07:02] ruflin commented on #1137
Thanks for spotting this. Would be great to have a PR for this ;-)

[2016-07-08 12:16] Antoniossss opened #1138 "`filter` and `post_filter` are not the same - why did one get depracated in favour of the other????"
What i have found out in the code:
[code]

Why `setFilter` is depracated in favor of post_filter while they are NOT EQUIVALENT.

`filter` context is executed BEFORE `query` on filtered results, while `post_filter` is executed AFTER `query`. Moreover filtered query can be cached by ES while query cannot.

What happend here???

[2016-07-08 13:03] Antoniossss commented on #1138
According to https://github.com/elastic/elasticsearch/issues/7422 it is the same in fact. But still ES docs are not that clear about that. So how to get filtered query now ??

[2016-07-11 10:03] ruflin commented on #1138
@Antoniossss Is your question on how to do in elasticsearch directly or in Elastica? Also which ES version are you referring to?

[2016-07-12 09:56] Antoniossss commented on #1138
This was question about Elastica and ES 2.3.x. Sorry for confusion, but I just didnt noticed that there `Elastica\Query` is not extending `AbstractQuery` thus I was looking for `addFilter` method in wrong class. Anyway I will close this issue as I made unnecessary confusion :( sorry bout that.

[2016-07-12 09:56] #1138 closed

[2016-07-12 10:04] ruflin commented on #1138
Yeah, the naming there is for historical reasons not great.

[2016-07-20 14:27] afm-mike opened #1144 "Elastica / Elastcisearch / Pydio error"
From pydio web gui: So I googled about, and installed composer, got the pydio plugin enabled, installed Elastica in plugin dir, made sure elasticsearch is running / working, all latest coder versions, , then get this, ‘Internal Server Error’ when trying to access any ws in pydio web.:

[Tue Jul 19 08:45:11.300123 2016] [:error] [pid 27628] [client 1.2.3.4:62767] PHP Fatal error: Class ‘Elastica\\C

[2016-07-20 16:02] coreation opened #1145 "Add GeoCentroid as an aggregation"
Hello @ruflin ,

I've been using this excellent library for a while now, loving it!
Now I need to use a centroid aggregation on a geo_point field, however I don't see to find this anywhere in the repository. Is it a hidden feature somewhere, can I use a centroid aggregation in a different way or should I try to implement it?

[2016-07-21 11:01] afm-mike commented on #1144
In case it matters:

Elastica:  3.2.1
Elasticsearch:  2.3.4
PHP:  5.6.23
java version "1.7.0_101"

Any thoughts on the issue?

[2016-07-22 16:24] topikito opened #1149 "minimum_match accepts not only int but string"
I was trying to run a `Terms` query with `minimum_match` and passing a percentage but was getting "wrong" results. Inspected the method and noticed that its only accepting `int`.

I can't find anything on the ElasticSearch docu about this (only finding `minimum_should_match`) but I ran manually a query against ES and confirmed that you can send "minimum_match" as a string (percentage).

Before doi

[2016-07-25 06:36] ruflin commented on #1144
There seems to be an issue with your autoloader. Do you use composer to generate the autoloader? How exactly did you install Elastica?

[2016-07-25 06:39] ruflin commented on #1145
If I understand you right, this is what you are looking for on the elasticsearch side: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-geocentroid-aggregation.html

This currently does not exist yet in Elastica. It would be great to have this added as a feature.

[2016-07-25 06:40] ruflin commented on #1145
@coreation As a shortcut you can always use raw queries (http://elastica.io/example/raw-array-query.html) but it would be obviously much nicer to have it directly in Elastica.

[2016-07-25 07:28] ruflin commented on #1149
You are definitively right and minimum_should_match should also support percentages: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-minimum-should-match.html There are even multiple conditionals which I was not aware of, so going with string is a good idea.

[2016-07-25 07:33] topikito commented on #1149
Awesome @ruflin - Testing-wise: right now all tests are using `int` for this purpose. How do you wanna attack this new approach? Dividing two test per method as one for `int` and one for `string`? I'm happy to do a PR (I've already modified the type hinting, but need to confirm how the tests should be)

[2016-07-25 07:46] ruflin commented on #1149
As we will switch to string, the verification of the information will be much harder on the client side. But I hope in case invalid strings are provided, elasticsearch will return an error. For the testing I suggest we test all the valid values and check if they still work. We should still keep some tests where ints are passed to make sure we keep BC compatibility. Does this answer your question?

[2016-07-25 08:59] coreation commented on #1145
Cool, if I understand it correctly I can use this for example in a geohash grid aggregation with a geocentroid sub aggregation to make the center of that grid an average of all locations in that grid right? If so, I might be very tempted to spend some time making this into a PR :).

[2016-07-25 10:03] ruflin commented on #1145
Yes. The "only" thing you have to do is adding support for geocentroid aggregation. As each aggregation inherits AbstractAggregation, you will get the nesting part for free.

[2016-07-25 10:13] coreation commented on #1145
I already looked into that before I made this issue, just to make sure I wasn't missing anything. I'll probably try this tonight and ask for feedback on my fork before making a PR.

[2016-07-25 10:44] ruflin commented on #1145
Best is to open a PR directly. I see PR's as a type of conversation and not something that is final and must be directly ready to be merged. Code often says more then lots of descriptions.

[2016-07-25 12:14] coreation commented on #1145
Alright, will do!

[2016-07-25 13:35] afm-mike commented on #1144
I used composer.  Let's see,, I:

(1)  I created a plugin folder called index.elasticsearch in the pydio plugin directry
(2)  I downlaoded from github a zip file of Elastica and unzipped it in my home directory to Elastica-master
(3)  I then copied the /home/mike/Elastica-master/lib/Elastica folder to the index.elasticsearch folder, so there is a subfolder in index.elasticsearch called Elastica
(4

[2016-07-25 13:41] afm-mike commented on #1144
Saw this from Charles at pydio (so I am hoping it is just a version compatibility issue...):

...wait for 6.4.2, coming very very soon … we have upgraded the elasticsearch plugin to be compatible with last version of elastica AND elasticsearch.

[2016-07-25 20:14] coreation commented on #1145
@ruflin I think I got it, if so that was by far the easiest PR and open source contribution in my life so far ;). I'll make a PR, but I'll have to adjust it either way, not sure where I should add this feature in the Changelog.md

[2016-07-26 05:39] ruflin commented on #1145
Thanks for the PR. Best is to add it under `Added` in the CHANGELOG.md

[2016-07-26 06:13] ruflin commented on #1144
Your above steps don't really look like you used composer. I would expect you to add elastica to you composer.json file and run something like `composer update`.

I don't know about pydio. But to be honest I don't think it is an issue with pydio and version incompatibility but more related to you setup. Elastica\Client exists since the first version of Elastica.

[2016-07-26 11:29] afm-mike commented on #1144
I did use composer, as I recall, but I may not remember the steps I did, but I'll try it again this evening and post here.  Thank you!

[2016-07-26 13:25] afm-mike commented on #1144
I had the wrong json file.  I used this initially:
{
    "require": {
        "elasticsearch/elasticsearch": "~2.0"
    }
}

and had the issue.  Now I just used this:

{ "require": { "ruflin/elastica": "dev-master" } }

and I can now get into a ws w/o issue after activating the elaasticsearch plugin. However, if I type a search term, I get an error, like: no such index [index: xxxxxxxxxxxxxxxxxxxx

[2016-07-26 14:34] afm-mike commented on #1144
OK, got it working, and what a difference so far in terms of build speed of index.  Finally :-)

[2016-07-26 18:18] afm-mike commented on #1144
By the way, is there any optimization I should do for Elastica and/or Elasticsearch?  Single node, 8-core FX-8370, 32GB ram, Raid-5.

[2016-07-27 08:15] ruflin commented on #1144
Glad you found a solution. Closing this issue.

About the specs: That depends on lots of factors so there is no single simple answer. Best is you start wit the default config it an check if you hit any issue.

[2016-07-27 08:15] #1144 closed

[2016-07-27 10:16] topikito commented on #1149
Hi @ruflin,

I tried contacting you outside GitHub but no luck (Twitter).

I'm experiencing this issue when running the tests:

[code]

Any idea?

[2016-07-27 10:43] ruflin commented on #1149
Oh, just saw the message now. Sorry. What happens if you just run `make tests` ?

[2016-07-27 11:00] topikito commented on #1149
Thanks @ruflin : this worked `make tests`

I was following the `CONTRIBUTION` file. With this "test", if no errors are raised, shall I assume its ok for me to PR ?

[2016-07-27 11:26] ruflin commented on #1149
Great. We should about CONTRIBUTING.md :-(

You should definitively open a PR ;-)

[2016-07-28 13:17] anacicconi opened #1154 "How to use highlight_query with Elastica?"
I'm new to Elastica and I'm searching for a way to highlight nested query results with highlight_query. I checked the code and $query->setHighlight() accepts only an array as a parameter. Maybe there's another way to achieve this result using Elastica. Could you give me an advice?

This is the json query I'm trying to translate to Elastica:

    {
        "query": {
            "bool": {

[2016-07-28 13:21] afm-mike opened #1155 "Meta Source index.elasticsearch does not implement the initMeta method"
Arghhh, I realize this is not your issue, but you got me straightened out on the last issue, prior to this upgrade.  I upgraded to the latest pydio version, 6.4.2, now get this, any idea whatI need to do to fix this?

It as working fine before I upgraded :-(

PHP Fatal error: Uncaught exception ‘AJXP_Exception’ with message ‘Error while loading repository feature : Meta Source index.elasticsearch

[2016-07-28 13:42] afm-mike commented on #1155
I reinstalled 6.4.2,, and it seems to work now, so I will chalk it up to operator error. thanks

[2016-07-29 11:07] ovr opened #1156 "Is it possible for Now to use async Request on Top of Guzzle Transport?"
Hey!

As an example - bulk insert

Thanks

@ruflin

[2016-07-31 19:26] #1149 closed

[2016-07-31 19:58] ruflin commented on #1155
Glad you found a solution. Closing this issue.

[2016-07-31 19:58] #1155 closed

[2016-08-02 07:27] ruflin commented on #1154
Best is to have a look at the tests that use the hightlight query: https://github.com/ruflin/Elastica/blob/master/test/lib/Elastica/Test/Query/HighlightTest.php

[2016-08-02 07:55] ruflin commented on #1156
I'm not aware of the details on how this works in Guzzle, but I assume it need would need some changes in https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Transport/Guzzle.php

[2016-08-02 08:15] anacicconi commented on #1154
I finally found the solution to my problem. I was doing the wrong query and I haven't add 'include_in_parent: true' to my config. If this can help someone, the query looks like this now:

Elastic query:

    {
        "query": {
            "bool": {
                "must": [
                    {
                        "match": {
                        "updatedAt": "2016"

[2016-08-02 08:15] #1154 closed

[2016-08-02 08:52] ruflin commented on #1154
Great that you found the solution and thanks for providing it here for others.

[2016-08-02 10:20] anacicconi commented on #1154
@ruflin just another question. Is it possible to do highlight_query with Elastica?

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-highlighting.html#_highlight_query

[2016-08-02 12:30] istvankis opened #1157 "Missing multi_value_mode from decay function"
Unable to set [multi_value_mode](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-function-score-query.html#_multi_values_fields) for function_score decay function.

[2016-08-05 15:00] JTubex opened #1159 "Match all query returns no results."
I'm creating a  [match all query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-match-query.html#query-dsl-match-query-zero) like this:

[code]

Currently it returns no results, but because the constant ZERO_TERM_ALL in Elastica\Query\Match has 'all' as value. I think this should be changed to '_all'.

[2016-08-06 20:39] Badlapje commented on #974
get this issue now, even though everything worked fine with version 2.3.2 up until now (as it should, given that support for 2.x is now ok with the bundle).  Here's my stack trace;

 () at /home/vagrant/Code/RoeselareVrijwilligt/VrijwilligersTool/vendor/ruflin/elastica/lib/Elastica/Exception/ResponseException.php:34
 Exception->__construct() at /home/vagrant/Code/RoeselareVrijwilligt/Vrijwilligers

[2016-08-08 08:45] ruflin commented on #1159
Not sure if you use the constant as expected. Here is an example: https://github.com/ruflin/Elastica/blob/master/test/lib/Elastica/Test/Query/MatchTest.php#L175

[2016-08-08 09:20] snider commented on #945
added a pull request, not sure if its what you were after but works nicely for me and would be backwards compatible

[2016-08-08 09:45] liilo commented on #945
to my point of view, a "setRawCoordinates" function would be generic enough for all kinds of situations... Thanks

[2016-08-08 10:27] ruflin commented on #945
@snider Thanks for the contribution. I like the change as it adds some flexibility and we can keep it BC compatible. I don't think it fully replaces a potential `setRawCoordinates` function but it allows the options that were initially requested.

@liilo Feel free to open a PR to also add setRawCoordinates.

[2016-08-19 08:19] olchick opened #1162 "deleteByQuery: QueryParsingException"
When I use deleteByQuery() method with parameter NULL (for delete all documents), I cought QueryParsingException: No query registered for [query].

I dump query before send request:
`[
  "query" => [
    "query" => [
      "match_all" => {}
    ]
  ]
]
`

[2016-08-19 11:15] ruflin commented on #1162
Which Elastica version are you using? Which elasticsearch version are you using?

[2016-08-19 11:41] olchick commented on #1162
"name": "ruflin/elastica",
"version": "dev-master",

elasticsearch-1.5.2

[2016-08-22 07:09] ruflin commented on #1162
dev-maste is only compatible with elasticsearch 2.x. But I didn't test it this is actually the issue. I can't remember that we had to change things in the match_all query. Could you briefly test if you have the same problem with ES 2.x?

[2016-08-22 09:09] olchick commented on #1162
It works for ES 2.x.

But still query: `[ "query" => [ "query" => [ "match_all" => {} ] ] ] `, instead of `[ "query" => [ "match_all" => {} ] ] `

Anywhere, Thank you for your answer.

[2016-08-23 08:38] ruflin commented on #1162
@olchick Not sure I fully get your comment. The result is as expected with elasticsearch 2.x? Or does it just not throw an error with elasticsearch 2.x but not work? Can you share your php code?

[2016-08-23 11:17] olchick commented on #1162
It's work for elasticsearch 2.x.
Thank you for your answer.

[2016-08-23 11:21] ruflin commented on #1162
Ok, in this case I'm closing this issue. If you want it to work with elasticsearch 1.x, you need to use Elastica 2.x. Please reopen if that is not the case.

[2016-08-23 11:21] #1162 closed

[2016-08-26 14:42] ovr commented on #1156
What do you think about added async methods

[code]

And return `Promise`

If it's okey I can implement?

[2016-08-28 11:47] DBARUNNER opened #1167 "Elastica refrence for learning"
Hello
i know raw query of elasticsearch but i want to work with elastica,  Elastica.io have not all the elastica query please if you guid me how to learn elastica and  tell me a good refrence to learn elastica

[2016-08-29 07:29] ruflin commented on #1167
Best is to use the API as reference guide: http://elastica.io/api/latest/ In most cases if you know which query you want to use for elasticsearch, there will be a class with the same name in Elastica. An other great source for code examples is the test suite: https://github.com/ruflin/Elastica/tree/master/test/lib/Elastica/Test

Unfortunately it is true that the Elastica docs are not very extensiv

[2016-08-29 07:29] #1167 closed

[2016-08-31 07:13] ruflin commented on #1156
@ovr Sorry for the late reply. This definitively sounds interesting. I'm curious how well this will fit into the current way Elastica handles connection. +1 on discussing this one some code.

[2016-08-31 10:16] ovr commented on #1156
@ruflin On upcoming weekend-s I am going to prepare a small PR related this issue and show a way how to implement it

[2016-08-31 10:47] ruflin commented on #1156
Cool, looking forward to it.

[2016-09-05 10:19] #1137 closed

[2016-09-06 09:13] designermonkey opened #1170 "Suggest missing Collate functionality"
Is there scope to add the collate functionality to Elastica? I can't seem to find how to do it so far.

[2016-09-06 11:38] ruflin commented on #1170
I assume this is the functionality you are referring to: https://www.elastic.co/guide/en/elasticsearch/reference/master/search-suggesters-phrase.html

There is no specific plan yet to add it but I would be really nice to have it in. PR's are always welcome.

[2016-09-07 09:04] nishantsaini opened #1171 "Using lookup parameters for terms query"
@ruflin
How can I generate Terms query with lookup, of following type:
`"terms" : {
      "user" : {
        "index" : "users",
        "type" : "user",
        "id" : "2",
        "path" : "followers"
      }
    }
  }`
I'm referring [this example](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-terms-query.html#_terms_lookup_twitter_example)
I tried the following:
[code

[2016-09-08 06:52] ruflin commented on #1171
It seems like currently Terms Query always assume that the value for the terms key is an array which is not the case in this lookup example. This would need some extension to the logic of the Terms query. What you can always to is using the raw query: http://elastica.io/example/raw-array-query.html

[2016-09-09 03:16] nishantsaini commented on #1171
@ruflin : Thanks for the suggestion :+1:

[2016-09-09 13:56] morenDev opened #1174 "multiple terms in query"
How to set multiple terms in query (nested)?
I switched to Elastica today)

[code]

[2016-09-10 13:08] nishantsaini commented on #1174
If you are using elasticsearch 1.x then I would suggest to use BoolAnd (filter) and then keep on adding term (filter)
[code]
Hope this helps.
For es 2.x filters are removed and you have to use bool query in filter context to do the same.

[2016-09-11 10:59] morenDev commented on #1174
Thanks for help! Did it this way:
[code]

[2016-09-11 10:59] #1174 closed

[2016-09-12 03:03] #1171 closed

[2016-09-22 09:22] piwii opened #1175 "Querybuilder must be compatible with Elasticsearch 2.X"
Query geo_distance is no posssible with current query builder, we need to add lib/Elastica/QueryBuilder/Version/Version2X.php to be compatible with elasticsearch 2.X

[2016-09-22 09:27] piwii commented on #1175
Fix in #1176

[2016-09-22 11:05] ruflin commented on #1175
Closing as https://github.com/ruflin/Elastica/pull/1176 was merged. Thanks a lot to directly fix it.

[2016-09-22 11:05] #1175 closed

[2016-10-11 06:49] ruflin opened #1184 "Upgrade to Elasticsearch 5.0"
Elasticsearch 5.0 brings several breaking changes which affect Elastica. This issue is to track the open tasks to make Elastica fully compatible with elasticsearch 5.0.
- [x] Remove all depercated methods as this is a major release
- [x] Remove filters as filters are replaced by query
- [ ] Testing
  - [ ] Fix tests which are currently skipped because of incompatibility
  - [ ] Fix `Set fielddata=

[2016-10-14 08:30] idhard opened #1187 "Post Filter - Elastic search performance advice"
According to the documentation :

https://www.elastic.co/guide/en/elasticsearch/guide/current/_post_filter.html

And i have noticed that the Query builder is setting the filters in the post_filter parent.

i have followed some of the related issues on this topic but still im confused about the implementation of this class.

should we use  filtered queries instead of Query in order to follow the pe

[2016-10-17 15:17] FredoVelcro commented on #523
I confirm :   I use bulk insert with $client->bulk($data) to index a lot of documents (300 000+)
I had memory leaks but **disabling the logger, all went OK**.

[2016-10-18 08:51] Zyqsempai commented on #1184
Hi there, i will be glad to help you with this migration, please give me some short description, for example for "Remove image plugin support", do you want to completely delete it from project? Or give some other task!

[2016-10-18 18:32] ruflin commented on #1184
@Zyqsempai Great to hear. What I already did is removing all the filters and skip all the tests which do not pass at the moment. I added a message to each of this tests on why they don't pass (see https://travis-ci.org/ruflin/Elastica/jobs/167274669#L2135). We need to go through each of this test an figure out how it should be fixed. Most of them should be an easy fix.

To start simple: I think th

[2016-10-19 06:39] Zyqsempai commented on #1184
ok then i will start with image plugin a then move on to tests

[2016-10-19 13:57] Zyqsempai commented on #1184
So, what about this type of skipped tests, "script.inline is not enabled. This is required for this test", i checked your elasticsearch.yml and i found this "script.inline: on" i also tried to add something like this "script.engine.groovy.inline.aggs: on" and no results, do you know source of this problem?

[2016-10-19 14:15] Zyqsempai commented on #1184
Also, this one "Skipped because of 5.0: unknown setting [index.merge.policy.merge_factor] did you mean [index.merge.policy.max_merge_at_once]" this is strange because according to this https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_20_setting_changes.html#_merge_and_merge_throttling_settings , this error mast appear after 2.4 version migration, anyway it seams like we can

[2016-10-24 06:37] ruflin commented on #523
@FredoVelcro Which Elastica Version are you using? Did you find which part in the logger caused the memory leak?

[2016-10-24 07:06] ruflin commented on #1184
@Zyqsempai Sorry for the delay in answering, was on vacation last week. About the issues above: Didn't check them in detail yet. For some option it can be that they don't exist anymore and we have to remove them or rename them.

[2016-10-24 14:33] p365labs commented on #1184
Hi @ruflin regarding this error
I have a look here https://www.elastic.co/guide/en/elasticsearch/reference/1.7/index-modules-merge.html, seems that merge_factor has been removed and the PolicyFactor has been deprecated since 1.6 elasticsearch version. I had a look at source code of ES and in ES5.0\ES5.x\master this feature is not present.
I've opened a PR --> https://github.com/ruflin/Elastica/pul

[2016-10-24 20:59] ruscon commented on #410
ping ?

[2016-10-25 04:47] p365labs commented on #1184
dear @ruflin and @Zyqsempai I'm trying to help you too, if I can :) now I'm working on remove all the deprecations. I would like to understand better another point of this issue : "_Double check which PHP versions should be supported_" how do you want to deal with it ? If you have a look at here http://php.net/supported-versions.php, php 5.4 and 5.5 has been dropped active versions are 7.0 and 5.6

[2016-10-25 05:48] jimmykirk opened #1194 "AND/OR to must and Filtered Queries"
Hello,

I am using Elasticsearch 2.4 and the current release of Elastica.

I am porting some of my elasticsearch javascript stuff to elastica and have seen some stuff where I'm simply not sure if Elastica can do what I want(or after looking through the docs, maybe I'm approaching this incorrectly).

One such instance is the following: Adding an and/or to a must doesn't seem to be available(possibl

[2016-10-25 08:01] ruflin commented on #1184
The above topics have been discussed here: https://gitter.im/ruflin/Elastica?at=580c7bc4305a10335db2114f

[2016-10-25 08:06] ruflin commented on #1194
For the bool queries, have a look at the test cases here: https://github.com/ruflin/Elastica/blob/master/test/lib/Elastica/Test/Query/BoolQueryTest.php Let me know if this helps.

Filtered query is deprecated because it is also deprecated in elasticsearch and should be replaced by a bool query: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-filtered-query.html

[2016-10-30 18:55] jimmykirk commented on #1194
Thank you @ruflin
I was able to convert my queries over. However, the only issue I have remaining is that creating the has child with bool queries seems to have a bug.

I have several bool queries [like this](http://imgur.com/a/tDj4u.jpg) in an array. I want to add those to my has child object so that they are all inside. If I add a single boolQuery object to the hasChild constructor, it works as

[2016-10-31 11:27] ruflin commented on #1194
@jimmykirk Glad you got it working. Will close this issue then. Please reopen if you think there is a potential bug in the library that must be fixed.

[2016-10-31 11:27] #1194 closed

[2016-10-31 11:43] p365labs commented on #1184
I'll work now  on scripts.inline which does not seem to be enabled / work as expected.

[2016-10-31 13:49] Zyqsempai commented on #1184
I will work on plugins problems, such as "delete-by-query plugin not installed." and "elasticsearch-mapper-attachments plugin not installed."

[2016-11-03 11:38] ruflin commented on #1184
@Zyqsempai @p365labs About the PHP versions. I opened https://github.com/ruflin/Elastica/pull/1201 to check if everything is fine with PHP 7.1. To add it is a no brainer. More complex is the question about which PHP versions should we still support. Currently we support up to 5.4. 5.4 and 5.5 already reached EOL some time ago. The reason I kept it in is because I know of some larger projects that

[2016-11-03 21:41] Zyqsempai commented on #1184
@ruflin Hi there, i think that we don't need to worry about versions at this moment, because we don't face any problem now, and we can delete them in any time, this issue are called "Upgrade to Elasticsearch 5.0", i think we don't need to mix issues. Let's finish all the staff that are realy related to upgrade.

[2016-11-04 07:39] ruflin commented on #1184
@Zyqsempai The reason I mix the two is because this issue is for me also the only blocking thing for the next major release and I only want to drop support for PHP version in major release (if possible).

[2016-11-04 08:10] Zyqsempai commented on #1184
@ruflin This make sense and if we really have only one opportunity to delete them, then we should do that, you're right. And i think that we need to keep only 5.6 and above.

[2016-11-04 08:11] p365labs commented on #1184
even if this is not a the main theme for this issue, I agree with @ruflin

[2016-11-05 06:08] p365labs commented on #1184
Hi all, I will work on Scripts and update to painless script, if it's ok 4 u guys

[2016-11-07 09:09] ruflin commented on #1184
@p365labs @Zyqsempai Based on your inputs and the following additional reasons I decided to also remove PHP 5.5

* https://github.com/ruflin/Elastica/issues/944 is not possible without 5.6
* There are very few BC changes from 5.5 to 5.6. So I don't see any real reason people could not upgrade their PHP version
* I want to use the most recent dependencies for testing, for example phpunit. I can't d

[2016-11-08 08:25] ruflin commented on #1184
@p365labs @Zyqsempai I was thinking of doing a 5.0.0-beta1 in the next days. I'm aware that there are still some open tasks but I think most of them seem to be related to tests which need to be updated an not Elastica itself. Having a beta will also get more feedback of what could be broken with 5.0. WDYT?

[2016-11-08 08:41] p365labs commented on #1184
@ruflin  @Zyqsempai : Having a beta will allow Elastica's users installing the package with more ease and trying it on their project. Which means more feedbacks for us on the major version of Elastica. so 👍

[2016-11-08 09:16] Zyqsempai commented on #1184
@ruflin Great idea! I agree.

[2016-11-14 09:11] zplzpl opened #1217 "composer require 5.0.0-beta1 not found test dir"
composer require 5.0.0-beta1 not found test dir

[2016-11-14 09:53] ruflin commented on #1217
@zplzpl Can you share some more data? When did you see this error? What command did you run?

[2016-11-14 10:01] zplzpl commented on #1217
i work in yii2 framework.

i run command:

composer require ruflin/Elastica:5.0.0-beta1 --ignore-platform-reqs

add "--ignore-platform-reqs" because of my php version is 5.5.x.

i look dir list.

not found test dir.

[2016-11-14 14:45] p365labs commented on #1217
mm curious, even if php 5.5 is not yet supported, I've created a VM with Vagrant :
- ubuntu 14.04.5 LTS
- php 5.5.38-4+deb.sury.org~trusty+1
- composer 1.3-dev
- installed yii basic (composer create-project yiisoft/yii2-app-basic basic 2.0.10)
- composer require ruflin/Elastica:5.0.0-beta1 --ignore-platform-reqs -vvv

and everything seems ok, Elastica 5.0.0-beta1 has been installed correctly.

[2016-11-14 16:45] ruflin commented on #1217
Also tried to reproduce this and couldn't. What do you exactly mean by "not found test dir"?

[2016-11-15 22:54] tolousn commented on #665
Out of nowhere I started getting these. The crazy part is that it's on and off. It works for few minutes then stops working, both on local and live server at the same time. Is there an issue with elastica server? Is anyone else having that issue today?

[2016-11-16 07:32] Zyqsempai commented on #665
@tolousn Hi there, can you describe your server part?Do you youse ElasticSearch as a SAAS or your own on your local machine? Maybe docker container?

[2016-11-16 10:52] p365labs commented on #1187
Hi @idhard , when u say "And i have noticed that the Query builder is setting the filters in the post_filter parent." where exactly QueryBuilder is setting filters in the post_filters ? can u show me some code ?

[2016-11-18 19:34] bitgandtter opened #1221 "Response getError method returning array"
Using version 2.3.1
Elasticsearch 5.x

got exception

reviewing the code i notice that getError method of Response class return an array instead of an string

[2016-11-18 21:18] p365labs commented on #1221
release 2.3.1 of Elastica library has been released for Elasticsearch version 1.7.3.
Have a look here :
https://github.com/ruflin/Elastica/releases?after=3.0.0-beta1

If you want to use Elasticsearch 5.0.0 you should use Elastica 5.0.0-beta1. Beware that this is a beta version, use it  for testing purposes and not for production one, any feedback will be really
appreciated.

[2016-11-18 21:41] bitgandtter commented on #1221
Elastic 5.x its already GA, came out of beta and RC a month ago. This issue seems to be because the new version ways to handle errors. But since Elastic 5.x brings a lot of new enhancements speed among them a lot of people will start to use it. In my personal case i will for a new project, the one throw me this error and pretend to migrate other ones.

So it will be great to handle this new versio

[2016-11-18 22:41] p365labs commented on #1221
If you use Elasticsearch 5.0 you should use **[Elastica 5.0.0-beta1](https://github.com/ruflin/Elastica/releases)**
- getError now return a string :
https://github.com/ruflin/Elastica/blob/8fa05bb677ab49e62e2af3bdfa62f7d9b6de761c/lib/Elastica/Response.php#L82

- the only version of Elastica that was returning an array was from 3.0.0-beta1 to 3.1.0: https://github.com/ruflin/Elastica/commit/99d7cd1

[2016-11-21 12:21] ruflin commented on #1221
@bitgandtter As @p365labs state, for Elasticsearch 5.0 you need to use Elastica 5.0. Going to close this issue. In case you have issues with Elastica 5.0 and elasticsearch 5.0 please let us know. In case there are still some questions, feel free to reopen the issue.

[2016-11-21 12:21] #1221 closed

[2016-12-06 16:11] aguvillalba opened #1226 "How to define multiple hosts (multiple nodes in cluster)?"
Hi Ruflin,

Is it possible to define more than 1 host in the config of the client? We have a cluster with 3 nodes, so if we define only 1 host to connect the client to, what if this node is down? In the ElasticSearch-PHP library, they allow to have multiple hosts for the client, is it possible something similar in Elastica?

Thank you very much for your work.

Best regards,
Agustin.

[2016-12-08 07:00] DBARUNNER opened #1227 "can i write eash query of elasticsearch in raw format array query of elastica ?"
I am using elastica 2.2 now i upgrade my elasticsearch to 5.0.0 as you know elastica 2.2 is not supporting ealsticsearch 5.0.0 if i upgrade elastica it need new version of  php that it will cause more error with other aplication code, that's why i want to user elastica raw query to can do eash query of elasticsearch 5 can i do or no ?

[2016-12-08 07:04] ruflin commented on #1227
Which PHP Version are you using? To be honest the best to figure out if the above works is to try it out. As you are still on Elastica 2.2 I assume you were using elasticsearch 1.x before? Especially for error formats you should already have more luck with using Elastica 3.x at least.

[2016-12-08 07:19] DBARUNNER commented on #1227
PHP Version that i am using is 5.5 and i cant upgrade it to new version of php because of my other application code, now i want to user raw query of elastica my question is can i do each query of elasticsearch in raw format or no ?

[2016-12-08 07:22] DBARUNNER commented on #1227
I am using PHP Version 5.5 I cant upgrade it to new Version because of my other application code.
now I want to use raw query of Elastica my question is, can I do each query of elasticsearch 5.0.0 in format of raw query ?

[2016-12-08 07:45] ruflin commented on #1227
Elastica should be full compatible with PHP 5.5. We removed it because we don't test it anymore. All you have to do is to remove the PHP required version from the composer file. As far as I remember, there is even a param to overwrite it. This should work at the moment.

[2016-12-08 08:08] DBARUNNER commented on #1227
yeas it work fine with PHP 5.5 my question is is it work with Elasticsearch 5.0.0 ?

[2016-12-08 08:25] ruflin commented on #1227
Elastica 5.0 works fine with Elasticsearch 5.0. And that is what I mean. You can use Elastica 5.0 if you do the above changes to the composer file even with PHP 5.5.

[2016-12-08 08:29] ruflin commented on #1226
You can pass an array of `connections` to the clients: https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Client.php#L36 Like this you have multiple hosts. Closing this as I think the above answers the question. Please reopen if not the case.

[2016-12-08 08:29] #1226 closed

[2016-12-08 09:02] DBARUNNER commented on #1227
if you please tell me how to remove php required version from ther composer file ? please help i will be grate full from you

[2016-12-09 08:33] gskema opened #1228 "Slashes in URL need to be escaped when using date math expr in index names"
My index name is `<log-{now/d-1d}>`. This index works fine for `_bulk` writes,
because it is placed inside the request body and doesn't need to be escaped.

However, if we use this index name for `_search` or other operations where index is specified in the URL, it needs to be escaped: `<log-{now%2Fd-1d}>` .

I image that the escaping should happen somewhere around here:

https://github.com/ruflin

[2016-12-09 08:58] ruflin commented on #1227
Have a look at `--ignore-platform-reqs` under https://getcomposer.org/doc/03-cli.md That "should" work.

[2016-12-09 12:41] ruflin commented on #1228
Thanks for the feature request. It is definitively something we should add support for. I'm curious what happens if we escape the hole query, means if it will have some side effects. Did you already play around with it?

For reference, here the reference to date math in index: https://www.elastic.co/guide/en/elasticsearch/reference/current/date-math-index-names.html

[2016-12-09 14:08] gskema commented on #1228
Which query are you speaking of? As far as I can work out, we should only escape **some** symbols in the request URI fragments, eg. `localhost:9200/<log-{now%2Fd-1d}>/_search?preference=_shards:1,2`

[2016-12-10 06:47] DBARUNNER commented on #1227
@ruflin, just answear this quesion i will be thankfull.
Can I run each elasticsearch query in ther format of Elastica JSON raw query ?

[2016-12-10 08:02] DBARUNNER commented on #1227
@ruflin, just answear this quesion i will be thankfull.
Can I run each elasticsearch query in  format of Elastica JSON raw query ?

[2016-12-12 13:05] ruflin commented on #1228
@gskema Correct, sorry I meant URI, or better path instead of query. What I wanted to check is if we could escape the complete path or if there could be some side affects to this. We should probably just try it out.

[2016-12-12 13:33] ruflin commented on #1227
@DBARUNNER I think yes, at least I'm not aware of one that doesn't work :-) Closing this issue as I think your initial issues is solved. For questions in the future best use the elastica google group: https://groups.google.com/forum/#!forum/elastica-php-client

[2016-12-12 13:33] #1227 closed

[2016-12-20 22:04] mtdavidson commented on #1068
Just came across the same error `make tests` works no problem but no luck with the commands in `CONTRIBUTING.md`.

[2016-12-21 09:26] ruflin commented on #1068
Argh, I still didn't update the CONTRIBUTING.md :-( @mtdavidson Could you open a PR with the change?

[2017-01-09 00:02] jimmykirk opened #1233 "Convert Elastica\Query object to raw json?"
All,

I am currently in the process of upgrading to Elasticsearch 5.1 and am finding that some of my queries are failing. Things like type=>parent_type have been resolved within Elastica. However, some of my queries succeed but return zero results. Is it possible to dump the raw json from an Elastica\Query object so that I can do some debugging in the dev console of kibana?

Regards,

Jimmy

[2017-01-09 00:09] jimmykirk commented on #1233
Shortly after posting this, I took a break and approached the issue with a clear head. For all wondering...

From the Elastica\Query object, call the toArray() method and then use json_encode. Now to figure out why my stuff breaks down.

[2017-01-09 10:04] chriskicker opened #1234 "Unnecessary request to ES when iterating over ResultSets using Scroll"
There is one unnecessary call to ES API when using Elastica\Scroll. The last call (in next method) always sets `$this->_currentResultSet` with empty Elastica\ResultSet. It could be omitted.
The solution is quite simple. In rewind method number of total pages could be count
`$this->totalPages = ceil($scroll->current()->getTotalHits() / $scroll->current()->count());`

Then in next method request sho

[2017-01-09 10:09] pawelbaranski commented on #1234
With large data set it may have major impact on performance. In our case we gained 25% boost

[2017-01-10 09:11] ruflin commented on #1233
Great you got one step further. In case your error is not Elastica related, please close the issue. If not, let us know how we can help.

[2017-01-10 09:12] ruflin commented on #1234
SGTM. Can you open a PR with this change?

[2017-01-10 13:12] gskema commented on #1228
I tried sending a query with fully escaped path, e.g. `%2F%3Clog-%7Bnow%2Fd%7D%3E%2F_refresh`, doesn't work (tried through Elastica and Sense).

When path is `/%3Clog-%7Bnow%2Fd%7D%3E/_refresh` ES responds correctly (resolves the name).

They've added a character escape map to the documentation in 5.x : https://www.elastic.co/guide/en/elasticsearch/reference/5.x/date-math-index-names.html

[2017-01-11 09:46] ruflin commented on #1228
@gskema Do you plan to open a PR for this change?

[2017-01-11 15:45] gskema commented on #1228
@ruflin I was going to, but I'm having trouble setting up a docker box on Windows at home. My fix would be adding a specific function to `Util` class for escaping relevant part of an already formed request **path**: https://gist.github.com/gskema/2e2ce6584737a3b66351e6ec77e8ce20 (WIP) and then using it in `Http`, `HttpAdapter` and `Guzzle` transports.

Would you say that this fix would be up the l

[2017-01-12 13:27] ruflin commented on #1228
Oh, docker and windows ... Code looks good to me. I like that we don't use regexp as regexp can be become complex and inefficient.

Was no thinking yet about the users that already escape it for reason X. You are right that this could breaking. To make it less intrusive perhaps we should also consider the idea to only apply it to the queries / places where date math can be used instead of the full

[2017-01-12 14:37] gskema commented on #1228
@ruflin I think date math can be used in any index name, since the expression always resolves to a single date (explicit string). Why I think we should put in the actual transports: because the user can create an explicit `Request($path...)` object and the only viable place to put it is before sending actually it (at least from what I've gathered). Also, don't forget bulk operation. The idea is to

[2017-01-13 17:45] jimmykirk commented on #1233
Thank you for Elastica and your help always... and yes, it was breaking changes to ElasticSearch that was my issue.

[2017-01-13 17:45] #1233 closed

[2017-01-14 14:23] szepczynski opened #1235 "OR in BoolQuery filter"
Hi,

I have a query like this:

[code]

I have an `or` statement in filter part. How I can write OR condition in filter part? There is Elastica/Filter/BoolOr which is deprecated. Is possible to write these condition and not using deprecated classes?

[2017-01-16 14:26] ruflin commented on #1228
SGTM. Lets try it out and see what effect it will have. Can you open a PR? That makes it easier to discuss the details.

[2017-01-17 08:32] ruflin commented on #1235
Instead of filters you have to pass queries objects to it. See http://elastica.io/api/latest/classes/Elastica.Query.BoolQuery.html#method_addFilter The effect will be the same. Closing this issue as I think this solves your question. Please reopen if not.

[2017-01-17 08:32] #1235 closed

[2017-01-17 11:08] szepczynski commented on #1235
Yeah, I know that. I use Elastica\Query\BoolQuery but i must use `OR` statement in filter part of BoolQuery and I cannot see how do that without using deprecated Elastica/Filter/BoolOr. Please look at my elasticsearch query and filter part.

I have code:
[code]

In the last line I need join $arrivalCoords and $stopovers with `OR` statement. How I can do that?

[2017-01-18 07:53] ruflin commented on #1235
Or filter was replaced with Bool in 5.0: https://www.elastic.co/guide/en/elasticsearch/reference/5.0/query-dsl-or-filter.html

I think what you are looking for is `should` and `minimum_should_match`: https://www.elastic.co/guide/en/elasticsearch/reference/5.0/query-dsl-bool-query.html

So if you are using elasticsearch 5.0 the above query should actually return an error. Which ES version are you o

[2017-01-18 10:56] szepczynski commented on #1235
Ok, thanks for clarification. I don't follow changes in ES 5. I rewrite my es query to:

[code]

And now I know how to write the missing `$orQuery`:

[code]

Thanks for help, I didn't find this in documentation!

[2017-01-18 16:01] ruflin commented on #1235
Glad you found a solution and thanks for posting it. Yeah, Elastica docs are not very extensive :-(

[2017-01-23 11:16] #1228 closed

[2017-01-23 23:42] ebernhardson opened #1237 "Re-add support for php 5.5.x"
I would like to request you re-consider supporting the EOL'd 5.5.x series, and possibly 5.4.x, of PHP. This is important for packages using elasticsearch that want to target LTS releases of popular distributions. Certainly everyone has to make a cutoff somewhere, but i would argue that a large enough set of currently supported linux distribution versions use 5.5 and 5.4 that it's worth supporting

[2017-01-25 12:00] ruflin commented on #1237
@ebernhardson I was kind of waiting until this pops up :-) I think we should make a difference between what is tested and what works. I'm quite confident that Elastica works with PHP 5.4 and 5.5 as you also mentioned above. The only dependencies that require PHP 5.6 are in the dev (like phpunit).

If you want to install Elastica with PHP 5.4 or 5.5 you can do that quite easily with `--ignore-platf

[2017-01-26 17:48] afm-mike opened #1240 "No enabled connection"
Ubuntu 16.04, latest Elasticsearch and Elastica, do you know what the issue is or what I may be doing wrong?  Any solutions for me, thanks!

Applying action ‘index’ on workspace Archive (87e22c282c95e50ccb628071fd21c12a)
<?xml version=”1.0″ encoding=”UTF-8″?><tree ><message type=”SUCCESS”>Indexation launched</message><consume_channel/></tree>

No enabled connection
PHP Fatal error: Uncaught Elasti

[2017-01-27 10:40] ilanrivers opened #1241 "Support for query string parameter request_cache"
It appears that the library does not support request_cache as documented here:
https://www.elastic.co/guide/en/elasticsearch/reference/current/shard-request-cache.html#_enabling_and_disabling_caching_per_request

[2017-01-27 14:12] p365labs commented on #1237
As @ruflin stated ```If you want to install Elastica with PHP 5.4 or 5.5 you can do that quite easily with --ignore-platform-reqs. I think this should work in your case.``` .

@ebernhardson you're right LTS of many Linux distributions still ships with older versions of PHP, but this won't mean you cannot update PHP to at least the 5.6 version. I know that this should sound a bit rude, but I think

[2017-01-27 16:12] ebernhardson commented on #1237
I'm not as worried about my case of personally installing Elastica, but about the difficulty of the wide variety of users, from users on shared hosting up to users on their own hardware and everything in between, that run the software i work on.  --ignore-platform-reqs ends up being a bigger problem in this case, because then other packages of the wider software platform which should rightfully pu

[2017-01-28 01:53] merk commented on #1237
You're going to be fighting a losing battle trying to get libraries and frameworks to continue to support really-old php versions for a long time: volunteers arent going to want to bother with such compatibility.

I think the only viable solution is to keep the last supported php 5.5 branch open for bug fixes, and if you have users who are stuck on old php versions, they're quite welcome to contri

[2017-01-28 05:54] p365labs commented on #1237
@ebernhardson I understand ur point of view. As the developer|maintainer of a software is your responsibility giving the "user base" a path they should follow; you can help them in some way but before and after they should update their OS. I really don't understand why they shouldn't.

- Having a look at the [Jordi's php version stats update](https://seld.be/notes/php-versions-stats-2016-2-edition

[2017-01-29 14:54] afm-mike commented on #1240
anybody?

[2017-01-29 18:35] damienalexandre commented on #1240
Could you provide more information?

- where is hosted your elasticsearch node?
- does your PHP can contact this node?
- if you run everything on localhost, what does `curl localhost:9200` return?
- could you paste the code you use for this request?

[2017-01-29 19:53] afm-mike commented on #1240
It is a single node, forget why I use the internal IP instead of localhost, but:

root@elasticlocal:/home/mike# curl 11.13.72.13:9200
{
  "name" : "elasticlocal",
  "cluster_name" : "elasticsearch",
  "cluster_uuid" : "g1Ax20JPQsWP2E30B8SucQ",
  "version" : {
    "number" : "2.4.4",
    "build_hash" : "fcbb46dfd45562a9cf00c604b30849a6dec6b017",
    "build_timestamp" : "2017-01-03T11:33:16Z",
    "

[2017-01-29 21:52] damienalexandre commented on #1240
Looks like your server lack the curl SSL certificates. You can found them here: https://curl.haxx.se/docs/caextract.html

This does not looks like an issue with Elastica, and this does not explain why your PHP tries to connect to Elasticsearch via HTTPS instead of the default HTTP.

[2017-01-30 13:45] ruflin commented on #1241
It seems we don't have a constant for it yet, but should be able to pass any option to `->search(...)` that you need. https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Search.php

[2017-01-30 14:04] ruflin commented on #1237
Thanks everyone for chiming in here. I really appreciate all the comments and share thoughts above.

Instead of having a very generic discussion where I'm quite confident we don't find a common ground lets focus on the specific project(s) that @ebernhardson faces the issue and lets see if there are solutions for this problem. Perhaps then we can find a more generic solution.

@ebernhardson Are we

[2017-01-30 22:19] ebernhardson commented on #1237
I'm working on CirrusSearch, which is the extension to mediawiki that integrates with elasticsearch and powers search on wikimedia sites (wikipedia, etc). We are currently in the process of upgrading the production cluster to 5.x, hence how I've come across this. One of the reasons for upgrading to 5.x is to have access to the updated completion suggester API, but i digress. Production in our case

[2017-01-31 01:13] afm-mike commented on #1240
Hey Thanks!  Once I figure out how to set the PHP connection to Elasticsearch back to HTTP, I will try again.

[2017-01-31 13:00] ruflin commented on #1237
Some ideas here:

* It would be nice if we could define "officially" supported PHP versions and version which we know that work but have a `*` that says not tested. As far as I know, something like this is not supported at the moment in composer.
* Interestingly this seems all about composer, so potentially something that could be brought up with the composer guys as an enhancement. Because this p

[2017-01-31 21:06] merk commented on #1237
Additionally:

What level of support are you actually going support "unofficial" php versions? It is reasonable to do a feature freeze and only apply bug fixes to a legacy branch.

IE: Return PHP 5.5 support to 5.0.x, then release 6.0.x without PHP 5.5 - and all you'd need to do is have a "5.0 release manager" backport/cherry pick any bug fixes or security issues that may apply.

Keeping LTS relea

[2017-02-01 09:34] ilanrivers commented on #1241
Opened a PR : https://github.com/ruflin/Elastica/pull/1243

[2017-02-01 09:36] ruflin commented on #1237
My personal experience on "release manager". So far in the history of Elastica I think I created 2-3 times a branch for people to backport bug fixes to an older release. The only request I had is that they open PR's themself. The end result: Not a single PR was ever opened against one of these branches. So if someone is out there that will really take on responsibility of "backporting/maintaining"

[2017-02-01 21:36] merk commented on #1237
Which is my main point: those who are stuck with PHP 5.5 due to politics are the ones that should have the burden of maintenance of an LTS branch of Elastica.

 These issues increase the maintenance burden for volunteer contributors for a segment of the population that because of politics, that they're stuck on unsupported PHP versions for years after those versions became unsupported.

If you tak

[2017-02-02 17:57] ebernhardson commented on #1237
I'd be happy to take on the requirements of backporting / maintaining a 5.5 branch. With that published to packagist seems like a reasonable way forward to keep things simple on both ends.

@merk Having or not having specific packages for LTS is neither here nor there. While our (mediawiki) support of 5.5 is specifically for the thousands of installations outside wikimedia's production usage, our

[2017-02-03 07:39] matak commented on #882
hi i have same, problem

1. elastic is not running on same machine
2. elastic is running, i can create any query through kibana
3. elastic is version 5.1
4. the error is number 6, and response is

Elastica\Response #b8e7
_queryTime protected => 2.5144689083099
_responseString protected => ""
_error protected => FALSE
_transferInfo protected => array (26)
_response protected => array ()
_status pro

[2017-02-03 07:59] matak commented on #882
seems that url was defined with http:// sorry, you library add http to the uri

[2017-02-06 12:10] ruflin commented on #1237
Based on the discussions above I suggest to move forward as following:

* Create a branch from `5.0.0` with the name `5.x-php55`
* @ebernhardson will open the necessary PR's to this branch.

This has the following advantages:

* This will move the burden of maintenance to @ebernhardson and hopefully other collaborators
* It will not limit any development in master
* No need to change the testing i

[2017-02-06 21:26] merk commented on #1237
I dont agree with the approach. Semver exists for a reason to make libraries easy to use.

bump 5.0 to 6.0, release 5.0.x to revert php 5.5 support, maintain 5.x branch alongside master/6.x

[2017-02-06 21:30] ebernhardson commented on #1237
I think the approach sounds reasonable. While semver is nice, i don't think it applies in this use case. Since the elasticsearch API's change in incopatible ways between major releases I think it's worthwhile for elastica major versions to map to elasticsearch major versions.

[2017-02-07 16:02] ruflin commented on #1237
@merk The reason I propose the above is that so I can use PHP 5.6 features also already in 5.1 or 5.2. This would not be the case if we keep a common 5.x branch. Also I want to make it "obvious" that it is a special version people are using based on the naming.

Alternative suggestion could be to create a 5.0 branch, release 5.0.1 with 5.5 support but not have it in 5.1. Problem with this is, peop

[2017-02-07 21:25] merk commented on #1237
Elastica is in this middle-ground problem area where you're trying to do to incompatible things at once:

1) Follow semver
2) Lock your major versions to match ES releases

If that wasnt the case, you could just bump the current release to 6.0 and continue working, and it would just work for users who are installing Elastica in PHP 5.5, because they'll get ~5.0. Instead of a 5.1, you just release

[2017-02-08 10:41] Tobion commented on #1217
I think what @zplzpl means is that the `/test` folder is missing. But this is expected because it is not exported, see https://github.com/ruflin/Elastica/blob/master/.gitattributes#L15

If you need the test folder, e.g. as inspiration or for submitting PRs, you can use the `--prefer-source` option of composer. This issue can be closed.

[2017-02-08 10:46] Tobion commented on #1034
This issue can be closed. minimum_should_match exists on multi_match as setter, see https://github.com/ruflin/Elastica/blob/master/lib/Elastica/Query/MultiMatch.php#L102
And with #1242 it also exists on bool query.

[2017-02-08 10:56] Tobion commented on #921
This can be closed since #1023

[2017-02-08 16:51] Tobion commented on #410
This can be closed as there are already `\Elastica\Query\GeoShapeProvided` and `\Elastica\Query\GeoShapePreIndexed` available.

[2017-02-08 16:53] #410 closed

[2017-02-09 15:38] ruflin commented on #1217
Closing this one based on the feedback from @Tobion

[2017-02-09 15:38] #1217 closed

[2017-02-09 15:39] ruflin commented on #1034
Closing based on the feedback from @Tobion . Please reopen if you think it is not solved.

[2017-02-09 15:39] #1034 closed

[2017-02-09 15:39] #921 closed

[2017-02-09 16:27] p365labs commented on #1237
Even if I'm still not sure this is the right solution, 5.5 it's too old and there are evidence that people are moving to new versions (see composer stats on the website). I support the @ruflin solution, the maintenance of that branch is on @ebernhardson and others that want to support. This branch should not limit the development on master.... so for me 👍

[2017-02-10 08:51] ruflin commented on #1237
@merk Yeah, it's fun versioning problem :-)
@ebernhardson Would you need release tags or is a branch enough?

[2017-02-10 16:56] ebernhardson commented on #1237
Hmm, as far as I know composer needs a release tag to be able to point to it as a specific version, so that would probably be best.

[2017-02-13 18:23] iamfinky opened #1247 "Deprecated: Filters are deprecated. Use queries in filter context."
So following an upgrade to Elastica 3.2.3, a bunch of my queries are failing because I'm using \Elastica\Filter\BoolAnd() which has been deprecated in favour of using queries in filter context.

However, there appear to be no examples or documentation on how to do this other than creating the JSON for the queries by hand.

Can anyone provide an example of how to convert an 'old' \Elastica\Query wh

[2017-02-14 07:47] osnard opened #1248 "Request: Support "ingest-attachment" pipeline"
Original request from Google group (https://groups.google.com/forum/#!topic/elastica-php-client/D48Zc_qr9Mc)

I want to index office files. I'm using ElasticSearch 5 and therefore the "mapper-attachments" plugin is deprecated. The docs tell me to use "ingest-attachment". I've already set up a type/mapping and the pipeline [1], but now I need to tell ElastichSearch to actually use that pipeline whe